swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation capture API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: capture
  description: 'When you are ready to fulfill a customer''s order and transfer funds from the customer''s

    bank to your bank, capture the payment for that order.

    '
paths:
  /pts/v2/payments/{id}/captures:
    post:
      summary: Capture a Payment
      description: Include the payment ID in the POST request to capture the payment amount.
      tags:
      - capture
      operationId: capturePayment
      x-devcenter-metaData:
        categoryTag: Payments
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html
        isMLEsupported: true
        mleForRequest: optional
      parameters:
      - name: capturePaymentRequest
        in: body
        required: true
        schema:
          type: object
          properties:
            clientReferenceInformation:
              type: object
              properties:
                code:
                  type: string
                  maxLength: 59
                  description: 'Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each

                    transaction so that you can perform meaningful searches for the transaction.


                    #### Used by

                    **Authorization**

                    Required field.


                    #### PIN Debit

                    Requests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being

                    reversed.


                    Required field for all PIN Debit requests (purchase, credit, and reversal).


                    #### FDC Nashville Global

                    Certain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.

                    '
                reconciliationId:
                  type: string
                  maxLength: 60
                  description: 'Reference number for the transaction.

                    Depending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.

                    The actual value used in the request to the processor is provided back to you by Cybersource in the response.

                    '
                pausedRequestId:
                  type: string
                  maxLength: 26
                  description: 'Used to resume a transaction that was paused for an order modification rule to allow for payer authentication to complete. To resume and continue with the authorization/decision service flow, call the services and include the request id from the prior decision call.

                    '
                transactionId:
                  type: string
                  maxLength: 30
                  description: 'Identifier that you assign to the transaction. Normally generated by a client server to identify a unique API request.


                    **Note** Use this field only if you want to support merchant-initiated reversal and void operations.


                    #### Used by

                    **Authorization, Authorization Reversal, Capture, Credit, and Void**

                    Optional field.


                    #### PIN Debit

                    For a PIN debit reversal, your request must include a request ID or a merchant transaction identifier.

                    Optional field for PIN debit purchase or credit requests.

                    '
                comments:
                  type: string
                  description: Brief description of the order or any comment you wish to add to the order.
                partner:
                  type: object
                  properties:
                    originalTransactionId:
                      type: string
                      maxLength: 32
                      description: 'Value that links the previous transaction to the current follow-on request. This value is assigned by the client

                        software that is installed on the POS terminal, which makes it available to the terminal''s software and to

                        CyberSource. Therefore, you can use this value to reconcile transactions between CyberSource and the terminal''s

                        software.


                        CyberSource does not forward this value to the processor. Instead, the value is forwarded to the CyberSource

                        reporting functionality.


                        This field is supported only on these processors:

                        - American Express Direct

                        - Credit Mutuel-CIC

                        - FDC Nashville Global

                        - OmniPay Direct

                        - SIX


                        Optional field.

                        '
                    developerId:
                      type: string
                      maxLength: 8
                      description: 'Identifier for the developer that helped integrate a partner solution to CyberSource.


                        Send this value in all requests that are sent through the partner solutions built by that developer.

                        CyberSource assigns the ID to the developer.


                        **Note** When you see a developer ID of 999 in reports, the developer ID that was submitted is incorrect.

                        '
                    solutionId:
                      type: string
                      maxLength: 8
                      description: 'Identifier for the partner that is integrated to CyberSource.


                        Send this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.


                        **Note** When you see a solutionId of 999 in reports, the solutionId that was submitted is incorrect.

                        '
                    thirdPartyCertificationNumber:
                      type: string
                      maxLength: 12
                      description: 'Value that identifies the application vendor and application version for a third party gateway.

                        CyberSource provides you with this value during testing and validation.

                        This field is supported only on CyberSource through VisaNet.


                        #### Used by

                        **Authorization, Authorization Reversal, Capture, Credit, Incremental Authorization, and Void**

                        Optional field.


                        #### PIN debit

                        Required field for PIN debit credit, PIN debit purchase, or PIN debit reversal request.

                        '
                applicationName:
                  type: string
                  description: 'The name of the Connection Method client (such as Virtual Terminal or SOAP Toolkit API) that the merchant uses to send a transaction request to CyberSource.

                    '
                applicationVersion:
                  type: string
                  description: 'Version of the CyberSource application or integration used for a transaction.

                    '
                applicationUser:
                  type: string
                  description: 'The entity that is responsible for running the transaction and submitting the processing request to CyberSource. This could be a person, a system, or a connection method.

                    '
            processingInformation:
              type: object
              properties:
                paymentSolution:
                  type: string
                  maxLength: 12
                  description: "Type of digital payment solution for the transaction. Possible Values:\n\n - `visacheckout`: Visa Checkout. This value is required for Visa Checkout transactions. For details, see `payment_solution` field description in [Visa Checkout Using the REST API.](https://developer.cybersource.com/content/dam/docs/cybs/en-us/apifields/reference/all/rest/api-fields.pdf)\n - `001`: Apple Pay.\n - `004`: Cybersource In-App Solution.\n - `005`: Masterpass. This value is required for Masterpass transactions on OmniPay Direct. \n - `006`: Android Pay.\n - `007`: Chase Pay.\n - `008`: Samsung Pay.\n - `012`: Google Pay.\n - `013`: Cybersource P2PE Decryption\n - `014`: Mastercard credential on file (COF) payment network token. Returned in authorizations that use a payment network token associated with a TMS token.\n - `015`: Visa credential on file (COF) payment network token. Returned in authorizations that use a payment network token associated with a TMS token.\n - `027`: Click to Pay.\n"
                reconciliationId:
                  type: string
                  maxLength: 60
                  description: 'Please check with Cybersource customer support to see if your merchant account is configured correctly so you

                    can include this field in your request.

                    * For Payouts: max length for FDCCompass is String (22).

                    '
                linkId:
                  type: string
                  maxLength: 26
                  description: 'Value that links the current authorization request to the original authorization request. Set this value

                    to the ID that was returned in the reply message from the original authorization request.


                    This value is used for:


                    - Partial authorizations

                    - Split shipments

                    '
                reportGroup:
                  type: string
                  maxLength: 25
                  description: 'Attribute that lets you define custom grouping for your processor reports. This field is supported only for **Worldpay VAP**.

                    '
                visaCheckoutId:
                  type: string
                  maxLength: 48
                  description: 'Identifier for the **Visa Checkout** order. Visa Checkout provides a unique order ID for every transaction in

                    the Visa Checkout **callID** field.

                    '
                purchaseLevel:
                  type: string
                  maxLength: 1
                  description: Set this field to 3 to indicate that the request includes Level III data.
                industryDataType:
                  type: string
                  maxLength: 20
                  description: 'Indicates that the transaction includes industry-specific data.


                    Possible Values:

                    - `airline`

                    - `restaurant`

                    - `lodging`

                    - `auto_rental`

                    - `transit`

                    - `healthcare_medical`

                    - `healthcare_transit`

                    - `transit`


                    #### Card Present, Airlines and Auto Rental

                    You must set this field to `airline` in order for airline data to be sent to the processor. For example, if this

                    field is not set to `airline` or is not included in the request, no airline data is sent to the processor.


                    You must set this field to `restaurant` in order for restaurant data to be sent to the processor. When this field

                    is not set to `restaurant` or is not included in the request, no restaurant data is sent to the processor.


                    You must set this field to `auto_rental` in order for auto rental data to be sent to the processor. For example, if this

                    field is not set to `auto_rental` or is not included in the request, no auto rental data is sent to the processor.


                    Restaurant data is supported only on CyberSource through VisaNet.

                    '
                digitalServiceIndicator:
                  type: string
                  maxLength: 104
                  description: "Mastercard Digital Enablement Service (MDES) digital service indicators for force capture scenarios. \n\nThis field is used when the client is doing authorization with a different gateway and capture with CyberSource. \n\nThis field is in ANS, EBCDIC format and flows in Field 34, DSID 04 Tag DF1F, mapped to Mastercard Data Element DE119, Sub-element 004.\n\n#### Used by\n**Capture Request**\nRequest field for force capture support when auth is done with a different gateway.\n"
                issuer:
                  type: object
                  properties:
                    discretionaryData:
                      type: string
                      maxLength: 255
                      description: 'Data defined by the issuer.


                        The value for this reply field will probably be the same as the value that you submitted in the authorization request, but it is possible for the processor, issuer, or acquirer to modify the value.


                        This field is supported only for Visa transactions on **CyberSource through VisaNet**.

                        '
                authorizationOptions:
                  type: object
                  properties:
                    authType:
                      type: string
                      maxLength: 15
                      description: "Authorization type. Possible values:\n\n - `AUTOCAPTURE`: automatic capture.\n - `STANDARDCAPTURE`: standard capture.\n - `VERBAL`: forced capture. Include it in the payment request for a forced capture. Include it in the capture request for a verbal payment.\n\n#### Asia, Middle East, and Africa Gateway; Cielo; Comercio Latino; and CyberSource Latin American Processing\nSet this field to `AUTOCAPTURE` and include it in a bundled request to indicate that you are requesting an automatic capture. If your account is configured to enable automatic captures, set this field to `STANDARDCAPTURE` and include it in a standard authorization or bundled request to indicate that you are overriding an automatic capture.\n\n#### Forced Capture\nSet this field to `VERBAL` and include it in the authorization request to indicate that you are performing a forced capture; therefore, you receive the authorization code outside the CyberSource system.\n\n#### Verbal Authorization\nSet this field to `VERBAL` and include it in the capture request to indicate that the request is for a verbal authorization.\n\n#### for PayPal ptsV2CreateOrderPost400Response\nSet this field to 'AUTHORIZE' or 'CAPTURE' depending on whether you want to invoke delayed capture or sale respectively.\n"
                    verbalAuthCode:
                      type: string
                      maxLength: 7
                      description: 'Authorization code.


                        #### Forced Capture

                        Use this field to send the authorization code you received from a payment that you authorized

                        outside the CyberSource system.


                        #### PIN debit

                        Authorization code that is returned by the processor.


                        Returned by PIN debit purchase.


                        #### Verbal Authorization

                        Use this field in CAPTURE API to send the verbally received authorization code.

                        '
                    verbalAuthTransactionId:
                      type: string
                      maxLength: 15
                      description: 'Transaction ID (TID).


                        #### FDMS South

                        This field is required for verbal authorizations and forced captures with the American Express card type to comply

                        with the CAPN requirements:

                        - Forced capture: Obtain the value for this field from the authorization response.

                        - Verbal authorization: You cannot obtain a value for this field so CyberSource uses the default value of `000000000000000` (15

                        zeros).

                        '
                captureOptions:
                  type: object
                  properties:
                    captureSequenceNumber:
                      type: integer
                      minimum: 1
                      maximum: 99
                      description: "Capture number when requesting multiple partial captures for one authorization.\nUsed along with `totalCaptureCount` to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - `captureSequenceNumber_ = 2`, and\n  - `totalCaptureCount = 5`\n"
                    totalCaptureCount:
                      type: integer
                      minimum: 1
                      maximum: 99
                      description: "Total number of captures when requesting multiple partial captures for one payment.\nUsed along with `captureSequenceNumber` field to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - `captureSequenceNumber = 2`, and\n  - `totalCaptureCount = 5`\n"
                    isFinal:
                      type: string
                      maxLength: 5
                      description: "Indicates whether to release the authorization hold on the remaining funds.  \nPossible Values:\n- `true`\n- `false`\n"
                    notes:
                      type: string
                      maxLength: 255
                      description: 'An informational note about this settlement. Appears in both the payer''s transaction history and the emails that the payer receives.

                        '
                    reconciliationIdAlternate:
                      type: string
                      maxLength: 12
                      description: Used by Nike merchant to send 12 digit order number
                loanOptions:
                  type: object
                  properties:
                    type:
                      type: string
                      maxLength: 20
                      description: 'Type of loan based on an agreement between you and the issuer.

                        Examples: AGROCUSTEIO, AGRO-INVEST, BNDES-Type1, CBN, FINAME.

                        This field is supported only for these kinds of payments:

                        - BNDES transactions on CyberSource through VisaNet.

                        - Installment payments with Mastercard on CyberSource through VisaNet in Brazil.


                        For BNDES transactions, the value for this field corresponds to the following data in the TC 33 capture file:

                        - Record: CP07 TCR2, Position: 27-46, Field: Loan Type


                        For installment payments with Mastercard in Brazil, the value for this field corresponds to the following data in the TC 33 capture file:

                        - Record: CP07 TCR4, Position: 5-24,Field: Financing Type

                        '
                    assetType:
                      type: string
                      maxLength: 1
                      description: "Indicates whether a loan is for a recoverable item or a non-recoverable item.\nPossible values:\n- `N`: non-recoverable item\n- `R`: recoverable item\nThis field is supported only for BNDES transactions on CyberSource through VisaNet.\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n Record: CP07 TCR2, Position: 26, Field: Asset Indicator\n"
                payByPointsIndicator:
                  type: boolean
                  description: 'Flag that indicates if the transaction is pay by points transaction

                    true: Transaction uses loyalty points

                    false: Transaction does not use loyalty points

                    Default: false

                    '
                actionList:
                  type: array
                  description: "Array of actions (one or more) to be included in the capture to invoke bundled services along with capture.\n\nPossible values :\n\n - `AP_CAPTURE`: Use this when Alternative Payment Capture service is requested.\n"
                  items:
                    type: string
                japanPaymentOptions:
                  type: object
                  properties:
                    paymentMethod:
                      type: string
                      maxLength: 2
                      description: 'This value is a 2-digit code indicating the payment method.

                        Use Payment Method Code value that applies to the tranasction.

                        - 10 (One-time payment)

                        - 21, 22, 23, 24  (Bonus(one-time)payment)

                        - 61 (Installment payment)

                        - 31, 32, 33, 34  (Integrated (Bonus + Installment)payment)

                        - 80 (Revolving payment)

                        '
                    bonuses:
                      type: string
                      maxLength: 2
                      description: 'Field contains the number of bonuses.

                        '
                    installments:
                      type: string
                      maximum: 99
                      description: 'Number of Installments.

                        '
                    firstBillingMonth:
                      type: string
                      maxLength: 2
                      description: 'Billing month in MM format.

                        '
                    bonusAmount:
                      type: string
                      maxLength: 12
                      description: 'This field contains the bonus amount.

                        '
                    bonusMonth:
                      type: string
                      maxLength: 2
                      description: 'This field contains the Japan specific first bonus month.

                        '
                    secondBonusAmount:
                      type: string
                      maxLength: 12
                      description: 'Field contains the second bonus amount.

                        '
                    secondBonusMonth:
                      type: string
                      maxLength: 2
                      description: 'Field contains the Japan specific second bonus month.

                        '
            paymentInformation:
              type: object
              properties:
                customer:
                  type: object
                  properties:
                    customerId:
                      type: string
                      description: 'Unique identifier for the customer''s card and billing information.


                        When you use Payment Tokenization or Recurring Billing and you include this value in

                        your request, many of the fields that are normally required for an authorization or credit

                        become optional.


                        **NOTE** When you use Payment Tokenization or Recurring Billing, the value for the Customer ID is actually the Cybersource payment token for a customer. This token stores information such as the consumer''s card number so it can be applied towards bill payments, recurring payments, or one-time payments. By using this token in a payment API request, the merchant doesn''t need to pass in data such as the card number or expiration date in the request itself.

                        '
                    id:
                      type: string
                      description: 'Unique identifier for the Customer token used in the transaction.

                        When you include this value in your request, many of the fields that are normally required for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                card:
                  type: object
                  properties:
                    sourceAccountType:
                      type: string
                      maxLength: 20
                      description: "Flag that specifies the type of account associated with the card. \nThe cardholder provides this information during the payment process.\n\nThis field is required in the following cases:\n  - Debit transactions on Cielo and Comercio Latino.\n  - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n  - Applicable only for CyberSource through VisaNet (CtV).\n\n**Note** Combo cards in Brazil contain credit and debit functionality in a single card. Visa systems use a credit bank\nidentification number (BIN) for this type of card. Using the BIN to determine whether a card is debit or\ncredit can cause transactions with these cards to be processed incorrectly. CyberSource strongly recommends\nthat you include this field for combo card transactions.\n\nPossible values include the following.\n\n - `CH`: Checking account\n - `CR`: Credit card account\n - `SA`: Saving account\n - `LI`: Line of credit or credit portion of combo card\n - `PP`: Prepaid card account or prepaid portion of combo card\n - `UA`: Universal account\n\nIf useAs is set to credit/debit and there is a value in SourceAccountType, the value in the SourceAccountType field will take precedence.\nIf useAs is set to CR/DB and there is a value in SourceAccountType, the value in the useAs field will take precedence.\n"
                    sourceAccountTypeDetails:
                      type: string
                      maxLength: 4
                      description: 'Type of account that is being used when the value for the override_payment_method field is line of credit (LI) or prepaid card (PP).

                        Possible values for line of credit:

                        - `AGRC`: Visa Agro Custeio

                        - `AGRE`: Visa Agro Electron

                        - `AGRI`: Visa Agro Investimento

                        - `AGRO`: Visa Agro

                        Possible values for prepaid card:

                        - `VVA`: Visa Vale Alimentacao

                        - `VVF`: Visa Vale Flex

                        - `VVR`: Visa Vale Refeicao

                        This field is supported only for combo card transactions in Brazil on CyberSource through VisaNet.

                        '
                paymentType:
                  type: object
                  properties:
                    method:
                      type: object
                      properties:
                        name:
                          type: string
                          description: 'A Payment Type is enabled through a Method. Examples: Visa, Master Card, ApplePay, iDeal, 7Eleven, alfamart, bofaPayByBank, payToPayByBank, etc


                            For Japan Payment Processing Valid Values:

                            - 1 Banking Data

                            - 2 Authorization Data


                            #### Via KCP

                            - `KCP` : Local Card, Bank Transfer and Carrier Billing.

                            - `PAYCO`

                            - `KAKAOPAY`

                            - `NAVERPAY`

                            '
            orderInformation:
              type: object
              properties:
                amountDetails:
                  type: object
                  properties:
                    totalAmount:
                      type: string
                      maxLength: 19
                      description: "Grand total for the order. This value cannot be negative. You can include a decimal point (.), but no other special characters.\nCyberSource truncates the amount to the correct number of decimal places.\n\n**Note** For CTV, FDCCompass, Paymentech processors, the maximum length for this field is 12.\n\n**Important** Some processors have specific requirements and limitations, such as maximum amounts and maximum field lengths.\n\nIf your processor supports zero amount authorizations, you can set this field to 0 for the authorization to check if the card is lost or stolen. \n\n#### Card Present\nRequired to include either this field or `orderInformation.lineItems[].unitPrice` for the order.\n\n#### Invoicing / Pay By Link\nRequired for creating a new invoice or payment link.\n\n#### PIN Debit\nAmount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount.\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit; however, for all other processors, these fields are required.\n\n#### DCC with a Third-Party Provider\nSet this field to the converted amount that was returned by the DCC provider. You must include either this field or the 1st line item in the order and the specific line-order amount in your request. \n\n#### DCC for First Data\nNot used.\n"
                    currency:
                      type: string
                      maxLength: 3
                      description: 'Currency used for the order. Use the three-character [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)


                        #### Used by

                        **Authorization**

                        Required field.


                        **Authorization Reversal**

                        For an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.


                        #### PIN Debit

                        Currency for the amount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount. For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).

                        Returned by PIN debit purchase.


                        For PIN debit reversal requests, you must use the same currency that was used for the PIN debit purchase or PIN debit credit that you are reversing.

                        For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).


                        Required field for PIN Debit purchase and PIN Debit credit requests.

                        Optional field for PIN Debit reversal requests.


                        #### GPX

                        This field is optional for reversing an authorization or credit.


                        #### DCC for First Data

                        Your local currency.


                        #### Tax Calculation

                        Required for international tax and value added tax only.

                        Optional for U.S. and Canadian taxes.

                        Your local currency.

                        '
                    discountAmount:
                      type: string
                      maxLength: 15
                      description: 'Total discount amount applied to the order.

                        '
                    dutyAmount:
                      type: string
                      maxLength: 15
                      description: 'Total charges for any import or export duties included in the order.

                        '
                    gratuityAmount:
                      type: string
                      maxLength: 13
                      description: 'Gratuity or tip amount for restaurants. Allowed only when industryDatatype=restaurant.

                        When your customer uses a debit card or prepaid card, and you receive a partial authorization, the payment networks recommend that you do not

                        submit a capture amount that is higher than the authorized amount. When the capture amount exceeds the partial amount that was approved, the

                        issuer has chargeback rights for the excess amount.


                        Used by **Capture**

                        Optional field.


                        #### CyberSource through VisaNet

                        Restaurant data is supported only on CyberSource through VisaNet when card is present.

                        '
                    taxAmount:
                      type: string
                      maxLength: 12
                      description: 'Total tax amount for all the items in the order.

                        '
                    nationalTaxIncluded:
                      type: string
                      maxLength: 1
                      description: "Flag that indicates whether a national tax is included in the order total.\n\nPossible values:\n\n - **0**: national tax not included\n - **1**: national tax included\n"
                    taxAppliedAfterDiscount:
                      type: string
                      maxLength: 1
                      description: "Flag that indicates how the merchant manages discounts.\n\nPossible values:\n\n - **0**: no invoice level discount included\n - **1**: tax calculated on the postdiscount invoice total\n - **2**: tax calculated on the prediscount invoice total\n"
                    taxAppliedLevel:
                      type: string
                      maxLength: 1
                      description: "Flag that indicates how you calculate tax.\n\nPossible values:\n\n - **0**: net prices with tax calculated at line item level\n - **1**: net prices with tax calculated at invoice level\n - **2**: gross prices with tax provided at line item level\n - **3**: gross prices with tax provided at invoice level\n - **4**: no tax applies on the invoice for the transaction\n"
                    taxTypeCode:
                      type: string
                      maxLength: 3
                      description: "For tax amounts that can be categorized as one tax type.\n\nThis field contains the tax type code that corresponds to the entry in the _lineItems.taxAmount_ field.\n\nPossible values:\n\n - **056**: sales tax (U.S only)\n - **TX~**: all taxes (Canada only)   Note ~ = space.\n"
                    freightAmount:
                      type: string
                      maxLength: 13
                      description: 'Total freight or shipping and handling charges for the order. When you include this field in your request, you

                        must also include the **totalAmount** field.

                        '
                    foreignAmount:
                      type: string
                      maxLength: 15
                      description: 'Set this field to the converted amount that was returned by the DCC provider.

                        '
                    foreignCurrency:
                      type: string
                      maxLength: 5
                      description: 'Set this field to the converted amount that was returned by the DCC provider.

                        '
                    exchangeRate:
                      type: string
                      maxLength: 13
                      description: 'Exchange rate returned by the DCC service. Includes a decimal point and a maximum of 4 decimal places.

                        '
                    exchangeRateTimeStamp:
                      type: string
                      maxLength: 16
                      description: 'Time stamp for the exchange rate. This value is returned by the DCC service.


                        Format: `YYYYMMDD~HH:MM`  where ~ denotes a space.

                        '
                    amexAdditionalAmounts:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: string
                            maxLength: 3
                            description: 'Additional amount type. This field is supported only for **American Express Direct**.

                              '
                          amount:
                            type: string
                            maxLength: 12
                            description: 'Additional amount. This field is supported only for **American Express Direct**.

                              '
                    taxDetails:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: 'Indicates the type of tax data for the _taxDetails_ object.


                              Possible values:


                              - `alternate`

                              - `local`

                              - `national`

                              - `vat`

                              - `other`

                              - `green`

                              '
                          amount:
                            type: string
                            maxLength: 13
                            description: 'Indicates the amount of tax based on the `type` field as described in the table below:


                              | type      | type description |

                              | ------------- |:-------------:|

                              | `alternate` | Total amount of alternate tax for the order. |

                              | `local`     | Sales tax for the order. |

                              | `national`  | National tax for the order. |

                              | `vat`       | Total amount of value added tax (VAT) included in the order. |

                              | `other`     | Other tax. |

                              | `green`     | Green tax amount for Korean Processing. |

                              '
                          rate:
                            type: string
                            maxLength: 6
                            description: 'Rate of VAT or other tax for the order.


                              Example 0.040 (=4%)


                              Valid range: 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional

                              decimal places will be truncated)

                              '
                          code:
                            type: string
                            maxLength: 4
                            description: 'Type of tax being applied to the item.


                              #### FDC Nashville Global

                              - `alternate_tax_type_applied`

                              - `alternate_tax_type_identifier`


                              #### Worldpay VAP

                              - `alternate_tax_type_identifier`


                              #### RBS WorldPay Atlanta

                              - `tax_type_applied`


                              #### TSYS Acquiring Solutions

                              - `tax_type_applied`

                              - `local_tax_indicator`


                              #### Chase Paymentech Solutions

                              - `tax_type_applied`


                              #### Elavon Americas

                              - `local_tax_indicator`


                              #### FDC Compass

                              - `tax_type_applied`


                              #### OmniPay Direct

                              - `local_tax_indicator`

                              '
                          taxId:
                            type: string
                            maxLength: 15
                            description: 'Your tax ID number to use for the alternate tax amount. Required if you set alternate tax amount to any value,

                              including zero. You may send this field without sending alternate tax amount.

                              '
                          applied:
                            type: boolean
                            description: 'Flag that indicates whether the alternate tax amount (`orderInformation.amountDetails.taxDetails[].amount`) is

                              included in the request.


                              Possible values:

                              - `false`: alternate tax amount is not included in the request.

                              - `true`: alternate tax amount is included in the request.

                              '
                          exemptionCode:
                            type: string
                            maxLength: 1
                            description: 'Status code for exemption from sales and use tax. This field is a pass-through, which means that

                              CyberSource does not verify the value or modify it in any way before sending it to the processor.

                              '
                    serviceFeeAmount:
                      type: string
                      maxLength: 15
                      description: 'Service fee. Required for service fee transactions.

                        '
                    originalCurrency:
                      type: string
                      maxLength: 15
                      description: 'Your local pricing currency code.


                        For the possible values, see the [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)

                        '
                    cashbackAmount:
                      type: string
                      maxLength: 13
                      description: 'Cashback amount in the acquirer''s currency. If a cashback amount is included in the request, it must be included

                        in the `orderInformation.amountDetails.totalAmount` value.


                        This field is supported only on CyberSource through VisaNet.


                        #### Used by

                        **Authorization**

                        Optional.

                        **Authorization Reversal**

                        Optional.


                        #### PIN debit

                        Optional field for PIN debit purchase, PIN debit credit or PIN debit reversal.

                        '
                billTo:
                  type: object
                  properties:
                    title:
                      type: string
                      maxLength: 60
                      description: 'Title.

                        '
                    firstName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s first name. This name must be the same as the name on the card.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### SEPA

                        Required for Create Mandate and Import Mandate

                        #### BACS

                        Required for Import Mandate


                        #### CyberSource Latin American Processing

                        **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                        **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called _CyberSource Latin American Processing_. It is not for any other Latin American processors that CyberSource supports.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    middleName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s middle name.

                        '
                    lastName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s last name. This name must be the same as the name on the card.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### SEPA

                        Required for Create Mandate and Import Mandate

                        #### BACS

                        Required for Import Mandate

                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### CyberSource Latin American Processing

                        **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                        **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### OmniPay Direct

                        Optional field.


                        #### RBS WorldPay Atlanta

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    company:
                      type: object
                      properties:
                        name:
                          type: string
                          maxLength: 60
                          description: 'Name of the customer''s company.


                            **CyberSource through VisaNet**

                            Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.

                            '
                        address1:
                          type: string
                          maxLength: 40
                          description: First line in the street address of the company purchasing the product.
                        address2:
                          type: string
                          maxLength: 40
                          description: Additional address information for the company purchasing the product.
                        locality:
                          type: string
                          maxLength: 30
                          description: City in the address of the company purchasing the product.
                        administrativeArea:
                          type: string
                          maxLength: 50
                          description: 'State or province in the address of the company purchasing the product. Use the State, Province, and Territory

                            Codes for the United States and Canada.

                            '
                        postalCode:
                          type: string
                          maxLength: 10
                          description: 'Postal code in the address of the company purchasing the product. The postal code must consist of 5 to 9 digits.


                            When the company country is the U.S., the 9-digit postal code must follow this format:

                            **[5 digits][dash][4 digits]**

                            #### Example

                            `12345-6789`


                            When the company country is Canada, the 6-digit postal code must follow this format:

                            **[alpha][numeric][alpha][space][numeric][alpha][numeric]**

                            #### Example

                            `A1B 2C3`

                            '
                        country:
                          type: string
                          maxLength: 2
                          description: 'Country in the address of the company purchasing the product. Use the [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).

                            '
                    address1:
                      type: string
                      maxLength: 60
                      description: 'Payment card billing street address as it appears on the credit card issuer''s records.


                        #### SEPA

                        Required for Create Mandate and Import Mandate


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        **Important** When you populate orderInformation.billTo.address1 and orderInformation.billTo.address2,

                        CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                        CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                        Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        #### FDMS Nashville

                        When the street name is numeric, it must be sent in numeric format. For example, if the address is _One First Street_,

                        it must be sent as _1 1st Street_.


                        Required if keyed; not used if swiped.


                        String (20)


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### All other processors:

                        Optional.

                        String (60)


                        #### For Payouts

                        This field may be sent only for FDC Compass.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.

                        '
                    address2:
                      type: string
                      maxLength: 60
                      description: 'Used for additional address information. For example: _Attention: Accounts Payable_

                        Optional field.


                        For Payouts: This field may be sent only for FDC Compass.


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        **Important** When you populate `orderInformation.billTo.address1` and `orderInformation.billTo.address2`,

                        CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                        CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                        Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        #### Chase Paymentech Solutions, FDC Compass, and TSYS Acquiring Solutions

                        This value is used for AVS.


                        #### FDMS Nashville

                        `orderInformation.billTo.address1` and `orderInformation.billTo.address2` together cannot exceed 20 characters.

                        String (20)


                        #### All Other Processors

                        String (60)

                        '
                    locality:
                      type: string
                      maxLength: 50
                      description: 'Payment card billing city.


                        #### SEPA

                        Required for Create Mandate and Import Mandate


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    district:
                      type: string
                      maxLength: 50
                      description: 'Customer''s neighborhood, community, or region (a barrio in Brazil) within the city or municipality. This

                        field is available only on **Cielo**.

                        '
                    administrativeArea:
                      type: string
                      maxLength: 50
                      description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).


                        For Payouts: This field may be sent only for FDC Compass.


                        ##### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    postalCode:
                      type: string
                      maxLength: 10
                      description: "Postal code for the billing address. The postal code must consist of 5 to 9 digits.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\n**Example** `12345-6789`\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\n**Example** `A1B 2C3`\n\n**Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\n#### SEPA\nRequired for Create Mandate and Import Mandate\n\n#### For Payouts:\n This field may be sent only for FDC Compass.\n\n#### American Express Direct\nBefore sending the postal code to the processor, CyberSource removes all nonalphanumeric characters and, if the remaining value is longer than nine characters, truncates the value starting from the right side.\n\n#### Atos\nThis field must not contain colons (:).\n\n#### CyberSource through VisaNet\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet\naccepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations\nof the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the\ncredit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII\ncharacters for transmission to the credit card networks.\n\n#### FDMS Nashville\nRequired if `pointOfSaleInformation.entryMode=keyed` and the address is in the U.S. or Canada.\nOptional if `pointOfSaleInformation.entryMode=keyed` and the address is **not** in the U.S. or Canada.\nNot used if swiped.\n\n#### RBS WorldPay Atlanta:\nFor best card-present keyed rates, send the postal code if `pointOfSaleInformation.entryMode=keyed`.\n\n#### TSYS Acquiring Solutions\nRequired when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.\n\n#### All other processors:\nOptional field.\n"
                    county:
                      type: string
                      maxLength: 50
                      description: U.S. county if available.
                    country:
                      type: string
                      maxLength: 3
                      description: 'Payment card billing country. Use the two-character [ISO Standard Country Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).


                        #### SEPA/BACS

                        Required for Create Mandate and Import Mandate


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII

                        characters for transmission to the credit card networks.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    email:
                      type: string
                      maxLength: 255
                      description: 'Customer''s email address, including the full domain name.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Invoicing

                        Email address for the customer for sending the invoice. If the invoice is in SENT status and email is updated, the old email customer payment link won''t work and you must resend the invoice with the new payment link.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    phoneNumber:
                      type: string
                      maxLength: 15
                      description: 'Customer''s phone number.


                        It is recommended that you include the country code when the order is from outside the U.S.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Optional field.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                shipTo:
                  type: object
                  properties:
                    administrativeArea:
                      type: string
                      maxLength: 50
                      description: "State or province of the shipping address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf) (maximum length: 2) \n\nRequired field for authorization if any shipping address information is included in the request and shipping to the U.S.\nor Canada; otherwise, optional.\n\n#### Tax Calculation\nOptional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.\nBilling address objects will be used to determine the cardholder's location when shipTo objects are not present.\n"
                    country:
                      type: string
                      description: 'Country of the shipping address. Use the two-character [ISO Standard Country Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf)


                        Required field for authorization if any shipping address information is included in the request; otherwise, optional.


                        #### Tax Calculation

                        Optional field for U.S., Canadian, international tax, and value added taxes.

                        Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                        '
                      maxLength: 3
                    postalCode:
                      type: string
                      maxLength: 32
                      description: 'Postal code for the shipping address. The postal code must consist of 5 to 9 digits.


                        Required field for authorization if any shipping address information is included in the request and

                        shipping to the U.S. or Canada; otherwise, optional.


                        When the billing country is the U.S., the 9-digit postal code must follow this format:

                        [5 digits][dash][4 digits]


                        Example 12345-6789


                        When the billing country is Canada, the 6-digit postal code must follow this format:

                        [alpha][numeric][alpha][space][numeric][alpha][numeric]


                        Example A1B 2C3


                        #### American Express Direct

                        Before sending the postal code to the processor, all nonalphanumeric characters are removed and, if the

                        remaining value is longer than nine characters, the value is truncated starting from the right side.

                        #### Tax Calculation

                        Optional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.

                        Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                        '
                    email:
                      type: string
                      description: Email of the recipient.
                      maxLength: 255
                    county:
                      type: string
                      description: U.S. county if available.
                      maxLength: 50
                lineItems:
                  type: array
                  items:
                    type: object
                    properties:
                      productCode:
                        type: string
                        maxLength: 255
                        description: 'Type of product. The value for this field is used to identify the product category (electronic, handling, physical,

                          service, or shipping). The default value is `default`.


                          If you are performing an authorization transaction (`processingOptions.capture` is set to `false`), and you set

                          this field to a value other than `default` or one of the values related to shipping and/or handling, then

                          `orderInformation.lineItems[].quantity`, `orderInformation.lineItems[].productName`, and

                          `orderInformation.lineItems[].productSku` fields are required.


                          Optional field.


                          #### Tax Calculation

                          Optional field for U.S., Canadian, international tax, and value added taxes.


                          The Product Codes for the tax service are located in the Cybersource Tax Codes guide. Contact Customer Support to request the guide. If you don''t send a tax service Product Code in your tax request, product-based rules or exemptions will not be applied and the transaction will default to fully taxable in the locations where you''ve indicated you need to collect tax [by way of nexus, no nexus, or seller registration number fields].

                          '
                      productName:
                        type: string
                        maxLength: 255
                        description: 'For an authorization or capture transaction (`processingOptions.capture` is `true` or `false`),

                          this field is required when `orderInformation.lineItems[].productCode` is not `default` or one of

                          the other values that are related to shipping and/or handling.


                          #### Tax Calculation

                          Optional field for U.S., Canadian, international tax, and value added taxes.

                          '
                      productSku:
                        type: string
                        maxLength: 255
                        description: 'Product identifier code. Also known as the Stock Keeping Unit (SKU) code for the product.


                          For an authorization or capture transaction (`processingOptions.capture` is set to `true` or `false`), this field is required when `orderInformation.lineItems[].productCode` is not set to **default** or one of the other values that are related to shipping and/or handling.


                          #### Tax Calculation

                          Optional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.

                          For an authorization or capture transaction (`processingOptions.capture` is set to `true` or `false`), this field is

                          required when `orderInformation.lineItems[].productCode` is not `default` or one of the values related to shipping and/or handling.

                          '
                      quantity:
                        type: integer
                        minimum: 1
                        maximum: 999999999
                        default: 1
                        description: 'Number of units for this order. Must be a non-negative integer.


                          The default is `1`. For an authorization or capture transaction (`processingOptions.capture` is set to `true` or `false`),

                          this field is required when `orderInformation.lineItems[].productCode` is not `default` or one of the other values

                          related to shipping and/or handling.


                          #### Tax Calculation

                          Optional field for U.S., Canadian, international tax, and value added taxes.

                          '
                      unitPrice:
                        type: string
                        maxLength: 15
                        description: 'Per-item price of the product. This value for this field cannot be negative.


                          You must include either this field or the request-level field `orderInformation.amountDetails.totalAmount` in your request.


                          You can include a decimal point (.), but you cannot include any other special characters.

                          The value is truncated to the correct number of decimal places.


                          #### DCC with a Third-Party Provider

                          Set this field to the converted amount that was returned by the DCC provider. You must include either

                          the 1st line item in the order and this field, or the request-level field `orderInformation.amountDetails.totalAmount` in your request.


                          #### Tax Calculation

                          Required field for U.S., Canadian, international and value added taxes.


                          #### Zero Amount Authorizations

                          If your processor supports zero amount authorizations, you can set this field to 0 for the

                          authorization to check if the card is lost or stolen.


                          #### Maximum Field Lengths

                          For GPN and JCN Gateway: Decimal (10)

                          All other processors: Decimal (15)

                          '
                      unitOfMeasure:
                        type: string
                        maxLength: 12
                        description: 'Unit of measure, or unit of measure code, for the item.

                          '
                      totalAmount:
                        type: string
                        maxLength: 13
                        description: 'Total amount for the item. Normally calculated as the unit price times quantity.


                          When `orderInformation.lineItems[].productCode` is "gift_card", this is the purchase amount total

                          for prepaid gift cards in major units.


                          Example: 123.45 USD = 123

                          '
                      taxAmount:
                        type: string
                        maxLength: 15
                        description: "Total tax to apply to the product. This value cannot be negative. The tax amount and the offer amount must\nbe in the same currency. The tax amount field is additive.\n\nThe following example uses a two-exponent currency such as USD:\n\n 1. You include each line item in your request.\n ..- 1st line item has amount=10.00, quantity=1, and taxAmount=0.80\n ..- 2nd line item has amount=20.00, quantity=1, and taxAmount=1.60\n 2. The total amount authorized will be 32.40, not 30.00 with 2.40 of tax included.\n\nOptional field.\n\n#### Airlines processing\nTax portion of the order amount. This value cannot exceed 99999999999999 (fourteen 9s).\nFormat: English characters only.\nOptional request field for a line item.\n\n#### Tax Calculation\nOptional field for U.S., Canadian, international tax, and value added taxes.\n\nNote if you send this field in your tax request, the value in the field will override the tax engine\n"
                      taxRate:
                        type: string
                        maxLength: 7
                        description: 'Tax rate applied to the item.


                          **Visa**: Valid range is 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional

                          decimal places will be truncated).


                          **Mastercard**: Valid range is 0.00001 to 0.99999 (0.001% to 99.999%).

                          '
                      taxAppliedAfterDiscount:
                        type: string
                        maxLength: 1
                        description: "Flag to indicate how you handle discount at the line item level.\n\n - 0: no line level discount provided\n - 1: tax was calculated on the post-discount line item total\n - 2: tax was calculated on the pre-discount line item total\n\n`Note` Visa will inset 0 (zero) if an invalid value is included in this field.\n\nThis field relates to the value in the _lineItems[].discountAmount_ field.\n"
                      taxStatusIndicator:
                        type: string
                        maxLength: 1
                        description: "Flag to indicate whether tax is exempted or not included.\n\n - 0: tax not included\n - 1: tax included\n - 2: transaction is not subject to tax\n"
                      taxTypeCode:
                        type: string
                        maxLength: 4
                        description: 'Type of tax being applied to the item.


                          #### FDC Nashville Global

                          - `alternate_tax_type_applied`

                          - `alternate_tax_type_identifier`


                          #### Worldpay VAP

                          - `alternate_tax_type_identifier`


                          #### RBS WorldPay Atlanta

                          - `tax_type_applied`


                          #### TSYS Acquiring Solutions

                          - `tax_type_applied`

                          - `local_tax_indicator`


                          #### Chase Paymentech Solutions

                          - `tax_type_applied`


                          #### Elavon Americas

                          - `local_tax_indicator`


                          #### FDC Compass

                          - `tax_type_applied`


                          #### OmniPay Direct

                          - `local_tax_indicator`

                          '
                      amountIncludesTax:
                        type: boolean
                        description: "Flag that indicates whether the tax amount is included in the Line Item Total.\n\nPossible values:\n - **true**\n - **false**\n"
                      typeOfSupply:
                        type: string
                        maxLength: 2
                        description: "Flag to indicate whether the purchase is categorized as goods or services.\nPossible values:\n\n - 00: goods\n - 01: services\n"
                      commodityCode:
                        type: string
                        maxLength: 15
                        description: 'Commodity code or International description code used to classify the item. Contact your acquirer for a list of

                          codes.

                          '
                      discountAmount:
                        type: string
                        maxLength: 13
                        description: Discount applied to the item.
                      discountApplied:
                        type: boolean
                        description: "Flag that indicates whether the amount is discounted.\n\nIf you do not provide a value but you set Discount Amount to a value greater than zero, then CyberSource sets\nthis field to **true**.\n\nPossible values:\n - **true**\n - **false**\n"
                      discountRate:
                        type: string
                        maxLength: 6
                        description: 'Rate the item is discounted. Maximum of 2 decimal places.


                          Example 5.25 (=5.25%)

                          '
                      invoiceNumber:
                        type: string
                        maxLength: 23
                        description: 'Field to support an invoice number for a transaction. You must specify the number of line items that will

                          include an invoice number. By default, the first line item will include an invoice number field. The invoice

                          number field can be included for up to 10 line items.

                          '
                      taxDetails:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: 'Indicates the type of tax data for the _taxDetails_ object.


                                Possible values:


                                - `alternate`

                                - `local`

                                - `national`

                                - `vat`

                                - `other`

                                - `green`

                                '
                            amount:
                              type: string
                              maxLength: 13
                              description: 'Indicates the amount of tax based on the `type` field as described in the table below:


                                | type      | type description |

                                | ------------- |:-------------:|

                                | `alternate` | Total amount of alternate tax for the order. |

                                | `local`     | Sales tax for the order. |

                                | `national`  | National tax for the order. |

                                | `vat`       | Total amount of value added tax (VAT) included in the order. |

                                | `other`     | Other tax. |

                                | `green`     | Green tax amount for Korean Processing. |

                                '
                            rate:
                              type: string
                              maxLength: 6
                              description: 'Rate of VAT or other tax for the order.


                                Example 0.040 (=4%)


                                Valid range: 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional

                                decimal places will be truncated)

                                '
                            code:
                              type: string
                              maxLength: 4
                              description: 'Type of tax being applied to the item.


                                #### FDC Nashville Global

                                - `alternate_tax_type_applied`

                                - `alternate_tax_type_identifier`


                                #### Worldpay VAP

                                - `alternate_tax_type_identifier`


                                #### RBS WorldPay Atlanta

                                - `tax_type_applied`


                                #### TSYS Acquiring Solutions

                                - `tax_type_applied`

                                - `local_tax_indicator`


                                #### Chase Paymentech Solutions

                                - `tax_type_applied`


                                #### Elavon Americas

                                - `local_tax_indicator`


                                #### FDC Compass

                                - `tax_type_applied`


                                #### OmniPay Direct

                                - `local_tax_indicator`

                                '
                            taxId:
                              type: string
                              maxLength: 15
                              description: 'Your tax ID number to use for the alternate tax amount. Required if you set alternate tax amount to any value,

                                including zero. You may send this field without sending alternate tax amount.

                                '
                            applied:
                              type: boolean
                              description: 'Flag that indicates whether the alternate tax amount (`orderInformation.amountDetails.taxDetails[].amount`) is

                                included in the request.


                                Possible values:

                                - `false`: alternate tax amount is not included in the request.

                                - `true`: alternate tax amount is included in the request.

                                '
                            exemptionCode:
                              type: string
                              maxLength: 1
                              description: 'Status code for exemption from sales and use tax. This field is a pass-through, which means that

                                CyberSource does not verify the value or modify it in any way before sending it to the processor.

                                '
                      fulfillmentType:
                        type: string
                        description: 'Information about the product code used for the line item.

                          Possible values:

                          - `E`: The product code is `electronic_software`.

                          - `P`: The product code is not `electronic_software`.


                          For details, see the `fulfillmentType` field description in [Business Center Reporting User Guide.]

                          (https://apps.cybersource.com/library/documentation/dev_guides/reporting_and_reconciliation/Reporting_User/html/)

                          '
                      weight:
                        type: string
                        maxLength: 9
                        description: 'Weight of the item.

                          '
                      weightIdentifier:
                        type: string
                        maxLength: 1
                        description: 'Type of weight.


                          Possible values:

                          - B: Billed weight

                          - N: Actual net weight

                          '
                      weightUnit:
                        type: string
                        maxLength: 2
                        description: 'Code that specifies the unit of measurement for the weight amount. For example, `OZ` specifies ounce and `LB` specifies pound. The possible values are defined by the ANSI Accredited Standards Committee (ASC).

                          '
                      referenceDataCode:
                        type: string
                        maxLength: 150
                        description: 'Code that identifies the value of the corresponding `orderInformation.lineItems[].referenceDataNumber` field.


                          Possible values:

                          - AN: Client-defined asset code

                          - MG: Manufacturer''s part number

                          - PO: Purchase order number

                          - SK: Supplier stock keeping unit number

                          - UP: Universal product code

                          - VC: Supplier catalog number

                          - VP: Vendor part number


                          This field is a pass-through, which means that CyberSource does not verify the value or modify it in any way

                          before sending it to the processor.

                          '
                      referenceDataNumber:
                        type: string
                        maxLength: 30
                        description: 'Reference number.


                          The meaning of this value is identified by the value of the corresponding `referenceDataCode` field.

                          See Numbered Elements.


                          The maximum length for this field depends on the value of the corresponding `referenceDataCode` field:

                          - When the code is `PO`, the maximum length for the reference number is 22.

                          - When the code is `VC`, the maximum length for the reference number is 20.

                          - For all other codes, the maximum length for the reference number is 30.


                          This field is a pass-through, which means that CyberSource does not verify the value or modify it in any way

                          before sending it to the processor.

                          '
                      unitTaxAmount:
                        type: string
                        maxLength: 15
                        description: 'Per-item tax amount of the product.

                          Note The amount value must be a non-negative number containing 2 decimal places and limited to 7 digits before the decimal point.

                          '
                      measurement:
                        type: string
                        maxLength: 10
                        description: 'This field would contain measurement of a line item.

                          '
                      productDescription:
                        type: string
                        description: Brief description of item.
                      giftCardCurrency:
                        type: integer
                        maxLength: 3
                        description: 'When `orderInformation.lineItems[].productCode` is "gift_card", this is the

                          currency used for the gift card purchase.


                          For the possible values, see the [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)

                          '
                      shippingDestinationTypes:
                        type: string
                        maxLength: 50
                        description: 'Destination to where the item will be shipped. Example: Commercial, Residential, Store

                          '
                      gift:
                        type: boolean
                        description: 'This field is only used in DM service.


                          Determines whether to assign risk to the order if the billing and shipping addresses specify different cities,

                          states, or countries. This field can contain one of the following values:

                          - true: Orders are assigned only slight additional risk if billing and shipping addresses are different.

                          - false: Orders are assigned higher additional risk if billing and shipping addresses are different.

                          '
                      passenger:
                        type: object
                        description: Contains travel-related passenger details used by DM service only.
                        properties:
                          type:
                            type: string
                            maxLength: 32
                            description: 'Passenger classification associated with the price of the ticket. You can use one of the following values:

                              - `ADT`: Adult

                              - `CNN`: Child

                              - `INF`: Infant

                              - `YTH`: Youth

                              - `STU`: Student

                              - `SCR`: Senior Citizen

                              - `MIL`: Military

                              '
                          status:
                            type: string
                            maxLength: 32
                            description: 'Your company''s passenger classification, such as with a frequent flyer program. In this case, you might use

                              values such as `standard`, `gold`, or `platinum`.

                              '
                          phone:
                            type: string
                            maxLength: 15
                            description: 'Passenger''s phone number. If the order is from outside the U.S., CyberSource recommends that you include

                              the [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).

                              '
                          firstName:
                            type: string
                            maxLength: 60
                            description: Passenger's first name.
                          lastName:
                            type: string
                            maxLength: 60
                            description: Passenger's last name.
                          id:
                            type: string
                            maxLength: 40
                            description: 'ID of the passenger to whom the ticket was issued. For example, you can use this field for the frequent flyer

                              number.

                              '
                          email:
                            type: string
                            maxLength: 255
                            description: Passenger's email address, including the full domain name, such as jdoe@example.com.
                          nationality:
                            type: string
                            maxLength: 2
                            description: Passenger's nationality country. Use the two character [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).
                      allowedExportCountries:
                        type: array
                        items:
                          type: string
                          description: 'Comma-separated list of ISO country codes for countries to which the product can be exported.


                            If country codes are not specified, or if this field is not included, the U.S. government''s country

                            code list is used.


[...]
