swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Merchant Boarding API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Merchant Boarding
  description: Manage Boarding Registrations
paths:
  /boarding/v1/registrations:
    post:
      tags:
      - Merchant Boarding
      x-devcenter-metaData:
        categoryTag: Merchant_Boarding
        isJstreeExpansionLimited: true
        disableProcessorDropDown: true
        authorizationType:
        - Json Web Token
        overrideMerchantCredential: apitester00
        developerGuides: https://developer.cybersource.com/api/developer-guides/Merchant-Boarding-API_ditamap/Merchant-Boarding-API.html
      summary: Create a boarding registration
      description: 'Boarding Product is specifically for resellers who onboard merchants to resell their services to merchants and help integrate REST API into their systems.


        The Boarding API is designed to simplify and streamline the onboarding process of merchants by enabling administrators and developers to:

        1. Enable and Configure Products: The API helps in adding new products to an existing organization and configuring them to suit specific needs.

        2. Update Merchant Information: The API allows for updating an organization''s information efficiently.

        3. Manage Payment Integration: It provides templates for secure payment integration and management.

        '
      operationId: postRegistration
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: v-c-idempotency-id
        type: string
        description: defines idempotency of the request
        required: false
      - in: body
        name: postRegistrationBody
        description: Boarding registration data
        required: true
        schema:
          type: object
          properties:
            registrationInformation:
              type: object
              properties:
                boardingRegistrationId:
                  type: string
                  maxLength: 60
                  example: '1234124'
                  readOnly: true
                submitTimeUtc:
                  type: string
                  format: date-time
                  example: '2019-06-11T22:47:57Z'
                  description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                    Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                    time. The Z indicates UTC.

                    '
                  readOnly: true
                status:
                  type: string
                  readOnly: true
                  description: "The status of Registration request\nPossible Values:\n  - 'PROCESSING': This status is for Registrations that are still in Progress, you can get the latest status by calling the GET endpoint using the Registration Id\n  - 'SUCCESS': This status is for Registrations that were successfull on every step of the on boarding process.\n  - 'FAILURE': This status is for Registrations that fail before the Organization was created; please refer to the details section in the reponse for more information.\n  - 'PARTIAL': This status is for Registrations that created the Organization successfully but fail in at least on step while configuring it; please refer to the details section in the response for more information.\n"
                boardingPackageId:
                  type: string
                  maxLength: 60
                  example: 1004001
                boardingFlow:
                  type: string
                  description: "Determines the boarding flow for this registration.\nPossible Values:\n  - 'ENTERPRISE'\n  - 'SMB'\n  - 'ADDPRODUCT'\n"
                mode:
                  type: string
                  description: "In case mode is not provided the API will use COMPLETE as default\nPossible Values:\n  - 'COMPLETE'\n  - 'PARTIAL'\n"
                salesRepId:
                  type: string
                  maxLength: 60
                  example: Rep1
            integrationInformation:
              type: object
              properties:
                oauth2:
                  type: array
                  items:
                    type: object
                    properties:
                      client_id:
                        type: string
                        maxLength: 32
                        example: client123
                      state:
                        type: string
                        maxLength: 20
                        example: test123
                    required:
                    - client_id
                tenantConfigurations:
                  type: array
                  description: tenantConfigurations is an array of objects that includes the tenant information this merchant is associated with.
                  items:
                    type: object
                    properties:
                      solutionId:
                        type: string
                        maxLength: 8
                        minLength: 8
                        pattern: ^[0-9a-zA-Z_]+$
                        description: 'The solutionId is the unique identifier for this system resource.

                          Partner can use it to reference the specific solution through out the system.

                          '
                        example: YumSolution1
                      tenantInformation:
                        type: object
                        properties:
                          tenantId:
                            type: string
                            maxLength: 50
                            minLength: 1
                            description: The TenantId is an external Solution Identifier given by Tech Partners like SAP.
                            example: SAP123
                    required:
                    - solutionId
                msd:
                  type: object
                  properties:
                    customerId:
                      type: string
                      maxLength: 15
                      minLength: 1
                      description: The customerId is an external customer Identifier given by MSD (MS Dynamics).
                      example: C1234567890
            organizationInformation:
              type: object
              properties:
                organizationId:
                  type: string
                  maxLength: 30
                  minLength: 6
                  pattern: ^[0-9a-zA-Z_]+$
                  example: merch-test1
                parentOrganizationId:
                  type: string
                  description: 'This field is required for Organization Types: MERCHANT, TRANSACTING

                    '
                  maxLength: 30
                  minLength: 6
                  pattern: ^[0-9a-zA-Z_]+$
                  example: merch-test1-acct
                childOrganizations:
                  readOnly: true
                  type: array
                  items:
                    type: string
                    maxLength: 30
                    minLength: 6
                    pattern: ^[0-9a-zA-Z_]+$
                    example: transactional-org
                type:
                  type: string
                  description: "Determines the type of organization in the hirarchy that this registration will use to onboard this Organization\nPossible Values:\n  - 'TRANSACTING'\n  - 'STRUCTURAL'\n  - 'MERCHANT'\n"
                status:
                  type: string
                  description: "Determines the status that the organization will be after being onboarded\nPossible Values:\n            - 'LIVE'\n            - 'TEST'\n            - 'DRAFT'\n"
                configurable:
                  description: This denotes the one organization, with exception to the TRANSACTING types, that is allowed to be used for configuration purposes against products.  Eventually this field will be deprecated and all organizations will be allowed for product configuration.
                  type: boolean
                  default: false
                  example: false
                businessInformation:
                  type: object
                  properties:
                    name:
                      type: string
                      maxLength: 60
                      minLength: 1
                      pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                      example: Betos Restaurant
                    locale:
                      type: string
                      pattern: ^(de-de|en-gb|en-us|es-es|es-us|fr-ca|fr-fr|it-it|ja-jp|pt-br|zh-cn|zh-tw)$
                      example: en-us
                    localizedNames:
                      type: object
                      properties:
                        romaji:
                          type: string
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&|\\[\\]\\,\\(\\)!$;:?@\\#¡-\uFFFF]*$"
                          example: tenmei
                        katakana:
                          type: string
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&|\\[\\]\\,\\(\\)!$;:?@\\#¡-\uFFFF]*$"
                          example: ショップネーム
                        japanese:
                          type: string
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&|\\[\\]\\,\\(\\)!$;:?@\\#¡-\uFFFF]*$"
                          example: 店名
                    doingBusinessAs:
                      type: string
                      maxLength: 60
                      pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                      example: Betos Restaurant
                    description:
                      type: string
                      maxLength: 250
                      pattern: '[À-ÖØ-öø-ǿÀ-ÖØ-öø-ǿ\n\ra-zA-Z0-9().\-_#,;/\\@$:&amp;!?%«»€₣«»€₣ ]{1,}$'
                      example: International food Restaurant
                    startDate:
                      type: string
                      format: date
                      pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
                      example: '2019-06-11'
                      description: '`Format: YYYY-MM-DD`

                        Example 2016-08-11 equals August 11, 2016

                        '
                    address:
                      type: object
                      properties:
                        country:
                          type: string
                          maxLength: 2
                          minLength: 2
                          pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                          example: US
                        address1:
                          type: string
                          maxLength: 60
                          minLength: 1
                          pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                          example: 123 Fake st
                        address2:
                          type: string
                          maxLength: 60
                          pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                          example: apt 2
                        locality:
                          type: string
                          maxLength: 50
                          minLength: 1
                          pattern: "^[0-9a-zA-Z _\\-¡-\uFFFF]+$"
                          description: City of the billing address.
                          example: Bellevue
                        administrativeArea:
                          type: string
                          minLength: 1
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z¡-\uFFFF ]*$"
                          description: State or province of the billing address. Required for United States and Canada.
                          example: WA
                        postalCode:
                          type: string
                          minLength: 1
                          maxLength: 20
                          pattern: ^[0-9a-zA-Z ]*$
                          description: Postal code for the billing address. The postal code must consist of 5 to 9 digits. Required for United States and Canada.
                          example: 6470
                      required:
                      - country
                      - address1
                      - locality
                    timeZone:
                      type: string
                      description: 'Merchant perferred time zone

                        Possible Values:

                        - ''Pacific/Pago_Pago''

                        - ''Pacific/Honolulu''

                        - ''America/Anchorage''

                        - ''America/Vancouver''

                        - ''America/Los_Angeles''

                        - ''America/Phoenix''

                        - ''America/Edmonton''

                        - ''America/Denver''

                        - ''America/Winnipeg''

                        - ''America/Mexico_City''

                        - ''America/Chicago''

                        - ''America/Bogota''

                        - ''America/Indianapolis''

                        - ''America/New_York''

                        - ''America/La_Paz''

                        - ''America/Halifax''

                        - ''America/St_Johns''

                        - ''America/Buenos_Aires''

                        - ''America/Godthab''

                        - ''America/Sao_Paulo''

                        - ''America/Noronha''

                        - ''Atlantic/Cape_Verde''

                        - ''GMT''

                        - ''Europe/Dublin''

                        - ''Europe/Lisbon''

                        - ''Europe/London''

                        - ''Africa/Tunis''

                        - ''Europe/Vienna''

                        - ''Europe/Brussels''

                        - ''Europe/Zurich''

                        - ''Europe/Prague''

                        - ''Europe/Berlin''

                        - ''Europe/Copenhagen''

                        - ''Europe/Madrid''

                        - ''Europe/Budapest''

                        - ''Europe/Rome''

                        - ''Africa/Tripoli''

                        - ''Europe/Monaco''

                        - ''Europe/Malta''

                        - ''Europe/Amsterdam''

                        - ''Europe/Oslo''

                        - ''Europe/Warsaw''

                        - ''Europe/Stockholm''

                        - ''Europe/Belgrade''

                        - ''Europe/Paris''

                        - ''Africa/Johannesburg''

                        - ''Europe/Minsk''

                        - ''Africa/Cairo''

                        - ''Europe/Helsinki''

                        - ''Europe/Athens''

                        - ''Asia/Jerusalem''

                        - ''Europe/Riga''

                        - ''Europe/Bucharest''

                        - ''Europe/Istanbul''

                        - ''Asia/Riyadh''

                        - ''Europe/Moscow''

                        - ''Asia/Dubai''

                        - ''Asia/Baku''

                        - ''Asia/Tbilisi''

                        - ''Asia/Calcutta''

                        - ''Asia/Katmandu''

                        - ''Asia/Dacca''

                        - ''Asia/Rangoon''

                        - ''Asia/Jakarta''

                        - ''Asia/Saigon''

                        - ''Asia/Bangkok''

                        - ''Australia/Perth''

                        - ''Asia/Hong_Kong''

                        - ''Asia/Macao''

                        - ''Asia/Kuala_Lumpur''

                        - ''Asia/Manila''

                        - ''Asia/Singapore''

                        - ''Asia/Taipei''

                        - ''Asia/Shanghai''

                        - ''Asia/Seoul''

                        - ''Asia/Tokyo''

                        - ''Asia/Yakutsk''

                        - ''Australia/Adelaide''

                        - ''Australia/Brisbane''

                        - ''Australia/Broken_Hill''

                        - ''Australia/Darwin''

                        - ''Australia/Eucla''

                        - ''Australia/Hobart''

                        - ''Australia/Lindeman''

                        - ''Australia/Sydney''

                        - ''Australia/Lord_Howe''

                        - ''Australia/Melbourne''

                        - ''Asia/Magadan''

                        - ''Pacific/Norfolk''

                        - ''Pacific/Auckland''

                        '
                      example: America/Chicago
                    websiteUrl:
                      type: string
                      maxLength: 100
                      pattern: "\\b((?:https?://|www\\d{0,3}[.]|[a-z0-9.\\-]+[.][a-z]{2,4}/)(?:[^\\s()<>]+|\\(([^\\s()<>]+|(\\([^\\s()<>]+\\)))*\\))+(?:\\(([^\\s()<>]+|(\\([^\\s()<>]+\\)))*\\)|[^\\s`!()\\[\\]{};:'\".,<>?Â«Â»â€œâ€\x9Dâ€˜â€™]))"
                      example: www.test.com
                    type:
                      type: string
                      description: "Business type\nPossible Values:\n  - 'PARTNERSHIP'\n  - 'SOLE_PROPRIETORSHIP'\n  - 'CORPORATION'\n  - 'LLC'\n  - 'NON_PROFIT'\n  - 'TRUST'\n"
                    taxId:
                      type: string
                      maxLength: 9
                      pattern: \d{9}
                      example: 254324
                    phoneNumber:
                      type: string
                      maxLength: 20
                      pattern: ^[0-9a-zA-Z\\+\\-]+$
                      example: 4564561234
                    businessContact:
                      type: object
                      properties:
                        firstName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        middleName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        lastName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        phoneNumber:
                          type: string
                          maxLength: 20
                          pattern: ^[0-9a-zA-Z\\+\\-]+$
                          example: 4567890398
                        email:
                          type: string
                          maxLength: 100
                          pattern: ^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,50}|[0-9]{1,3})(\]?)$
                          example: test@test.com
                      required:
                      - firstName
                      - lastName
                      - phoneNumber
                      - email
                    technicalContact:
                      type: object
                      properties:
                        firstName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        middleName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        lastName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        phoneNumber:
                          type: string
                          maxLength: 20
                          pattern: ^[0-9a-zA-Z\\+\\-]+$
                          example: 4567890398
                        email:
                          type: string
                          maxLength: 100
                          pattern: ^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,50}|[0-9]{1,3})(\]?)$
                          example: test@test.com
                      required:
                      - firstName
                      - lastName
                      - phoneNumber
                      - email
                    emergencyContact:
                      type: object
                      properties:
                        firstName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        middleName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        lastName:
                          type: string
                          maxLength: 50
                          pattern: "^[0-9a-zA-Z _\\-\\+\\.\\*\\\"/'&\\,\\(\\)!$;:?@\\#¡-\uFFFF]+$"
                          example: John
                        phoneNumber:
                          type: string
                          maxLength: 20
                          pattern: ^[0-9a-zA-Z\\+\\-]+$
                          example: 4567890398
                        email:
                          type: string
                          maxLength: 100
                          pattern: ^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,50}|[0-9]{1,3})(\]?)$
                          example: test@test.com
                      required:
                      - firstName
                      - lastName
                      - phoneNumber
                      - email
                    merchantCategoryCode:
                      type: string
                      maxLength: 4
                      pattern: ^\d{3,4}$
                      example: 5300
                      description: Industry standard Merchant Category Code (MCC)
                  required:
                  - name
                KYC:
                  type: object
                  properties:
                    whenIsCustomerCharged:
                      type: string
                      example: ONETIMEBEFORE
                      description: 'Possible values:

                        - ONETIMEBEFORE

                        - ONETIMEAFTER

                        - OTHER'
                    whenIsCustomerChargedDescription:
                      type: string
                      maxLength: 100
                    offerSubscriptions:
                      type: boolean
                      example: true
                    monthlySubscriptionPercent:
                      type: number
                      format: decimal
                      pattern: ^((100)|(\d{0,2}))$
                      example: 30
                    quarterlySubscriptionPercent:
                      type: number
                      format: decimal
                      pattern: ^((100)|(\d{0,2}))$
                      example: 20
                    semiAnnualSubscriptionPercent:
                      type: number
                      format: decimal
                      pattern: ^((100)|(\d{0,2}))$
                      example: 50
                    annualSubscriptionPercent:
                      type: number
                      format: decimal
                      pattern: ^((100)|(\d{0,2}))$
                      example: 100
                    timeToProductDelivery:
                      type: string
                      description: 'Possible values:

                        - INSTANT

                        - UPTO2

                        - UPTO5

                        - UPTO10

                        - GREATERTHAN10'
                    estimatedMonthlySales:
                      type: number
                      format: currency
                      pattern: ^\d{1,8}(\.\d{1,2})?$
                      example: 10000.5
                    averageOrderAmount:
                      type: number
                      format: currency
                      pattern: ^\d{1,6}(\.\d{1,2})?$
                      example: 50.5
                    largestExpectedOrderAmount:
                      type: number
                      format: currency
                      pattern: ^\d{1,6}(\.\d{1,2})?$
                      example: 100.5
                    depositBankAccount:
                      type: object
                      properties:
                        accountHolderName:
                          type: string
                          maxLength: 40
                          pattern: ^[À-ÖØ-öø-ǿÀ-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/\\@$:&amp;!?%«»€₣«»€₣ ]{1,}$
                          example: John Doe
                        accountType:
                          type: string
                          example: checking
                          description: 'Possible values:

                            - checking

                            - savings

                            - corporatechecking

                            - corporatesavings'
                        accountRoutingNumber:
                          type: string
                          maxLength: 9
                          pattern: \d{9}
                        accountNumber:
                          type: string
                          maxLength: 17
                          pattern: ^\d{5,17}$
                      required:
                      - accountHolderName
                      - accountType
                      - accountRoutingNumber
                      - accountNumber
                  required:
                  - whenIsCustomerCharged
                  - offerSubscriptions
                  - timeToProductDelivery
                  - estimatedMonthlySales
                  - averageOrderAmount
                  - largestExpectedOrderAmount
                owners:
                  type: array
                  items:
                    type: object
                    properties:
                      firstName:
                        type: string
                        maxLength: 50
                        pattern: '[À-ÖØ-öø-ǿÀ-ÖØ-öø-ǿa-zA-Z().\-_#,;/\\@$:&amp;!?%«»€₣«»€₣ ]{1,}$'
                        example: John
                      middleName:
                        type: string
                        maxLength: 50
                        pattern: '[À-ÖØ-öø-ǿÀ-ÖØ-öø-ǿa-zA-Z().\-_#,;/\\@$:&amp;!?%«»€₣«»€₣ ]{1,}$'
                        example: John
                      lastName:
                        type: string
                        maxLength: 50
                        pattern: '[À-ÖØ-öø-ǿÀ-ÖØ-öø-ǿa-zA-Z().\-_#,;/\\@$:&amp;!?%«»€₣«»€₣ ]{1,}$'
                        example: John
                      birthDate:
                        type: string
                        format: date
                        pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
                        example: '2016-08-11'
                        description: '`Format: YYYY-MM-DD`

                          Example 2016-08-11 equals August 11, 2016

                          '
                      isPrimary:
                        type: boolean
                        description: Determines whether the owner is the Primary owner of the organization
                        example: true
                      ssn:
                        type: string
                        maxLength: 12
                        pattern: ^\d{3}-\d{2}-\d{4}$|^\d{9,9}$
                        example: 123456789
                        description: Social Security Number
                      passportNumber:
                        type: string
                        maxLength: 12
                        pattern: ^(?!^0+$)[a-zA-Z0-9]{3,20}$
                        example: '1234556'
                        description: Passport number
                      passportCountry:
                        type: string
                        maxLength: 2
                        minLength: 2
                        pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                        example: US
                      jobTitle:
                        type: string
                        maxLength: 100
                        pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                        example: Director
                      hasSignificantResponsability:
                        type: boolean
                        description: Determines whether owner has significant responsibility to control, manage or direct the company
                        example: true
                      ownershipPercentage:
                        type: number
                        pattern: ^[0-9]$|^[1-9][0-9]$|^(100)$
                        description: Determines the percentage of ownership this owner has. For the primary owner the percentage can be from 0-100; for other owners the percentage can be from 25-100 and the sum of ownership accross owners cannot exceed 100
                        example: 25
                      phoneNumber:
                        type: string
                        maxLength: 20
                        pattern: ^[0-9a-zA-Z\\+\\-]+$
                        example: 4567890398
                      email:
                        type: string
                        maxLength: 100
                        pattern: ^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,50}|[0-9]{1,3})(\]?)$
                        example: test@test.com
                      address:
                        type: object
                        properties:
                          country:
                            type: string
                            maxLength: 2
                            minLength: 2
                            pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                            example: US
                          address1:
                            type: string
                            maxLength: 60
                            minLength: 1
                            pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                            example: 123 Fake st
                          address2:
                            type: string
                            maxLength: 60
                            pattern: ^[À-ÖØ-öø-ǿa-zA-Z0-9().\-_#,;/@$:!% ]{1,}$
                            example: apt 2
                          locality:
                            type: string
                            maxLength: 50
                            minLength: 1
                            pattern: "^[0-9a-zA-Z _\\-¡-\uFFFF]+$"
                            description: City of the billing address.
                            example: Bellevue
                          administrativeArea:
                            type: string
                            minLength: 1
                            maxLength: 50
                            pattern: "^[0-9a-zA-Z¡-\uFFFF ]*$"
                            description: State or province of the billing address. Required for United States and Canada.
                            example: WA
                          postalCode:
                            type: string
                            minLength: 1
                            maxLength: 20
                            pattern: ^[0-9a-zA-Z ]*$
                            description: Postal code for the billing address. The postal code must consist of 5 to 9 digits. Required for United States and Canada.
                            example: 6470
                        required:
                        - country
                        - address1
                        - locality
                    required:
                    - firstName
                    - lastName
                    - birthDate
                    - jobTitle
                    - hasSignificantResponsability
                    - ownershipPercentage
                    - phoneNumber
                    - email
                    - address
                    - isPrimary
              required:
              - businessInformation
            productInformation:
              type: object
              properties:
                selectedProducts:
                  type: object
                  properties:
                    payments:
                      title: paymentsProducts
                      type: object
                      properties:
                        cardProcessing:
                          type: object
                          properties:
                            subscriptionInformation:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                selfServiceability:
                                  type: string
                                  default: NOT_SELF_SERVICEABLE
                                  description: "Indicates if the organization can enable this product using self service. \nPossible values:\n- SELF_SERVICEABLE\n- NOT_SELF_SERVICEABLE\n- SELF_SERVICE_ONLY"
                                features:
                                  type: object
                                  description: "This is a map. The allowed keys are below. Value should be an object containing a sole boolean property - enabled.\n<table>\n   <tr>\n      <td>cardPresent</td>\n   </tr>\n   <tr>\n      <td>cardNotPresent</td>\n   </tr>\n</table>\n"
                                  additionalProperties:
                                    x-devcenter-additional-properties:
                                    - cardPresent
                                    - cardNotPresent
                                    type: object
                                    properties:
                                      enabled:
                                        type: boolean
                            configurationInformation:
                              type: object
                              properties:
                                templateId:
                                  type: string
                                configurations:
                                  type: object
                                  title: CardProcessingConfig
                                  properties:
                                    common:
                                      type: object
                                      properties:
                                        processors:
                                          type: object
                                          description: 'e.g.

                                            * amexdirect

                                            * barclays2

                                            * CUP

                                            * EFTPOS

                                            * fdiglobal

                                            * gpngsapv3

                                            * gpx

                                            * smartfdc

                                            * tsys

                                            * vero

                                            * VPC


                                            For VPC, CUP and EFTPOS processors, replace the processor name from VPC or CUP or EFTPOS to the actual processor name in the sample request.

                                            e.g. replace VPC with &lt;your vpc processor&gt;

                                            '
                                          additionalProperties:
                                            x-devcenter-additional-properties:
                                            - amexdirect
                                            - barclays2
                                            - CUP
                                            - EFTPOS
                                            - fdiglobal
                                            - gpngsapv3
                                            - gpx
                                            - smartfdc
                                            - tsys
                                            - vero
                                            - VPC
                                            type: object
                                            properties:
                                              batchGroup:
                                                type: string
                                                description: 'Determines the batching group that separates merchants for special batching times. Batching groups can separate merchant batches by the following criteria:


                                                  * Timezone

                                                  * Merchant deadlines

                                                  * Large merchants (top 10)

                                                  * Merchants with Service-Level Agreements


                                                  Applicable for Chase Paymentech Salem (chasepaymentechsalem), Streamline (streamline2), Six (six), Barclays (barclays2), Paymentech Tampa (paymentechtampa), CMCIC (cmcic), FDC Nashville (smartfdc), RUPAY, American Express Direct (amexdirect), GPN (gpn), VPC, GPX (gpx), CB2A, Barclays HISO (barclayshiso), TSYS (tsys) and FDI Global (fdiglobal) processors.


                                                  Validation details (for selected processors)...


                                                  <table>

                                                  <thead><tr><th>Processor</th><th>Acceptance Type</th><th>Required</th></tr></thead>

                                                  <tr><td>Barclays</td><td>cnp, cp, hybrid</td><td>Yes</td></tr>

                                                  <tr><td>Barclays HISO</td><td>cnp, cp, hybrid</td><td>Yes</td></tr>

                                                  <tr><td>American Express Direct</td><td>cnp, cp, hybrid</td><td>No</td></tr>

                                                  </table>

                                                  '
                                              businessApplicationId:
                                                type: string
                                                description: Indicates the type of money transfer used in the transaction. Applicable for VPC and GPX (gpx) processors.
                                              merchantVerificationValue:
                                                type: string
                                                description: Identify merchants that participate in Select Merchant Fee (SMF) programs. Unique to the merchant. Applicable for GPX (gpx) and VPC processors.
                                              abaNumber:
                                                type: string
                                                description: Routing Number to identify banks within the United States. Applicable for GPX (gpx) processors.
                                              acquirer:
                                                type: object
                                                description: Identifies the financial institution acting as the acquirer of this customer transaction. The acquirer is the member or system user that signed the merchant.
                                                properties:
                                                  institutionId:
                                                    type: string
                                                    description: 'Identifier of the acquirer. This number is usually assigned by Visa.

                                                      Applicable for VPC, GPX (gpx), CMCIC (cmcic), EFTPOS, CB2A, CUP, American Express Direct (amexdirect) and Six (six) processors.


                                                      Validation details (for selected processors)...


                                                      <table>

                                                      <thead><tr><th>Processor</th><th>Acceptance Type</th><th>Required</th><th>Min. Length</th><th>Max. Length</th><th>Regex</th><th>Default Value</th></tr></thead>

                                                      <tr><td>American Express Direct</td><td>cnp, cp, hybrid</td><td>Yes</td><td>1</td><td>13</td><td>^[0-9]+$</td><td>1111</td></tr>

                                                      </table>

                                                      '
                                                  interbankCardAssociationId:
                                                    type: string
                                                    description: Number assigned by MasterCard to banks to identify the member in transactions. Applicable for VPC and GPX (gpx) processors.
                                                  discoverInstitutionId:
                                                    type: string
                                                    description: Assigned by Discover to identify the acquirer. Applicable for VPC and GPX (gpx) processors.
                                                  unionPayInstitutionId:
                                                    type: string
                                                    description: Assigned by China Union Pay to identify the acquirer. Applicable for VPC processors.
                                                  dinersClubInstitutionId:
                                                    type: string
                                                    description: Assigned by Diners Club to identify the acquirer. Applicable for VPC processors.
                                                  countryCode:
                                                    type: string
                                                    description: ISO 4217 format. Applicable for VPC, GPX (gpx), EFTPOS, RUPAY, Prisma (prisma) and CUP processors.
                                                  fileDestinationBin:
                                                    type: string
                                                    description: The BIN to which this capturefile is sent. This field must contain a valid BIN. Applicable for VPC and GPX (gpx) processors.
                                              acquirers:
                                                type: object
                                                description: Identifies the financial institution acting as the acquirer of this customer transaction. The acquirer is the member or system user that signed the merchant.
                                                additionalProperties:
                                                  properties:
                                                    institutionId:
                                                      type: string
                                                      description: Identifier of the acquirer. This number is usually assigned by Visa.
                                                    interbankCardAssociationId:
                                                      type: string
                                                      description: Number assigned by MasterCard to banks to identify the member in transactions.
                                                    discoverInstitutionId:
                                                      type: string
                                                      description: Assigned by Discover to identify the acquirer.
                                                    countryCode:
                                                      type: string
                                                      description: ISO 4217 format.
                                                    fileDestinationBin:
                                                      type: string
                                                      description: The BIN to which this capturefile is sent. This field must contain a valid BIN.
                                                    merchantVerificationValue:
                                                      type: string
                                                      description: Identify merchants that participate in Select Merchant Fee (SMF) programs. Unique to the merchant.
                                                    merchantId:
                                                      type: string
                                                      description: Merchant ID assigned by an acquirer or a processor. Should not be overriden by any other party.
                                                    terminalId:
                                                      type: string
                                                      description: 'The ''Terminal Id'' aka TID, is an identifier used for with your payments processor.

                                                        Depending on the processor and payment acceptance type this may also be the default Terminal ID used for Card Present and Virtual Terminal transactions.

                                                        '
                                                    allowMultipleBills:
                                                      type: boolean
                                                      description: 'Allows multiple captures for a single authorization transaction.

                                                        '
                                                    enableTransactionReferenceNumber:
                                                      type: boolean
                                                      description: To enable merchant to send in transaction reference number (unique reconciliation ID).
                                                    paymentTypes:
                                                      type: object
                                                      description: 'Valid values are:

                                                        * VISA

                                                        * MASTERCARD

                                                        * AMERICAN_EXPRESS

                                                        * CUP

                                                        * EFTPOS

                                                        * DINERS_CLUB

                                                        * DISCOVER

                                                        * JCB

                                                        '
                                                      additionalProperties:
                                                        x-devcenter-additional-properties:
                                                        - VISA
                                                        - MASTERCARD
                                                        - AMERICAN_EXPRESS
                                                        - DISCOVER
                                                        - DINERS_CLUB
                                                        - JCB
                                                        - PIN_DEBIT
                                                        - JAYWAN
                                                        type: object
                                                        properties:
                                                          enabled:
                                                            type: boolean
                                                          currencies:
                                                            type: object
                                                            description: Three-character [ISO 4217 ALPHA-3 Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)
                                                            additionalProperties:
                                                              x-devcenter-additional-properties:
                                                              - USD
                                                              - CAD
                                                              - GBP
                                                              - EUR
                                                              - CHF
                                                              - NGN
                                                              - ETB
                                                              - CUP
                                                              - AZN
                                                              - RWF
                                                              - DOP
                                                              - GMD
                                                              - BBD
                                                              - GTG
                                                              - NPR
                                                              - SHP
                                                              - BZD
                                                              - JMP
                                                              - PHP
                                                              - BRL
                                                              - TZS
                                                              - BAM
                                                              - ISK
                                                              - KWD
                                                              - RON
                                                              - ARS
                                                              - SBD
                                                              - NOK
                                                              - KRW
                                                              - TJS
                                                              - JOD
                                                              - MOP
                                                              - CLP
                                                              - SOS
                                                              - MGA
                                                              - LVL
                                                              - GIP
                                                              - PYG
                                                              - SAR
                                                              - PGK
                                                              - SGD
                                                              - ROL
                                                              - BSD
                                                              - TRY
                                                              - CDF
                                                              - SYP
                                                              - BMD
                                                              - MRO
                                                              - WST
                                                              - GHS
                                                              - BTN
                                                              - HNL
                                                              - MAD
                                                              - GAR
                                                              - SRD
                                                              - BDT
                                                              - KGS
                                                              - GNF
                                                              - CNY
                                                              - JPY
                                                              - LYD
                                                              - TTD
                                                              - CVE
                                                              - SZL
                                                              - ZMW
                                                              - KPW
                                                              - PEN
                                                              - YER
                                                              - VEB
                                                              - KHR
                                                              - VEF
                                                              - VUV
                                                              - SLL
                                                              - AFN
                                                              - SCR
                                                              - BOB
                                                              - COP
                                                              - LTL
                                                              - EGP
                                                              - HUF
                                                              - RSD
                                                              - AOA
                                                              - MYR
                                                              - MTL
                                                              - CYP
                                                              - FKP
                                                              - GYD
                                                              - PLN
                                                              - KMF
                                                              - SGD
                                                              - IQD
                                                              - DKK
                                                              - KES
                                                              - UZS
                                                              - TMM
                                                              - NZD
                                                              - LKR
                                                              - EEK
                                                              - SKK
                                                              - ANG
                                                              - INR
                                                              - UYU
                                                              - LSL
                                                              - TND
                                                              - STD
                                                              - HTG
                                                              - VND
                                                              - AED
                                                              - MZN
                                                              - BND
                                                              - KZT
                                                              - PKR
                                                              - XCD
                                                              - RUB
                                                              - MKD
                                                              - BWP
                                                              - AWG
                                                              - GEL
                                                              - MDL
                                                              - HKD
                                                              - MVR
                                                              - amd
                                                              - IRR
                                                              - NAD
                                                              - MWK
                                                              - MNT
                                                              - CRC
                                                              - XPF
                                                              - LAK
                                                              - HRK
                                                              - ALL
                                                              - TOP
                                                              - BIF
                                                              - MUR
                                                              - PAB
                                                              - FJD
                                                              - CZK
                                                              - ZWD
                                                              - KYD
                                                              - IDR
                                                              - BGN
                                                              - MXN
                                                              - UGX
                                                              - MMK
                                                              - UAH
                                                              - DZD
                                                              - XAF
                                                              - THB
                                                              - OMR
                                                              - XOF
                                                              - AUD
                                                              - ZAR
                                                              - LBP
                                                              - NIO
                                                              - DJF
                                                              - LRD
                                                              - TWD
                                                              - ERN
                                                              - BHD
                                                              - ILS
                                                              - SEK
                                                              - BYR
                                                              type: object
                                                              properties:
                                                                enabled:
                                                                  type: boolean
                                                                enabledCardPresent:
                                                                  type: boolean
                                                                  description: Indicates whether the card-present transaction is activated for the selected currency. If both enabledCardPresent and enabledCardNotPresent are set to null, then enabledCardPresent will have the value of enabled.
                                                                enabledCardNotPresent:
                                                                  type: boolean
                                                                  description: Indicates whether the card-not-present transaction is activated for the selected currency. If both enabledCardPresent and enabledCardNotPresent are set to null, then enabledCardNotPresent will have the value of enabled.
                                                                merchantId:
                                                                  type: string
                                                                  description: Merchant ID assigned by an acquirer or a processor. Should not be overridden by any other party.
                                                                terminalId:
                                                                  type: string
                                                                  description: 'The ''Terminal Id'' aka TID, is an identifier used for with your payments processor.

                                                                    Depending on the processor and payment acceptance type this may also be the default Terminal ID used for Card Present and Virtual Terminal transactions.

                                                                    '
                                                                terminalIds:
                                                                  type: array
                                                                  items:
                                                                    type: string
                                                                  description: Applicable for Prisma (prisma) processor.
                                                                serviceEnablementNumber:
                                                                  type: string
                                                                  description: 'Service Establishment Number (a.k.a. SE Number) is a unique ten-digit number assigned by American Express to a merchant that accepts American Express cards.

                                                                    10 digit number provided by acquirer currency. This may be unique for each currency, however it depends on the way the processor is set up for the merchant.

                                                                    '
                                                    currencies:
                                                      type: object
                                                      description: Three-character [ISO 4217 ALPHA-3 Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)
                                                      additionalProperties:
                                                        x-devcenter-additional-properties:
                                                        - USD
                                                        - CAD
                                                        - GBP
                                                        - EUR
                                                        - CHF
                                                        - NGN
                                                        - ETB
                                                        - CUP
                                                        - AZN
                                                        - RWF
                                                        - DOP
                                                        - GMD
                                                        - BBD
                                                        - GTG
                                                        - NPR
                                                        - SHP
                                                        - BZD
                                                        - JMP
                                                        - PHP
                                                        - BRL
                                                        - TZS
                                                        - BAM
                                                        - ISK
                                                        - KWD
                                                        - RON
                                                        - ARS
                                                        - SBD
                                                        - NOK
                                                        - KRW
                                                        - TJS
                                                        - JOD
                                                        - MOP
                                                        - CLP
                                                        - SOS
                                                        - MGA
                                                        - LVL
                                                        - GIP
                                                        - PYG
                                                        - SAR
                                                        - PGK
                                                        - SGD
                                                        - ROL
                                                        - BSD
                                                        - TRY
                                                        - CDF
                                                        - SYP
                                                        - BMD
                                                        - MRO
                                                        - WST
                                                        - GHS
                                                        - BTN
                                                        - HNL
                                                        - MAD
                                                        - GAR
                                                        - SRD
                                                        - BDT
                                                        - KGS
                                                        - GNF
                                                        - CNY
                                                        - JPY
                                                        - LYD
                                                        - TTD
                                                        - CVE
                                                        - SZL
                                                        - ZMW
                                                        - KPW
                                                        - PEN
                                                        - YER
                                                        - VEB
                                                        - KHR
                                                        - VEF
                                                        - VUV
                                                        - SLL
                                                        - AFN
                                                        - SCR
                                                        - BOB
                                                        - COP
                                                        - LTL
                                                        - EGP
                                                        - HUF
                                                        - RSD
                                                        - AOA
                                                        - MYR
                                                        - MTL
                                                        - CYP
                                                        - FKP
                                                        - GYD
                                                        - PLN
                                                        - KMF
                                                        - SGD
                                                        - IQD
                                                        - DKK
                                                        - KES
                                                        - UZS
                                                        - TMM
                                                        - NZD
                                                        - LKR
                                                        - EEK
                                                        - SKK
                                                        - ANG
                                                        - INR
                                                        - UYU
                                                        - LSL
                                                        - TND
                                                        - STD
                                                        - HTG
                                                        - VND
                                                        - AED
                                                        - MZN
                                                        - BND
                                                        - KZT
                                                        - PKR
                                                        - XCD
                                                        - RUB
                                                        - MKD
                                                        - BWP
                                                        - AWG
                                                        - GEL
                                                        - MDL
                                                        - HKD
                                                        - MVR
                                                        - amd
                                                        - IRR
                                                        - NAD
                                                        - MWK
                                                        - MNT
                                                        - CRC
                                                        - XPF
                                                        - LAK
                                                        - HRK
                                                        - ALL
                                                        - TOP
                                                        - BIF
                                                        - MUR
                                                        - PAB
                                                        - FJD
                                                        - CZK
                                                        - ZWD
                                                        - KYD
                                                        - IDR
                                                        - BGN
                                                        - MXN
                                                        - UGX
                                                        - MMK
                                                        - UAH
                                                        - DZD
                                                        - XAF
                                                        - THB
                                                        - OMR
                                                        - XOF
                                                        - AUD
                                                        - ZAR
                                                        - LBP
                                                        - NIO
                                                        - DJF
                                                        - LRD
                                                        - TWD
                                                        - ERN
                                                        - BHD
                                                        - ILS
                                                        - SEK
                                                        - BYR
                                                        type: object
                                                        properties:
                                                          enabled:
                                                            type: boolean
                                                          enabledCardPresent:
                                                            type: boolean
                                                            description: Indicates whether the card-present transaction is activated for the selected currency. If both enabledCardPresent and enabledCardNotPresent are set to null, then enabledCardPresent will have the value of enabled.
                                                          enabledCardNotPresent:
                                                            type: boolean
                                                            description: Indicates whether the card-not-present transaction is activated for the selected currency. If both enabledCardPresent and enabledCardNotPresent are set to null, then enabledCardNotPresent will have the value of enabled.
                                                          merchantId:
                                                            type: string
                                                            description: Merchant ID assigned by an acquirer or a processor. Should not be overridden by any other party.
                                                          terminalId:
                                                            type: string
                                                            description: 'The ''Terminal Id'' aka TID, is an identifier used for with your payments processor.

                                                              Depending on the processor and payment acceptance type this may also be the default Terminal ID used for Card Present and Virtual Terminal transactions.

                                                              '
                                                          terminalIds:
                                                            type: array
                                                            items:
                                                              type: string
                                                            description: Applicable for Prisma (prisma) processor.
                                                          serviceEnablementNumber:
                                                            type: string
                                                            description: 'Service Establishment Number (a.k.a. SE Number) is a unique ten-digit number assigned by American Express to a merchant that accepts American Express cards.

                                                              10 digit number provided by acquirer currency. This may be unique for each currency, however it depends on the way the processor is set up for the merchant.

                                                              '
                                              merchantId:
                                                type: string
                                                description: 'Merchant ID assigned by an acquirer or a processor. Should not be overriden by any other party.


                                                  Validation details (for selected processors)...


                                                  <table>

                                                  <thead><tr><th>Processor</th><th>Acceptance Type</th><th>Required</th><th>Min. Length</th><th>Max. Length</th><th>Regex</th></tr></thead>

                                                  <tr><td>Barclays HISO</td><td>cp, cnp, hybrid</td><td>Yes</td><td>1</td><td>15</td><td>^[0-9a-zA-Z]+$</td></tr>

                                                  <tr><td>Barclays</td><td>cp, cnp, hybrid</td><td>Yes</td><td>1</td><td>11</td><td>^[0-9a-zA-Z]+$</td></tr>

                                                  </table>

                                                  '
                                              terminalId:
                                                type: string
                                                description: 'The ''Terminal Id'' aka TID, is an identifier used for with your payments processor.

                                                  Depending on the processor and payment acceptance type this may also be the default Terminal ID used for Card Present and Virtual Terminal transactions.


                                                  Validation details (for selected processors)...


                                                  <table>

                                                  <thead><tr><th>Processor</th><th>Acceptance Type</th><th>Required</th><th>Min. Length</th><th>Max. Length</th><th>Regex</th></tr></thead>

                                                  <tr><td>Barclays HISO</td><td>cnp, hybrid</td><td>Yes</td><td>1</td><td>16</td><td>^[0-9a-zA-Z]+$</td></tr>

                                                  <tr><td>Barclays HISO</td><td>cp</td><td>No</td><td>1</td><td>16</td><td>^[0-9a-zA-Z]+$</td></tr>

                                                  </table>

                                                  '
                                              paymentTypes:
                                                type: object
                                                description: 'Valid values are:

                                                  * VISA

                                                  * MASTERCARD

                                                  * AMERICAN_EXPRESS

                                                  * CUP

                                                  * EFTPOS

                                                  * DINERS_CLUB

                                                  * DISCOVER

                                                  * JCB

                                                  '
                                                additionalProperties:
                                                  x-devcenter-additional-properties:
                                                  - VISA
                                                  - MASTERCARD
                                                  - AMERICAN_EXPRESS
                                                  - DISCOVER
                                                  - DINERS_CLUB
                                                  - JCB
                                                  - PIN_DEBIT
                                                  - JAYWAN
                                                  type: object
                                                  properties:
                                                    enabled:
                                                      type: boolean
                                                    currencies:
                                                      type: object
                                                      description: Three-character [ISO 4217 ALPHA-3 Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)
                                                      additionalProperties:
                                                        x-devcenter-additional-properties:
                                                        - USD
                                                        - CAD
                                                        - GBP
                                                        - EUR
                                                        - CHF
                                                        - NGN
                                                        - ETB
                                                        - CUP
                                                        - AZN
                                                        - RWF
                                                        - DOP
                                                        - GMD
                                                        - BBD
                                                        - GTG
                                                        - NPR
                                                        - SHP
                                                        - BZD
                                                        - JMP
                                                        - PHP
                                                        - BRL
                                                        - TZS
                                                        - BAM
                                                        - ISK
                                                        - KWD
                                                        - RON
                                                        - ARS
                                                        - SBD
                                                        - NOK
                                                        - KRW
                                                        - TJS
                                                        - JOD
                                                        - MOP
                                                        - CLP
                                                        - SOS
                                                        - MGA
                                                        - LVL
                                                        - GIP
                                                        - PYG
                                                        - SAR
                                                        - PGK
                                                        - SGD
                                                        - ROL
                                                        - BSD
                                                        - TRY
                                                        - CDF
                                                        - SYP
                                                        - BMD
                                                        - MRO
                                                        - WST
                                                        - GHS
                                                        - BTN
                                                        - HNL
                                                        - MAD
                                                        - GAR
                                                        - SRD
                                                        - BDT
                                                        - KGS
                                                        - GNF
                                                        - CNY
                                                        - JPY
                                                        - LYD
                                                        - TTD
                                                        - CVE
                                                        - SZL
                                                        - ZMW
                                                        - KPW
                                                        - PEN
                                                        - YER
                                                        - VEB
                                                        - KHR
                                                        - VEF
                                                        - VUV
                                                        - SLL
                                                        - AFN
                                                        - SCR
                                                        - BOB
                                                        - COP
                                                        - LTL
                                                        - EGP
                                                        - HUF
                                                        - RSD
                                                        - AOA
                                                        - MYR
                                                        - MTL
                                                        - CYP
                                                        - FKP
                                                        - GYD
                                                        - PLN
                                                        - KMF
                                                        - SGD
                                                        - IQD
                                                        - DKK
                                                        - KES
                                                        - UZS
                                                        - TMM
                                                        - NZD
                                                        - LKR
                                                        - EEK
                                                        - SKK
                                                        - ANG
                                                        - INR
                                                        - UYU
                                                        - LSL
                                                        - TND
                                                        - STD
                                                        - HTG
                                                        - VND
                                                        - AED
                                                        - MZN
                                                        - BND
                                                        - KZT
                                                        - PKR
                                                        - XCD
                                                        - RUB
                                                        - MKD
                                                        - BWP
                                                        - AWG
                                                        - GEL
                                                        - MDL
                                                        - HKD
                                                        - MVR
                                                        - amd
                                                        - IRR
                                                        - NAD
                                                        - MWK
                                                        - MNT
                                                        - CRC
                                                        - XPF
                                                        - LAK
                                                        - HRK
                                                        - ALL
                                                        - TOP
                                                        - BIF
                                                        - MUR
                                                        - PAB
                                                        - FJD
                                                        - CZK
                                                        - ZWD
                                                        - KYD
                                                        - IDR
                                                        - BGN
                                                        - MXN
                                                        - UGX
                                                        - MMK
                                                        - UAH
                                                        - DZD
                                                        - XAF
                                                        - THB
                                                        - OMR
                                                        - XOF
                                                        - AUD
                                                        - ZAR
                                                        - LBP
                                                        - NIO
                                                        - DJF
                                                        - LRD
                                                        - TWD
                                                        - ERN
                                                        - BHD
                                                        - ILS
                                                        - SEK
                                                        - BYR
                                                        type: object
                                                        properties:
                                                          enabled:
                                                            type: boolean
                                                          enabledCardPresent:
                                                            type: boolean
                                                            description: Indicates whether the card-present transaction is activated for the selected currency. If both enabledCardPresent and enabledCardNotPresent are set to null, then enabledCardPresent will have the value of enabled.
                                                          enabledCardNotPresent:
                                                            type: boolean
                                                            description: Indicates whether the card-not-present transaction is activated for the selected currency. If both enabledCardPresent and enabledCardNotPresent are set to null, then enabledCardNotPresent will have the value of enabled.
                                                          merchantId:
                                                            type: string
                                                            description: Merchant ID assigned by an acquirer or a processor. Should not be overridden by any other party.
                                                          terminalId:
                                                            type: string
                                                            description: 'The ''Terminal Id'' aka TID, is an identifier used for with your payments processor.

                                                              Depending on the processor and payment acceptance type this may also be the default Terminal ID used for Card Present and Virtual Terminal transactions.

                                                              '
                                                          terminalIds:
                                                            type: array
                                                            items:
                                                              type: string
                                                            description: Applicable for Prisma (prisma) processor.
                                                          serviceEnablementNumber:
                                                            type: string
                                                            description: 'Service Establishment Number (a.k.a. SE Number) is a unique ten-digit number assigned by American Express to a merchant that accepts American Express cards.

                                                              10 digit number provided by acquirer currency. This may be unique for each currency, however it depends on the way the processor is set up for the merchant.

                                                              '
                                              currencies:
                                                type: object
                                                description: Three-character [ISO 4217 ALPHA-3 Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)
                                                additionalProperties:
                                                  x-devcenter-additional-properties:
                                                  - USD
                                                  - CAD
                                                  - GBP
                                                  - EUR
                                                  - CHF
                                                  - NGN
                                                  - ETB
                                                  - CUP
                                                  - AZN
                                                  - RWF
                                                  - DOP
                                                  - GMD
                                                  - BBD
                                                  - GTG
                                                  - NPR
                                                  - SHP
                                                  - BZD
                                                  - JMP
                                                  - PHP
                                                  - BRL
                                                  - TZS
                                                  - BAM
                                                  - ISK
                                                  - KWD
                                                  - RON
                                                  - ARS
                                                  - SBD
                                                  - NOK
                                                  - KRW
                                                  - TJS
                                                  - JOD
                                                  - MOP
                                                  - CLP
                                                  - SOS
                                                  - MGA
                                                  - LVL
                                                  - GIP
                                                  - PYG
                                                  - SAR
                                                  - PGK
                                                  - SGD
                                                  - ROL
                                                  - BSD
                                                  - TRY
                                                  - CDF
                                                  - SYP
                                                  - BMD
                                                  - MRO
                                                  - WST
                                                  - GHS
                                                  - BTN
                                                  - HNL
                                                  - MAD
                                                  - GAR
                                                  - SRD
                                                  - BDT
                                                  - KGS
                                                  - GNF
                                                  - CNY
                                                  - JPY
                                                  - LYD
                                                  - TTD
                                                  - CVE
                                                  - SZL
                                                  - ZMW
                                                  - KPW
                                                  - PEN
                                                  - YER
                                                  - VEB
[...]
