swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Device De-Association API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Device De-Association
  description: Remove Association of a Device.
paths:
  /dms/v2/devices/deassociate:
    patch:
      summary: De-associate a device from merchant or account V2
      description: The current association of the device will be removed and will be assigned back to parent in the hierarchy based on internal logic
      tags:
      - Device De-Association
      operationId: deleteTerminalAssociation
      x-devcenter-metaData:
        categoryTag: Device_Management
        firstLevelApiLifeCycle: hidden
        secondLevelApiLifeCycle: hidden
        apiLifeCycle: hidden
      parameters:
      - name: deAssociationRequestBody
        required: true
        in: body
        description: de association of the deviceId in the request body.
        schema:
          type: object
          properties:
            deviceId:
              type: string
              description: UUID of the device which needs to be de-associated
      consumes:
      - application/json;charset=UTF-8
      responses:
        '204':
          description: The request is fulfilled but does not need to return a body
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request. \nPossible values:\n- BAD_REQUEST"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              details:
                type: array
                description: An optional array which provides more details of the error.
                items:
                  type: object
                  properties:
                    field:
                      type: string
                      description: This is the flattened JSON object field name/path that is either missing or invalid.
                    reason:
                      type: string
                      description: 'Possible reasons for the error.

                        '
                    code:
                      type: string
                      description: An optional short string which identifies the exact field error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- UNAUTHORIZED"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- FORBIDDEN"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- NOT_FOUND"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '500':
          description: Unexpected system error or system timeout.
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- INTERNAL_SERVER_ERROR"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
      x-example:
        example0:
          summary: De-associate a device based on its deviceId.
          value:
            deviceId: 6ba4a8e3-d437-476d-ab94-996598ac8706
  /dms/v3/devices/deassociate:
    post:
      summary: De-associate a device from merchant to account or reseller and from account to reseller
      description: 'A device will be de-associated from its current organization and moved up in the hierarchy.

        The device''s new position will be determined by a specified destination, either an account or a portfolio. If no destination is provided, the device will default to the currently logged-in user.

        '
      tags:
      - Device De-Association
      operationId: postDeAssociateV3Terminal
      x-devcenter-metaData:
        categoryTag: Device_Management
      parameters:
      - name: deviceDeAssociateV3Request
        required: true
        in: body
        description: deviceId that has to be de-associated to the destination organizationId.
        schema:
          type: array
          items:
            type: object
            required:
            - deviceId
            properties:
              deviceId:
                type: string
                description: ID of the device to be de-associated.
                maxLength: 256
              organizationId:
                type: string
                description: A field representing value of either account id or portfolio id.
                maxLength: 30
      consumes:
      - application/json;charset=UTF-8
      produces:
      - application/json;charset=UTF-8
      responses:
        '200':
          description: De-associated all device(s) to their respective destination(s)
          schema:
            type: array
            description: A collection of details of each device de-associate
            items:
              type: object
              properties:
                status:
                  type: string
                  description: 'Possible values:

                    - OK'
                devices:
                  type: array
                  items:
                    type: object
                    properties:
                      deviceId:
                        type: string
                        example: 73c7d8ba-3673-4baf-801e-cf4bf5cc2b57
                      reason:
                        type: string
                        example: Device detached successfully.
                      code:
                        type: string
                        example: deviceDetach.sync.success
        '206':
          description: Partial Success. De-associated device(s) to their respective destination(s)
          schema:
            type: array
            description: A collection of details of each device de-associate
            items:
              type: object
              properties:
                status:
                  type: string
                  description: 'Possible values:

                    - OK

                    - BAD_REQUEST'
                devices:
                  type: array
                  items:
                    type: object
                    properties:
                      deviceId:
                        type: string
                        example: 73c7d8ba-3673-4baf-801e-cf4bf5cc2b57
                      reason:
                        type: string
                        example: Device detached successfully.
                      code:
                        type: string
                        example: deviceDetach.sync.success
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request. \nPossible values:\n- BAD_REQUEST"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              details:
                type: array
                description: An optional array which provides more details of the error.
                items:
                  type: object
                  properties:
                    field:
                      type: string
                      description: This is the flattened JSON object field name/path that is either missing or invalid.
                    reason:
                      type: string
                      description: 'Possible reasons for the error.

                        '
                    code:
                      type: string
                      description: An optional short string which identifies the exact field error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- UNAUTHORIZED"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- FORBIDDEN"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- NOT_FOUND"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
        '500':
          description: Unexpected system error or system timeout.
          schema:
            type: object
            properties:
              status:
                type: string
                description: "The status of the submitted request.\n \nPossible values:\n- INTERNAL_SERVER_ERROR"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
              code:
                type: string
                description: An optional short string which identifies the exact error.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
      x-example:
        example0:
          summary: De-associate a device based on its deviceId and destination orgId(account).
          value:
            deviceId: 741a52fd-bae4-4c4f-a6e6-c92d9e78e093
            organizationId: CYBSNYStore_acct
        example1:
          summary: De-associate a device based on its deviceId and destination orgId(reseller).
          value:
            deviceId: 852a52fd-bae4-4c4f-a6e6-c92d9e78e093
            organizationId: CYBSLondonStore
x-devcenter-metaData:
  categoryTagArray:
  - name: Payments
    description: For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html).
  - name: Transaction_Batches
    description: For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html).
  - name: eCheck_AVS
    description: For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...).
  - name: Token_Management
    description: For more information about the Token Management Service (TMS) see the [Token Management Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/tms/developer/all/rest/tms/tms-overview.html)
  - name: Flex_Microform
    description: Microform Integration is a lightweight acceptance solution designed to safely and securely accept payment information within your web page.  Microform is designed to a be embedded seamlessly within your existing webpage experience, blending in with your existing acceptance form.  This solution allows for the replacement of sensitive payment date with a transient token (a short lived reference to the sensitive payment data).  For more information about Flex Microform transactions, see the [Flex Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-flex/SAFlexibleToken.html). For examples on how to integrate Flex Microform within your webpage please see our [GitHub Flex Samples](https://github.com/CyberSource?q=flex&type=&language=)
  - name: Flex_API
    description: For more information about Flex API, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/digital-accept-flex/developer/all/rest/digital-accept-flex/da-flex-api-intro.html).
  - name: Risk_Management
  - name: Payouts
    description: 'For more information about Payouts, see the [Payouts Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-payouts/Introduction.html).

      '
  - name: Installments
    description: For more information about Installment contact Cybersource Support. For Visa installments contact VISthroughCYBS@visa.com
  - name: Recurring_Billing_Subscriptions
    description: For more information about Recurring Billing, see the [Recurring Billing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/recurring-billing/developer/all/rest/recurring-billing-developer/recur-bill-services-intro.html).
  - name: BIN_Lookup
    description: 'The BIN Lookup Service is a versatile business tool that provides card network agnostic solution designed to ensure frictionless transaction experience by utilizing up-to-date Bank Identification Number (BIN) attributes sourced from multiple global and regional data sources.

      This service helps to improve authorization rates by helping to route transactions to the best-suited card network, minimizes fraud through card detail verification and aids in regulatory compliance by identifying card properties. The service is flexible and provides businesses with a flexible choice of inputs such as primary account number (PAN), network token from major networks (such as Visa, American Express, Discover and regional networks) which includes device PAN (DPAN), and all types of tokens generated via CyberSource Token Management Service (TMS).

      Currently, the range of available credentials is contingent on the networks enabled for the business entity. Therefore, the network information specified in this documentation is illustrative and subject to personalized offerings for each reseller or merchant.

      '
  - name: Transaction_Details
    description: For more information about Transaction Details, see the [Transaction Details Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_details_api.html).
  - name: Transaction_Search
    description: For more information about Transaction Search, see the [Transaction Search Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_search_api.html).
  - name: Reporting
    description: 'For more information about Reporting, see the [Reporting Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-reporting-rest-api-dev-guide-102718/reporting_api.html).

      '
  - name: Secure_File_Share
    description: For more information about Secure File Share, see the [Secure File Share Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-secure-file-share-api-102718/secure_file_share_api_intro.html).
  - name: Invoices
    description: For more information about Invoicing, see the [Invoicing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/invoicing/developer/all/rest/invoicing/Introduction.html).
  - name: Pay_By_Link
    description: For more information about PayByLink, see the [PBL Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/boarding/user/all/rest/boarding/templates-matrix-intro/templates-matrix-pay-by-link.html).
  - name: User_Management
    description: For more information about User Management, see the [User Managment Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-user-management-api-102718/user_management_api_intro.html).
  - name: Value_Added_Service
  - name: Fee Service
  - name: Merchant_Boarding
    description: For more information about Merchant Boarding, please see [Developer Guides Page](https://developer.cybersource.com/api/developer-guides/Merchant-Boarding-API_ditamap/Merchant-Boarding-API.html).
  - name: Webhooks
    description: For more information about Webhooks, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/webhooks/implementation/all/rest/webhooks/wh-fg-intro.html).
  - name: Unified_Checkout
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html).
  - name: Unified_Checkoutv1
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html).
  - name: Account_Updater
    description: For more information about Account Updater, see the [Account Updater Developer Guides Page:](https://developer.cybersource.com/library/documentation/dev_guides/Account_Updater_UG/html/index.html).
  - name: Visa_Bank_Account_Validation
    description: 'The Visa Bank Account Validation Service is a new standalone product designed to validate customer''s routing and bank account number combination for ACH transactions. Merchant''s can use this standalone product to validate their customer''s account prior to processing an ACH transaction against the customer''s account to comply with Nacha''s account validation mandate for Web-debit transactions.

      '
  - name: Currency Conversion
    description: 'Empower global transactions with transparency and choice. Our Dynamic Currency Conversion API lets merchants offer customers the option to pay in their home currency at checkout, delivering real-time exchange rates and clear cost disclosure.


      **Key Benefits:**

      - **Enhanced Customer Experience:** Provide clarity and convenience for international shoppers.

      - **Real-Time Rates:** Accurate currency conversion with all the data required for acquirers and their merchants to maintain compliance with card network rules.

      - **Seamless Integration:** Flexible API endpoints for rate lookup, authorization, and capture.

      - **Regulatory Compliance:** Provides the data required for acquirers and merchants to meet and maintain card scheme requirements for disclosure and consent.


      Ideal for merchants and payment partners seeking to boost trust and conversion in cross-border commerce.


      **Key Features:**

      - **Rate Lookup:** Retrieves the most up-to-date exchange rate for eligible cards before authorization.

      - **Currency Choice:** Enables the merchant to offer customers the option to select between the merchant''s local currency and their card''s billing currency.

      - **Compliance:** Ensures merchants have the data required to adhere to card network regulations; exchange rates, markups, etc.


      **Supported Scenarios:**

      - Dynamic Currency Conversion when cardholder''s billing currency differs from merchant''s pricing currency.

      - Merchant and acquirer must support the cardholder''s billing currency.


      **Core API Endpoints:**


      **Currency Conversion API**

      Returns eligibility and exchange rate details, including:

      - exchangeRate

      - marginRate

      - reconciliationId and Id (for subsequent payment requests)


      **Payment Authorization with DCC***

      POST /pts/v2/payments

      Required fields include:

      - orderInformation.amountDetails.currency

      - orderInformation.amountDetails.originalCurrency

      - orderInformation.amountDetails.originalAmount

      - orderInformation.amountDetails.exchangeRate

      - currencyConversion.indicator (e.g., 1 = Converted, 2 = Nonconvertible, 3 = Declined)


      **Capture with DCC***

      POST /pts/v2/payments/{id}/captures

      Maps from original authorization and includes original and converted amounts.


      **Refund with DCC***

      POST /pts/v2/captures/{id}/refunds

      Maps from original authorization and includes original and converted amounts.


      *Note: DCC is only supported on select processors. Contact your acquirer or account manager for more information.


      **Compliance & Disclosure:**


      Merchants must:

      - Adhere to card network rules for Dynamic Currency Conversion (DCC) transactions.

      - Display the converted amount, exchange rate, and markup percentage and other required disclosures.

      - Obtain explicit cardholder consent before applying DCC.

      - Work with your acquirer to obtain full set of compliance requirements.


      For more information, see the [Currency Conversion Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/currency-conversion/developer/all/rest/currency-conversion/cc-intro.html).

      '
  - name: Intelligent_Commerce_Connect
    description: For more information about Intelligent Commerce Cross Network Service API, please see [Developer Guides](https://developer.cybersource.com/docs/cybs/en-us/intelligent-commerce/developer/all/rest/intelligent-commerce/intelligent-commerce-about-guide.html).
