swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation refund API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: refund
  description: 'A refund is a follow-on transaction that uses the ID returned from either a payment or capture request.

    '
paths:
  /pts/v2/payments/{id}/refunds:
    post:
      summary: Refund a Payment
      description: 'Refund a Payment API is only used, if you have requested Authorization and Capture together in [/pts/v2/payments](https://developer.cybersource.com/api-reference-assets/index.html#payments_payments) API call. Include the payment ID in the POST request to refund the payment amount.

        '
      tags:
      - refund
      operationId: refundPayment
      x-devcenter-metaData:
        categoryTag: Payments
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html
        isMLEsupported: true
        mleForRequest: optional
      parameters:
      - name: refundPaymentRequest
        in: body
        required: true
        schema:
          type: object
          properties:
            clientReferenceInformation:
              type: object
              properties:
                code:
                  type: string
                  maxLength: 59
                  description: 'Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each

                    transaction so that you can perform meaningful searches for the transaction.


                    #### Used by

                    **Authorization**

                    Required field.


                    #### PIN Debit

                    Requests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being

                    reversed.


                    Required field for all PIN Debit requests (purchase, credit, and reversal).


                    #### FDC Nashville Global

                    Certain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.

                    '
                reconciliationId:
                  type: string
                  maxLength: 60
                  description: 'Reference number for the transaction.

                    Depending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.

                    The actual value used in the request to the processor is provided back to you by Cybersource in the response.

                    '
                returnReconciliationId:
                  type: string
                  description: A new ID which is created for refund
                pausedRequestId:
                  type: string
                  maxLength: 26
                  description: 'Used to resume a transaction that was paused for an order modification rule to allow for payer authentication to complete. To resume and continue with the authorization/decision service flow, call the services and include the request id from the prior decision call.

                    '
                transactionId:
                  type: string
                  maxLength: 30
                  description: 'Identifier that you assign to the transaction. Normally generated by a client server to identify a unique API request.


                    **Note** Use this field only if you want to support merchant-initiated reversal and void operations.


                    #### Used by

                    **Authorization, Authorization Reversal, Capture, Credit, and Void**

                    Optional field.


                    #### PIN Debit

                    For a PIN debit reversal, your request must include a request ID or a merchant transaction identifier.

                    Optional field for PIN debit purchase or credit requests.

                    '
                comments:
                  type: string
                  description: Brief description of the order or any comment you wish to add to the order.
                partner:
                  type: object
                  properties:
                    originalTransactionId:
                      type: string
                      maxLength: 32
                      description: 'Value that links the previous transaction to the current follow-on request. This value is assigned by the client

                        software that is installed on the POS terminal, which makes it available to the terminal''s software and to

                        CyberSource. Therefore, you can use this value to reconcile transactions between CyberSource and the terminal''s

                        software.


                        CyberSource does not forward this value to the processor. Instead, the value is forwarded to the CyberSource

                        reporting functionality.


                        This field is supported only on these processors:

                        - American Express Direct

                        - Credit Mutuel-CIC

                        - FDC Nashville Global

                        - OmniPay Direct

                        - SIX


                        Optional field.

                        '
                    developerId:
                      type: string
                      maxLength: 8
                      description: 'Identifier for the developer that helped integrate a partner solution to CyberSource.


                        Send this value in all requests that are sent through the partner solutions built by that developer.

                        CyberSource assigns the ID to the developer.


                        **Note** When you see a developer ID of 999 in reports, the developer ID that was submitted is incorrect.

                        '
                    solutionId:
                      type: string
                      maxLength: 8
                      description: 'Identifier for the partner that is integrated to CyberSource.


                        Send this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.


                        **Note** When you see a solutionId of 999 in reports, the solutionId that was submitted is incorrect.

                        '
                    thirdPartyCertificationNumber:
                      type: string
                      maxLength: 12
                      description: 'Value that identifies the application vendor and application version for a third party gateway.

                        CyberSource provides you with this value during testing and validation.

                        This field is supported only on CyberSource through VisaNet.


                        #### Used by

                        **Authorization, Authorization Reversal, Capture, Credit, Incremental Authorization, and Void**

                        Optional field.


                        #### PIN debit

                        Required field for PIN debit credit, PIN debit purchase, or PIN debit reversal request.

                        '
                applicationName:
                  type: string
                  description: 'The name of the Connection Method client (such as Virtual Terminal or SOAP Toolkit API) that the merchant uses to send a transaction request to CyberSource.

                    '
                applicationVersion:
                  type: string
                  description: 'Version of the CyberSource application or integration used for a transaction.

                    '
                applicationUser:
                  type: string
                  description: 'The entity that is responsible for running the transaction and submitting the processing request to CyberSource. This could be a person, a system, or a connection method.

                    '
            processingInformation:
              type: object
              properties:
                actionList:
                  type: array
                  description: "Array of actions (one or more) to be included in the payment to invoke bundled services along with payment status.\n\nPossible values are one or more of follows:\n\n - `AP_REFUND`: Use this when Alternative Payment Refund service is requested.\n"
                  items:
                    type: string
                paymentSolution:
                  type: string
                  maxLength: 12
                  description: "Type of digital payment solution for the transaction. Possible Values:\n\n - `visacheckout`: Visa Checkout. This value is required for Visa Checkout transactions. For details, see `payment_solution` field description in [Visa Checkout Using the REST API.](https://developer.cybersource.com/content/dam/docs/cybs/en-us/apifields/reference/all/rest/api-fields.pdf)\n - `001`: Apple Pay.\n - `004`: Cybersource In-App Solution.\n - `005`: Masterpass. This value is required for Masterpass transactions on OmniPay Direct. \n - `006`: Android Pay.\n - `007`: Chase Pay.\n - `008`: Samsung Pay.\n - `012`: Google Pay.\n - `013`: Cybersource P2PE Decryption\n - `014`: Mastercard credential on file (COF) payment network token. Returned in authorizations that use a payment network token associated with a TMS token.\n - `015`: Visa credential on file (COF) payment network token. Returned in authorizations that use a payment network token associated with a TMS token.\n - `027`: Click to Pay.\n"
                reconciliationId:
                  type: string
                  maxLength: 60
                  description: 'Please check with Cybersource customer support to see if your merchant account is configured correctly so you

                    can include this field in your request.

                    * For Payouts: max length for FDCCompass is String (22).

                    '
                linkId:
                  type: string
                  maxLength: 26
                  description: 'Value that links the current authorization request to the original authorization request. Set this value

                    to the ID that was returned in the reply message from the original authorization request.


                    This value is used for:


                    - Partial authorizations

                    - Split shipments

                    '
                reportGroup:
                  type: string
                  maxLength: 25
                  description: 'Attribute that lets you define custom grouping for your processor reports. This field is supported only for **Worldpay VAP**.

                    '
                visaCheckoutId:
                  type: string
                  maxLength: 48
                  description: 'Identifier for the **Visa Checkout** order. Visa Checkout provides a unique order ID for every transaction in

                    the Visa Checkout **callID** field.

                    '
                purchaseLevel:
                  type: string
                  maxLength: 1
                  description: Set this field to 3 to indicate that the request includes Level III data.
                recurringOptions:
                  type: object
                  properties:
                    loanPayment:
                      type: boolean
                      description: 'Flag that indicates whether this is a payment towards an existing contractual loan.


                        Possible values:

                        - `true`: Loan payment

                        - `false`: (default) Not a loan payment

                        '
                      default: false
                industryDataType:
                  type: string
                  maxLength: 20
                  description: 'Indicates that the transaction includes industry-specific data.


                    Possible Values:

                    - `airline`

                    - `restaurant`

                    - `lodging`

                    - `auto_rental`

                    - `transit`

                    - `healthcare_medical`

                    - `healthcare_transit`

                    - `transit`


                    #### Card Present, Airlines and Auto Rental

                    You must set this field to `airline` in order for airline data to be sent to the processor. For example, if this

                    field is not set to `airline` or is not included in the request, no airline data is sent to the processor.


                    You must set this field to `restaurant` in order for restaurant data to be sent to the processor. When this field

                    is not set to `restaurant` or is not included in the request, no restaurant data is sent to the processor.


                    You must set this field to `auto_rental` in order for auto rental data to be sent to the processor. For example, if this

                    field is not set to `auto_rental` or is not included in the request, no auto rental data is sent to the processor.


                    Restaurant data is supported only on CyberSource through VisaNet.

                    '
                paymentType:
                  type: string
                  description: Identifier for the payment type
                refundOptions:
                  type: object
                  properties:
                    reason:
                      type: string
                      description: The reason for the refund.
                transactionTypeIndicator:
                  type: string
                  maxLength: 3
                  description: 'This field is used identify the type of payment transaction taking place. This field is applicable for MasterCard transactions only.

                    Possible values:

                    - 201- Mastercard Rebate

                    - 202- rePower Load Value

                    - 203- Gaming Re-pay

                    - 204- General Person-to-Person

                    - 205- General Transfer to Own Account

                    - 206- Agent Cash Out

                    - 207- Payment of Own Credit Card Bill

                    - 208- Business Disbursement

                    - 209- Government/Non-Profit Disbursement

                    - 210- Rapid Merchant Settlement

                    - 211- Cash in at ATM (Usage limited to specific countries)

                    - 212- Cash in at Point of Sale (Usage limited to specific countries)

                    - 213- General Business to Business Transfer

                    - 214- Mastercard Merchant Presented QR

                    - 215- Mastercard Merchant Presented QR Refund Payment

                    - 216- Utility Payments (for Brazil domestic use only)

                    - 217- Government Services (for Brazil domestic use only)

                    - 218- Mobile phone top-ups (for Brazil domestic use only)

                    - 219- Coupon booklet payments (for Brazil domestic use only)

                    - 220- General Person-to-Person Transfer

                    - 221- Person-to-Person Transfer to Card Account

                    - 222- General Transfer to Own Account

                    - 223- Agent Cash Out

                    - 224- Payment of Own Credit Card Bill

                    - 225- Business Disbursement

                    - 226- Transfer to Own Staged Digital Wallet Account

                    - 227- Transfer to Own Debit or Prepaid Account

                    - 228- General Business-to-Business Transfer

                    - 229- Installment-based repayment

                    - 230- Mastercard ATM Cash Pick-Up Transaction

                    - 231- Cryptocurrency

                    - 232- High-risk Securities

                    '
                merchantVerificationValue:
                  type: string
                  maxLength: 25
                  description: 'The override value of the Merchant Verification Value (MVV) received by various card brands. MVV refers to the value assigned by the card brand/network to identify participation in select merchant programs.


                    Sample value for Visa: `101010`

                    '
            paymentInformation:
              type: object
              properties:
                card:
                  type: object
                  properties:
                    number:
                      type: string
                      maxLength: 20
                      description: 'The customer''s payment card number, also known as the Primary Account Number (PAN). You can also use this field

                        for encoded account numbers.


                        #### FDMS Nashville

                        Required. String (19)


                        #### GPX

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.


                        #### All other processors

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.

                        '
                    expirationMonth:
                      type: string
                      maxLength: 2
                      description: 'Two-digit month in which the payment card expires.


                        Format: `MM`.


                        Valid values: `01` through `12`. Leading 0 is required.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value

                        (`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is

                        in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause

                        the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (_type_=039), if there is no expiration date on the card, use `12`.


                        #### FDMS Nashville

                        Required field.


                        #### All other processors

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.

                        '
                    expirationYear:
                      type: string
                      maxLength: 4
                      description: 'Four-digit year in which the payment card expires.


                        Format: `YYYY`.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`1900` through `3000`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (**_type_**`=039`), if there is no expiration date on the card, use `2021`.


                        #### FDMS Nashville

                        Required field.


                        #### FDC Nashville Global and FDMS South

                        You can send in 2 digits or 4 digits. If you send in 2 digits, they must be the last 2 digits of the year.


                        #### All other processors

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.

                        '
                    type:
                      type: string
                      description: 'Three-digit value that indicates the card type.


                        **IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is

                        optional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.


                        Possible values:

                        - `001`: Visa. Use card type value `001` for Visa Electron.

                        - `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.

                        - `003`: American Express

                        - `004`: Discover

                        - `005`: Diners Club

                        - `006`: Carte Blanche[^1]

                        - `007`: JCB[^1]

                        - `008`: Optima

                        - `009`: GE Private Label

                        - `010`: Beneficial Private Label

                        - `011`: Twinpay Credit Card

                        - `012`: Twinpay Debit Card

                        - `013`: WalMart

                        - `014`: Enroute[^1]

                        - `015`: Lowe''s Consumer

                        - `016`: Home Depot Consumer

                        - `017`: MBNA

                        - `018`: Dick''s Sportswear

                        - `019`: Casual Corner

                        - `020`: Sears

                        - `021`: JAL[^1]

                        - `023`: Disney Card

                        - `024`: Maestro (UK Domestic)[^1]

                        - `025`: Sam''s Club Consumer

                        - `026`: Sam''s Club Business

                        - `027`: Nico''s

                        - `028`: Paymentech Bill Me Later

                        - `029`: Bebe

                        - `030`: Restoration Hardware

                        - `031`: Delta Online

                        - `032`: Solo

                        - `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.

                        - `034`: Dankort[^1]

                        - `035`: Laser

                        - `036`: Cartes Bancaires[^1,4]

                        - `037`: Carta Si[^1]

                        - `038`: Pinless Debit

                        - `039`: Encoded account number[^1]

                        - `040`: UATP[^1]

                        - `041`: HOUSEHOLD

                        - `042`: Maestro (International)[^1]

                        - `043`: GE MONEY

                        - `044`: Korean Cards

                        - `045`: Style Cards

                        - `046`: JCrew

                        - `047`: Payeasecn eWallet

                        - `048`: Payeasecn Bank Transfer

                        - `049`: Meijer

                        - `050`: Hipercard[^2,3]

                        - `051`: Aura

                        - `052`: Redecard

                        - `053`: Orico card

                        - `054`: Elo[^3]

                        - `055`: Capitol One Private Label

                        - `056`: Carnet

                        - `057`: Costco Private Label

                        - `058`: Carnet

                        - `059`: ValueLink

                        - `060`: MADA

                        - `061`: RuPay

                        - `062`: China UnionPay

                        - `063`: Falabella Private Label

                        - `064`: Prompt Card

                        - `065`: Korean Domestic

                        - `066`: Banricompras

                        - `067`: MEEZA

                        - `068`: PayPak

                        - `070`: EFTPOS

                        - `071`: Codensa

                        - `072`: Olimpica

                        - `073`: Colsubsidio

                        - `074`: Tuya

                        - `075`: Sodexo

                        - `076`: Naranja

                        - `077`: Cabal

                        - `078`: DINELCO

                        - `079`: PANAL

                        - `080`: EPM

                        - `081`: Jaywan


                        [^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.

                        [^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.

                        [^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.

                        [^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.


                        #### Used by

                        **Authorization**

                        Required for Carte Blanche and JCB.

                        Optional for all other card types.


                        #### Card Present reply

                        This field is included in the reply message when the client software that is installed on the POS terminal uses

                        the token management service (TMS) to retrieve tokenized payment details. You must contact customer support to

                        have your account enabled to receive these fields in the credit reply message.


                        Returned by the Credit service.


                        This reply field is only supported by the following processors:

                        - American Express Direct

                        - Credit Mutuel-CIC

                        - FDC Nashville Global

                        - OmniPay Direct

                        - SIX


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.


                        #### GPX

                        This field only supports transactions from the following card types:

                        - Visa

                        - Mastercard

                        - AMEX

                        - Discover

                        - Diners

                        - JCB

                        - Union Pay International

                        '
                    accountEncoderId:
                      type: string
                      maxLength: 3
                      description: 'Identifier for the issuing bank that provided the customer''s encoded account number. Contact your processor for the bank''s ID.

                        '
                    issueNumber:
                      type: string
                      maxLength: 5
                      description: 'Number of times a Maestro (UK Domestic) card has been issued to the account holder. The card might or might not have an issue number. The number can consist of one or two digits, and the first digit might be a zero. When you include this value in your request, include exactly what is printed on the card. A value of 2 is different than a value of 02. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card.


                        **Note** The issue number is not required for Maestro (UK Domestic) transactions.

                        '
                    startMonth:
                      type: string
                      maxLength: 2
                      description: 'Month of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: MM`. Possible values: 01 through 12.


                        **Note** The start date is not required for Maestro (UK Domestic) transactions.

                        '
                    startYear:
                      type: string
                      maxLength: 4
                      description: 'Year of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: YYYY`.


                        **Note** The start date is not required for Maestro (UK Domestic) transactions.

                        '
                    sourceAccountType:
                      type: string
                      maxLength: 20
                      description: "Flag that specifies the type of account associated with the card. \nThe cardholder provides this information during the payment process.\n\nThis field is required in the following cases:\n  - Debit transactions on Cielo and Comercio Latino.\n  - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n  - Applicable only for CyberSource through VisaNet (CtV).\n\n**Note** Combo cards in Brazil contain credit and debit functionality in a single card. Visa systems use a credit bank\nidentification number (BIN) for this type of card. Using the BIN to determine whether a card is debit or\ncredit can cause transactions with these cards to be processed incorrectly. CyberSource strongly recommends\nthat you include this field for combo card transactions.\n\nPossible values include the following.\n\n - `CH`: Checking account\n - `CR`: Credit card account\n - `SA`: Saving account\n - `LI`: Line of credit or credit portion of combo card\n - `PP`: Prepaid card account or prepaid portion of combo card\n - `UA`: Universal account\n\nIf useAs is set to credit/debit and there is a value in SourceAccountType, the value in the SourceAccountType field will take precedence.\nIf useAs is set to CR/DB and there is a value in SourceAccountType, the value in the useAs field will take precedence.\n"
                    sourceAccountTypeDetails:
                      type: string
                      maxLength: 4
                      description: 'Type of account that is being used when the value for the override_payment_method field is line of credit (LI) or prepaid card (PP).

                        Possible values for line of credit:

                        - `AGRC`: Visa Agro Custeio

                        - `AGRE`: Visa Agro Electron

                        - `AGRI`: Visa Agro Investimento

                        - `AGRO`: Visa Agro

                        Possible values for prepaid card:

                        - `VVA`: Visa Vale Alimentacao

                        - `VVF`: Visa Vale Flex

                        - `VVR`: Visa Vale Refeicao

                        This field is supported only for combo card transactions in Brazil on CyberSource through VisaNet.

                        '
                    securityCode:
                      type: string
                      maxLength: 4
                      description: 'Card Verification Number.


                        #### FDMS Nashville

                        Required for American Express or if swiped; otherwise, optional.


                        #### Ingenico ePayments

                        Do not include this field when `commerceIndicator=recurring`.

                        **Note** Ingenico ePayments was previously called _Global Collect_.


                        #### TSYS Acquiring Solutions

                        Optional if pointOfSaleInformation.entryMode=keyed; otherwise, not used.


                        #### GPX

                        Optional.


                        #### All other processors:

                        Optional.

                        '
                    useAs:
                      type: string
                      maxLength: 20
                      description: "Flag that specifies the type of account associated with the card.  This field is available only for China UnionPay, Cielo, Comercio Latino and Visa Platform Connect.\nThe cardholder provides this information during the payment process.  This field is required for:\n - Debit transactions on Cielo and Comercio Latino.\n - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n\n**China UnionPayCard Transactions on China UnionPay:**\nPossible values:\n - C: Domestic credit card\n - D: Domestic debit card\n - F: International credit card\n - I: International debit card\n\nWhen the value is D, the e-commerce indicator and CAVV fields must be included in the authorization request.\nWhen the value is C, F or I the card verification number, expiration month and expiration year fields must in included in the authorization request.\n\n**Cielo and Comercio Latino Credit Card Transactions:**\nOn these processors, this field is supported only for authorizations.  Possible values:\n - CR: Credit card\n - DB: Debit card     \n\n**Visa Platform Connect Credit Card Transactions:**\nThis field is supported for all card types on Visa Platform Connect.\nFor combo **card present** transactions with Mastercard on Brazilian-issued cards, possible values:\n - CR: Credit card\n - DB: Debit Card\n\nFor combo **card not present** transactions with Mastercard on Brazilian-issued cards, possible values:\n - C: Credit card\n - D: Debit card\n\nA value of CR or DB in the useAs field takes precedence over any value in the Source Account Type field.\n"
                bank:
                  type: object
                  properties:
                    account:
                      type: object
                      properties:
                        type:
                          type: string
                          maxLength: 1
                          description: "Account type.\n\nPossible values:\n - **C**: Checking.\n - **G**: General ledger. This value is supported only on Wells Fargo ACH.\n - **S**: Savings (U.S. dollars only).\n - **X**: Corporate checking (U.S. dollars only).\n"
                        number:
                          type: string
                          maxLength: 30
                          description: 'Account number.


                            When processing encoded account numbers, use this field for the encoded account number.

                            '
                        encoderId:
                          type: string
                          maxLength: 3
                          description: 'Identifier for the bank that provided the customer''s encoded account number.


                            To obtain the bank identifier, contact your processor.

                            '
                        checkNumber:
                          type: string
                          maxLength: 8
                          description: 'Check number.


                            Chase Paymentech Solutions - Optional.

                            CyberSource ACH Service - Not used.

                            RBS WorldPay Atlanta - Optional on debits. Required on credits.

                            TeleCheck - Strongly recommended on debit requests. Optional on credits.

                            '
                        checkImageReferenceNumber:
                          type: string
                          maxLength: 32
                          description: 'Image reference number associated with the check. You cannot include any special characters.

                            '
                    routingNumber:
                      type: string
                      maxLength: 9
                      description: 'Bank routing number. This is also called the _transit number_.

                        '
                    iban:
                      type: string
                      maxLength: 50
                      description: 'International Bank Account Number (IBAN) for the bank account. For some countries you can provide this number instead of the traditional bank account information. You can use this field only when scoring a direct debit transaction.

                        '
                    swiftCode:
                      type: string
                      description: 'Bank''s SWIFT code. You can use this field only when scoring a direct debit transaction.

                        Required only for crossborder transactions.

                        '
                tokenizedCard:
                  type: object
                  properties:
                    number:
                      type: string
                      maxLength: 20
                      description: 'Customer''s payment network token value.

                        '
                    expirationMonth:
                      type: string
                      maxLength: 2
                      description: 'One of two possible meanings:

                        - The two-digit month in which a token expires.

                        - The two-digit month in which a card expires.

                        Format: `MM`

                        Possible values: `01` through `12`


                        **NOTE** The meaning of this field is dependent on the payment processor that is returning the value in an authorization reply. Please see the processor-specific details below.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (`card_type=039`), if there is no expiration date on the card, use `12`.\

                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Samsung Pay and Apple Pay

                        Month in which the token expires. CyberSource includes this field in the reply message when it decrypts the payment blob for the tokenized transaction.

                        '
                    expirationYear:
                      type: string
                      maxLength: 4
                      description: 'One of two possible meanings:

                        - The four-digit year in which a token expires.

                        - The four-digit year in which a card expires.

                        Format: `YYYY`

                        Possible values: `1900` through `3000`

                        Data type: Non-negative integer


                        **NOTE** The meaning of this field is dependent on the payment processor that is returning the value in an authorization reply. Please see the processor-specific details below.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (1900 through

                        3000) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (`card_ type=039`), if there is no expiration date on the card, use `2021`.


                        #### FDC Nashville Global and FDMS South

                        You can send in 2 digits or 4 digits. When you send in 2 digits, they must be the last 2 digits of

                        the year.


                        #### Samsung Pay and Apple Pay

                        Year in which the token expires. CyberSource includes this field in the reply message when it decrypts the payment blob for the tokenized transaction.


                        **Important** It is your responsibility to determine whether a field is required for the transaction

                        you are requesting.

                        '
                    type:
                      type: string
                      description: 'Three-digit value that indicates the card type.


                        **IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is

                        optional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.


                        Possible values:

                        - `001`: Visa. Use card type value `001` for Visa Electron.

                        - `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.

                        - `003`: American Express

                        - `004`: Discover

                        - `005`: Diners Club

                        - `006`: Carte Blanche[^1]

                        - `007`: JCB[^1]

                        - `008`: Optima

                        - `009`: GE Private Label

                        - `010`: Beneficial Private Label

                        - `011`: Twinpay Credit Card

                        - `012`: Twinpay Debit Card

                        - `013`: WalMart

                        - `014`: Enroute[^1]

                        - `015`: Lowe''s Consumer

                        - `016`: Home Depot Consumer

                        - `017`: MBNA

                        - `018`: Dick''s Sportswear

                        - `019`: Casual Corner

                        - `020`: Sears

                        - `021`: JAL[^1]

                        - `023`: Disney Card

                        - `024`: Maestro (UK Domestic)[^1]

                        - `025`: Sam''s Club Consumer

                        - `026`: Sam''s Club Business

                        - `027`: Nico''s

                        - `028`: Paymentech Bill Me Later

                        - `029`: Bebe

                        - `030`: Restoration Hardware

                        - `031`: Delta Online

                        - `032`: Solo

                        - `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.

                        - `034`: Dankort[^1]

                        - `035`: Laser

                        - `036`: Cartes Bancaires[^1,4]

                        - `037`: Carta Si[^1]

                        - `038`: Pinless Debit

                        - `039`: Encoded account number[^1]

                        - `040`: UATP[^1]

                        - `041`: HOUSEHOLD

                        - `042`: Maestro (International)[^1]

                        - `043`: GE MONEY

                        - `044`: Korean Cards

                        - `045`: Style Cards

                        - `046`: JCrew

                        - `047`: Payeasecn eWallet

                        - `048`: Payeasecn Bank Transfer

                        - `049`: Meijer

                        - `050`: Hipercard[^2,3]

                        - `051`: Aura

                        - `052`: Redecard

                        - `053`: Orico card

                        - `054`: Elo[^3]

                        - `055`: Capitol One Private Label

                        - `056`: Carnet

                        - `057`: Costco Private Label

                        - `058`: Carnet

                        - `059`: ValueLink

                        - `060`: MADA

                        - `061`: RuPay

                        - `062`: China UnionPay

                        - `063`: Falabella Private Label

                        - `064`: Prompt Card

                        - `065`: Korean Domestic

                        - `066`: Banricompras

                        - `067`: MEEZA

                        - `068`: PayPak

                        - `070`: EFTPOS

                        - `071`: Codensa

                        - `072`: Olimpica

                        - `073`: Colsubsidio

                        - `074`: Tuya

                        - `075`: Sodexo

                        - `076`: Naranja

                        - `077`: Cabal

                        - `078`: DINELCO

                        - `079`: PANAL

                        - `080`: EPM

                        - `081`: Jaywan


                        [^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.

                        [^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.

                        [^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.

                        [^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.


                        #### Used by

                        **Authorization**

                        Required for Carte Blanche and JCB.

                        Optional for all other card types.


                        #### Card Present reply

                        This field is included in the reply message when the client software that is installed on the POS terminal uses

                        the token management service (TMS) to retrieve tokenized payment details. You must contact customer support to

                        have your account enabled to receive these fields in the credit reply message.


                        Returned by the Credit service.


                        This reply field is only supported by the following processors:

                        - American Express Direct

                        - Credit Mutuel-CIC

                        - FDC Nashville Global

                        - OmniPay Direct

                        - SIX


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.


                        #### GPX

                        This field only supports transactions from the following card types:

                        - Visa

                        - Mastercard

                        - AMEX

                        - Discover

                        - Diners

                        - JCB

                        - Union Pay International

                        '
                    cryptogram:
                      type: string
                      maxLength: 255
                      description: This field contains token information.
                    requestorId:
                      type: string
                      maxLength: 11
                      description: 'Value that identifies your business and indicates that the cardholder''s account number is tokenized. This value

                        is assigned by the token service provider and is unique within the token service provider''s database.


                        **Note** This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.


                        #### PIN debit

                        Optional field for PIN debit credit or PIN debit purchase transactions that use payment network tokens; otherwise, not used.

                        '
                    transactionType:
                      type: string
                      maxLength: 1
                      description: 'Type of transaction that provided the token data. This value does not specify the token service provider; it specifies the entity that

                        provided you with information about the token.


                        Possible value:

                        - `2`: Near-field communication (NFC) transaction. The customer''s mobile device provided the token data for a contactless EMV transaction. For recurring

                        transactions, use this value if the original transaction was a contactless EMV transaction.


                        #### Visa Platform Connect

                        - `1`: For Rupay and In App tokenization. Example: InApp apple pay.

                        - `3`: Card/Credential On File Tokenization.


                        **NOTE** No CyberSource through VisaNet acquirers support EMV at this time.


                        Required field for PIN debit credit or PIN debit purchase transactions that use payment network tokens; otherwise, not used.


                        #### Rupay

                        - `3`: Card/Credential On File Tokenization.

                        - `4`: Tokenizined Transaction. Should be used for Guest Checkout transactions with token.

                        '
                    assuranceLevel:
                      type: string
                      maxLength: 2
                      description: 'Confidence level of the tokenization. This value is assigned by the token service provider.


                        **Note** This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.


                        Returned by PIN debit credit or PIN debit purchase.


                        **Note** Merchants supported for **CyberSource through VisaNet**/**Visa Platform Connect** are advised not to use this field.

                        '
                    storageMethod:
                      type: string
                      maxLength: 3
                      description: "Type of technology used in the device to store token data. Possible values:\n\n- `001`: Secure Element (SE). Smart card or memory with restricted access and encryption to prevent data tampering. For storing payment\n   credentials, a SE is tested against a set of requirements defined by the payment networks.\n\n   **Note** This field is supported only for _FDC Compass_.\n\n- 002: Host Card Emulation (HCE). Emulation of a smart card by using software to create a virtual and exact representation of the card.\nSensitive data is stored in a database that is hosted in the cloud. For storing payment credentials, a database\nmust meet very stringent security requirements that exceed PCI DSS.\n\n**Note** This field is supported only for _FDC Compass_.\n"
                    securityCode:
                      type: string
                      maxLength: 4
                      description: 'Card Verification Number (CVN).


                        #### Ingenico ePayments

                        Do not include this field when **commerceIndicator=recurring**.

                        **Note** Ingenico ePayments was previously called _Global Collect_.

                        '
                    securityCodeIndicator:
                      type: string
                      maxLength: 1
                      description: "Indicates whether a CVN code was sent. Possible values:\n\n - `0` (default): CVN service not requested. This default value is used when you do not include\n     `securityCode` field in the request.\n - `1` (default): CVN service requested and supported. This default value is used when you include\n     `securityCode` field in the request.\n - `2`: CVN on credit card is illegible.\n - `9`: CVN was not imprinted on credit card.\n\n#### FDMS Nashville\nRequired for American Express cards; otherwise, optional.\n\n#### TSYS Acquiring Solutions\nOptional if `pointOfSaleInformation.entryMode=keyed`; otherwise, not used.\n\n#### All other processors\nOptional.\n"
                    assuranceMethod:
                      type: string
                      maxLength: 2
                      description: 'Confidence level of the tokenization. This value is assigned by the token service provider.


                        **Note** This field is supported only for **Visa Platform Connect**

                        '
                fluidData:
                  type: object
                  properties:
                    keySerialNumber:
                      type: string
                      description: 'The encoded or encrypted value that a payment solution returns for an authorization request. For details about the valid values for a key, see [Creating an Online Authorization](https://developer.cybersource.com/api/developer-guides/dita-payments/CreatingOnlineAuth.html)

                        '
                    descriptor:
                      type: string
                      maxLength: 128
                      description: 'The identifier for a payment solution, which is sending the encrypted payment data for decryption. Valid values:

                        Samsung Pay: RklEPUNPTU1PTi5TQU1TVU5HLklOQVBQLlBBWU1FTlQ=

                        Note: For other payment solutions, the value may be specific to the terminal or device initiatinf the payment. For example, the descriptor for a Bluefin payment encryption would be a device-generated descriptor.

                        Used by Authorization and Standalone Credits. Required for authorizations and standalone credits.


                        Card Present processing:

                        Format of the encrypted payment data.

                        The value for Bluefin PCI P2PE is `Ymx1ZWZpbg==`. paymentInformation.fluidData.encoding must be `Base64`.

                        The value for Cybersource P2PE decryption depends on the encoding method used and identified in encoding field.

                        If paymentInformation.fluidData.encoding is `Base64`, the value is: `RklEPUVNVi5QQVlNRU5ULkFQSQ==`

                        If paymentInformation.fluidData.encoding is `HEX`, the value is: `4649443D454D562E5041594D454E542E41504`

                        '
                    value:
                      type: string
                      maxLength: 4000
                      description: 'Represents the encrypted payment data BLOB. The entry for this field is dependent on the payment solution used by the merchant.

                        Used by Authorization and Standalone Credits. Required for authorizations and standalone credits that use a Cybersource suppored Point-to-Point encryption method.

                        Card Present processing

                        This field represents the encrypted payment data generated by the payment terminal/device.

                        '
                    encoding:
                      type: string
                      maxLength: 6
                      description: 'Encoding method used to encrypt the payment data.

                        Valid values: `Base64`, `HEX`

                        If no value is provided, `Base64` is taken as the default value. And the `Base64` descriptor is used for paymentInformation.fluidData.encoding

                        '
                customer:
                  type: object
                  properties:
                    customerId:
                      type: string
                      description: 'Unique identifier for the customer''s card and billing information.


                        When you use Payment Tokenization or Recurring Billing and you include this value in

                        your request, many of the fields that are normally required for an authorization or credit

                        become optional.


                        **NOTE** When you use Payment Tokenization or Recurring Billing, the value for the Customer ID is actually the Cybersource payment token for a customer. This token stores information such as the consumer''s card number so it can be applied towards bill payments, recurring payments, or one-time payments. By using this token in a payment API request, the merchant doesn''t need to pass in data such as the card number or expiration date in the request itself.

                        '
                    id:
                      type: string
                      description: 'Unique identifier for the Customer token used in the transaction.

                        When you include this value in your request, many of the fields that are normally required for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                paymentInstrument:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 'Unique identifier for the Payment Instrument token used in the transaction.

                        When you include this value in your request, many of the fields that are normally required for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                instrumentIdentifier:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 'Unique identifier for the Instrument Identifier token used in the transaction.

                        When you include this value in your request, many of the fields that can be supplied for an authorization or credit

                        become optional.

                        '
                      minLength: 12
                      maxLength: 32
                shippingAddress:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 'Unique identifier for the Customers Shipping Address token used in the transaction.

                        When you include this value in your request, many of the shipping fields that can be supplied for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                legacyToken:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 'Unique identifier for the legacy Secure Storage token used in the transaction.

                        When you include this value in your request, many of the fields that are normally required for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                paymentType:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 'A Payment Type is an agreed means for a payee to receive legal tender from a payer. The way one pays for a commercial financial transaction. Examples: Card, Bank Transfer, Digital, Direct Debit.

                        Possible values:

                        - `CARD` (use this for a PIN debit transaction)

                        - `CHECK` (use this for all eCheck payment transactions - ECP Debit, ECP Follow-on Credit, ECP StandAlone Credit)

                        - `bankTransfer` (use for Online Bank Transafer for methods such as P24, iDeal, Estonia Bank, KCP)

                        - `localCard` (KCP Local card via Altpay)

                        - `carrierBilling` (KCP Carrier Billing via Altpay)

                        '
                    subTypeName:
                      type: string
                      description: 'In case the APM supports multiple modes of initiation (e.g. Alipay via QR Code or Barcode)

                        '
                    method:
                      type: object
                      properties:
                        name:
                          type: string
                          description: 'A Payment Type is enabled through a Method. Examples: Visa, Master Card, ApplePay, iDeal, 7Eleven, alfamart, bofaPayByBank, payToPayByBank, etc


                            For Japan Payment Processing Valid Values:

                            - 1 Banking Data

                            - 2 Authorization Data


                            #### Via KCP

                            - `KCP` : Local Card, Bank Transfer and Carrier Billing.

                            - `PAYCO`

                            - `KAKAOPAY`

                            - `NAVERPAY`

                            '
                eWallet:
                  type: object
                  properties:
                    fundingSource:
                      type: string
                      maxLength: 30
                      description: Payment mode for the authorization or order transaction.  INSTANT_TRANSFER  MANUAL_BANK_TRANSFER  DELAYED_TRANSFER  ECHECK  UNRESTRICTED (default)—this value is available only when configured by PayPal for the merchant. INSTANT
                paymentAccountReference:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 29
                      description: 'A Payment Account Reference number (PAR) is a unique reference value associated with a specific card holder PAN. It identifies the card account, not just a card. PAR is a non-payment identifier that can be associated to PANs and tokens, as defined by EMVCo. PAR allows all participants in the payments chain to have a single, non-sensitive value assigned to a consumer. This value can be used in place of sensitive card holder identification fields, and transmitted across the payments ecosystem to facilitate card holder identification.

                        '
                thirdPartyToken:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 16
                      description: 'When a third party is being used for tokenization, this field contains the token ID. See tokenInformation.thirdPartyToken.source to identify the provider.

                        '
                initiationChannel:
                  type: string
                  maxLength: 2
                  description: 'Mastercard-defined code that indicates how the account information was obtained for credit authorization transactions.


                    Possible values:

                    - `00`: Card (default)

                    - `01`: Mobile network operator (MNO) controlled removable secure element (SIM or UICC) personalized for use with a mobile phone or smartphone

                    - `02`: Key fob

                    - `03`: Watch

                    - `04`: Mobile tag

                    - `05`: Wristband

                    - `06`: Mobile phone case or sleeve

                    - `07`: Mobile phone or smartphone with fixed (nonremovable) secure element controlled by the MNO (for example, code division multiple access (CDMA))

                    - `08`: Removable secure element not controlled by the MNO (for example, memory card personalized for use with a mobile phone or smartphone)

                    - `09`: Mobile phone or smartphone with a fixed (nonremovable) secure element not controlled by the MNO

                    - `10`: MNO-controlled removable secure element (SIM or UICC) personalized for use with a tablet or e-book

                    - `11`: Tablet or e-book with a fixed (nonremovable) secure element controlled by the MNO

                    - `12`: Removable secure element not controlled by the MNO (for example, memory card personalized for use with a tablet or e-book)

                    - `13`: Tablet or e-book with fixed (nonremovable) secure element not controlled by the MNO

                    - `14` - `99`: Reserved for future use


                    This field flows in ISO Field 104 DSID 65 Tag 04.


                    This field is supported for Mastercard credit authorization transactions.


                    #### Used by

                    **Credit Authorization (Standalone)**

                    Optional field.

                    '
            orderInformation:
              type: object
              properties:
                amountDetails:
                  type: object
                  properties:
                    totalAmount:
                      type: string
                      maxLength: 19
                      description: "Grand total for the order. This value cannot be negative. You can include a decimal point (.), but no other special characters.\nCyberSource truncates the amount to the correct number of decimal places.\n\n**Note** For CTV, FDCCompass, Paymentech processors, the maximum length for this field is 12.\n\n**Important** Some processors have specific requirements and limitations, such as maximum amounts and maximum field lengths.\n\nIf your processor supports zero amount authorizations, you can set this field to 0 for the authorization to check if the card is lost or stolen. \n\n#### Card Present\nRequired to include either this field or `orderInformation.lineItems[].unitPrice` for the order.\n\n#### Invoicing / Pay By Link\nRequired for creating a new invoice or payment link.\n\n#### PIN Debit\nAmount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount.\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit; however, for all other processors, these fields are required.\n\n#### DCC with a Third-Party Provider\nSet this field to the converted amount that was returned by the DCC provider. You must include either this field or the 1st line item in the order and the specific line-order amount in your request. \n\n#### DCC for First Data\nNot used.\n"
                    currency:
                      type: string
                      maxLength: 3
                      description: 'Currency used for the order. Use the three-character [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)


                        #### Used by

                        **Authorization**

                        Required field.


                        **Authorization Reversal**

                        For an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.


                        #### PIN Debit

                        Currency for the amount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount. For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).

                        Returned by PIN debit purchase.


                        For PIN debit reversal requests, you must use the same currency that was used for the PIN debit purchase or PIN debit credit that you are reversing.

                        For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).


                        Required field for PIN Debit purchase and PIN Debit credit requests.

                        Optional field for PIN Debit reversal requests.


                        #### GPX

                        This field is optional for reversing an authorization or credit.


                        #### DCC for First Data

                        Your local currency.


                        #### Tax Calculation

                        Required for international tax and value added tax only.

                        Optional for U.S. and Canadian taxes.

                        Your local currency.

                        '
                    discountAmount:
                      type: string
                      maxLength: 15
                      description: 'Total discount amount applied to the order.

                        '
                    dutyAmount:
                      type: string
                      maxLength: 15
                      description: 'Total charges for any import or export duties included in the order.

                        '
                    gratuityAmount:
                      type: string
                      maxLength: 13
                      description: 'Gratuity or tip amount for restaurants. Allowed only when industryDatatype=restaurant.

                        When your customer uses a debit card or prepaid card, and you receive a partial authorization, the payment networks recommend that you do not

                        submit a capture amount that is higher than the authorized amount. When the capture amount exceeds the partial amount that was approved, the

                        issuer has chargeback rights for the excess amount.


                        Used by **Capture**

                        Optional field.


                        #### CyberSource through VisaNet

                        Restaurant data is supported only on CyberSource through VisaNet when card is present.

                        '
                    taxAmount:
                      type: string
                      maxLength: 12
                      description: 'Total tax amount for all the items in the order.

                        '
                    nationalTaxIncluded:
                      type: string
                      maxLength: 1
                      description: "Flag that indicates whether a national tax is included in the order total.\n\nPossible values:\n\n - **0**: national tax not included\n - **1**: national tax included\n"
                    taxAppliedAfterDiscount:
                      type: string
                      maxLength: 1
                      description: "Flag that indicates how the merchant manages discounts.\n\nPossible values:\n\n - **0**: no invoice level discount included\n - **1**: tax calculated on the postdiscount invoice total\n - **2**: tax calculated on the prediscount invoice total\n"
                    taxAppliedLevel:
                      type: string
                      maxLength: 1
                      description: "Flag that indicates how you calculate tax.\n\nPossible values:\n\n - **0**: net prices with tax calculated at line item level\n - **1**: net prices with tax calculated at invoice level\n - **2**: gross prices with tax provided at line item level\n - **3**: gross prices with tax provided at invoice level\n - **4**: no tax applies on the invoice for the transaction\n"
                    taxTypeCode:
                      type: string
                      maxLength: 3
                      description: "For tax amounts that can be categorized as one tax type.\n\nThis field contains the tax type code that corresponds to the entry in the _lineItems.taxAmount_ field.\n\nPossible values:\n\n - **056**: sales tax (U.S only)\n - **TX~**: all taxes (Canada only)   Note ~ = space.\n"
                    freightAmount:
                      type: string
                      maxLength: 13
                      description: 'Total freight or shipping and handling charges for the order. When you include this field in your request, you

                        must also include the **totalAmount** field.

                        '
                    foreignAmount:
                      type: string
                      maxLength: 15
                      description: 'Set this field to the converted amount that was returned by the DCC provider.

                        '
                    foreignCurrency:
                      type: string
                      maxLength: 5
                      description: 'Set this field to the converted amount that was returned by the DCC provider.

                        '
                    exchangeRate:
                      type: string
                      maxLength: 13
                      description: 'Exchange rate returned by the DCC service. Includes a decimal point and a maximum of 4 decimal places.

                        '
                    exchangeRateTimeStamp:
                      type: string
                      maxLength: 16
                      description: 'Time stamp for the exchange rate. This value is returned by the DCC service.


                        Format: `YYYYMMDD~HH:MM`  where ~ denotes a space.

                        '
                    amexAdditionalAmounts:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: string
                            maxLength: 3
                            description: 'Additional amount type. This field is supported only for **American Express Direct**.

                              '
                          amount:
                            type: string
                            maxLength: 12
                            description: 'Additional amount. This field is supported only for **American Express Direct**.

                              '
                    taxDetails:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            description: 'Indicates the type of tax data for the _taxDetails_ object.


                              Possible values:


                              - `alternate`

                              - `local`

                              - `national`

                              - `vat`

                              - `other`

                              - `green`

                              '
                          amount:
                            type: string
                            maxLength: 13
                            description: 'Indicates the amount of tax based on the `type` field as described in the table below:


                              | type      | type description |

                              | ------------- |:-------------:|

                              | `alternate` | Total amount of alternate tax for the order. |

                              | `local`     | Sales tax for the order. |

                              | `national`  | National tax for the order. |

                              | `vat`       | Total amount of value added tax (VAT) included in the order. |

                              | `other`     | Other tax. |

                              | `green`     | Green tax amount for Korean Processing. |

                              '
                          rate:
                            type: string
                            maxLength: 6
                            description: 'Rate of VAT or other tax for the order.


                              Example 0.040 (=4%)


                              Valid range: 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional

                              decimal places will be truncated)

                              '
                          code:
                            type: string
                            maxLength: 4
                            description: 'Type of tax being applied to the item.


                              #### FDC Nashville Global

                              - `alternate_tax_type_applied`

                              - `alternate_tax_type_identifier`


                              #### Worldpay VAP

                              - `alternate_tax_type_identifier`


                              #### RBS WorldPay Atlanta

                              - `tax_type_applied`


                              #### TSYS Acquiring Solutions

                              - `tax_type_applied`

                              - `local_tax_indicator`


                              #### Chase Paymentech Solutions

                              - `tax_type_applied`


                              #### Elavon Americas

                              - `local_tax_indicator`


                              #### FDC Compass

                              - `tax_type_applied`


                              #### OmniPay Direct

                              - `local_tax_indicator`

                              '
                          taxId:
                            type: string
                            maxLength: 15
                            description: 'Your tax ID number to use for the alternate tax amount. Required if you set alternate tax amount to any value,

                              including zero. You may send this field without sending alternate tax amount.

                              '
                          applied:
                            type: boolean
                            description: 'Flag that indicates whether the alternate tax amount (`orderInformation.amountDetails.taxDetails[].amount`) is

                              included in the request.


                              Possible values:

                              - `false`: alternate tax amount is not included in the request.

                              - `true`: alternate tax amount is included in the request.

                              '
                          exemptionCode:
                            type: string
                            maxLength: 1
                            description: 'Status code for exemption from sales and use tax. This field is a pass-through, which means that

                              CyberSource does not verify the value or modify it in any way before sending it to the processor.

                              '
                    serviceFeeAmount:
                      type: string
                      maxLength: 15
                      description: 'Service fee. Required for service fee transactions.

                        '
                    originalCurrency:
                      type: string
                      maxLength: 15
                      description: 'Your local pricing currency code.


                        For the possible values, see the [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)

                        '
                    cashbackAmount:
                      type: string
                      maxLength: 13
                      description: 'Cashback amount in the acquirer''s currency. If a cashback amount is included in the request, it must be included

                        in the `orderInformation.amountDetails.totalAmount` value.


                        This field is supported only on CyberSource through VisaNet.


                        #### Used by

                        **Authorization**

                        Optional.

                        **Authorization Reversal**

                        Optional.


                        #### PIN debit

                        Optional field for PIN debit purchase, PIN debit credit or PIN debit reversal.

                        '
                billTo:
                  type: object
                  properties:
                    title:
                      type: string
                      maxLength: 60
                      description: 'Title.

                        '
                    firstName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s first name. This name must be the same as the name on the card.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### SEPA

                        Required for Create Mandate and Import Mandate

                        #### BACS

                        Required for Import Mandate


                        #### CyberSource Latin American Processing

                        **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                        **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called _CyberSource Latin American Processing_. It is not for any other Latin American processors that CyberSource supports.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    middleName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s middle name.

                        '
                    lastName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s last name. This name must be the same as the name on the card.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### SEPA

                        Required for Create Mandate and Import Mandate

                        #### BACS

                        Required for Import Mandate

                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### CyberSource Latin American Processing

                        **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                        **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### OmniPay Direct

                        Optional field.


                        #### RBS WorldPay Atlanta

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    company:
                      type: object
                      properties:
                        name:
                          type: string
                          maxLength: 60
                          description: 'Name of the customer''s company.


                            **CyberSource through VisaNet**

                            Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.

                            '
                        address1:
                          type: string
                          maxLength: 40
                          description: First line in the street address of the company purchasing the product.
                        address2:
                          type: string
                          maxLength: 40
                          description: Additional address information for the company purchasing the product.
                        locality:
                          type: string
                          maxLength: 30
                          description: City in the address of the company purchasing the product.
                        administrativeArea:
                          type: string
                          maxLength: 50
                          description: 'State or province in the address of the company purchasing the product. Use the State, Province, and Territory

                            Codes for the United States and Canada.

                            '
                        postalCode:
                          type: string
                          maxLength: 10
                          description: 'Postal code in the address of the company purchasing the product. The postal code must consist of 5 to 9 digits.


                            When the company country is the U.S., the 9-digit postal code must follow this format:

                            **[5 digits][dash][4 digits]**

                            #### Example

                            `12345-6789`


                            When the company country is Canada, the 6-digit postal code must follow this format:

                            **[alpha][numeric][alpha][space][numeric][alpha][numeric]**

                            #### Example

                            `A1B 2C3`

                            '
                        country:
                          type: string
                          maxLength: 2
                          description: 'Country in the address of the company purchasing the product. Use the [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).

                            '
                    address1:
                      type: string
                      maxLength: 60
                      description: 'Payment card billing street address as it appears on the credit card issuer''s records.


                        #### SEPA

                        Required for Create Mandate and Import Mandate


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        **Important** When you populate orderInformation.billTo.address1 and orderInformation.billTo.address2,

                        CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                        CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                        Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        #### FDMS Nashville

                        When the street name is numeric, it must be sent in numeric format. For example, if the address is _One First Street_,

                        it must be sent as _1 1st Street_.


                        Required if keyed; not used if swiped.


                        String (20)


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### All other processors:

                        Optional.

                        String (60)


                        #### For Payouts

                        This field may be sent only for FDC Compass.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.

                        '
                    address2:
                      type: string
                      maxLength: 60
                      description: 'Used for additional address information. For example: _Attention: Accounts Payable_

                        Optional field.


                        For Payouts: This field may be sent only for FDC Compass.


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        **Important** When you populate `orderInformation.billTo.address1` and `orderInformation.billTo.address2`,

                        CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                        CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                        Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        #### Chase Paymentech Solutions, FDC Compass, and TSYS Acquiring Solutions

                        This value is used for AVS.


                        #### FDMS Nashville

                        `orderInformation.billTo.address1` and `orderInformation.billTo.address2` together cannot exceed 20 characters.

                        String (20)


                        #### All Other Processors

                        String (60)

                        '
                    locality:
                      type: string
                      maxLength: 50
                      description: 'Payment card billing city.


                        #### SEPA

                        Required for Create Mandate and Import Mandate


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    district:
                      type: string
                      maxLength: 50
                      description: 'Customer''s neighborhood, community, or region (a barrio in Brazil) within the city or municipality. This

                        field is available only on **Cielo**.

                        '
                    administrativeArea:
                      type: string
                      maxLength: 50
                      description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).


                        For Payouts: This field may be sent only for FDC Compass.


                        ##### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

[...]
