swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Net Fundings API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Net Fundings
  description: API for retrieving the netfunding data for an account or a merchant
paths:
  /reporting/v3/net-fundings:
    get:
      tags:
      - Net Fundings
      summary: Get Netfunding Information for an Account or a Merchant
      description: Get Netfunding information for an account or a merchant.
      operationId: getNetFundingDetails
      x-devcenter-metaData:
        categoryTag: Reporting
        enableDownload: true
        x-custom-headers:
          accept:
          - application/hal+json
          - application/xml
      x-queryParameterDefaults:
        organizationId: testrest
        startTime: '2019-08-01T00:00:00Z'
        endTime: '2019-09-01T23:59:59Z'
      produces:
      - application/hal+json
      - application/xml
      parameters:
      - name: startTime
        in: query
        description: "Valid report Start Time in **ISO 8601 format**\nPlease refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)\n\n**Example date format:**\n  - yyyy-MM-dd'T'HH:mm:ss.SSSZ (e.g. 2018-01-01T00:00:00.000Z)\n"
        required: true
        type: string
        format: date-time
      - name: endTime
        in: query
        description: "Valid report End Time in **ISO 8601 format**\nPlease refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)\n\n**Example date format:**\n  - yyyy-MM-dd'T'HH:mm:ss.SSSZ (e.g. 2018-01-01T00:00:00.000Z)\n"
        required: true
        type: string
        format: date-time
      - name: organizationId
        in: query
        description: Valid Organization Id
        pattern: '[a-zA-Z0-9-_]+'
        required: false
        type: string
        minLength: 1
        maxLength: 32
      - name: groupName
        in: query
        description: Valid CyberSource Group Name.
        required: false
        type: string
      responses:
        '200':
          description: Ok
          schema:
            title: reportingV3NetFundingsGet200Response
            type: object
            properties:
              startTime:
                type: string
                description: 'Valid report Start Date in **ISO 8601 format**.

                  Please refer the following link to know more about ISO 8601 format.[Rfc Date Format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)


                  **Example:**

                  - yyyy-MM-dd''T''HH:mm:ss.SSSZZ

                  '
                example: '2017-10-01T10:10:10+05:00'
                format: date-time
                xml:
                  attribute: true
              endTime:
                type: string
                description: 'Valid report End Date in **ISO 8601 format**

                  **Example date format:**

                  - yyyy-MM-dd''T''HH:mm:ss.SSSZZ

                  '
                example: '2018-04-12T23:20:50.52Z'
                format: date-time
                xml:
                  attribute: true
              netFundingSummaries:
                type: array
                description: List of Netfunding summary objects
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: 'Valid values:

                        - PURCHASES

                        - REFUNDS

                        - FEES

                        - CHARGEBACKS

                        '
                      example: PURCHASES
                    paymentSubType:
                      type: string
                      example: VI
                    conveyedCount:
                      type: integer
                      example: 10
                    conveyedAmount:
                      type: string
                      example: '100.50'
                    settledCount:
                      type: integer
                      example: 10
                    fundedCount:
                      type: integer
                      example: 10
                    fundedAmount:
                      type: string
                      example: '150.50'
                    currencyCode:
                      type: string
                      description: Valid ISO 4217 ALPHA-3 currency code
                      example: USD
                  xml:
                    name: NetFundingSummary
                xml:
                  name: NetFundingSummaries
                  wrapped: true
              totalPurchases:
                type: array
                description: List of total purchases currency wise
                items:
                  type: object
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                      description: Valid ISO 4217 ALPHA-3 currency code
                      example: USD
                    value:
                      type: string
                      example: '10.01'
                  xml:
                    name: Amount
                xml:
                  name: totalPurchases
                  wrapped: true
              totalRefunds:
                type: array
                description: List of total refunds currency wise
                items:
                  type: object
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                      description: Valid ISO 4217 ALPHA-3 currency code
                      example: USD
                    value:
                      type: string
                      example: '10.01'
                  xml:
                    name: Amount
                xml:
                  name: totalRefunds
                  wrapped: true
              totalFees:
                type: array
                description: List of total fees currency wise
                items:
                  type: object
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                      description: Valid ISO 4217 ALPHA-3 currency code
                      example: USD
                    value:
                      type: string
                      example: '10.01'
                  xml:
                    name: Amount
                xml:
                  name: totalFees
                  wrapped: true
              totalChargebacks:
                type: array
                description: List of total chargebacks currency wise
                items:
                  type: object
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                      description: Valid ISO 4217 ALPHA-3 currency code
                      example: USD
                    value:
                      type: string
                      example: '10.01'
                  xml:
                    name: Amount
                xml:
                  name: totalChargebacks
                  wrapped: true
              netTotal:
                type: array
                description: List of new total currency wise
                items:
                  type: object
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                      description: Valid ISO 4217 ALPHA-3 currency code
                      example: USD
                    value:
                      type: string
                      example: '10.01'
                  xml:
                    name: Amount
                xml:
                  name: netTotal
                  wrapped: true
        '400':
          description: Invalid request
          schema:
            title: reportingV3NetFundingsGet400Response
            type: object
            required:
            - submitTimeUtc
            - reason
            - message
            - details
            properties:
              submitTimeUtc:
                type: string
                format: date-time
                description: "Time of request in UTC. \n"
                example: '2016-08-11T22:47:57Z'
              reason:
                type: string
                description: 'Documented reason code

                  '
                example: INVALID_DATA
              message:
                type: string
                description: 'Short descriptive message to the user.

                  '
                example: One or more fields contains invalid data
              details:
                type: array
                description: 'Error field list

                  '
                items:
                  type: object
                  properties:
                    field:
                      type: string
                      description: 'Field in request that caused an error

                        '
                    reason:
                      type: string
                      description: 'Documented reason code

                        '
                  description: 'Provides failed validation input field detail

                    '
            description: HTTP status code for client application
        '401':
          description: Unauthorized
          schema:
            title: reportingV3NetFundingsGet401Response
        '403':
          description: Forbidden
          schema:
            title: reportingV3NetFundingsGet403Response
        '404':
          description: Report not found
          schema:
            title: reportingV3NetFundingsGet404Response
        '500':
          description: Internal Server Error
          schema:
            title: reportingV3NetFundingsGet500Response
            type: object
            required:
            - submitTimeUtc
            - reason
            - message
            - details
            properties:
              submitTimeUtc:
                type: string
                format: date-time
                description: "Time of request in UTC. \n"
                example: '2016-08-11T22:47:57Z'
              reason:
                type: string
                description: 'Documented reason code

                  '
                example: INVALID_DATA
              message:
                type: string
                description: 'Short descriptive message to the user.

                  '
                example: One or more fields contains invalid data
              details:
                type: array
                description: 'Error field list

                  '
                items:
                  type: object
                  properties:
                    field:
                      type: string
                      description: 'Field in request that caused an error

                        '
                    reason:
                      type: string
                      description: 'Documented reason code

                        '
                  description: 'Provides failed validation input field detail

                    '
            description: HTTP status code for client application
          examples:
            application/json:
              code: SERVER_ERROR
              correlationId: null
              detail: null
              fields: []
              localizationKey: cybsapi.server.error
              message: Error encountered while processing request
x-devcenter-metaData:
  categoryTagArray:
  - name: Payments
    description: For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html).
  - name: Transaction_Batches
    description: For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html).
  - name: eCheck_AVS
    description: For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...).
  - name: Token_Management
    description: For more information about the Token Management Service (TMS) see the [Token Management Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/tms/developer/all/rest/tms/tms-overview.html)
  - name: Flex_Microform
    description: Microform Integration is a lightweight acceptance solution designed to safely and securely accept payment information within your web page.  Microform is designed to a be embedded seamlessly within your existing webpage experience, blending in with your existing acceptance form.  This solution allows for the replacement of sensitive payment date with a transient token (a short lived reference to the sensitive payment data).  For more information about Flex Microform transactions, see the [Flex Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-flex/SAFlexibleToken.html). For examples on how to integrate Flex Microform within your webpage please see our [GitHub Flex Samples](https://github.com/CyberSource?q=flex&type=&language=)
  - name: Flex_API
    description: For more information about Flex API, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/digital-accept-flex/developer/all/rest/digital-accept-flex/da-flex-api-intro.html).
  - name: Risk_Management
  - name: Payouts
    description: 'For more information about Payouts, see the [Payouts Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-payouts/Introduction.html).

      '
  - name: Installments
    description: For more information about Installment contact Cybersource Support. For Visa installments contact VISthroughCYBS@visa.com
  - name: Recurring_Billing_Subscriptions
    description: For more information about Recurring Billing, see the [Recurring Billing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/recurring-billing/developer/all/rest/recurring-billing-developer/recur-bill-services-intro.html).
  - name: BIN_Lookup
    description: 'The BIN Lookup Service is a versatile business tool that provides card network agnostic solution designed to ensure frictionless transaction experience by utilizing up-to-date Bank Identification Number (BIN) attributes sourced from multiple global and regional data sources.

      This service helps to improve authorization rates by helping to route transactions to the best-suited card network, minimizes fraud through card detail verification and aids in regulatory compliance by identifying card properties. The service is flexible and provides businesses with a flexible choice of inputs such as primary account number (PAN), network token from major networks (such as Visa, American Express, Discover and regional networks) which includes device PAN (DPAN), and all types of tokens generated via CyberSource Token Management Service (TMS).

      Currently, the range of available credentials is contingent on the networks enabled for the business entity. Therefore, the network information specified in this documentation is illustrative and subject to personalized offerings for each reseller or merchant.

      '
  - name: Transaction_Details
    description: For more information about Transaction Details, see the [Transaction Details Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_details_api.html).
  - name: Transaction_Search
    description: For more information about Transaction Search, see the [Transaction Search Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_search_api.html).
  - name: Reporting
    description: 'For more information about Reporting, see the [Reporting Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-reporting-rest-api-dev-guide-102718/reporting_api.html).

      '
  - name: Secure_File_Share
    description: For more information about Secure File Share, see the [Secure File Share Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-secure-file-share-api-102718/secure_file_share_api_intro.html).
  - name: Invoices
    description: For more information about Invoicing, see the [Invoicing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/invoicing/developer/all/rest/invoicing/Introduction.html).
  - name: Pay_By_Link
    description: For more information about PayByLink, see the [PBL Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/boarding/user/all/rest/boarding/templates-matrix-intro/templates-matrix-pay-by-link.html).
  - name: User_Management
    description: For more information about User Management, see the [User Managment Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-user-management-api-102718/user_management_api_intro.html).
  - name: Value_Added_Service
  - name: Fee Service
  - name: Merchant_Boarding
    description: For more information about Merchant Boarding, please see [Developer Guides Page](https://developer.cybersource.com/api/developer-guides/Merchant-Boarding-API_ditamap/Merchant-Boarding-API.html).
  - name: Webhooks
    description: For more information about Webhooks, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/webhooks/implementation/all/rest/webhooks/wh-fg-intro.html).
  - name: Unified_Checkout
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html).
  - name: Unified_Checkoutv1
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html).
  - name: Account_Updater
    description: For more information about Account Updater, see the [Account Updater Developer Guides Page:](https://developer.cybersource.com/library/documentation/dev_guides/Account_Updater_UG/html/index.html).
  - name: Visa_Bank_Account_Validation
    description: 'The Visa Bank Account Validation Service is a new standalone product designed to validate customer''s routing and bank account number combination for ACH transactions. Merchant''s can use this standalone product to validate their customer''s account prior to processing an ACH transaction against the customer''s account to comply with Nacha''s account validation mandate for Web-debit transactions.

      '
  - name: Currency Conversion
    description: 'Empower global transactions with transparency and choice. Our Dynamic Currency Conversion API lets merchants offer customers the option to pay in their home currency at checkout, delivering real-time exchange rates and clear cost disclosure.


      **Key Benefits:**

      - **Enhanced Customer Experience:** Provide clarity and convenience for international shoppers.

      - **Real-Time Rates:** Accurate currency conversion with all the data required for acquirers and their merchants to maintain compliance with card network rules.

      - **Seamless Integration:** Flexible API endpoints for rate lookup, authorization, and capture.

      - **Regulatory Compliance:** Provides the data required for acquirers and merchants to meet and maintain card scheme requirements for disclosure and consent.


      Ideal for merchants and payment partners seeking to boost trust and conversion in cross-border commerce.


      **Key Features:**

      - **Rate Lookup:** Retrieves the most up-to-date exchange rate for eligible cards before authorization.

      - **Currency Choice:** Enables the merchant to offer customers the option to select between the merchant''s local currency and their card''s billing currency.

      - **Compliance:** Ensures merchants have the data required to adhere to card network regulations; exchange rates, markups, etc.


      **Supported Scenarios:**

      - Dynamic Currency Conversion when cardholder''s billing currency differs from merchant''s pricing currency.

      - Merchant and acquirer must support the cardholder''s billing currency.


      **Core API Endpoints:**


      **Currency Conversion API**

      Returns eligibility and exchange rate details, including:

      - exchangeRate

      - marginRate

      - reconciliationId and Id (for subsequent payment requests)


      **Payment Authorization with DCC***

      POST /pts/v2/payments

      Required fields include:

      - orderInformation.amountDetails.currency

      - orderInformation.amountDetails.originalCurrency

      - orderInformation.amountDetails.originalAmount

      - orderInformation.amountDetails.exchangeRate

      - currencyConversion.indicator (e.g., 1 = Converted, 2 = Nonconvertible, 3 = Declined)


      **Capture with DCC***

      POST /pts/v2/payments/{id}/captures

      Maps from original authorization and includes original and converted amounts.


      **Refund with DCC***

      POST /pts/v2/captures/{id}/refunds

      Maps from original authorization and includes original and converted amounts.


      *Note: DCC is only supported on select processors. Contact your acquirer or account manager for more information.


      **Compliance & Disclosure:**


      Merchants must:

      - Adhere to card network rules for Dynamic Currency Conversion (DCC) transactions.

      - Display the converted amount, exchange rate, and markup percentage and other required disclosures.

      - Obtain explicit cardholder consent before applying DCC.

      - Work with your acquirer to obtain full set of compliance requirements.


      For more information, see the [Currency Conversion Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/currency-conversion/developer/all/rest/currency-conversion/cc-intro.html).

      '
  - name: Intelligent_Commerce_Connect
    description: For more information about Intelligent Commerce Cross Network Service API, please see [Developer Guides](https://developer.cybersource.com/docs/cybs/en-us/intelligent-commerce/developer/all/rest/intelligent-commerce/intelligent-commerce-about-guide.html).
