swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation TransactionDetails API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: TransactionDetails
paths:
  /tss/v2/transactions/{id}:
    get:
      summary: Retrieve a Transaction
      description: Include the Request ID in the GET request to retrieve the transaction details.
      tags:
      - TransactionDetails
      produces:
      - application/hal+json;charset=utf-8
      operationId: getTransaction
      x-devcenter-metaData:
        categoryTag: Transaction_Details
        developerGuides: https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_details_api.html
      parameters:
      - name: id
        in: path
        description: 'Request ID.

          '
        required: true
        type: string
      x-depends:
        example:
          path: /pts/v2/payments
          verb: post
          exampleId: example0
        fieldMapping:
        - sourceField: id
          destinationField: id
          fieldTypeInDestination: path
      responses:
        '200':
          description: Successful response.
          schema:
            title: tssV2TransactionsGet200Response
            type: object
            properties:
              id:
                type: string
                maxLength: 26
                description: 'An unique identification number generated by Cybersource to identify the submitted request. Returned by all services.

                  It is also appended to the endpoint of the resource.

                  On incremental authorizations, this value with be the same as the identification number returned in the original authorization response.

                  '
              rootId:
                type: string
                maxLength: 26
                description: Contains the transaction identifier for the first transaction in the series of transactions. For example, you might send an authorization request for a payment, followed by a capture request for that payment, and then a refund request for that captured payment. Each of those requests, if successful, creates a resource that is assigned an identifier, which is returned in the response. The rootId identifies the first ID in the series, which in this case would be the ID of the original authorization.
              reconciliationId:
                type: string
                maxLength: 60
                description: 'Reference number for the transaction.

                  Depending on how your Cybersource account is configured, this value could either be provided in the API request or generated by CyberSource.

                  The actual value used in the request to the processor is provided back to you by Cybersource in the response.

                  '
              merchantId:
                type: string
                description: Your CyberSource merchant ID.
              submitTimeUTC:
                type: string
                description: 'Time of request in UTC. Format: `YYYY-MM-DDThh:mm:ssZ`

                  **Example** `2016-08-11T22:47:57Z` equals August 11, 2016, at 22:47:57 (10:47:57 p.m.).

                  The `T` separates the date and the time. The `Z` indicates UTC.


                  Returned by Cybersource for all services.

                  '
              status:
                type: string
                description: The status of the submitted transaction.
              applicationInformation:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the submitted transaction.
                  reasonCode:
                    type: string
                    description: 'Indicates the reason why a request succeeded or failed and possible action to take if a request fails.


                      For details, see the appendix of reason codes in the documentation for the relevant payment method.

                      '
                  rCode:
                    type: string
                    description: 'Indicates whether the service request was successful.

                      Possible values:


                      - `-1`: An error occurred.

                      - `0`: The request was declined.

                      - `1`: The request was successful.

                      '
                  rFlag:
                    type: string
                    description: 'One-word description of the result of the application.

                      '
                  applications:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: 'The name of the CyberSource transaction type (such as CC settlement or CC authorization) that the merchant wants to process in a transaction request. More than one transaction type can included in a transaction request. Each transaction type separately returns their own status, reasonCode, rCode, and rFlag messages.

                            '
                        status:
                          type: string
                          description: The description for this field is not available.
                        reasonCode:
                          type: string
                          description: 3-digit reason code that indicates why the customer profile payment succeeded or failed.
                        rCode:
                          type: string
                          description: 'Indicates whether the service request was successful.

                            Possible values:


                            - `-1`: An error occurred.

                            - `0`: The request was declined.

                            - `1`: The request was successful.

                            '
                        rFlag:
                          type: string
                          description: 'One-word description of the result of the application.

                            '
                        reconciliationId:
                          type: string
                          description: 'Reference number that you use to reconcile your CyberSource reports with your processor reports.

                            '
                        rMessage:
                          type: string
                          description: 'Message that explains the reply flag for the application.

                            '
                        returnCode:
                          type: integer
                          description: The description for this field is not available.
              bankAccountValidation:
                type: object
                properties:
                  rawValidationCode:
                    type: integer
                    description: "Raw Validation Codes for routing number and account number\n\n    Possible values:\n    • -1: Unable to perform validation/Unknown error\n    • -2: Service Unavailable\n    • 12 to 16: Validation results\n"
                  resultCode:
                    type: integer
                    description: "Result codes for account number and routing number\n\n    Possible values: 00, 04, 98, 99\n"
                  resultMessage:
                    type: string
              buyerInformation:
                type: object
                properties:
                  merchantCustomerId:
                    type: string
                    maxLength: 100
                    description: 'Your identifier for the customer.


                      When a subscription or customer profile is being created, the maximum length for this field for most processors is 30. Otherwise, the maximum length is 100.


                      #### Comercio Latino

                      For recurring payments in Mexico, the value is the customer''s contract number.

                      Note Before you request the authorization, you must inform the issuer of the customer contract numbers that will be used for recurring transactions.


                      #### Worldpay VAP

                      For a follow-on credit with Worldpay VAP, CyberSource checks the following locations, in the order

                      given, for a customer account ID value and uses the first value it finds:

                      1. `customer_account_id` value in the follow-on credit request

                      2. Customer account ID value that was used for the capture that is being credited

                      3. Customer account ID value that was used for the original authorization

                      If a customer account ID value cannot be found in any of these locations, then no value is used.

                      '
                  hashedPassword:
                    type: string
                    maxLength: 100
                    description: 'The merchant''s password that CyberSource hashes and stores as a hashed password.

                      '
              clientReferenceInformation:
                type: object
                properties:
                  code:
                    type: string
                    maxLength: 59
                    description: 'Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each

                      transaction so that you can perform meaningful searches for the transaction.


                      #### Used by

                      **Authorization**

                      Required field.


                      #### PIN Debit

                      Requests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being

                      reversed.


                      Required field for all PIN Debit requests (purchase, credit, and reversal).


                      #### FDC Nashville Global

                      Certain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.

                      '
                  applicationVersion:
                    type: string
                    description: 'Version of the CyberSource application or integration used for a transaction.

                      '
                  applicationName:
                    type: string
                    description: 'The name of the Connection Method client (such as Virtual Terminal or SOAP Toolkit API) that the merchant uses to send a transaction request to CyberSource.

                      '
                  applicationUser:
                    type: string
                    description: 'The entity that is responsible for running the transaction and submitting the processing request to CyberSource. This could be a person, a system, or a connection method.

                      '
                  partner:
                    type: object
                    properties:
                      solutionId:
                        type: string
                        maxLength: 8
                        description: 'Identifier for the partner that is integrated to CyberSource.


                          Send this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.


                          **Note** When you see a solutionId of 999 in reports, the solutionId that was submitted is incorrect.

                          '
                      thirdPartyCertificationNumber:
                        type: string
                        maxLength: 12
                        description: 'Value that identifies the application vendor and application version for a third party gateway.

                          CyberSource provides you with this value during testing and validation.

                          This field is supported only on CyberSource through VisaNet.


                          #### Used by

                          **Authorization, Authorization Reversal, Capture, Credit, Incremental Authorization, and Void**

                          Optional field.


                          #### PIN debit

                          Required field for PIN debit credit, PIN debit purchase, or PIN debit reversal request.

                          '
                  comments:
                    type: string
                    maxLength: 255
                    description: 'Brief description of the order or any comment you wish to add to the order.

                      '
              consumerAuthenticationInformation:
                type: object
                properties:
                  eciRaw:
                    type: string
                    maxLength: 2
                    description: 'Raw electronic commerce indicator (ECI).

                      '
                  cavv:
                    type: string
                    maxLength: 40
                    description: Cardholder authentication verification value (CAVV).
                  xid:
                    type: string
                    maxLength: 40
                    description: 'Transaction identifier.

                      '
                  transactionId:
                    type: string
                    description: Payer auth Transaction identifier.
                  strongAuthentication:
                    type: object
                    properties:
                      lowValueExemptionIndicator:
                        type: string
                        maxLength: 1
                        description: 'This field will contain the low value exemption indicator with one of the following values:

                          Possible values:

                          - `0`  ( low value exemption does not apply to the transaction)

                          - `1` (Transaction exempt from SCA as the merchant/acquirer has determined it to be a low value payment)

                          '
                      riskAnalysisExemptionIndicator:
                        type: string
                        maxLength: 1
                        description: 'This field will contain the transaction risk analysis exemption indicator with one of the following values:

                          Possible values:

                          - `0`  (TRA exemption does not apply to the transaction)

                          - `1` (Transaction exempt from SCA as the merchant/acquirer has determined it to be low risk in accordance with the criteria defined by PSD2/RTS)

                          '
                      trustedMerchantExemptionIndicator:
                        type: string
                        maxLength: 1
                        description: 'Possible values:

                          - `0`  (Trusted merchant exemption does not apply to the transaction)

                          - `1` (Transaction exempt from SCA as it originated at a merchant trusted by the cardholder)

                          '
                      secureCorporatePaymentIndicator:
                        type: string
                        maxLength: 1
                        description: 'This field will contain the secure corporate payment exemption indicator with one of the following values:

                          Possible values:

                          - `0`  (SCA exemption does not apply to the transaction)

                          - `1` (Transaction exempt from SCA as the merchant/acquirer has determined it as a secure corporate payment)

                          '
                      delegatedAuthenticationExemptionIndicator:
                        type: string
                        maxLength: 1
                        description: 'This field will contain the delegated authentication exemption indicator with one of the following values:

                          Possible values:

                          - `0`  (delegated Authentication exemption does not apply to the transaction)

                          - `1` (Transaction exempt from SCA as authentication has been delegated to other provider (PSP,Acquirer))

                          '
              deviceInformation:
                type: object
                properties:
                  ipAddress:
                    type: string
                    maxLength: 45
                    description: 'IP address of the customer.


                      #### Used by

                      **Authorization, Capture, and Credit**

                      Optional field.

                      '
                  hostName:
                    type: string
                    maxLength: 60
                    description: DNS resolved hostname from `ipAddress`.
                  cookiesAccepted:
                    type: string
                    description: 'Whether the customer''s browser accepts cookies. This field can contain one of the following values:

                      - `yes`: The customer''s browser accepts cookies.

                      - `no`: The customer''s browser does not accept cookies.

                      '
              errorInformation:
                type: object
                properties:
                  reason:
                    type: string
                    description: '1-word description of why a request succeeded or failed.

                      '
                  message:
                    type: string
                    description: 'The user-facing description for why a request succeeded or failed.

                      '
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                          description: This is the flattened JSON object field name/path that is either missing or invalid.
                        reason:
                          type: string
                          description: "Possible reasons for the error.\n\nPossible values:\n - MISSING_FIELD\n - INVALID_DATA\n"
              installmentInformation:
                type: object
                properties:
                  numberOfInstallments:
                    type: string
                    description: Number of Installments.
                  identifier:
                    type: string
                    maximum: 60
                    description: 'Standing Instruction/Installment identifier.

                      '
              fraudMarkingInformation:
                type: object
                properties:
                  reason:
                    type: string
                    description: 'Reason for adding the transaction to the negative list. This field can contain one of the following values:

                      - fraud_chargeback: You have received a fraudrelated chargeback for the transaction.

                      - non_fraud_chargeback: You have received a non-fraudulent chargeback for the transaction.

                      - suspected: You believe that you will probably receive a chargeback for the transaction.

                      - creditback: You issued a refund to the customer to avoid a chargeback for the transaction.

                      '
              healthCareInformation:
                type: object
                properties:
                  amountDetails:
                    type: array
                    description: array for Healthcare fields
                    items:
                      type: object
                      properties:
                        amountType:
                          type: string
                          maxLength: 35
                          description: 'Total amount that has been spent on healthcare in a transaction.

                            Valid Values for **Visa**:

                            - `healthcare` - Total Amount Healthcare

                            - `healthcare-transit` - Amount Transit

                            - `vision` - Amount Vision/Optical

                            - `prescription` - Amount Prescription/RX

                            - `clinic` - Amount Clinic/Other Qualified Medical

                            - `dental` - Amount Dental



                            `Note:` -  Prescription, Clinic and dental amounts must be preceded with the total healthcare amount and cannot occur individually.  Vision and Transit must be sent individually and cannot be combined with total healthcare amount or any other amounts. Total Healthcare amount can be sent individually.


                            Valid Values for **MasterCard**:

                            - `prescription` - Amount Prescription/RX

                            - `eligible-total` - Total Amount Healthcare



                            `Note:` -  Prescription must be preceded with the total healthcare amount and cannot occur individually. Total Healthcare amount can be sent individually.

                            '
                        amount:
                          type: string
                          maxLength: 13
                          description: 'Total Amount that has been spent on the corresponding amountType. This is 13 byte field including sign.

                            If the amount is positive, then it is a debit for the customer.

                            If the amount is negative, then it is a credit for the customer.

                            '
              merchantDefinedInformation:
                type: array
                description: 'The object containing the custom data that the merchant defines.

                  '
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      maxLength: 50
                      description: 'The number you assign for as the key for your merchant-defined data field. Valid values are 0 to 100.


                        For example, to set or access the key for the 2nd merchant-defined data field in the array, you would reference `merchantDefinedInformation[1].key`.


                        #### CyberSource through VisaNet

                        For installment payments with Mastercard in Brazil, use `merchantDefinedInformation[0].key` and

                        `merchantDefinedInformation[1].key` for data that you want to provide to the issuer to identify the

                        transaction.

                        '
                    value:
                      type: string
                      maxLength: 800
                      description: "The value you assign for your merchant-defined data field.\n\n**Warning** Merchant-defined data fields are not intended to and must not be used to capture personally identifying information. Accordingly, merchants are prohibited from capturing, obtaining, and/or transmitting any personally identifying information in or via the merchant-defined data fields. Personally identifying information includes, but is not\nlimited to, address, credit card number, social security number, driver's license number, state-issued identification number, passport number, and card verification numbers (CVV,\nCVC2, CVV2, CID, CVN). In the event CyberSource discovers that a merchant is capturing and/or transmitting personally identifying information via the merchant-defined data fields, whether or not intentionally, CyberSource will immediately suspend the merchant's account, which will result in a rejection of any and all transaction requests submitted by the merchant after the point of suspension.\n\n#### CyberSource through VisaNet\nFor installment payments with Mastercard in Brazil, use `merchantDefinedInformation[0].value` and\n`merchantDefinedInformation[1].value` for data that you want to provide to the issuer to identify the\ntransaction. \n\nFor installment payments with Mastercard in Brazil:\n- The value for merchantDefinedInformation[0].value corresponds to the following data in the TC 33 capture file5:\n  - Record: CP07 TCR5\n  - Position: 25-44\n  - Field: Reference Field 2\n- The value for merchantDefinedInformation[1].value corresponds to the following data in the TC 33 capture file5:\n  - Record: CP07 TCR5\n  - Position: 45-64\n  - Field: Reference Field 3\n"
              merchantInformation:
                type: object
                properties:
                  merchantDescriptor:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 'Your merchant name.


                          **Note** For Paymentech processor using Cybersource Payouts, the maximum data length is 22.


                          #### PIN debit

                          Your business name. This name is displayed on the cardholder''s statement. When you

                          include more than one consecutive space, extra spaces are removed.


                          When you do not include this value in your PIN debit request, the merchant name from your account is used.

                          **Important** This value must consist of English characters.


                          Optional field for PIN debit credit or PIN debit purchase requests.


                          #### Airline processing

                          Your merchant name. This name is displayed on the cardholder''s statement. When you include more than one consecutive space, extra spaces are removed.


                          **Note** Some airline fee programs may require the original ticket number (ticket identifier) or the ancillary service description in positions 13 through 23 of this field.


                          **Important** This value must consist of English characters.


                          Required for captures and credits.

                          '
              orderInformation:
                type: object
                properties:
                  billTo:
                    type: object
                    properties:
                      firstName:
                        type: string
                        maxLength: 60
                        description: 'Customer''s first name. This name must be the same as the name on the card.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                          #### SEPA

                          Required for Create Mandate and Import Mandate

                          #### BACS

                          Required for Import Mandate


                          #### CyberSource Latin American Processing

                          **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                          **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called _CyberSource Latin American Processing_. It is not for any other Latin American processors that CyberSource supports.


                          #### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                          #### For Payouts:

                          This field may be sent only for FDC Compass.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      lastName:
                        type: string
                        maxLength: 60
                        description: 'Customer''s last name. This name must be the same as the name on the card.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                          #### SEPA

                          Required for Create Mandate and Import Mandate

                          #### BACS

                          Required for Import Mandate

                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### CyberSource Latin American Processing

                          **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                          **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.


                          #### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                          #### For Payouts:

                          This field may be sent only for FDC Compass.


                          #### OmniPay Direct

                          Optional field.


                          #### RBS WorldPay Atlanta

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      middleName:
                        type: string
                        maxLength: 60
                        description: 'Customer''s middle name.

                          '
                      nameSuffix:
                        type: string
                        maxLength: 60
                        description: 'Customer''s name suffix.

                          '
                      address1:
                        type: string
                        maxLength: 60
                        description: 'Payment card billing street address as it appears on the credit card issuer''s records.


                          #### SEPA

                          Required for Create Mandate and Import Mandate


                          #### Atos

                          This field must not contain colons (:).


                          #### CyberSource through VisaNet

                          **Important** When you populate orderInformation.billTo.address1 and orderInformation.billTo.address2,

                          CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                          CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                          Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                          accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                          of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                          credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                          ASCII characters for transmission to the credit card networks.


                          #### FDMS Nashville

                          When the street name is numeric, it must be sent in numeric format. For example, if the address is _One First Street_,

                          it must be sent as _1 1st Street_.


                          Required if keyed; not used if swiped.


                          String (20)


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### All other processors:

                          Optional.

                          String (60)


                          #### For Payouts

                          This field may be sent only for FDC Compass.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.

                          '
                      address2:
                        type: string
                        maxLength: 60
                        description: 'Used for additional address information. For example: _Attention: Accounts Payable_

                          Optional field.


                          For Payouts: This field may be sent only for FDC Compass.


                          #### Atos

                          This field must not contain colons (:).


                          #### CyberSource through VisaNet

                          **Important** When you populate `orderInformation.billTo.address1` and `orderInformation.billTo.address2`,

                          CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                          CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                          Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                          accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                          of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                          credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                          ASCII characters for transmission to the credit card networks.


                          #### Chase Paymentech Solutions, FDC Compass, and TSYS Acquiring Solutions

                          This value is used for AVS.


                          #### FDMS Nashville

                          `orderInformation.billTo.address1` and `orderInformation.billTo.address2` together cannot exceed 20 characters.

                          String (20)


                          #### All Other Processors

                          String (60)

                          '
                      locality:
                        type: string
                        maxLength: 50
                        description: 'Payment card billing city.


                          #### SEPA

                          Required for Create Mandate and Import Mandate


                          #### Atos

                          This field must not contain colons (:).


                          #### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                          #### For Payouts:

                          This field may be sent only for FDC Compass.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      administrativeArea:
                        type: string
                        maxLength: 50
                        description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).


                          For Payouts: This field may be sent only for FDC Compass.


                          ##### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                          accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                          of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                          credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                          ASCII characters for transmission to the credit card networks.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      postalCode:
                        type: string
                        maxLength: 10
                        description: "Postal code for the billing address. The postal code must consist of 5 to 9 digits.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\n**Example** `12345-6789`\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\n**Example** `A1B 2C3`\n\n**Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\n#### SEPA\nRequired for Create Mandate and Import Mandate\n\n#### For Payouts:\n This field may be sent only for FDC Compass.\n\n#### American Express Direct\nBefore sending the postal code to the processor, CyberSource removes all nonalphanumeric characters and, if the remaining value is longer than nine characters, truncates the value starting from the right side.\n\n#### Atos\nThis field must not contain colons (:).\n\n#### CyberSource through VisaNet\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet\naccepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations\nof the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the\ncredit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII\ncharacters for transmission to the credit card networks.\n\n#### FDMS Nashville\nRequired if `pointOfSaleInformation.entryMode=keyed` and the address is in the U.S. or Canada.\nOptional if `pointOfSaleInformation.entryMode=keyed` and the address is **not** in the U.S. or Canada.\nNot used if swiped.\n\n#### RBS WorldPay Atlanta:\nFor best card-present keyed rates, send the postal code if `pointOfSaleInformation.entryMode=keyed`.\n\n#### TSYS Acquiring Solutions\nRequired when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.\n\n#### All other processors:\nOptional field.\n"
                      company:
                        type: string
                        maxLength: 60
                        description: 'Name of the customer''s company.


                          **CyberSource through VisaNet**

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.

                          '
                      email:
                        type: string
                        maxLength: 255
                        description: 'Customer''s email address, including the full domain name.


                          #### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                          #### Invoicing

                          Email address for the customer for sending the invoice. If the invoice is in SENT status and email is updated, the old email customer payment link won''t work and you must resend the invoice with the new payment link.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      country:
                        type: string
                        maxLength: 3
                        description: 'Payment card billing country. Use the two-character [ISO Standard Country Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).


                          #### SEPA/BACS

                          Required for Create Mandate and Import Mandate


                          #### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                          accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                          of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                          credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII

                          characters for transmission to the credit card networks.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      title:
                        type: string
                        maxLength: 60
                        description: 'Title.

                          '
                      phoneNumber:
                        type: string
                        maxLength: 15
                        description: 'Customer''s phone number.


                          It is recommended that you include the country code when the order is from outside the U.S.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                          #### For Payouts:

                          This field may be sent only for FDC Compass.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Optional field.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                  shipTo:
                    type: object
                    properties:
                      firstName:
                        type: string
                        maxLength: 60
                        description: 'First name of the recipient.


                          #### Litle

                          Maximum length: 25


                          #### All other processors

                          Maximum length: 60


                          Optional field.

                          '
                      lastName:
                        type: string
                        maxLength: 60
                        description: 'Last name of the recipient.


                          #### Litle

                          Maximum length: 25


                          #### All other processors

                          Maximum length: 60


                          Optional field.

                          '
                      address1:
                        type: string
                        maxLength: 60
                        description: 'First line of the shipping address.


                          Required field for authorization if any shipping address information is included in the request; otherwise, optional.


                          #### Tax Calculation

                          Optional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.

                          Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                          '
                      address2:
                        type: string
                        maxLength: 60
                        description: 'Second line of the shipping address.


                          Optional field.


                          #### Tax Calculation

                          Optional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.

                          Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                          '
                      locality:
                        type: string
                        maxLength: 50
                        description: 'City of the shipping address.


                          Required field for authorization if any shipping address information is included in the request and shipping to the U.S. or

                          Canada; otherwise, optional.


                          #### Tax Calculation

                          Optional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.

                          Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                          '
                      administrativeArea:
                        type: string
                        maxLength: 50
                        description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).


                          For Payouts: This field may be sent only for FDC Compass.


                          ##### CyberSource through VisaNet

                          Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                          accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                          of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                          credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                          ASCII characters for transmission to the credit card networks.


                          **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                          #### Chase Paymentech Solutions

                          Optional field.


                          ####  Credit Mutuel-CIC

                          Optional field.


                          #### OmniPay Direct

                          Optional field.


                          #### SIX

                          Optional field.


                          #### TSYS Acquiring Solutions

                          Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                          #### Worldpay VAP

                          Optional field.


                          #### All other processors

                          Not used.

                          '
                      postalCode:
                        type: string
                        maxLength: 32
                        description: 'Postal code for the shipping address. The postal code must consist of 5 to 9 digits.


                          Required field for authorization if any shipping address information is included in the request and

                          shipping to the U.S. or Canada; otherwise, optional.


                          When the billing country is the U.S., the 9-digit postal code must follow this format:

                          [5 digits][dash][4 digits]


                          Example 12345-6789


                          When the billing country is Canada, the 6-digit postal code must follow this format:

                          [alpha][numeric][alpha][space][numeric][alpha][numeric]


                          Example A1B 2C3


                          #### American Express Direct

                          Before sending the postal code to the processor, all nonalphanumeric characters are removed and, if the

                          remaining value is longer than nine characters, the value is truncated starting from the right side.

                          #### Tax Calculation

                          Optional field for U.S. and Canadian taxes. Not applicable to international and value added taxes.

                          Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                          '
                      company:
                        type: string
                        maxLength: 60
                        description: 'Name of the customer''s company.

                          '
                      country:
                        type: string
                        description: 'Country of the shipping address. Use the two-character [ISO Standard Country Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf)


                          Required field for authorization if any shipping address information is included in the request; otherwise, optional.


                          #### Tax Calculation

                          Optional field for U.S., Canadian, international tax, and value added taxes.

                          Billing address objects will be used to determine the cardholder''s location when shipTo objects are not present.

                          '
                        maxLength: 3
                      phoneNumber:
                        type: string
                        maxLength: 15
                        description: Phone number associated with the shipping address.
                  lineItems:
                    type: array
                    description: Transaction Line Item data.
                    items:
                      type: object
                      properties:
                        productCode:
                          type: string
                          maxLength: 255
                          description: 'Type of product. This value is used to determine the category that the product is in: electronic, handling,

                            physical, service, or shipping. The default value is **default**.


                            For a payment, when you set this field to a value other than default or any of the values related to

                            shipping and handling, below fields _quantity_, _productName_, and _productSKU_ are required.

                            '
                        productName:
                          type: string
                          maxLength: 255
                          description: 'For PAYMENT and CAPTURE API, this field is required when above _productCode_ is not **default** or one of the

                            values related to shipping and handling.

                            '
                        productSku:
                          type: string
                          maxLength: 255
                          description: 'Identification code for the product. For Payment and Capture APIs, this field is required when above

                            `productCode` is not **default** or one of the values related to shipping and/or handling.

                            '
                        taxAmount:
                          type: string
                          maxLength: 15
                          description: "Total tax to apply to the product. This value cannot be negative. The tax amount and the offer amount must\nbe in the same currency. The tax amount field is additive.\n\nThe following example uses a two-exponent currency such as USD:\n\n1. You include each line item in your request.\n    - 1st line item has `amount=10.00`, `quantity=1`, and `taxAmount=0.80`\n    - 2nd line item has `amount=20.00`, `quantity=1`, and `taxAmount=1.60`\n2. The total amount authorized will be 32.40, not 30.00 with 2.40 of tax included.\n\nThis field is frequently used for Level II and Level III transactions.\n"
                        quantity:
                          type: integer
                          minimum: 1
                          maximum: 999999999
                          description: 'For a payment or capture, this field is required when _productCode_ is not **default** or one of the values

                            related to shipping and handling.

                            '
                          default: 1
                        unitPrice:
                          type: string
                          maxLength: 15
                          description: 'Per-item price of the product. This value cannot be negative. You can include a decimal point (.), but you

                            cannot include any other special characters. CyberSource truncates the amount to the correct number of decimal

                            places.

                            '
                        fulfillmentType:
                          type: string
                          description: The description for this field is not available.
                  amountDetails:
                    type: object
                    properties:
                      totalAmount:
                        type: string
                        maxLength: 19
                        description: "Grand total for the order. This value cannot be negative. You can include a decimal point (.), but no other special characters.\nCyberSource truncates the amount to the correct number of decimal places.\n\n**Note** For CTV, FDCCompass, Paymentech processors, the maximum length for this field is 12.\n\n**Important** Some processors have specific requirements and limitations, such as maximum amounts and maximum field lengths.\n\nIf your processor supports zero amount authorizations, you can set this field to 0 for the authorization to check if the card is lost or stolen. \n\n#### Card Present\nRequired to include either this field or `orderInformation.lineItems[].unitPrice` for the order.\n\n#### Invoicing / Pay By Link\nRequired for creating a new invoice or payment link.\n\n#### PIN Debit\nAmount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount.\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit; however, for all other processors, these fields are required.\n\n#### DCC with a Third-Party Provider\nSet this field to the converted amount that was returned by the DCC provider. You must include either this field or the 1st line item in the order and the specific line-order amount in your request. \n\n#### DCC for First Data\nNot used.\n"
                      currency:
                        type: string
                        maxLength: 3
                        description: 'Currency used for the order. Use the three-character [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)


                          #### Used by

                          **Authorization**

                          Required field.


                          **Authorization Reversal**

                          For an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.


                          #### PIN Debit

                          Currency for the amount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount. For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).

                          Returned by PIN debit purchase.


                          For PIN debit reversal requests, you must use the same currency that was used for the PIN debit purchase or PIN debit credit that you are reversing.

                          For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).


                          Required field for PIN Debit purchase and PIN Debit credit requests.

                          Optional field for PIN Debit reversal requests.


                          #### GPX

                          This field is optional for reversing an authorization or credit.


                          #### DCC for First Data

                          Your local currency.


                          #### Tax Calculation

                          Required for international tax and value added tax only.

                          Optional for U.S. and Canadian taxes.

                          Your local currency.

                          '
                      taxAmount:
                        type: string
                        maxLength: 12
                        description: 'Total tax amount for all the items in the order.

                          '
                      authorizedAmount:
                        type: string
                        maxLength: 15
                        description: 'Amount that was authorized.


                          Returned by authorization service.


                          #### PIN debit

                          Amount of the purchase.


                          Returned by PIN debit purchase.

                          '
                      settlementAmount:
                        type: string
                        maxLength: 12
                        description: 'This is a multicurrency field. It contains the transaction amount (field 4), converted to the Currency used to bill the cardholder''s account.

                          This field is returned for OCT transactions.

                          '
                      settlementCurrency:
                        type: string
                        maxLength: 3
                        description: 'This is a multicurrency-only field. It contains a 3-digit numeric code that identifies the currency used by the issuer to bill the cardholder''s account.

                          This field is returned for OCT transactions.

                          '
                      refundBalance:
                        type: string
                        maxLength: 15
                        description: The remaining amount which can be refunded.
                      surcharge:
                        type: object
                        properties:
                          amount:
                            type: string
                            maxLength: 15
                            description: 'The surcharge amount is included in the total transaction amount but is passed in a separate field to the issuer and acquirer for tracking. The issuer can provide information about the surcharge amount to the customer.


                              If the amount is positive, then it is a debit for the customer.

                              If the amount is negative, then it is a credit for the customer.


                              **NOTE**: This field is supported only for CyberSource through VisaNet (CtV) for Payouts. For CtV, the maximum string length is 8.


                              #### PIN debit

                              Surcharge amount that you are charging the customer for this transaction. If you include a surcharge amount

                              in the request, you must also include the surcharge amount in the value for `orderInformation.amountDetails.totalAmount`.


                              Optional field for transactions that use PIN debit credit or PIN debit purchase.

                              '
                  shippingDetails:
                    type: object
                    properties:
                      giftWrap:
                        type: boolean
                        description: 'Boolean that indicates whether the customer requested gift wrapping for this

                          purchase. This field can contain one of the following

                          values:

                          - true: The customer requested gift wrapping.

                          - false: The customer did not request gift wrapping.

                          '
                      shippingMethod:
                        type: string
                        maxLength: 32
                        description: "Shipping method for the product. Possible values:\n\n - `lowcost`: Lowest-cost service\n - `sameday`: Courier or same-day service\n - `oneday`: Next-day or overnight service\n - `twoday`: Two-day service\n - `threeday`: Three-day service\n - `pickup`: Store pick-up\n - `other`: Other shipping method\n - `none`: No shipping method because product is a service or subscription\n\nKlarna Advantage Plus additional values:\n - `TO_DOOR`: Delivery to door\n - `TO_CURB`: Delivery to curb\n - `TO_MAILBOX`: Delivery to mailbox\n - `PICKUP_BOX`: Pickup from box\n - `PICKUP_POINT`: Pickup from point\n - `PICKUP_STORE`: Pickup from store\n - `PICKUP_WAREHOUSE`: Pickup from warehouse\n - `DIGITAL_EMAIL`: Digital delivery via email\n - `DIGITAL_DOWNLOAD`: Digital download\n - `DIGITAL_OTHER`: Other digital delivery\n - `PHYSICAL_OTHER`: Other physical delivery\n"
                  invoiceDetails:
                    type: object
                    properties:
                      salesSlipNumber:
                        type: integer
                        maximum: 99999
                        description: 'Transaction identifier that is generated. You have the option of printing the sales slip number on the receipt.

                          This field is supported only on Cybersource through Visanet and JCN gateway.


                          Optional field.


                          #### Card Present processing message

                          If you included this field in the request, the returned value is the value that you sent in the request.

                          If you did not include this field in the request, the system generated this value for you.


                          The difference between this reply field and the `processorInformation.systemTraceAuditNumber` field is that the

                          system generates the system trace audit number (STAN), and you must print the receipt number on the receipt;

                          whereas you can generate the sales slip number, and you can choose to print the sales slip number on the receipt.

                          '
              paymentInformation:
                type: object
                properties:
                  paymentType:
                    type: object
                    properties:
                      name:
                        type: string
                        description: 'A Payment Type is an agreed means for a payee to receive legal tender from a payer. The way one pays for a commercial financial transaction. Examples: Card, Bank Transfer, Digital, Direct Debit.

                          Possible values:

                          - `CARD` (use this for a PIN debit transaction)

                          - `CHECK` (use this for all eCheck payment transactions - ECP Debit, ECP Follow-on Credit, ECP StandAlone Credit)

                          - `bankTransfer` (use for Online Bank Transafer for methods such as P24, iDeal, Estonia Bank, KCP)

                          - `localCard` (KCP Local card via Altpay)

                          - `carrierBilling` (KCP Carrier Billing via Altpay)

                          '
                      type:
                        type: string
                        description: 'Indicates the payment type used in this payment transaction. Example: credit card, check'
                      method:
                        type: string
                        description: Indicates the payment method used in this payment transaction.
                  eWallet:
                    type: object
                    properties:
                      name:
                        type: string
                        maxLength: 30
                        description: 'Valid Values:

                          - CreditCard

                          - BankTransfer

                          - MobileTransfer

                          - KakaoMoney

                          - NaverPayPoint

                          '
                      fundingSource:
                        type: string
                        maxLength: 30
                        description: 'Valid Values:

                          - PAYCO

                          - Kakaopay

                          - NaverPay

                          - SSG Pay

                          - L.Pay

                          - Apple Pay

                          - TOSS Pay

                          - Samsung Pay

                          '
                  customer:
                    type: object
                    properties:
                      customerId:
                        type: string
                        description: 'Unique identifier for the customer''s card and billing information.


                          When you use Payment Tokenization or Recurring Billing and you include this value in

                          your request, many of the fields that are normally required for an authorization or credit

                          become optional.


                          **NOTE** When you use Payment Tokenization or Recurring Billing, the value for the Customer ID is actually the Cybersource payment token for a customer. This token stores information such as the consumer''s card number so it can be applied towards bill payments, recurring payments, or one-time payments. By using this token in a payment API request, the merchant doesn''t need to pass in data such as the card number or expiration date in the request itself.

                          '
                      id:
                        type: string
                        description: 'Unique identifier for the Customer token that was created as part of a bundled TOKEN_CREATE action.

                          '
                        minLength: 1
                        maxLength: 32
                  card:
                    type: object
                    properties:
                      suffix:
                        type: string
                        description: 'Last four digits of the cardholder''s account number. This field is included in the reply message when the client software

                          that is installed on the POS terminal uses the token management service (TMS) to retrieve tokenized payment details.


                          You must contact customer support to have your account enabled to receive these fields in the credit reply message.


                          #### Google Pay transactions

                          For PAN-based Google Pay transactions, this field is returned in the API response.


                          #### PIN debit

                          This field is returned only for tokenized transactions. You can use this value on the receipt that you give to the cardholder.


                          Returned by PIN debit credit and PIN debit purchase.


                          This field is supported only by the following processors:

                          - American Express Direct

                          - Credit Mutuel-CIC

                          - FDC Nashville Global

                          - OmniPay Direct

                          - SIX

                          '
                      prefix:
                        type: string
                        maxLength: 6
                        description: 'Bank Identification Number (BIN). This is the initial four to six numbers on a credit card account number.


                          #### Google Pay transactions

                          For PAN-based Google Pay transactions, this field is returned in the API response.

                          '
                      expirationMonth:
                        type: string
                        maxLength: 2
                        description: 'Two-digit month in which the payment card expires.


                          Format: `MM`.


                          Valid values: `01` through `12`. Leading 0 is required.


                          #### Barclays and Streamline

                          For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value

                          (`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is

                          in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause

                          the issuer to reject your request.


                          #### Encoded Account Numbers

                          For encoded account numbers (_type_=039), if there is no expiration date on the card, use `12`.


                          #### FDMS Nashville

                          Required field.


                          #### All other processors

                          Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                          for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                          whether a field is required for the transaction you are requesting.


                          #### Google Pay transactions

                          For PAN-based Google Pay transactions, this field is returned in the API response.

                          '
                      expirationYear:
                        type: string
                        maxLength: 4
                        description: 'Four-digit year in which the payment card expires.


                          Format: `YYYY`.


                          #### Barclays and Streamline

                          For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`1900` through `3000`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                          #### Encoded Account Numbers

                          For encoded account numbers (**_type_**`=039`), if there is no expiration date on the card, use `2021`.


                          #### FDMS Nashville

                          Required field.


                          #### FDC Nashville Global and FDMS South

                          You can send in 2 digits or 4 digits. If you send in 2 digits, they must be the last 2 digits of the year.


                          #### All other processors

                          Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                          for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                          whether a field is required for the transaction you are requesting.


                          #### Google Pay transactions

                          For PAN-based Google Pay transactions, this field is returned in the API response.

                          '
                      startMonth:
                        type: string
                        maxLength: 2
                        description: 'Month of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: MM`. Possible values: 01 through 12.


                          **Note** The start date is not required for Maestro (UK Domestic) transactions.

                          '
                      startYear:
                        type: string
                        maxLength: 4
                        description: 'Year of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: YYYY`.


                          **Note** The start date is not required for Maestro (UK Domestic) transactions.

                          '
                      issueNumber:
                        type: string
                        maxLength: 5
                        description: 'Number of times a Maestro (UK Domestic) card has been issued to the account holder. The card might or might not have an issue number. The number can consist of one or two digits, and the first digit might be a zero. When you include this value in your request, include exactly what is printed on the card. A value of 2 is different than a value of 02. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card.


                          **Note** The issue number is not required for Maestro (UK Domestic) transactions.

                          '
                      type:
                        type: string
                        description: 'Three-digit value that indicates the card type.


                          **IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is

                          optional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.


                          Possible values:

                          - `001`: Visa. Use card type value `001` for Visa Electron.

                          - `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.

                          - `003`: American Express

                          - `004`: Discover

                          - `005`: Diners Club

                          - `006`: Carte Blanche[^1]

                          - `007`: JCB[^1]

                          - `008`: Optima

                          - `009`: GE Private Label

                          - `010`: Beneficial Private Label

                          - `011`: Twinpay Credit Card

                          - `012`: Twinpay Debit Card

                          - `013`: WalMart

                          - `014`: Enroute[^1]

                          - `015`: Lowe''s Consumer

                          - `016`: Home Depot Consumer

                          - `017`: MBNA

                          - `018`: Dick''s Sportswear

                          - `019`: Casual Corner

                          - `020`: Sears

                          - `021`: JAL[^1]

                          - `023`: Disney Card

                          - `024`: Maestro (UK Domestic)[^1]

                          - `025`: Sam''s Club Consumer

                          - `026`: Sam''s Club Business

                          - `027`: Nico''s

                          - `028`: Paymentech Bill Me Later

                          - `029`: Bebe

                          - `030`: Restoration Hardware

                          - `031`: Delta Online

                          - `032`: Solo

                          - `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.

                          - `034`: Dankort[^1]

                          - `035`: Laser

                          - `036`: Cartes Bancaires[^1,4]

                          - `037`: Carta Si[^1]

                          - `038`: Pinless Debit

                          - `039`: Encoded account number[^1]

                          - `040`: UATP[^1]

                          - `041`: HOUSEHOLD

                          - `042`: Maestro (International)[^1]

                          - `043`: GE MONEY

                          - `044`: Korean Cards

                          - `045`: Style Cards

                          - `046`: JCrew

                          - `047`: Payeasecn eWallet

                          - `048`: Payeasecn Bank Transfer

                          - `049`: Meijer

                          - `050`: Hipercard[^2,3]

                          - `051`: Aura

                          - `052`: Redecard

                          - `053`: Orico card

                          - `054`: Elo[^3]

                          - `055`: Capitol One Private Label

                          - `056`: Carnet

                          - `057`: Costco Private Label

                          - `058`: Carnet

                          - `059`: ValueLink

                          - `060`: MADA

                          - `061`: RuPay

                          - `062`: China UnionPay

                          - `063`: Falabella Private Label

                          - `064`: Prompt Card

                          - `065`: Korean Domestic

                          - `066`: Banricompras

                          - `067`: MEEZA

                          - `068`: PayPak

                          - `070`: EFTPOS

                          - `071`: Codensa

                          - `072`: Olimpica

                          - `073`: Colsubsidio

                          - `074`: Tuya

                          - `075`: Sodexo

                          - `076`: Naranja

                          - `077`: Cabal

                          - `078`: DINELCO

                          - `079`: PANAL

                          - `080`: EPM

                          - `081`: Jaywan


                          [^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.

                          [^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.

                          [^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.

                          [^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.


                          #### Used by

                          **Authorization**

                          Required for Carte Blanche and JCB.

                          Optional for all other card types.


                          #### Card Present reply

                          This field is included in the reply message when the client software that is installed on the POS terminal uses

                          the token management service (TMS) to retrieve tokenized payment details. You must contact customer support to

                          have your account enabled to receive these fields in the credit reply message.


                          Returned by the Credit service.


                          This reply field is only supported by the following processors:

                          - American Express Direct

                          - Credit Mutuel-CIC

                          - FDC Nashville Global

                          - OmniPay Direct

                          - SIX


                          #### Google Pay transactions

                          For PAN-based Google Pay transactions, this field is returned in the API response.


                          #### GPX

                          This field only supports transactions from the following card types:

                          - Visa

                          - Mastercard

                          - AMEX

                          - Discover

                          - Diners

                          - JCB

                          - Union Pay International

                          '
                      brandName:
                        type: string
                        description: "This field contains the card brand name. \n\nSome of the possible values (not an exhaustive list) are -\n\n  - VISA\n  - MASTERCARD\n  - AMERICAN EXPRESS\n  - DISCOVER\n  - DINERS CLUB\n  - CARTE BLANCHE\n  - JCB\n  - OPTIMA\n  - TWINPAY CREDIT CARD\n  - TWINPAY DEBIT CARD\n  - WALMART\n  - ENROUTE\n  - LOWES CONSUMER\n  - HOME DEPOT CONSUMER\n  - MBNA\n  - DICKS SPORTWEAR\n  - CASUAL CORNER\n  - SEARS\n  - JAL\n  - DISNEY CARD\n  - SWITCH/SOLO\n  - SAMS CLUB CONSUMER\n  - SAMS CLUB BUSINESS\n  - NICOS HOUSE CARD\n  - BEBE\n  - RESTORATION HARDWARE\n  - DELTA ONLINE\n  - SOLO\n  - VISA ELECTRON\n  - DANKORT\n  - LASER\n  - CARTE BANCAIRE\n  - CARTA SI\n  - ENCODED ACCOUNT\n  - UATP\n  - HOUSEHOLD\n  - MAESTRO\n  - GE CAPITAL\n  - KOREAN CARDS\n  - STYLE CARDS\n  - JCREW\n  - MEIJER\n  - HIPERCARD\n  - AURA\n  - REDECARD\n  - ORICO HOUSE CARD\n  - ELO\n  - CAPITAL ONE PRIVATE LABEL\n  - CARNET\n  - RUPAY\n  - CHINA UNION PAY\n  - FALABELLA PRIVATE LABEL\n  - PROMPTCARD\n  - KOREAN DOMESTIC\n  - BANRICOMPRAS\n"
                      currency:
                        type: string
                        maxLength: 3
                        description: 'This field indicates the 3-letter [ISO Standard Currency Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf) for the card currency.

                          '
                      accountEncoderId:
                        type: string
                        maxLength: 3
                        description: 'Identifier for the issuing bank that provided the customer''s encoded account number. Contact your processor for the bank''s ID.

                          '
                      useAs:
                        type: string
                        maxLength: 20
                        description: "Flag that specifies the type of account associated with the card.  This field is available only for China UnionPay, Cielo, Comercio Latino and Visa Platform Connect.\nThe cardholder provides this information during the payment process.  This field is required for:\n - Debit transactions on Cielo and Comercio Latino.\n - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n\n**China UnionPayCard Transactions on China UnionPay:**\nPossible values:\n - C: Domestic credit card\n - D: Domestic debit card\n - F: International credit card\n - I: International debit card\n\nWhen the value is D, the e-commerce indicator and CAVV fields must be included in the authorization request.\nWhen the value is C, F or I the card verification number, expiration month and expiration year fields must in included in the authorization request.\n\n**Cielo and Comercio Latino Credit Card Transactions:**\nOn these processors, this field is supported only for authorizations.  Possible values:\n - CR: Credit card\n - DB: Debit card     \n\n**Visa Platform Connect Credit Card Transactions:**\nThis field is supported for all card types on Visa Platform Connect.\nFor combo **card present** transactions with Mastercard on Brazilian-issued cards, possible values:\n - CR: Credit card\n - DB: Debit Card\n\nFor combo **card not present** transactions with Mastercard on Brazilian-issued cards, possible values:\n - C: Credit card\n - D: Debit card\n\nA value of CR or DB in the useAs field takes precedence over any value in the Source Account Type field.\n"
                  brands:
                    type: array
                    description: 'This array contains the supported brands.

                      '
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: 'Three-digit value that indicates the card type.


                            **IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is

                            optional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.


                            Possible values:

                            - `001`: Visa. Use card type value `001` for Visa Electron.

                            - `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.

                            - `003`: American Express

                            - `004`: Discover

                            - `005`: Diners Club

                            - `006`: Carte Blanche[^1]

                            - `007`: JCB[^1]

                            - `008`: Optima

                            - `009`: GE Private Label

                            - `010`: Beneficial Private Label

                            - `011`: Twinpay Credit Card

                            - `012`: Twinpay Debit Card

                            - `013`: WalMart

                            - `014`: Enroute[^1]

                            - `015`: Lowe''s Consumer

                            - `016`: Home Depot Consumer

                            - `017`: MBNA

                            - `018`: Dick''s Sportswear

                            - `019`: Casual Corner

                            - `020`: Sears

                            - `021`: JAL[^1]

                            - `023`: Disney Card

                            - `024`: Maestro (UK Domestic)[^1]

                            - `025`: Sam''s Club Consumer

                            - `026`: Sam''s Club Business

                            - `027`: Nico''s

                            - `028`: Paymentech Bill Me Later

                            - `029`: Bebe

                            - `030`: Restoration Hardware

                            - `031`: Delta Online

                            - `032`: Solo

                            - `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.

                            - `034`: Dankort[^1]

                            - `035`: Laser

                            - `036`: Cartes Bancaires[^1,4]

                            - `037`: Carta Si[^1]

                            - `038`: Pinless Debit

                            - `039`: Encoded account number[^1]

                            - `040`: UATP[^1]

                            - `041`: HOUSEHOLD

                            - `042`: Maestro (International)[^1]

                            - `043`: GE MONEY

                            - `044`: Korean Cards

                            - `045`: Style Cards

                            - `046`: JCrew

                            - `047`: Payeasecn eWallet

                            - `048`: Payeasecn Bank Transfer

                            - `049`: Meijer

                            - `050`: Hipercard[^2,3]

                            - `051`: Aura

                            - `052`: Redecard

                            - `053`: Orico card

                            - `054`: Elo[^3]

                            - `055`: Capitol One Private Label

                            - `056`: Carnet

                            - `057`: Costco Private Label

                            - `058`: Carnet

                            - `059`: ValueLink

                            - `060`: MADA

                            - `061`: RuPay

                            - `062`: China UnionPay

                            - `063`: Falabella Private Label

                            - `064`: Prompt Card

                            - `065`: Korean Domestic

                            - `066`: Banricompras

                            - `067`: MEEZA

                            - `068`: PayPak

                            - `070`: EFTPOS

                            - `071`: Codensa

                            - `072`: Olimpica

                            - `073`: Colsubsidio

                            - `074`: Tuya

                            - `075`: Sodexo

                            - `076`: Naranja

                            - `077`: Cabal

                            - `078`: DINELCO

                            - `079`: PANAL

                            - `080`: EPM

                            - `081`: Jaywan


                            [^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.

                            [^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.

                            [^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.

                            [^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.


                            #### Used by

                            **Authorization**

                            Required for Carte Blanche and JCB.

                            Optional for all other card types.


                            #### Card Present reply

                            This field is included in the reply message when the client software that is installed on the POS terminal uses

[...]
