swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Payouts API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Payouts
  description: 'A payout enables an originator to send funds on behalf of itself, merchants, or customers to credit card

    accounts using an Original Credit Transaction (OCT). An originator is a merchant, government entity, or

    corporation with a merchant account from an acquiring bank.

    '
paths:
  /pts/v2/payouts:
    post:
      summary: Process a Payout
      description: 'Send funds from a selected funding source to a designated credit/debit card account or a prepaid card using an Original Credit Transaction (OCT).

        The availability of API features for a merchant can depend on the portfolio configuration and may need to be enabled at the portfolio level before they can be added to merchant accounts.

        '
      tags:
      - Payouts
      operationId: octCreatePayment
      x-devcenter-metaData:
        categoryTag: Payouts
        isMLEsupported: true
        mleForRequest: optional
      parameters:
      - name: octCreatePaymentRequest
        in: body
        required: true
        schema:
          type: object
          properties:
            clientReferenceInformation:
              type: object
              properties:
                code:
                  type: string
                  maxLength: 59
                  description: 'Merchant-generated order reference or tracking number. It is recommended that you send a unique value for each

                    transaction so that you can perform meaningful searches for the transaction.


                    #### Used by

                    **Authorization**

                    Required field.


                    #### PIN Debit

                    Requests for PIN debit reversals need to use the same merchant reference number that was used in the transaction that is being

                    reversed.


                    Required field for all PIN Debit requests (purchase, credit, and reversal).


                    #### FDC Nashville Global

                    Certain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.

                    '
                applicationName:
                  type: string
                  description: 'The name of the Connection Method client (such as Virtual Terminal or SOAP Toolkit API) that the merchant uses to send a transaction request to CyberSource.

                    '
                applicationVersion:
                  type: string
                  description: 'Version of the CyberSource application or integration used for a transaction.

                    '
                applicationUser:
                  type: string
                  description: 'The entity that is responsible for running the transaction and submitting the processing request to CyberSource. This could be a person, a system, or a connection method.

                    '
            orderInformation:
              type: object
              properties:
                amountDetails:
                  type: object
                  properties:
                    totalAmount:
                      type: string
                      maxLength: 19
                      description: "Grand total for the order. This value cannot be negative. You can include a decimal point (.), but no other special characters.\nCyberSource truncates the amount to the correct number of decimal places.\n\n**Note** For CTV, FDCCompass, Paymentech processors, the maximum length for this field is 12.\n\n**Important** Some processors have specific requirements and limitations, such as maximum amounts and maximum field lengths.\n\nIf your processor supports zero amount authorizations, you can set this field to 0 for the authorization to check if the card is lost or stolen. \n\n#### Card Present\nRequired to include either this field or `orderInformation.lineItems[].unitPrice` for the order.\n\n#### Invoicing / Pay By Link\nRequired for creating a new invoice or payment link.\n\n#### PIN Debit\nAmount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount.\n\nRequired field for PIN Debit purchase and PIN Debit credit requests.\nOptional field for PIN Debit reversal requests.\n\n#### GPX\nThis field is optional for reversing an authorization or credit; however, for all other processors, these fields are required.\n\n#### DCC with a Third-Party Provider\nSet this field to the converted amount that was returned by the DCC provider. You must include either this field or the 1st line item in the order and the specific line-order amount in your request. \n\n#### DCC for First Data\nNot used.\n"
                    currency:
                      type: string
                      maxLength: 3
                      description: 'Currency used for the order. Use the three-character [ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)


                        #### Used by

                        **Authorization**

                        Required field.


                        **Authorization Reversal**

                        For an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.


                        #### PIN Debit

                        Currency for the amount you requested for the PIN debit purchase. This value is returned for partial authorizations. The issuing bank can approve a partial amount if the balance on the debit card is less than the requested transaction amount. For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).

                        Returned by PIN debit purchase.


                        For PIN debit reversal requests, you must use the same currency that was used for the PIN debit purchase or PIN debit credit that you are reversing.

                        For the possible values, see the [ISO Standard Currency Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/currencies.pdf).


                        Required field for PIN Debit purchase and PIN Debit credit requests.

                        Optional field for PIN Debit reversal requests.


                        #### GPX

                        This field is optional for reversing an authorization or credit.


                        #### DCC for First Data

                        Your local currency.


                        #### Tax Calculation

                        Required for international tax and value added tax only.

                        Optional for U.S. and Canadian taxes.

                        Your local currency.

                        '
                    surcharge:
                      type: object
                      properties:
                        amount:
                          type: string
                          maxLength: 15
                          description: 'The surcharge amount is included in the total transaction amount but is passed in a separate field to the issuer and acquirer for tracking. The issuer can provide information about the surcharge amount to the customer.


                            If the amount is positive, then it is a debit for the customer.

                            If the amount is negative, then it is a credit for the customer.


                            **NOTE**: This field is supported only for CyberSource through VisaNet (CtV) for Payouts. For CtV, the maximum string length is 8.


                            #### PIN debit

                            Surcharge amount that you are charging the customer for this transaction. If you include a surcharge amount

                            in the request, you must also include the surcharge amount in the value for `orderInformation.amountDetails.totalAmount`.


                            Optional field for transactions that use PIN debit credit or PIN debit purchase.

                            '
                billTo:
                  type: object
                  properties:
                    firstName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s first name. This name must be the same as the name on the card.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### SEPA

                        Required for Create Mandate and Import Mandate

                        #### BACS

                        Required for Import Mandate


                        #### CyberSource Latin American Processing

                        **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                        **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called _CyberSource Latin American Processing_. It is not for any other Latin American processors that CyberSource supports.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    lastName:
                      type: string
                      maxLength: 60
                      description: 'Customer''s last name. This name must be the same as the name on the card.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### SEPA

                        Required for Create Mandate and Import Mandate

                        #### BACS

                        Required for Import Mandate

                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### CyberSource Latin American Processing

                        **Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\

                        **Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### OmniPay Direct

                        Optional field.


                        #### RBS WorldPay Atlanta

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    address1:
                      type: string
                      maxLength: 60
                      description: 'Payment card billing street address as it appears on the credit card issuer''s records.


                        #### SEPA

                        Required for Create Mandate and Import Mandate


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        **Important** When you populate orderInformation.billTo.address1 and orderInformation.billTo.address2,

                        CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                        CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                        Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        #### FDMS Nashville

                        When the street name is numeric, it must be sent in numeric format. For example, if the address is _One First Street_,

                        it must be sent as _1 1st Street_.


                        Required if keyed; not used if swiped.


                        String (20)


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### All other processors:

                        Optional.

                        String (60)


                        #### For Payouts

                        This field may be sent only for FDC Compass.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.

                        '
                    address2:
                      type: string
                      maxLength: 60
                      description: 'Used for additional address information. For example: _Attention: Accounts Payable_

                        Optional field.


                        For Payouts: This field may be sent only for FDC Compass.


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        **Important** When you populate `orderInformation.billTo.address1` and `orderInformation.billTo.address2`,

                        CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters,

                        CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank.

                        Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        #### Chase Paymentech Solutions, FDC Compass, and TSYS Acquiring Solutions

                        This value is used for AVS.


                        #### FDMS Nashville

                        `orderInformation.billTo.address1` and `orderInformation.billTo.address2` together cannot exceed 20 characters.

                        String (20)


                        #### All Other Processors

                        String (60)

                        '
                    country:
                      type: string
                      maxLength: 3
                      description: 'Payment card billing country. Use the two-character [ISO Standard Country Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).


                        #### SEPA/BACS

                        Required for Create Mandate and Import Mandate


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII

                        characters for transmission to the credit card networks.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    locality:
                      type: string
                      maxLength: 50
                      description: 'Payment card billing city.


                        #### SEPA

                        Required for Create Mandate and Import Mandate


                        #### Atos

                        This field must not contain colons (:).


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    administrativeArea:
                      type: string
                      maxLength: 50
                      description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).


                        For Payouts: This field may be sent only for FDC Compass.


                        ##### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet

                        accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations

                        of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the

                        credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless

                        ASCII characters for transmission to the credit card networks.


                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Required when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    postalCode:
                      type: string
                      maxLength: 10
                      description: "Postal code for the billing address. The postal code must consist of 5 to 9 digits.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\n**Example** `12345-6789`\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\n**Example** `A1B 2C3`\n\n**Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\n#### SEPA\nRequired for Create Mandate and Import Mandate\n\n#### For Payouts:\n This field may be sent only for FDC Compass.\n\n#### American Express Direct\nBefore sending the postal code to the processor, CyberSource removes all nonalphanumeric characters and, if the remaining value is longer than nine characters, truncates the value starting from the right side.\n\n#### Atos\nThis field must not contain colons (:).\n\n#### CyberSource through VisaNet\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet\naccepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations\nof the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the\ncredit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII\ncharacters for transmission to the credit card networks.\n\n#### FDMS Nashville\nRequired if `pointOfSaleInformation.entryMode=keyed` and the address is in the U.S. or Canada.\nOptional if `pointOfSaleInformation.entryMode=keyed` and the address is **not** in the U.S. or Canada.\nNot used if swiped.\n\n#### RBS WorldPay Atlanta:\nFor best card-present keyed rates, send the postal code if `pointOfSaleInformation.entryMode=keyed`.\n\n#### TSYS Acquiring Solutions\nRequired when `processingInformation.billPaymentOptions.billPayment=true` and `pointOfSaleInformation.entryMode=keyed`.\n\n#### All other processors:\nOptional field.\n"
                    phoneNumber:
                      type: string
                      maxLength: 15
                      description: 'Customer''s phone number.


                        It is recommended that you include the country code when the order is from outside the U.S.


                        #### Chase Paymentech Solutions

                        Optional field.


                        ####  Credit Mutuel-CIC

                        Optional field.


                        #### CyberSource through VisaNet

                        Credit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        #### OmniPay Direct

                        Optional field.


                        #### SIX

                        Optional field.


                        #### TSYS Acquiring Solutions

                        Optional field.


                        #### Worldpay VAP

                        Optional field.


                        #### All other processors

                        Not used.

                        '
                    phoneType:
                      type: string
                      description: 'Customer''s phone number type.


                        #### For Payouts:

                        This field may be sent only for FDC Compass.


                        Possible Values:

                        * day

                        * home

                        * night

                        * work

                        '
                isCryptocurrencyPurchase:
                  type: string
                  description: '#### Visa Platform Connect :

                    This API will contain the Flag that specifies whether the payment is for the purchase of cryptocurrency.

                    Additional values to add :

                    This API will contain the Flag that specifies whether the payment is for the purchase of cryptocurrency.

                    valid values are

                    - Y/y, true

                    - N/n, false

                    '
            merchantInformation:
              type: object
              properties:
                categoryCode:
                  type: integer
                  maximum: 9999
                  description: 'The value for this field is a four-digit number that the payment card industry uses to classify

                    merchants into market segments. A payment card company assigned one or more of these values to your business when you started

                    accepting the payment card company''s cards. When you do not include this field in your request, CyberSource uses the value in your

                    CyberSource account.


                    #### CyberSource through VisaNet

                    The value for this field corresponds to the following data in the TC 33 capture file5:

                    - Record: CP01 TCR4

                    - Position: 150-153

                    - Field: Merchant Category Code

                    '
                submitLocalDateTime:
                  type: string
                  description: 'Time that the transaction was submitted in local time. The time is in hhmmss format.

                    '
                vatRegistrationNumber:
                  type: string
                  maxLength: 21
                  description: 'Your government-assigned tax identification number.


                    #### Tax Calculation

                    Required field for value added tax only. Not applicable to U.S. and Canadian taxes.


                    #### CyberSource through VisaNet

                    For CtV processors, the maximum length is 20.

                    '
                merchantDescriptor:
                  type: object
                  properties:
                    name:
                      type: string
                      description: 'Your merchant name.


                        **Note** For Paymentech processor using Cybersource Payouts, the maximum data length is 22.


                        #### PIN debit

                        Your business name. This name is displayed on the cardholder''s statement. When you

                        include more than one consecutive space, extra spaces are removed.


                        When you do not include this value in your PIN debit request, the merchant name from your account is used.

                        **Important** This value must consist of English characters.


                        Optional field for PIN debit credit or PIN debit purchase requests.


                        #### Airline processing

                        Your merchant name. This name is displayed on the cardholder''s statement. When you include more than one consecutive space, extra spaces are removed.


                        **Note** Some airline fee programs may require the original ticket number (ticket identifier) or the ancillary service description in positions 13 through 23 of this field.


                        **Important** This value must consist of English characters.


                        Required for captures and credits.

                        '
                    locality:
                      type: string
                      maxLength: 30
                      description: 'Merchant''s City.


                        #### PIN debit

                        City for your business location. This value might be displayed on the cardholder''s statement.


                        When you do not include this value in your PIN debit request, the merchant name from your account is used.

                        **Important** This value must consist of English characters.


                        Optional field for PIN debit credit or PIN debit purchase requests.

                        '
                    country:
                      type: string
                      maxLength: 3
                      description: 'Merchant''s country.


                        #### PIN debit

                        Country code for your business location. Use the [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf)

                        This value might be displayed on the cardholder''s statement.


                        When you do not include this value in your PIN debit request, the merchant name from your account is used.

                        **Important** This value must consist of English characters.

                        **Note** If your business is located in the U.S. or Canada and you include this field in a

                        request, you must also include `merchantInformation.merchantDescriptor.administrativeArea`.


                        Optional field for PIN debit credit or PIN debit purchase.

                        '
                    administrativeArea:
                      type: string
                      description: 'The state where the merchant is located.


                        #### PIN debit

                        State code or region code for your business. Use the Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf) This value might be displayed on the cardholder''s statement.


                        When you do not include this value in your PIN debit request, the merchant name from your account is used.

                        **Important** This value must consist of English characters.


                        **Note** This field is supported only for businesses located in the U.S. or Canada.


                        Optional field for PIN debit credit or PIN debit purchase.

                        '
                    postalCode:
                      type: string
                      maxLength: 14
                      description: 'Merchant''s postal code.


                        #### PIN debit

                        Postal code for your business location. This value might be displayed on the cardholder''s statement.


                        If your business is domiciled in the U.S., you can use a 5-digit or 9-digit postal code. A 9-digit postal code must follow this format:

                        [5 digits][dash][4 digits]

                        Example: `12345-6789`


                        If your business is domiciled in Canada, you can use a 6-digit or 9-digit postal code. A 6-digit postal code must follow this format:

                        [alpha][numeric][alpha][space]

                        [numeric][alpha][numeric]

                        Example: `A1B 2C3`


                        When you do not include this value in your PIN debit request, the merchant name from your account is used.

                        **Important** This value must consist of English characters.


                        **Note** This field is supported only for businesses located in the U.S. or Canada.

                        **Important** Mastercard requires a postal code for any country that uses postal codes.

                        You can provide the postal code in your account or you can include this field in your request.


                        Optional field for PIN debit credit or PIN debit purchase.

                        '
                    contact:
                      type: string
                      maxLength: 25
                      description: 'Contact information for the merchant.


                        **Note** These are the maximum data lengths for the following payment processors:

                        - FDCCompass (13)

                        - Paymentech (13)

                        '
                    address1:
                      type: string
                      maxLength: 60
                      description: 'First line of merchant''s address.

                        '
            recipientInformation:
              type: object
              properties:
                firstName:
                  type: string
                  maxLength: 30
                  description: "First name of the recipient.   \nThis field is applicable for AFT & OCT transactions.\n\nOnly alpha numeric values are supported. Special characters not in the standard ASCII character set, are not supported and will be stripped before being sent to sent to the processor.\n"
                middleName:
                  type: string
                  maxLength: 30
                  description: "Middle name of the recipient.   \nThis field is applicable for AFT & OCT transactions.\n\nOnly alpha numeric values are supported. Special characters not in the standard ASCII character set, are not supported and will be stripped before being sent to sent to the processor.\n"
                lastName:
                  type: string
                  maxLength: 30
                  description: "Last name of the recipient. \nThis field is applicable for AFT & OCT transactions.\n\nOnly alpha numeric values are supported. Special characters not in the standard ASCII character set, are not supported and will be stripped before being sent to sent to the processor.\n"
                address1:
                  type: string
                  maxLength: 35
                  description: 'The street address of the recipient

                    This field is applicable for AFT and OCT transactions.


                    Only alpha numeric values are supported. Special characters not in the standard ASCII character set are not supported and will be stripped before being sent to sent to the processor.

                    '
                locality:
                  type: string
                  maxLength: 25
                  description: 'The city of the recipient.

                    This field is applicable for AFT and OCT transactions.


                    Only alpha numeric values are supported.

                    Special characters not in the standard ASCII character set are not supported and will be stripped before being sent to sent to the processor.

                    '
                administrativeArea:
                  type: string
                  maxLength: 2
                  description: 'The state or province of the recipient.

                    This field is applicable for AFT and OCT transactions when the recipient country is US or CA. Else it is optional.


                    Must be a two character value

                    '
                country:
                  type: string
                  maxLength: 2
                  minLength: 2
                  description: "The country associated with the address of the recipient.\nThis field is applicable for AFT and OCT transactions.\n\nMust be a two character ISO country code. \nFor example, see [ISO Country Code](https://developer.cybersource.com/docs/cybs/en-us/country-codes/reference/all/na/country-codes/country-codes.html)\n"
                postalCode:
                  type: string
                  maxLength: 10
                  description: Recipient postal code. Required only for FDCCompass.
                phoneNumber:
                  type: string
                  maxLength: 20
                  description: Recipient phone number. Required only for FDCCompass.
                aliasName:
                  type: string
                  maxLength: 50
                  description: 'Account owner alias name.

                    '
                nationality:
                  type: string
                  maxLength: 10
                  description: Account Owner Nationality
                countryOfBirth:
                  type: string
                  maxLength: 10
                  description: Account Owner Country of Birth
                occupation:
                  type: string
                  maxLength: 50
                  description: Account Owner Occupation
                email:
                  type: string
                  maxLength: 150
                  description: Account Owner email address
            senderInformation:
              type: object
              properties:
                referenceNumber:
                  type: string
                  maxLength: 19
                  description: Reference number generated by you that uniquely identifies the sender.
                account:
                  type: object
                  properties:
                    fundsSource:
                      type: string
                      minLength: 2
                      maxLength: 2
                      description: "Source of funds. Possible values:\n\n  Paymentech, CTV, FDC Compass:\n - 01: Credit card\n - 02: Debit card\n - 03: Prepaid card\n\n  Paymentech, CTV -\n - 04: Cash\n - 05: Debit or deposit account that is not linked to a Visa card. Includes checking accounts, savings\n       accounts, and proprietary debit or ATM cards.\n - 06: Credit account that is not linked to a Visa card. Includes credit cards and proprietary lines\n       of credit.\n\n  FDCCompass -\n  - 04: Deposit Account\n\n**Funds Disbursement**\n\nThis value is most likely 05 to identify that the originator used a deposit account to fund the\ndisbursement.\n\n**Credit Card Bill Payment**\n\nThis value must be 02, 03, 04, or 05.\n"
                    number:
                      type: string
                      maxLength: 34
                      description: 'The account number of the entity funding the transaction. It is the sender''s account number. It can

                        be a debit/credit card account number or bank account number.


                        **Funds disbursements and OCT transactions**


                        This field is optional.


                        **All other transactions**


                        This field is required when the sender funds the transaction with a financial instrument, for example

                        debit card.

                        Length:

                        * FDCCompass (<= 19)

                        * Paymentech (<= 16)

                        '
                firstName:
                  type: string
                  maxLength: 30
                  description: "First name of the sender.\nThis field is applicable for AFT and OCT transactions. \n\nOnly alpha numeric values are supported.Special characters not in the standard ASCII character set, are not supported and will be stripped before being sent to the processor.\n"
                middleInitial:
                  type: string
                  maxLength: 1
                  description: 'Recipient middle initial (Optional).

                    '
                middleName:
                  type: string
                  maxLength: 30
                  description: "Middle name of the sender.\nThis field is applicable for AFT and OCT transactions. \n\nOnly alpha numeric values are supported. Special characters not in the standard ASCII character set, are not supported and will be stripped before being sent to sent to the processor.\n"
                lastName:
                  type: string
                  maxLength: 30
                  description: 'Last name of the sender.

                    This field is applicable for AFT and OCT transactions.


                    Only alpha numeric values are supported. Special characters not in the standard ASCII character set, are not supported and will be stripped before being sent to sent to the processor.

                    '
                name:
                  type: string
                  maxLength: 24
                  description: 'Name of sender.


                    **Funds Disbursement**


                    This value is the name of the originator sending the funds disbursement.

                    * CTV, Paymentech (30)

                    '
                address1:
                  type: string
                  maxLength: 50
                  description: 'Street address of sender.


                    **Funds Disbursement**


                    This value is the address of the originator sending the funds disbursement.

                    '
                locality:
                  type: string
                  maxLength: 25
                  description: 'City of sender.


                    **Funds Disbursement**


                    This value is the city of the originator sending the funds disbursement.

                    '
                administrativeArea:
                  type: string
                  maxLength: 2
                  description: 'Sender''s state. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).

                    '
                countryCode:
                  type: string
                  maxLength: 2
                  description: 'Country of sender. Use the [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).

                    * CTV (3)

                    '
                postalCode:
                  type: string
                  maxLength: 10
                  description: Sender's postal code. Required only for FDCCompass.
                phoneNumber:
                  type: string
                  maxLength: 20
                  description: Sender's phone number. Required only for FDCCompass.
                dateOfBirth:
                  type: string
                  minLength: 8
                  maxLength: 8
                  description: Sender's date of birth in YYYYMMDD format. Required only for FDCCompass.
                vatRegistrationNumber:
                  type: string
                  maxLength: 13
                  description: 'Customer''s government-assigned tax identification number.

                    '
                personalIdType:
                  type: string
                  maxLength: 4
                  description: '#### Visa Platform Connect

                    This tag will contain the type of sender identification.

                    The valid values are:

                    • BTHD (Date of birth)

                    • CUID (Customer identification (unspecified))

                    • NTID (National identification)

                    • PASN (Passport number)

                    • DRLN (Driver license)

                    • TXIN (Tax identification)

                    • CPNY (Company registration number)

                    • PRXY (Proxy identification)

                    • SSNB (Social security number)

                    • ARNB (Alien registration number)

                    • LAWE (Law enforcement identification)

                    • MILI (Military identification)

                    • TRVL (Travel identification (non-passport))

                    • EMAL (Email)

                    • PHON (Phone number)

                    '
                type:
                  type: string
                  maxLength: 1
                  description: '#### Visa Platform Connect

                    This tag will denote whether the tax ID is a business or individual tax ID when personal ID Type contains the value of TXIN (Tax identification).


                    The valid values are:

                    • B (Business)

                    • I (Individual)

                    '
                identificationNumber:
                  type: string
                  maxLength: 255
                  description: '#### Visa Platform Connect

                    This tag will contain an acquirer-populated value associated with the API : senderInformation.personalIdType which will identify the personal ID type of the sender.

                    '
                aliasName:
                  type: string
                  maxLength: 50
                  description: Sender's alias name.
            processingInformation:
              type: object
              properties:
                businessApplicationId:
                  type: string
                  maxLength: 2
                  description: "Payouts transaction type.\n\nApplicable Processors: FDC Compass, Paymentech, CtV\n\nPossible values:\n\n**Credit Card Bill Payment**\n\n - **CP**: credit card bill payment\n\n**Funds Disbursement**\n\n - **FD**: funds disbursement\n - **GD**: government disbursement\n - **MD**: merchant disbursement\n\n**Money Transfer**\n\n - **AA**: account to account. Sender and receiver are same person.\n - **PP**: person to person. Sender and receiver are different.\n\n**Prepaid Load**\n\n - **TU**: top up\n"
                networkRoutingOrder:
                  type: string
                  maxLength: 30
                  description: "This field is optionally used by Push Payments Gateway participants (merchants and acquirers) to get the attributes for specified networks only.\nThe networks specified in this field must be a subset of the information provided during program enrollment. Refer to Sharing Group Code/Network Routing Order.\nNote: Supported only in US for domestic transactions involving Push Payments Gateway Service.\n\nVisaNet checks to determine if there are issuer routing preferences for any of the networks specified by the network routing order.\nIf an issuer preference exists for one of the specified debit networks, VisaNet makes a routing selection based on the issuer's preference. \nIf an issuer preference exists for more than one of the specified debit networks, or if no issuer preference exists, VisaNet makes a selection based on the acquirer's routing priorities. \n"
                commerceIndicator:
                  type: string
                  maxLength: 13
                  description: 'Type of transaction.


                    Value for an OCT transaction:

                    - `internet`

                    '
                reconciliationId:
                  type: string
                  maxLength: 60
                  description: 'Please check with Cybersource customer support to see if your merchant account is configured correctly so you

                    can include this field in your request.

                    * For Payouts: max length for FDCCompass is String (22).

                    '
                payoutsOptions:
                  type: object
                  properties:
                    acquirerMerchantId:
                      type: string
                      maxLength: 15
                      description: "This field identifies the card acceptor for defining the point of service terminal in both local and interchange environments. An acquirer-assigned code identifying the card acceptor for the transaction. \nDepending on the acquirer and merchant billing and reporting requirements, the code can represent a merchant, a specific merchant location, or a specific merchant location terminal.\nAcquiring Institution Identification Code uniquely identifies the merchant.\nThe value from the original is required in any subsequent messages, including reversals, chargebacks, and representments.\n* Applicable only for CTV for Payouts.\n"
                    acquirerBin:
                      type: string
                      maxLength: 11
                      description: "This code identifies the financial institution acting as the acquirer of this customer transaction. The acquirer is the member or system user that signed the merchant or ADM or dispensed cash. \nThis number is usually Visa-assigned.\n* Applicable only for CTV for Payouts.\n"
                    retrievalReferenceNumber:
                      type: string
                      maxLength: 12
                      description: "This field contains a number that is used with other data elements as a key to identify and track all messages related to a given cardholder transaction;\nthat is, to a given transaction set.\n\nFormat:\n  Positions 1-4: The `yddd` equivalent of the date, where `y` = 0-9 and `ddd` = 001 – 366.\n  Positions 5-12: A unique identification number generated by the merchant\n\n* Applicable only for CTV for Payouts.\n"
                    accountFundingReferenceId:
                      type: string
                      maxLength: 40
                      description: 'Visa (maxLength of 15) or MasterCard (maxLength of 40) generated transaction identifier (TID) that is unique for each original authorization and financial request.

                        * Applicable only for CTV for Payouts.

                        '
                    deferredDateTime:
                      type: string
                      maxLength: 12
                      description: '#### Visa Platform Connect


                        Contains date and time value indicating scheduled deferred OCT.


                        Format is : ''yyyyMMddHHmm'', where


                        ''YYYY'' = year

                        ''MM'' = month

                        ''DD'' = day

                        ''hh'' = hour

                        ''mm'' = minutes

                        '
                transactionReason:
                  type: string
                  maxLength: 4
                  description: 'Transaction reason code.

                    '
                purposeOfPayment:
                  type: string
                  maxLength: 12
                  description: 'This field is applicable for AFT and OCT transactions. For list of supported values, please refer to Developer Guide.

                    '
                fundingOptions:
                  type: object
                  properties:
                    initiator:
                      type: object
                      properties:
                        type:
                          type: string
                          maxLength: 1
                          description: '#### Visa Platform Connect :

                            This API will contain a code that denotes whether the customer identification data belongs to the sender or the recipient.


                            The valid values are:

                            • S (Payer (sender))

                            • R (Payee (recipient))

                            '
                languageCode:
                  type: string
                  maxLength: 10
                  description: 'Contains the ISO 639-2 defined language Code

                    '
                purchaseOptions:
                  type: object
                  properties:
                    benefitAmount:
                      type: string
                      maxLength: 20
                      description: Workplace benefit amount.
                    benefitType:
                      type: string
                      maxLength: 100
                      description: 'Workplace benefit type.

                        Possible values:

                        - 70 = employee benefit

                        - 4T = transportation / transit

                        - 52 = general benefit

                        - 53 = meal voucher

                        - 54 = fuel

                        - 55 = ecological / sustainability

                        - 58 = philanthropy / patronage / consumption

                        - 59 = gift

                        - 5S = sport / culture

                        - 5T = book / education

                        '
                accountVerificationCode:
                  type: array
                  x-nullable: true
                  items:
                    type: string
                  description: 'Account verification code will inform what Payment Account Verification should be performed. With this array of codes, a merchant can choose à la carte what verifications to run. This field is optional, and the default is 1 if it is not passed in. This means that a full validation of the fields will be performed.

                    Valid verification codes:

                    - `1` = Full Account Verification (Card Account, CVN, CAVV, TAVV, Address, Name, eMail, Phone, Identity)

                    - `2` = Card Account Verification

                    - `3` = Address Verification

                    - `4` = Card Authentication Method (CAM) (Cryptogram)

                    - `5` = Cardholder Authentication Verification (CAVV)

                    - `6` = Cardholder Identity Verification

                    - `7` = CVV2 Verification

                    - `8` = eMail Verification

                    - `9` = Name Verification

                    - `10` = Phone Verification

                    '
            paymentInformation:
              type: object
              properties:
                card:
                  type: object
                  properties:
                    type:
                      type: string
                      description: 'Three-digit value that indicates the card type.


                        **IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is

                        optional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.


                        Possible values:

                        - `001`: Visa. Use card type value `001` for Visa Electron.

                        - `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.

                        - `003`: American Express

                        - `004`: Discover

                        - `005`: Diners Club

                        - `006`: Carte Blanche[^1]

                        - `007`: JCB[^1]

                        - `008`: Optima

                        - `009`: GE Private Label

                        - `010`: Beneficial Private Label

                        - `011`: Twinpay Credit Card

                        - `012`: Twinpay Debit Card

                        - `013`: WalMart

                        - `014`: Enroute[^1]

                        - `015`: Lowe''s Consumer

                        - `016`: Home Depot Consumer

                        - `017`: MBNA

                        - `018`: Dick''s Sportswear

                        - `019`: Casual Corner

                        - `020`: Sears

                        - `021`: JAL[^1]

                        - `023`: Disney Card

                        - `024`: Maestro (UK Domestic)[^1]

                        - `025`: Sam''s Club Consumer

                        - `026`: Sam''s Club Business

                        - `027`: Nico''s

                        - `028`: Paymentech Bill Me Later

                        - `029`: Bebe

                        - `030`: Restoration Hardware

                        - `031`: Delta Online

                        - `032`: Solo

                        - `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.

                        - `034`: Dankort[^1]

                        - `035`: Laser

                        - `036`: Cartes Bancaires[^1,4]

                        - `037`: Carta Si[^1]

                        - `038`: Pinless Debit

                        - `039`: Encoded account number[^1]

                        - `040`: UATP[^1]

                        - `041`: HOUSEHOLD

                        - `042`: Maestro (International)[^1]

                        - `043`: GE MONEY

                        - `044`: Korean Cards

                        - `045`: Style Cards

                        - `046`: JCrew

                        - `047`: Payeasecn eWallet

                        - `048`: Payeasecn Bank Transfer

                        - `049`: Meijer

                        - `050`: Hipercard[^2,3]

                        - `051`: Aura

                        - `052`: Redecard

                        - `053`: Orico card

                        - `054`: Elo[^3]

                        - `055`: Capitol One Private Label

                        - `056`: Carnet

                        - `057`: Costco Private Label

                        - `058`: Carnet

                        - `059`: ValueLink

                        - `060`: MADA

                        - `061`: RuPay

                        - `062`: China UnionPay

                        - `063`: Falabella Private Label

                        - `064`: Prompt Card

                        - `065`: Korean Domestic

                        - `066`: Banricompras

                        - `067`: MEEZA

                        - `068`: PayPak

                        - `070`: EFTPOS

                        - `071`: Codensa

                        - `072`: Olimpica

                        - `073`: Colsubsidio

                        - `074`: Tuya

                        - `075`: Sodexo

                        - `076`: Naranja

                        - `077`: Cabal

                        - `078`: DINELCO

                        - `079`: PANAL

                        - `080`: EPM

                        - `081`: Jaywan


                        [^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.

                        [^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.

                        [^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.

                        [^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.


                        #### Used by

                        **Authorization**

                        Required for Carte Blanche and JCB.

                        Optional for all other card types.


                        #### Card Present reply

                        This field is included in the reply message when the client software that is installed on the POS terminal uses

                        the token management service (TMS) to retrieve tokenized payment details. You must contact customer support to

                        have your account enabled to receive these fields in the credit reply message.


                        Returned by the Credit service.


                        This reply field is only supported by the following processors:

                        - American Express Direct

                        - Credit Mutuel-CIC

                        - FDC Nashville Global

                        - OmniPay Direct

                        - SIX


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.


                        #### GPX

                        This field only supports transactions from the following card types:

                        - Visa

                        - Mastercard

                        - AMEX

                        - Discover

                        - Diners

                        - JCB

                        - Union Pay International

                        '
                    number:
                      type: string
                      maxLength: 20
                      description: 'The customer''s payment card number, also known as the Primary Account Number (PAN). You can also use this field

                        for encoded account numbers.


                        #### FDMS Nashville

                        Required. String (19)


                        #### GPX

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.


                        #### All other processors

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.

                        '
                    expirationMonth:
                      type: string
                      maxLength: 2
                      description: 'Two-digit month in which the payment card expires.


                        Format: `MM`.


                        Valid values: `01` through `12`. Leading 0 is required.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value

                        (`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is

                        in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause

                        the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (_type_=039), if there is no expiration date on the card, use `12`.


                        #### FDMS Nashville

                        Required field.


                        #### All other processors

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.

                        '
                    expirationYear:
                      type: string
                      maxLength: 4
                      description: 'Four-digit year in which the payment card expires.


                        Format: `YYYY`.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`1900` through `3000`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (**_type_**`=039`), if there is no expiration date on the card, use `2021`.


                        #### FDMS Nashville

                        Required field.


                        #### FDC Nashville Global and FDMS South

                        You can send in 2 digits or 4 digits. If you send in 2 digits, they must be the last 2 digits of the year.


                        #### All other processors

                        Required if `pointOfSaleInformation.entryMode=keyed`. However, this field is optional if your account is configured

                        for relaxed requirements for address data and expiration date. **Important** It is your responsibility to determine

                        whether a field is required for the transaction you are requesting.


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.

                        '
                    sourceAccountType:
                      type: string
                      maxLength: 20
                      description: "Flag that specifies the type of account associated with the card. \nThe cardholder provides this information during the payment process.\n\nThis field is required in the following cases:\n  - Debit transactions on Cielo and Comercio Latino.\n  - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n  - Applicable only for CyberSource through VisaNet (CtV).\n\n**Note** Combo cards in Brazil contain credit and debit functionality in a single card. Visa systems use a credit bank\nidentification number (BIN) for this type of card. Using the BIN to determine whether a card is debit or\ncredit can cause transactions with these cards to be processed incorrectly. CyberSource strongly recommends\nthat you include this field for combo card transactions.\n\nPossible values include the following.\n\n - `CH`: Checking account\n - `CR`: Credit card account\n - `SA`: Saving account\n - `LI`: Line of credit or credit portion of combo card\n - `PP`: Prepaid card account or prepaid portion of combo card\n - `UA`: Universal account\n\nIf useAs is set to credit/debit and there is a value in SourceAccountType, the value in the SourceAccountType field will take precedence.\nIf useAs is set to CR/DB and there is a value in SourceAccountType, the value in the useAs field will take precedence.\n"
                customer:
                  type: object
                  properties:
                    customerId:
                      type: string
                      description: 'Unique identifier for the customer''s card and billing information.


                        When you use Payment Tokenization or Recurring Billing and you include this value in

                        your request, many of the fields that are normally required for an authorization or credit

                        become optional.


                        **NOTE** When you use Payment Tokenization or Recurring Billing, the value for the Customer ID is actually the Cybersource payment token for a customer. This token stores information such as the consumer''s card number so it can be applied towards bill payments, recurring payments, or one-time payments. By using this token in a payment API request, the merchant doesn''t need to pass in data such as the card number or expiration date in the request itself.

                        '
                    id:
                      type: string
                      description: 'Unique identifier for the Customer token used in the transaction.

                        When you include this value in your request, many of the fields that are normally required for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                paymentInstrument:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 'Unique identifier for the Payment Instrument token used in the transaction.

                        When you include this value in your request, many of the fields that are normally required for an authorization or credit

                        become optional.

                        '
                      minLength: 1
                      maxLength: 32
                instrumentIdentifier:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 'Unique identifier for the Instrument Identifier token used in the transaction.

                        When you include this value in your request, many of the fields that can be supplied for an authorization or credit

                        become optional.

                        '
                      minLength: 12
                      maxLength: 32
                    state:
                      type: string
                      description: 'Issuers state for the card number.

                        Valid values:

                        - ACTIVE

                        - CLOSED : The account has been closed.

                        '
                tokenizedCard:
                  type: object
                  properties:
                    number:
                      type: string
                      maxLength: 20
                      description: 'Customer''s payment network token value.

                        '
                    expirationMonth:
                      type: string
                      maxLength: 2
                      description: 'One of two possible meanings:

                        - The two-digit month in which a token expires.

                        - The two-digit month in which a card expires.

                        Format: `MM`

                        Possible values: `01` through `12`


                        **NOTE** The meaning of this field is dependent on the payment processor that is returning the value in an authorization reply. Please see the processor-specific details below.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (`01` through `12`) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (`card_type=039`), if there is no expiration date on the card, use `12`.\

                        **Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.


                        #### Samsung Pay and Apple Pay

                        Month in which the token expires. CyberSource includes this field in the reply message when it decrypts the payment blob for the tokenized transaction.

                        '
                    expirationYear:
                      type: string
                      maxLength: 4
                      description: 'One of two possible meanings:

                        - The four-digit year in which a token expires.

                        - The four-digit year in which a card expires.

                        Format: `YYYY`

                        Possible values: `1900` through `3000`

                        Data type: Non-negative integer


                        **NOTE** The meaning of this field is dependent on the payment processor that is returning the value in an authorization reply. Please see the processor-specific details below.


                        #### Barclays and Streamline

                        For Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (1900 through

                        3000) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.


                        #### Encoded Account Numbers

                        For encoded account numbers (`card_ type=039`), if there is no expiration date on the card, use `2021`.


                        #### FDC Nashville Global and FDMS South

                        You can send in 2 digits or 4 digits. When you send in 2 digits, they must be the last 2 digits of

                        the year.


                        #### Samsung Pay and Apple Pay

                        Year in which the token expires. CyberSource includes this field in the reply message when it decrypts the payment blob for the tokenized transaction.


                        **Important** It is your responsibility to determine whether a field is required for the transaction

                        you are requesting.

                        '
                    type:
                      type: string
                      description: 'Three-digit value that indicates the card type.


                        **IMPORTANT** It is strongly recommended that you include the card type field in request messages even if it is

                        optional for your processor and card type. Omitting the card type can cause the transaction to be processed with the wrong card type.


                        Possible values:

                        - `001`: Visa. Use card type value `001` for Visa Electron.

                        - `002`: Mastercard, Eurocard[^1], which is a European regional brand of Mastercard.

                        - `003`: American Express

                        - `004`: Discover

                        - `005`: Diners Club

                        - `006`: Carte Blanche[^1]

                        - `007`: JCB[^1]

                        - `008`: Optima

                        - `009`: GE Private Label

                        - `010`: Beneficial Private Label

                        - `011`: Twinpay Credit Card

                        - `012`: Twinpay Debit Card

                        - `013`: WalMart

                        - `014`: Enroute[^1]

                        - `015`: Lowe''s Consumer

                        - `016`: Home Depot Consumer

                        - `017`: MBNA

                        - `018`: Dick''s Sportswear

                        - `019`: Casual Corner

                        - `020`: Sears

                        - `021`: JAL[^1]

                        - `023`: Disney Card

                        - `024`: Maestro (UK Domestic)[^1]

                        - `025`: Sam''s Club Consumer

                        - `026`: Sam''s Club Business

                        - `027`: Nico''s

                        - `028`: Paymentech Bill Me Later

                        - `029`: Bebe

                        - `030`: Restoration Hardware

                        - `031`: Delta Online

                        - `032`: Solo

                        - `033`: Visa Electron[^1]. Do not use this value. Use `001` for all Visa card types.

                        - `034`: Dankort[^1]

                        - `035`: Laser

                        - `036`: Cartes Bancaires[^1,4]

                        - `037`: Carta Si[^1]

                        - `038`: Pinless Debit

                        - `039`: Encoded account number[^1]

                        - `040`: UATP[^1]

                        - `041`: HOUSEHOLD

                        - `042`: Maestro (International)[^1]

                        - `043`: GE MONEY

                        - `044`: Korean Cards

                        - `045`: Style Cards

                        - `046`: JCrew

                        - `047`: Payeasecn eWallet

                        - `048`: Payeasecn Bank Transfer

                        - `049`: Meijer

                        - `050`: Hipercard[^2,3]

                        - `051`: Aura

                        - `052`: Redecard

                        - `053`: Orico card

                        - `054`: Elo[^3]

                        - `055`: Capitol One Private Label

                        - `056`: Carnet

                        - `057`: Costco Private Label

                        - `058`: Carnet

                        - `059`: ValueLink

                        - `060`: MADA

                        - `061`: RuPay

                        - `062`: China UnionPay

                        - `063`: Falabella Private Label

                        - `064`: Prompt Card

                        - `065`: Korean Domestic

                        - `066`: Banricompras

                        - `067`: MEEZA

                        - `068`: PayPak

                        - `070`: EFTPOS

                        - `071`: Codensa

                        - `072`: Olimpica

                        - `073`: Colsubsidio

                        - `074`: Tuya

                        - `075`: Sodexo

                        - `076`: Naranja

                        - `077`: Cabal

                        - `078`: DINELCO

                        - `079`: PANAL

                        - `080`: EPM

                        - `081`: Jaywan


                        [^1]: For this card type, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in your request for an authorization or a stand-alone credit.

                        [^2]: For this card type on Cielo 3.0, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit. This card type is not supported on Cielo 1.5.

                        [^3]: For this card type on Getnet and Rede, you must include the `paymentInformation.card.type` or `paymentInformation.tokenizedCard.type` field in a request for an authorization or a stand-alone credit.

                        [^4]: For this card type, you must include the `paymentInformation.card.type` in your request for any payer authentication services.


                        #### Used by

                        **Authorization**

                        Required for Carte Blanche and JCB.

                        Optional for all other card types.


                        #### Card Present reply

                        This field is included in the reply message when the client software that is installed on the POS terminal uses

                        the token management service (TMS) to retrieve tokenized payment details. You must contact customer support to

                        have your account enabled to receive these fields in the credit reply message.


                        Returned by the Credit service.


                        This reply field is only supported by the following processors:

                        - American Express Direct

                        - Credit Mutuel-CIC

                        - FDC Nashville Global

                        - OmniPay Direct

                        - SIX


                        #### Google Pay transactions

                        For PAN-based Google Pay transactions, this field is returned in the API response.


                        #### GPX

                        This field only supports transactions from the following card types:

                        - Visa

                        - Mastercard

                        - AMEX

                        - Discover

                        - Diners

                        - JCB

                        - Union Pay International

                        '
                    cryptogram:
                      type: string
                      maxLength: 255
                      description: This field contains token information.
                    requestorId:
                      type: string
                      maxLength: 11
                      description: 'Value that identifies your business and indicates that the cardholder''s account number is tokenized. This value

                        is assigned by the token service provider and is unique within the token service provider''s database.


                        **Note** This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.


                        #### PIN debit

                        Optional field for PIN debit credit or PIN debit purchase transactions that use payment network tokens; otherwise, not used.

                        '
                    transactionType:
                      type: string
                      maxLength: 1
                      description: 'Type of transaction that provided the token data. This value does not specify the token service provider; it specifies the entity that

                        provided you with information about the token.


                        Possible value:

                        - `2`: Near-field communication (NFC) transaction. The customer''s mobile device provided the token data for a contactless EMV transaction. For recurring

                        transactions, use this value if the original transaction was a contactless EMV transaction.


                        #### Visa Platform Connect

                        - `1`: For Rupay and In App tokenization. Example: InApp apple pay.

                        - `3`: Card/Credential On File Tokenization.


                        **NOTE** No CyberSource through VisaNet acquirers support EMV at this time.


                        Required field for PIN debit credit or PIN debit purchase transactions that use payment network tokens; otherwise, not used.


                        #### Rupay

                        - `3`: Card/Credential On File Tokenization.

                        - `4`: Tokenizined Transaction. Should be used for Guest Checkout transactions with token.

                        '
                    assuranceLevel:
                      type: string
                      maxLength: 2
                      description: 'Confidence level of the tokenization. This value is assigned by the token service provider.


                        **Note** This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.


                        Returned by PIN debit credit or PIN debit purchase.


                        **Note** Merchants supported for **CyberSource through VisaNet**/**Visa Platform Connect** are advised not to use this field.

                        '
                    storageMethod:
                      type: string
                      maxLength: 3
                      description: "Type of technology used in the device to store token data. Possible values:\n\n- `001`: Secure Element (SE). Smart card or memory with restricted access and encryption to prevent data tampering. For storing payment\n   credentials, a SE is tested against a set of requirements defined by the payment networks.\n\n   **Note** This field is supported only for _FDC Compass_.\n\n- 002: Host Card Emulation (HCE). Emulation of a smart card by using software to create a virtual and exact representation of the card.\nSensitive data is stored in a database that is hosted in the cloud. For storing payment credentials, a database\nmust meet very stringent security requirements that exceed PCI DSS.\n\n**Note** This field is supported only for _FDC Compass_.\n"
                    securityCode:
                      type: string
                      maxLength: 4
                      description: 'Card Verification Number (CVN).


                        #### Ingenico ePayments

                        Do not include this field when **commerceIndicator=recurring**.

                        **Note** Ingenico ePayments was previously called _Global Collect_.

                        '
                    securityCodeIndicator:
                      type: string
                      maxLength: 1
                      description: "Indicates whether a CVN code was sent. Possible values:\n\n - `0` (default): CVN service not requested. This default value is used when you do not include\n     `securityCode` field in the request.\n - `1` (default): CVN service requested and supported. This default value is used when you include\n     `securityCode` field in the request.\n - `2`: CVN on credit card is illegible.\n - `9`: CVN was not imprinted on credit card.\n\n#### FDMS Nashville\nRequired for American Express cards; otherwise, optional.\n\n#### TSYS Acquiring Solutions\nOptional if `pointOfSaleInformation.entryMode=keyed`; otherwise, not used.\n\n#### All other processors\nOptional.\n"
                    assuranceMethod:
                      type: string
                      maxLength: 2
                      description: 'Confidence level of the tokenization. This value is assigned by the token service provider.


                        **Note** This field is supported only for **Visa Platform Connect**

                        '
            aggregatorInformation:
              type: object
              x-nullable: true
              properties:
                aggregatorId:
                  type: string
                  x-nullable: true
                  maxLength: 20
                  description: 'Value that identifies you as a payment aggregator. Get this value from the processor.

                    '
                name:
                  type: string
                  x-nullable: true
                  maxLength: 37
                  description: 'Your payment aggregator business name. This field is conditionally required when aggregator id is present.

                    '
                independentSalesOrganizationID:
                  type: string
                  x-nullable: true
                  maxLength: 11
                  description: 'Independent sales organization ID.

                    This field is only used for Mastercard transactions submitted through PPGS.

                    '
                subMerchant:
                  type: object
                  x-nullable: true
                  properties:
                    id:
                      type: string
                      maxLength: 20
                      x-nullable: true
                      description: 'The ID you assigned to your sub-merchant.

                        '
                streetAddress:
                  type: string
                  maxLength: 150
                  description: Acquirer street name.
                city:
                  type: string
                  maxLength: 100
                  description: Acquirer city.
                state:
                  type: string
                  maxLength: 10
                  description: Acquirer state.
                postalCode:
                  type: string
                  maxLength: 20
                  description: Acquirer postal code.
                country:
                  type: string
                  maxLength: 10
                  description: Acquirer country.
          example:
            clientReferenceInformation:
              code: '33557799'
            senderInformation:
              referenceNumber: '1234567890'
              address1: 900 Metro Center Blvd.900
              countryCode: US
              locality: Foster City
              name: Thomas Jefferson
              administrativeArea: CA
              account:
                number: '1234567890123456789012345678901234'
                fundsSource: '01'
              aliasName: Thomas my friend
            processingInformation:
              commerceIndicator: internet
              businessApplicationId: FD
              networkRoutingOrder: ECG
              languageCode: US
              purchaseOptions:
                benefitAmount: '10.00'
                benefitType: 5T
            payoutsOptions:
              retrievalReferenceNumber: '123456789012'
              acquirerBin: '567890124'
            reconciliationId: 1087488702VIAQNSPQ
            orderInformation:
              amountDetails:
                totalAmount: '100.00'
                currency: USD
            merchantInformation:
              merchantCategoryCode: 1234
              merchantDescriptor:
                country: US
                postalCode: '94440'
                locality: FC
                name: Thomas
                administrativeArea: CA
            paymentInformation:
              card:
                expirationYear: '2035'
                number: '4111111111111111'
                expirationMonth: '12'
                type: '001'
                sourceAccountType: CH
            recipientInformation:
              firstName: John
              lastName: Doe
              address1: Paseo Padre Boulevard
              locality: Foster City
              administrativeArea: CA
              postalCode: '94400'
              phoneNumber: '6504320556'
              dateOfBirth: '19801009'
              country: US
              aliasName: John My Friend
              nationality: GB
              countryOfBirth: GB
              occupation: freelancer
              email: joe@visa.com
            aggregatorInformation:
              streetAddress: 202 S. Division St.
              city: Phoenix
              state: Arizona
              postalCode: '560048'
              country: USA
      responses:
        '201':
          description: Successful response.
          schema:
            title: ptsV2PayoutsPost201Response
            example:
              _links:
                self:
                  href: /pts/v2/payouts/5287556536256000401540
                  method: GET
              clientReferenceInformation:
                code: '1528755653559'
              id: '5287556536256000401540'
              orderInformation:
                amountDetails:
                  totalAmount: '100.00'
                  currency: USD
              processorInformation:
                systemTraceAuditNumber: '897596'
                approvalCode: '831000'
                transactionId: 016153570198200
                responseCode: '00'
                responseCodeSource: '5'
              issuerInformation:
                serviceProcessingType: '00'
                octDomesticParticipantIndicator: true
                octCrossBorderParticipantIndicator: true
                octMoneyTransferDomesticIndicator: true
                octMoneyTransferCrossBorderIndicator: true
                octMoneyTransferFastFundsDomesticIndicator: true
                octMoneyTransferFastFundsCrossBorderIndicator: false
                octNonMoneyTransferDomesticIndicator: true
                octNonMoneyTransferCrossBorderIndicator: false
                octNonMoneyTransferFastFundsDomesticIndicator: true
                octNonMoneyTransferFastFundsCrossBorderIndicator: false
                octOnlineGamblingDomesticIndicator: false
                octOnlineGamblingCrossBorderIndicator: false
                octOnlineGamblingFastFundsDomesticIndicator: false
                octOnlineGamblingFastFundsCrossBorderIndicator: false
                octMoneyTransferMerchantCountryRestricted: false
              reconciliationId: 1087488702VIAQNSPQ
              status: ACCEPTED
              submitTimeUtc: 2018-06-11T222054Z
            type: object
            properties:
              _links:
                type: object
                properties:
                  self:
                    type: object
                    properties:
                      href:
                        type: string
                        description: This is the endpoint of the resource that was created by the successful request.
                      method:
                        type: string
                        description: '`method` refers to the HTTP method that you can send to the `self` endpoint to retrieve details of the resource.'
              id:
                type: string
                maxLength: 26
                description: 'An unique identification number generated by Cybersource to identify the submitted request. Returned by all services.

                  It is also appended to the endpoint of the resource.

                  On incremental authorizations, this value with be the same as the identification number returned in the original authorization response.

                  '
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
              status:
                type: string
                description: "The status of the submitted transaction.\n\nPossible values:\n - ACCEPTED\n - DECLINED\n - INVALID_REQUEST\n"
              reconciliationId:
                type: string
                maxLength: 25
                description: 'Cybersource or merchant generated transaction reference number. This is sent to the processor and is echoed back in the response to the merchant. This is

                  This value is used for reconciliation purposes.

                  '
              errorInformation:
                type: object
                properties:
                  reason:
                    type: string
[...]
