swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Customer API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Customer
  description: 'A Customer can be linked to multiple Payment Instruments and Shipping Addresses.

    With one Payment Instrument and Shipping Address designated as the default.

    It stores merchant reference information for the Customer such as email and merchant defined data.

    '
paths:
  /tms/v2/customers:
    post:
      summary: Create a Customer
      description: '|  |  |  |

        | --- | --- | --- |

        |**Customers**<br>A Customer represents your tokenized customer information.<br>You should associate the Customer Id with the customer account on your systems.<br>A Customer can have one or more [Payment Instruments](#token-management_customer-payment-instrument_create-a-customer-payment-instrumentl) or [Shipping Addresses](#token-management_customer-shipping-address_create-a-customer-shipping-address) with one allocated as the Customers default.<br><br>**Creating a Customer**<br>It is recommended you [create a Customer via a Payment Authorization](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-with-token-create_authorization-with-customer-token-creation_liveconsole-tab-request-body), this can be for a zero amount.<br>The Customer will be created with a Payment Instrument and Shipping Address.<br>You can also [add additional Payment Instruments to a Customer via a Payment Authorization](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-with-token-create_authorization-create-default-payment-instrument-shipping-address-for-existing-customer_liveconsole-tab-request-body).<br>In Europe: You should perform Payer Authentication alongside the Authorization.|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|**Payment Network Tokens**<br>Network tokens perform better than regular card numbers and they are not necessarily invalidated when a cardholder loses their card, or it expires.<br>A Payment Network Token will be automatically created and used in future payments if you are enabled for the service.<br>A Payment Network Token can also be [provisioned for an existing Instrument Identifier](#token-management_instrument-identifier_enroll-an-instrument-identifier-for-payment-network-token).<br>For more information about Payment Network Tokens see the Developer Guide.<br><br>**Payments with Customers**<br>To perform a payment with the Customers default details specify the [Customer Id in the payments request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-using-tokens_authorization-with-customer-token-id_liveconsole-tab-request-body).<br>To perform a payment with a particular Payment Instrument or Shipping Address <br>specify the [Payment Instrument or Shipping Address Ids in the payments request](#payments_payments_process-a-payment_samplerequests-dropdown_authorization-using-tokens_authorization-with-customer-payment-instrument-and-shipping-address-token-id_liveconsole-tab-request-body).

        The availability of API features for a merchant may depend on the portfolio configuration and may need to be enabled at the portfolio level before they can be added to merchant accounts.

        '
      parameters:
      - name: profile-id
        in: header
        description: The Id of a profile containing user specific TMS configuration.
        required: false
        type: string
        minLength: 36
        maxLength: 36
        x-hide-field: true
      - name: postCustomerRequest
        in: body
        required: true
        schema:
          type: object
          properties:
            _links:
              type: object
              readOnly: true
              properties:
                self:
                  type: object
                  readOnly: true
                  properties:
                    href:
                      type: string
                      readOnly: true
                      description: 'Link to the Customer.

                        '
                      example: /tms/v2/customers/D9F340DD3DB9C276E053A2598D0A41A3
                paymentInstruments:
                  type: object
                  readOnly: true
                  properties:
                    href:
                      type: string
                      readOnly: true
                      description: 'Link to the Customers Payment Instruments.

                        '
                      example: /tms/v2/customers/D9F340DD3DB9C276E053A2598D0A41A3/payment-instruments
                shippingAddress:
                  type: object
                  readOnly: true
                  properties:
                    href:
                      type: string
                      readOnly: true
                      description: 'Link to the Customers Shipping Addresses.

                        '
                      example: /tms/v2/customers/D9F340DD3DB9C276E053A2598D0A41A3/shipping-addresses
            id:
              type: string
              minLength: 1
              maxLength: 32
              description: The Id of the Customer Token.
            objectInformation:
              type: object
              properties:
                title:
                  type: string
                  description: 'Name or title of the customer.

                    '
                  maxLength: 60
                comment:
                  type: string
                  description: 'Comments that you can make about the customer.

                    '
                  maxLength: 150
            buyerInformation:
              type: object
              properties:
                merchantCustomerID:
                  type: string
                  description: 'Your identifier for the customer.

                    '
                  maxLength: 100
                email:
                  type: string
                  maxLength: 255
                  description: 'Customer''s primary email address, including the full domain name.

                    '
            clientReferenceInformation:
              type: object
              properties:
                code:
                  type: string
                  description: 'Client-generated order reference or tracking number.

                    '
                  maxLength: 50
            merchantDefinedInformation:
              type: array
              description: 'Object containing the custom data that the merchant defines.

                '
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: 'The number you assign as the name for your merchant-defined data or secure field. Possible Values are data1 to data4 and sensitive1 to sensitive4


                      For example, to set the name for merchant-defined data 2 field, you would reference merchantDefinedInformation[x].name as data2

                      Possible Values:

                      - data1

                      - data2

                      - data3

                      - data4

                      - sensitive1

                      - sensitive2

                      - sensitive3

                      - sensitive4

                      '
                  value:
                    type: string
                    description: 'The value you assign for your merchant-defined data field.


                      **Warning** Merchant-defined data fields are not intended to and must not be used to capture personally identifying information. Accordingly, merchants are prohibited from capturing, obtaining, and/or transmitting any personally identifying information in or via the merchant-defined data fields. Personally identifying information includes, but is not

                      limited to, address, credit card number, social security number, driver''s license number, state-issued identification number, passport number, and card verification numbers (CVV,

                      CVC2, CVV2, CID, CVN). In the event it is discovered a merchant is capturing and/or transmitting personally identifying information via the merchant-defined data fields, whether or not intentionally, the merchant''s account will immediately be suspended, which will result in a rejection of any and all transaction requests submitted by the merchant after the point of suspension.

                      '
                    maxLength: 100
            defaultPaymentInstrument:
              type: object
              properties:
                id:
                  type: string
                  description: 'The Id of the Customers default Payment Instrument

                    '
            defaultShippingAddress:
              type: object
              properties:
                id:
                  type: string
                  description: 'The Id of the Customers default Shipping Address

                    '
            metadata:
              type: object
              readOnly: true
              properties:
                creator:
                  type: string
                  readOnly: true
                  description: 'The creator of the Customer.

                    '
            _embedded:
              type: object
              readOnly: true
              description: 'Additional resources for the Customer.

                '
              properties:
                defaultPaymentInstrument:
                  readOnly: true
                  type: object
                  properties:
                    _links:
                      type: object
                      readOnly: true
                      properties:
                        self:
                          type: object
                          readOnly: true
                          properties:
                            href:
                              type: string
                              readOnly: true
                              description: 'Link to the Payment Instrument.

                                '
                              example: /tms/v2/customers/D9F340DD3DB9C276E053A2598D0A41A3/payment-instruments
                        customer:
                          type: object
                          readOnly: true
                          properties:
                            href:
                              type: string
                              readOnly: true
                              description: 'Link to the Customer.

                                '
                              example: /tms/v2/customers/D9F340DD3DB9C276E053A2598D0A41A3
                    id:
                      type: string
                      minLength: 1
                      maxLength: 32
                      description: The Id of the Payment Instrument Token.
                    object:
                      type: string
                      readOnly: true
                      example: paymentInstrument
                      description: 'The type.


                        Possible Values:

                        - paymentInstrument

                        '
                    default:
                      type: boolean
                      description: "Flag that indicates whether customer payment instrument is the dafault.\nPossible Values:\n - `true`: Payment instrument is customer's default.\n - `false`: Payment instrument is not customer's default.\n"
                    state:
                      type: string
                      readOnly: true
                      example: ACTIVE
                      description: 'Issuers state for the card number.

                        Possible Values:

                        - ACTIVE

                        - CLOSED : The account has been closed.

                        '
                    type:
                      type: string
                      readOnly: true
                      description: 'The type of Payment Instrument.

                        Possible Values:

                        - cardHash

                        '
                    bankAccount:
                      type: object
                      properties:
                        type:
                          type: string
                          maxLength: 18
                          description: "Account type.\n\nPossible Values:\n - checking : C\n - general ledger : G This value is supported only on Wells Fargo ACH\n - savings : S (U.S. dollars only)\n - corporate checking : X (U.S. dollars only)\n"
                    card:
                      type: object
                      properties:
                        expirationMonth:
                          type: string
                          maxLength: 2
                          description: 'Two-digit month in which the payment card expires.


                            Format: `MM`.


                            Possible Values: `01` through `12`.

                            '
                        expirationYear:
                          type: string
                          maxLength: 4
                          description: 'Four-digit year in which the credit card expires.


                            Format: `YYYY`.

                            '
                        type:
                          type: string
                          description: "Value that indicates the card type. Possible Values v2 : v1:\n  * 001 : visa\n  * 002 : mastercard - Eurocard—European regional brand of Mastercard\n  * 003 : american express\n  * 004 : discover\n  * 005 : diners club\n  * 006 : carte blanche\n  * 007 : jcb\n  * 008 : optima\n  * 011 : twinpay credit\n  * 012 : twinpay debit\n  * 013 : walmart\n  * 014 : enRoute\n  * 015 : lowes consumer\n  * 016 : home depot consumer\n  * 017 : mbna\n  * 018 : dicks sportswear\n  * 019 : casual corner\n  * 020 : sears\n  * 021 : jal\n  * 023 : disney\n  * 024 : maestro uk domestic\n  * 025 : sams club consumer\n  * 026 : sams club business\n  * 028 : bill me later\n  * 029 : bebe\n  * 030 : restoration hardware\n  * 031 : delta online — use this value only for Ingenico ePayments. For other processors, use 001 for all Visa card types.\n  * 032 : solo\n  * 033 : visa electron\n  * 034 : dankort\n  * 035 : laser\n  * 036 : carte bleue — formerly Cartes Bancaires\n  * 037 : carta si\n  * 038 : pinless debit\n  * 039 : encoded account\n  * 040 : uatp\n  * 041 : household\n  * 042 : maestro international\n  * 043 : ge money uk\n  * 044 : korean cards\n  * 045 : style\n  * 046 : jcrew\n  * 047 : payease china processing ewallet\n  * 048 : payease china processing bank transfer\n  * 049 : meijer private label\n  * 050 : hipercard — supported only by the Comercio Latino processor.\n  * 051 : aura — supported only by the Comercio Latino processor.\n  * 052 : redecard\n  * 054 : elo — supported only by the Comercio Latino processor.\n  * 055 : capital one private label\n  * 056 : synchrony private label\n  * 057 : costco private label\n  * 060 : mada\n  * 062 : china union pay\n  * 063 : falabella private label\n"
                        issueNumber:
                          type: string
                          maxLength: 2
                          description: 'Number of times a Maestro (UK Domestic) card has been issued to the account holder. The card might or might not have an issue number. The number can consist of one or two digits, and the first digit might be a zero. When you include this value in your request, include exactly what is printed on the card. A value of 2 is different than a value of 02. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card.


                            **Note** The issue number is not required for Maestro (UK Domestic) transactions.

                            '
                        startMonth:
                          type: string
                          maxLength: 2
                          description: 'Month of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: MM`.

                            Possible Values: 01 through 12.


                            **Note** The start date is not required for Maestro (UK Domestic) transactions.

                            '
                        startYear:
                          type: string
                          maxLength: 4
                          description: 'Year of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: YYYY`.


                            **Note** The start date is not required for Maestro (UK Domestic) transactions.

                            '
                        useAs:
                          type: string
                          example: pinless debit
                          description: '''Payment Instrument was created / updated as part of a pinless debit transaction.''

                            '
                        hash:
                          type: string
                          minLength: 32
                          maxLength: 34
                          readOnly: true
                          description: 'Hash value representing the card.

                            '
                        tokenizedInformation:
                          type: object
                          properties:
                            requestorID:
                              type: string
                              maxLength: 11
                              description: 'Value that identifies your business and indicates that the cardholder''s account number is tokenized. This value

                                is assigned by the token service provider and is unique within the token service provider''s database.


                                **Note** This field is supported only through **VisaNet** and **FDC Nashville Global**.

                                '
                            transactionType:
                              type: string
                              maxLength: 1
                              description: 'Type of transaction that provided the token data. This value does not specify the token service provider; it

                                specifies the entity that provided you with information about the token.


                                Set the value for this field to 1. An application on the customer''s mobile device provided the token data.

                                '
                    buyerInformation:
                      type: object
                      properties:
                        companyTaxID:
                          type: string
                          maxLength: 9
                          description: 'Company''s tax identifier. This is only used for eCheck service.

                            '
                        currency:
                          type: string
                          maxLength: 3
                          description: 'Currency used for the order. Use the three-character I[ISO Standard Currency Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf)


                            For an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your payment authorization request.


                            #### DCC for First Data

                            Your local currency. For details, see the `currency` field description in [Dynamic Currency Conversion For First Data Using the SCMP API](http://apps.cybersource.com/library/documentation/dev_guides/DCC_FirstData_SCMP/DCC_FirstData_SCMP_API.pdf).

                            # For details about currency as used in partial authorizations, see "Features for Debit Cards and Prepaid Cards" in the [Credit Card Services Using the SCMP API Guide](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/)

                            '
                        dateOfBirth:
                          type: string
                          format: date
                          example: '1960-12-30'
                          description: 'Date of birth of the customer. Format: YYYY-MM-DD

                            '
                        personalIdentification:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 26
                                description: 'The value of the identification type.

                                  '
                              type:
                                type: string
                                description: "The type of the identification.\n\nPossible Values:\n  - driver license\n"
                              issuedBy:
                                type: object
                                properties:
                                  administrativeArea:
                                    type: string
                                    description: 'The State or province where the customer''s driver''s license was issued.


                                      Use the two-character State, Province, and Territory Codes for the United States and Canada.

                                      '
                                    maxLength: 20
                    billTo:
                      type: object
                      properties:
                        firstName:
                          type: string
                          maxLength: 60
                          description: 'Customer''s first name. This name must be the same as the name on the card.

                            '
                        lastName:
                          type: string
                          maxLength: 60
                          description: 'Customer''s last name. This name must be the same as the name on the card.

                            '
                        company:
                          type: string
                          maxLength: 60
                          description: 'Name of the customer''s company.

                            '
                        address1:
                          type: string
                          maxLength: 60
                          description: 'Payment card billing street address as it appears on the credit card issuer''s records.

                            '
                        address2:
                          type: string
                          maxLength: 60
                          description: 'Additional address information.

                            '
                        locality:
                          type: string
                          maxLength: 50
                          description: 'Payment card billing city.

                            '
                        administrativeArea:
                          type: string
                          maxLength: 20
                          description: 'State or province of the billing address. Use the State, Province, and Territory Codes for the United States

                            and Canada.

                            '
                        postalCode:
                          type: string
                          maxLength: 10
                          description: 'Postal code for the billing address. The postal code must consist of 5 to 9 digits.


                            When the billing country is the U.S., the 9-digit postal code must follow this format:

                            [5 digits][dash][4 digits]


                            **Example** `12345-6789`


                            When the billing country is Canada, the 6-digit postal code must follow this format:

                            [alpha][numeric][alpha][space][numeric][alpha][numeric]


                            **Example** `A1B 2C3`

                            '
                        country:
                          type: string
                          maxLength: 2
                          description: 'Payment card billing country. Use the two-character ISO Standard Country Codes.

                            '
                        email:
                          type: string
                          maxLength: 255
                          description: 'Customer''s email address, including the full domain name.

                            '
                        phoneNumber:
                          type: string
                          maxLength: 15
                          description: 'Customer''s phone number.

                            '
                    processingInformation:
                      type: object
                      title: tmsPaymentInstrumentProcessingInfo
                      properties:
                        billPaymentProgramEnabled:
                          type: boolean
                          description: 'Flag that indicates that this is a payment for a bill or for an existing contractual loan.

                            Possible Values:

                            - `true`: Bill payment or loan payment.

                            - `false` (default): Not a bill payment or loan payment.

                            # For processor-specific details, see the `bill_payment` field description in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/)

                            '
                        bankTransferOptions:
                          type: object
                          properties:
                            SECCode:
                              type: string
                              maxLength: 3
                              description: 'Specifies the authorization method for the transaction.


                                #### TeleCheck

                                Possible Values:

                                - `ARC`: account receivable conversion

                                - `CCD`: corporate cash disbursement

                                - `POP`: point of purchase conversion

                                - `PPD`: prearranged payment and deposit entry

                                - `TEL`: telephone-initiated entry

                                - `WEB`: internet-initiated entry


                                # For details, see `ecp_sec_code` field description in the [Electronic Check Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/)

                                '
                    merchantInformation:
                      type: object
                      title: TmsMerchantInformation
                      properties:
                        merchantDescriptor:
                          type: object
                          properties:
                            alternateName:
                              type: string
                              description: 'Alternate contact information for your business,such as an email address or URL.

                                This value might be displayed on the cardholder''s statement.

                                When you do not include this value in your capture or credit request, the merchant URL from your CyberSource account is used.

                                Important This value must consist of English characters

                                '
                              maxLength: 13
                    instrumentIdentifier:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 12
                          maxLength: 32
                          description: 'The Id of the Instrument Identifier linked to the Payment Instrument.

                            '
                    metadata:
                      type: object
                      readOnly: true
                      properties:
                        creator:
                          type: string
                          readOnly: true
                          description: 'The creator of the Payment Instrument.

                            '
                    _embedded:
                      type: object
                      readOnly: true
                      description: 'Additional resources for the Payment Instrument.

                        '
                      properties:
                        instrumentIdentifier:
                          readOnly: true
                          title: tmsEmbeddedInstrumentIdentifier
                          type: object
                          properties:
                            _links:
                              type: object
                              readOnly: true
                              properties:
                                self:
                                  type: object
                                  readOnly: true
                                  properties:
                                    href:
                                      type: string
                                      readOnly: true
                                      description: 'Link to the Instrument Identifier.

                                        '
                                      example: tms/v1/instrumentidentifiers/7010000000016241111
                                paymentInstruments:
                                  type: object
                                  readOnly: true
                                  properties:
                                    href:
                                      type: string
                                      readOnly: true
                                      description: 'Link to the Instrument Identifiers Payment Instruments.

                                        '
                                      example: tms/v1/instrumentidentifiers/7010000000016241111/paymentinstruments
                                tokenized-cards:
                                  type: object
                                  readOnly: true
                                  properties:
                                    href:
                                      type: string
                                      readOnly: true
                                      description: 'Link to the Tokenized Card if network token is present.

                                        '
                                      example: tms/v2/tokenized-cards/352DAB7D2F3A9511E063AF598E0A2FE3
                            id:
                              type: string
                              description: 'The Id of the Instrument Identifier Token.

                                '
                            object:
                              type: string
                              readOnly: true
                              example: instrumentIdentifier
                              description: 'The type.


                                Possible Values:

                                - instrumentIdentifier

                                '
                            state:
                              type: string
                              readOnly: true
                              example: ACTIVE
                              description: 'Issuers state for the card number.

                                Possible Values:

                                - ACTIVE

                                - CLOSED : The account has been closed.

                                '
                            type:
                              type: string
                              description: 'The type of Instrument Identifier.

                                Possible Values:

                                - enrollable card

                                - enrollable token

                                '
                            source:
                              type: string
                              description: 'Source of the card details.

                                Possible Values:

                                - CONTACTLESS_TAP

                                '
                            tokenProvisioningInformation:
                              type: object
                              properties:
                                consumerConsentObtained:
                                  type: boolean
                                  description: 'Flag that indicates whether the user consented to the tokenization of their credentials. Required for card network tokenization in certain markets, such as India.

                                    Possible Values:

                                    - `true`: Consumer has consented to tokenization of their credentials.

                                    - `false`: Consumer has not consented to tokenization of their credentials.

                                    '
                                multiFactorAuthenticated:
                                  type: boolean
                                  description: 'Flag that indicates whether AFA (Additional Factor of Authentication) for the PAN was completed. Required for card network tokenization in certain markets, such as India.

                                    Possible Values:

                                    - `true`: Consumer has been authenticated by the issuer.

                                    - `false`: Consumer has not been authenticated by the issuer.

                                    '
                            card:
                              type: object
                              description: 'The expirationMonth, expirationYear and securityCode is sent to the issuer as part of network token enrollment and is not stored under the Instrument Identifier.

                                '
                              properties:
                                number:
                                  type: string
                                  minLength: 12
                                  maxLength: 19
                                  description: 'The customer''s payment card number, also known as the Primary Account Number (PAN). You can also use this field

                                    for encoded account numbers.

                                    '
                                expirationMonth:
                                  type: string
                                  maxLength: 2
                                  description: 'Two-digit month in which the payment card expires.


                                    Format: `MM`.


                                    Possible Values: `01` through `12`.

                                    '
                                expirationYear:
                                  type: string
                                  maxLength: 4
                                  description: 'Four-digit year in which the credit card expires.


                                    Format: `YYYY`.

                                    '
                                securityCode:
                                  type: string
                                  maxLength: 4
                                  description: "Card Verification Code. \nThis value is sent to the issuer to support the approval of a network token provision.\nIt is not persisted against the Instrument Identifier.\n"
                            pointOfSaleInformation:
                              type: object
                              required:
                              - emvTags
                              properties:
                                emvTags:
                                  type: array
                                  minItems: 1
                                  maxItems: 50
                                  items:
                                    type: object
                                    required:
                                    - tag
                                    - value
                                    - source
                                    properties:
                                      tag:
                                        type: string
                                        minLength: 1
                                        maxLength: 10
                                        pattern: ^[0-9A-Fa-f]{1,10}$
                                        description: EMV tag, 1-10 hex characters.
                                      value:
                                        type: string
                                        minLength: 1
                                        maxLength: 64
                                        description: EMV tag value, 1-64 characters.
                                      source:
                                        type: string
                                        description: "Source of the tag.\n\nPossible Values:\n  - CARD\n  - TERMINAL\n"
                                    example:
                                      tag: 5A
                                      value: '4111111111111111'
                                      source: CARD
                            bankAccount:
                              type: object
                              properties:
                                number:
                                  type: string
                                  maxLength: 17
                                  description: 'Account number.


                                    When processing encoded account numbers, use this field for the encoded account number.

                                    '
                                routingNumber:
                                  type: string
                                  description: 'Bank routing number. This is also called the transit number.


                                    # For details, see `ecp_rdfi` field description in the [Electronic Check Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/)

                                    '
                            tokenizedCard:
                              title: tmsv2TokenizedCard
                              type: object
                              properties:
                                id:
                                  type: string
                                  readOnly: true
                                  description: 'The Id of the Tokenized Card.

                                    '
                                object:
                                  type: string
                                  readOnly: true
                                  example: tokenizedCard
                                  description: 'The type.

                                    Possible Values:

                                    - tokenizedCard

                                    '
                                source:
                                  type: string
                                  description: 'Source of the card details.

                                    Possible Values:

                                    - ONFILE

                                    - TOKEN

                                    - ISSUER

                                    '
                                state:
                                  type: string
                                  readOnly: true
                                  example: ACTIVE
                                  description: "State of the network token or network token provision.\nPossible Values:\n  - ACTIVE : Network token is active.\n  - SUSPENDED : Network token is suspended. This state can change back to ACTIVE.\n  - DELETED : This is a final state for a network token instance.\n  - UNPROVISIONED : A previous network token.\n"
                                enrollmentId:
                                  type: string
                                  readOnly: true
                                  description: 'Unique id to identify this PAN/ enrollment.

                                    '
                                tokenReferenceId:
                                  type: string
                                  readOnly: true
                                  description: 'Unique ID for netwrok token.

                                    '
                                number:
                                  type: string
                                  readOnly: true
                                  description: 'The token requestor''s network token for the provided PAN and consumer Id, if available.

                                    '
                                expirationMonth:
                                  type: string
                                  readOnly: true
                                  description: 'Two-digit month in which the network token expires.

                                    Format: `MM`.

                                    Possible Values: `01` through `12`.

                                    '
                                expirationYear:
                                  type: string
                                  readOnly: true
                                  description: 'Four-digit year in which the network token expires.

                                    Format: `YYYY`.

                                    '
                                type:
                                  type: string
                                  description: 'The type of card (Card Network).

                                    Possible Values:

                                    - visa

                                    - mastercard

                                    - americanexpress

                                    '
                                reason:
                                  type: string
                                  readOnly: true
                                  example: ACTIVE
                                  description: 'Indicates the reason why the network token provision request failed.

                                    Possible Values:

                                    - INVALID_REQUEST : The network token provision request contained invalid data.

                                    - CARD_VERIFICATION_FAILED : The network token provision request contained data that could not be verified.

                                    - CARD_NOT_ELIGIBLE : Card can currently not be used with issuer for tokenization.

                                    - CARD_NOT_ALLOWED : Card can currently not be used with card association for tokenization.

                                    - DECLINED : Card can currently not be used with issuer for tokenization.

                                    - SERVICE_UNAVAILABLE : The network token service was unavailable or timed out.

                                    - SYSTEM_ERROR : An unexpected error occurred with network token service, check configuration.

                                    '
                                cryptogram:
                                  type: string
                                  readOnly: true
                                  description: 'Value generated by the card association to be used alongside the network token for processing a payment.

                                    This field is returned by default for Visa and Mastercard network tokens.

                                    It can also be explicitly requested using paymentCredentialType: CRYPTOGRAM.

                                    '
                                  example: CgAFRFYFPTFOfg5rj2ais9wQAAAAAM=
                                securityCode:
                                  type: string
                                  readOnly: true
                                  description: 'Dynamic number generated by the card association to be used alongside the network token for processing a payment.

                                    - For American Express: Dynamic Card Secure Code (DCSC) returned by default.

                                    - For Visa: DTVV cryptogram when explicitly requested using paymentCredentialType: SECURITY_CODE.

                                    It can also be explicitly requested using paymentCredentialType: SECURITY_CODE.

                                    '
                                  example: '4523'
                                eci:
                                  type: string
                                  readOnly: true
                                  description: 'Raw Electronic Commerce Indicator provided by the card association with the result of the cardholder authentication.

                                    '
                                requestorId:
                                  type: string
                                  readOnly: true
                                  maxLength: 11
                                  description: '11-digit identifier that uniquely identifies the Token Requestor.

                                    '
                                paymentAccountReference:
                                  type: string
                                  readOnly: true
                                  description: 'Payment account reference.

                                    '
                                applicationTransactionCounter:
                                  type: string
                                  readOnly: true
                                  description: 'A sequence counter used as part of the input to the TAVV cryptogram and it is incremented for each cryptogram generation.

                                    This field is only returned for Visa network tokens.

                                    '
                                card:
                                  type: object
                                  properties:
                                    number:
                                      type: string
                                      minLength: 12
                                      maxLength: 19
                                      description: 'The latest customer''s payment card number associated to the network token.

                                        '
                                    expirationMonth:
                                      type: string
                                      maxLength: 2
                                      description: 'Two-digit month in which the payment card expires.


                                        Format: `MM`.


                                        Possible Values: `01` through `12`.

                                        '
                                    expirationYear:
                                      type: string
                                      maxLength: 4
                                      description: 'Four-digit year in which the credit card expires.


                                        Format: `YYYY`.

                                        '
                                    type:
                                      type: string
                                      description: 'The type of card (Card Network).

                                        Possible Values:

                                        - 001: visa

                                        - 002: mastercard

                                        - 003: american express

                                        - 007: jcb

                                        '
                                    suffix:
                                      type: string
                                      readOnly: true
                                      description: 'The customer''s latest payment card number suffix.

                                        '
                                    issueDate:
                                      type: string
                                      readOnly: true
                                      format: date
                                      description: 'Card issuance date. XML date format: YYYY-MM-DD.'
                                      example: '2030-12-15'
                                    activationDate:
                                      type: string
                                      readOnly: true
                                      format: date
                                      description: 'Card activation date. XML date format: YYYY-MM-DD'
                                      example: '2030-12-20'
                                    expirationPrinted:
                                      type: boolean
                                      readOnly: true
                                      description: Indicates if the expiration date is printed on the card.
                                      example: true
                                    securityCodePrinted:
                                      type: boolean
                                      readOnly: true
                                      description: Indicates if the Card Verification Number is printed on the card.
                                      example: true
                                    termsAndConditions:
                                      type: object
                                      readOnly: true
                                      properties:
                                        url:
                                          type: string
                                          readOnly: true
                                          description: Issuer Card Terms and Conditions url.
                                verificationResults:
                                  type: object
                                  description: 'Verification results returned by the issuer during the provisioning when Security Code or Billing Address data is provided on the request.

                                    Supported only for VTS tokens.

                                    '
                                  readOnly: true
                                  properties:
                                    securityCode:
                                      type: string
                                      readOnly: true
                                      description: 'Indicates whether the security code (CVV/CVC) was verified by the issuer during the provisioning request.

                                        Supported only for VTS tokens.


                                        Possible Values:

                                        - MATCH: Verified, CVV2 data matched.

                                        - NO_MATCH: Verified, CVV2 data did not match.

                                        - NOT_SUPPORTED: Verification not supported by card issuer.

                                        - SKIPPED: Verification was not performed.

                                        '
                                    address:
                                      type: string
                                      readOnly: true
                                      description: 'Indicates whether the billing address was verified by the issuer during the provisioning request.

                                        Supported only for VTS tokens.


                                        Possible Values:

                                        - MATCH: Verified, address and postal code data matched.

                                        - PARTIAL_MATCH: Verified, either address data matched or postal code data matched.

                                        - PARTIAL_MATCH_FORMAT_UNSUPPORTED: Verified, either address data matched or postal code data matched, but the other could not be verified due to format issues.

                                        - NO_MATCH: Verified, address and postal code data did not match.

                                        - NOT_SUPPORTED: Verification not supported by card issuer.

                                        - SKIPPED: Verification was not performed.

                                        '
                                metadata:
                                  type: object
                                  properties:
                                    cardArt:
                                      title: TmsCardArt
                                      description: 'Card art associated with the tokenized card.

                                        '
                                      type: object
                                      readOnly: true
                                      properties:
                                        foregroundColor:
                                          description: 'Card foreground color.

                                            '
                                          type: string
                                          readOnly: true
                                        backgroundColor:
                                          description: 'Card background color.

                                            '
                                          type: string
                                          readOnly: true
                                        labelColor:
                                          description: 'Card label color.

                                            '
                                          type: string
                                          readOnly: true
                                        combinedAsset:
                                          description: 'Combined card art asset associated with the tokenized card.

                                            '
                                          type: object
                                          readOnly: true
                                          properties:
                                            id:
                                              type: string
                                              description: 'Unique identifier for the asset

                                                '
                                            _links:
                                              type: object
                                              readOnly: true
                                              properties:
                                                self:
                                                  type: object
                                                  readOnly: true
                                                  properties:
                                                    href:
                                                      type: string
                                                      readOnly: true
                                                      description: 'Link to the card art asset.

                                                        example: ''tms/v2/tokens/7020000000010603216/visa/assets/card-art-combined''

                                                        '
                                        brandLogoAsset:
                                          description: 'Brand logo card art asset associated with the tokenized card.

                                            '
                                          type: object
                                          readOnly: true
                                          properties:
                                            id:
                                              type: string
                                              description: 'Unique identifier for the asset

                                                '
                                            _links:
                                              type: object
                                              readOnly: true
                                              properties:
                                                self:
                                                  type: object
                                                  readOnly: true
                                                  properties:
                                                    href:
                                                      type: string
                                                      readOnly: true
                                                      description: 'Link to the card art asset.

                                                        example: ''tms/v2/tokens/7020000000010603216/visa/assets/brand-logo''

                                                        '
                                        issuerLogoAsset:
                                          description: 'Issuer logo card art asset associated with the tokenized card.

                                            '
                                          type: object
                                          readOnly: true
                                          properties:
                                            id:
                                              type: string
                                              description: 'Unique identifier for the asset

                                                '
                                            _links:
                                              type: object
                                              readOnly: true
                                              properties:
                                                self:
                                                  type: object
                                                  readOnly: true
                                                  properties:
                                                    href:
                                                      type: string
                                                      readOnly: true
                                                      description: 'Link to the card art asset.

                                                        example: ''tms/v2/tokens/7020000000010603216/visa/assets/issuer-logo''

                                                        '
                                        iconAsset:
                                          description: 'Icon card art asset associated with the tokenized card.

                                            '
                                          type: object
                                          readOnly: true
                                          properties:
                                            id:
                                              type: string
                                              description: 'Unique identifier for the asset

                                                '
                                            _links:
                                              type: object
                                              readOnly: true
                                              properties:
                                                self:
                                                  type: object
                                                  readOnly: true
                                                  properties:
                                                    href:
                                                      type: string
                                                      readOnly: true
                                                      description: 'Link to the card art asset.

                                                        example: ''tms/v2/tokens/7020000000010603216/visa/assets/icon''

                                                        '
                                    issuer:
                                      description: 'Issuer associated with the tokenized card.

                                        '
                                      type: object
                                      readOnly: true
                                      properties:
                                        name:
                                          description: 'Issuer name.

                                            '
                                          type: string
                                          readOnly: true
                                        shortDescription:
                                          description: 'Short description of the card.

                                            '
                                          type: string
                                          readOnly: true
                                        longDescription:
                                          description: 'Long description of the card.

                                            '
                                          type: string
                                          readOnly: true
                                        email:
                                          type: string
                                          readOnly: true
                                          description: 'Issuer customer service email address.

                                            '
                                        phoneNumber:
                                          type: string
                                          readOnly: true
                                          description: 'Issuer customer service phone number.

                                            '
                                        url:
                                          type: string
                                          readOnly: true
                                          description: 'Issuer customer service url.

                                            '
                                        privacyPolicyUrl:
                                          type: string
                                          readOnly: true
                                          description: 'Issuer privacy policy url.

                                            '
                                        capabilities:
                                          type: object
                                          readOnly: true
                                          description: 'Flags indicating what authentication, binding, and trusted-beneficiary enrollment capabilities the issuer supports.

                                            Supported only for VTS Tokens.

                                            '
                                          properties:
                                            deviceBindingSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer supports device binding.

                                                '
                                            cardholderVerificationSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer participates in step-up authentication that requires cardholder verification.

                                                '
                                            trustedBeneficiaryEnrollmentSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer supports trusted beneficiary enrollment.

                                                e.g allowing cardholders to designate trusted merchants or payment recipients that can be exempt from step-up authentication.

                                                '
                                            delegatedAuthenticationSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer supports delegated authentication.

                                                e.g allowing approved thrird parties to perform authentication on behalf of the issuer.

                                                '
                                            oboDeviceBindingSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer supports on-behalf-of device binding.

                                                e.g allowing approved third parties to perform device binding on behalf of the issuer.

                                                '
                                            tokenLcmNotificationsSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer supports receiving token lifecycle management notifications.

                                                e.g receiving updates on changes to the token''s status or attributes.

                                                '
                                            fpanLcmNotificationsSupported:
                                              type: boolean
                                              readOnly: true
                                              description: 'Indicates if the issuer supports receiving PAN lifecycle management notifications.

                                                e.g receiving updates on changes to the underlying card''s status or attributes.

                                                '
                                        bankApplications:
                                          type: array
                                          readOnly: true
                                          items:
                                            type: object
                                            readOnly: true
                                            properties:
                                              name:
                                                type: string
                                                readOnly: true
                                                description: 'Bank application name.

                                                  '
                                              address:
                                                type: string
                                                readOnly: true
                                                description: 'Bank application address. (e.g. com.mybank.app)

                                                  '
                                    creator:
                                      type: string
                                      readOnly: true
                                      description: The creator of the Tokenized Card.
                            issuer:
                              type: object
                              readOnly: true
                              properties:
                                paymentAccountReference:
                                  type: string
                                  readOnly: true
                                  maxLength: 32
                                  description: 'This reference number serves as a link to the cardholder account and to all transactions for that account.

                                    '
                            processingInformation:
                              type: object
                              properties:
                                authorizationOptions:
                                  type: object
                                  title: tmsAuthorizationOptions
                                  properties:
                                    initiator:
                                      type: object
                                      properties:
                                        merchantInitiatedTransaction:
                                          type: object
                                          properties:
                                            previousTransactionId:
                                              type: string
                                              maxLength: 15
                                              description: 'Network transaction identifier that was returned in the payment response field _processorInformation.transactionID_

                                                in the reply message for either the original merchant-initiated payment in the series or the previous

                                                merchant-initiated payment in the series.

                                                '
                                            originalAuthorizedAmount:
                                              type: string
                                              maxLength: 15
                                              description: 'Amount of the original authorization.

                                                '
                            billTo:
                              type: object
                              description: 'This information is sent to the issuer as part of network token enrollment and is not stored under the Instrument Identifier.

                                '
                              properties:
                                address1:
                                  type: string
                                  maxLength: 60
                                  description: 'Payment card billing street address as it appears on the credit card issuer''s records.

                                    '
                                address2:
                                  type: string
                                  maxLength: 60
                                  description: 'Additional address information.

                                    '
                                locality:
                                  type: string
                                  maxLength: 50
                                  description: 'Payment card billing city.

                                    '
                                administrativeArea:
                                  type: string
                                  maxLength: 20
                                  description: 'State or province of the billing address. Use the State, Province, and Territory Codes for the United States

                                    and Canada.

                                    '
                                postalCode:
                                  type: string
                                  maxLength: 10
                                  description: 'Postal code for the billing address. The postal code must consist of 5 to 9 digits.


                                    When the billing country is the U.S., the 9-digit postal code must follow this format:

                                    [5 digits][dash][4 digits]


                                    **Example** `12345-6789`


                                    When the billing country is Canada, the 6-digit postal code must follow this format:

                                    [alpha][numeric][alpha][space][numeric][alpha][numeric]


                                    **Example** `A1B 2C3`

                                    '
                                country:
                                  type: string
                                  maxLength: 2
                                  description: 'Payment card billing country. Use the two-character ISO Standard Country Codes.

                                    '
                                email:
                                  type: string
                                  maxLength: 255
                                  description: 'Customer''s email address, including the full domain name.

                                    '
                            metadata:
                              type: object
                              readOnly: true
                              properties:
                                creator:
                                  type: string
                                  readOnly: true
                                  description: The creator of the Instrument Identifier.
                            _embedded:
                              type: object
                              readOnly: true
                              properties:
                                binLookup:
                                  title: TmsBinLookup
                                  description: 'Bin Information of the PAN provided by BinLookUp Service. This is only retrieved when retrieveBinDetails=true is passed as a query parameter.

                                    '
                                  readOnly: true
                                  type: object
                                  properties:
                                    paymentAccountInformation:
                                      type: object
                                      properties:
                                        card:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              maxLength: 3
                                              description: 'This field contains a 3-digit numeric value that indicates the card type within Cybersource eco-system.

                                                Possible values from BIN Lookup Service (based on availability and enablement):

                                                - `000`: Unsupported Card Type

                                                - `001`: Visa

                                                - `002`: Mastercard

                                                - `003`: American Express

                                                - `004`: Discover

                                                - `005`: Diners Club

                                                - `007`: JCB

                                                - `036`: Cartes Bancaire

                                                - `042`: Maestro

                                                - `054`: Elo

                                                - `058`: Carnet

                                                - `060`: MADA

                                                - `061`: RuPay

                                                - `062`: China UnionPay

                                                - `064`: Prompt Card

                                                - `067`: Meeza

                                                - `068`: PayPak

                                                - `070`: EFTPOS

                                                - `081`: Jaywan

                                                - `082`: TPN


                                                Glossary of possible values in the payments ecosystem:

                                                - `001`: Visa

                                                - `002`: Mastercard

                                                - `003`: American Express

                                                - `004`: Discover

                                                - `005`: Diners Club

                                                - `006`: Carte Blanche

                                                - `007`: JCB

                                                - `008`: Optima

                                                - `009`: GE Private Label

                                                - `010`: Beneficial Private Label

                                                - `011`: Twinpay Credit Card

                                                - `012`: Twinpay Debit Card

                                                - `013`: Walmart

                                                - `014`: EnRoute

                                                - `015`: Lowe''s Consumer

                                                - `016`: Home Depot Consumer

                                                - `017`: MBNA

                                                - `018`: Dick''s Sportwear

                                                - `019`: Casual Corner

                                                - `020`: Sears

                                                - `021`: JAL

                                                - `023`: Disney Card

                                                - `024`: Switch/Solo

                                                - `025`: Sam''s Club Consumer

                                                - `026`: Sam''s Club Business

                                                - `027`: Nico''s

                                                - `028`: Paymentech Bill Me Later

                                                - `029`: Bebe

                                                - `030`: Restoration Hardware

                                                - `031`: Delta Online

                                                - `032`: Solo

                                                - `033`: Visa Electron

                                                - `034`: Dankort

                                                - `035`: Laser

                                                - `036`: Cartes Bancaire

                                                - `037`: Carta Si

                                                - `040`: UATP

                                                - `041`: HOUSEHOLD

                                                - `042`: Maestro

                                                - `043`: GE MONEY

                                                - `044`: Korean Cards

                                                - `045`: Style Cards

                                                - `046`: J.Crew

                                                - `047`: Payeasecn eWallet

                                                - `048`: Payeasecn Bank Transfer

                                                - `049`: Meijer

                                                - `050`: Hipercard

                                                - `051`: Aura

                                                - `052`: Redecard

                                                - `053`: Orico Card

                                                - `054`: Elo

                                                - `055`: Capital One Private Label

                                                - `057`: Costco Private Label

                                                - `058`: Carnet

                                                - `059`: ValueLink

                                                - `060`: MADA

                                                - `061`: RuPay

                                                - `062`: China UnionPay

                                                - `063`: Falabella Private Label

                                                - `064`: Prompt Card

                                                - `065`: Korean Domestic

                                                - `066`: Banricompras

                                                - `067`: Meeza

                                                - `068`: PayPak

                                                - `070`: EFTPOS

                                                - `071`: Codensa

                                                - `072`: Olimpica

                                                - `073`: Colsubsidio

                                                - `074`: Tuya

                                                - `075`: Sodexo

                                                - `076`: Naranja

                                                - `077`: Cabal

                                                - `078`: DINELCO

                                                - `079`: PANAL

                                                - `080`: EPM

                                                - `081`: Jaywan

                                                - `082`: TPN

                                                '
                                            brandName:
                                              type: string
                                              maxLength: 20
                                              description: "This field contains the card brand name. \n\nSome of the possible values (not an exhaustive list) are -\n\n  - VISA\n  - MASTERCARD\n  - AMERICAN EXPRESS\n  - DISCOVER\n  - DINERS CLUB\n  - CARTE BLANCHE\n  - JCB\n  - OPTIMA\n  - TWINPAY CREDIT CARD\n  - TWINPAY DEBIT CARD\n  - WALMART\n  - ENROUTE\n  - LOWES CONSUMER\n  - HOME DEPOT CONSUMER\n  - MBNA\n  - DICKS SPORTWEAR\n  - CASUAL CORNER\n  - SEARS\n  - JAL\n  - DISNEY CARD\n  - SWITCH/SOLO\n  - SAMS CLUB CONSUMER\n  - SAMS CLUB BUSINESS\n  - NICOS HOUSE CARD\n  - BEBE\n  - RESTORATION HARDWARE\n  - DELTA ONLINE\n  - SOLO\n  - VISA ELECTRON\n  - DANKORT\n  - LASER\n  - CARTE BANCAIRE\n  - CARTA SI\n  - ENCODED ACCOUNT\n  - UATP\n  - HOUSEHOLD\n  - MAESTRO\n  - GE CAPITAL\n  - KOREAN CARDS\n  - STYLE CARDS\n  - JCREW\n  - MEIJER\n  - HIPERCARD\n  - AURA\n  - REDECARD\n  - ORICO HOUSE CARD\n  - MADA\n  - ELO\n  - CAPITAL ONE PRIVATE LABEL\n  - CARNET\n  - RUPAY\n  - CHINA UNION PAY\n  - FALABELLA PRIVATE LABEL\n  - PROMPTCARD\n  - KOREAN DOMESTIC\n  - BANRICOMPRAS\n  - MEEZA\n  - PAYPAK\n  - JAYWAN\n  - TPN\n"
                                            currency:
                                              type: string
                                              maxLength: 3
                                              description: 'This field indicates the 3-letter [ISO Standard Currency Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/currencies.pdf) for the card currency.

                                                '
                                            maxLength:
                                              type: string
                                              maxLength: 2
                                              description: 'This field contains the max length of the card.

                                                '
                                            credentialType:
                                              type: string
                                              maxLength: 5
                                              description: "This field contains the type of the payment credential.\nPossible values:\n  - PAN\n  - TOKEN \n"
                                            brands:
                                              description: Array of brands
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    maxLength: 3
                                                    description: 'This field contains a 3-digit numeric value that indicates the card type within Cybersource eco-system.

                                                      Possible values from BIN Lookup Service (based on availability and enablement):

                                                      - `000`: Unsupported Card Type

                                                      - `001`: Visa

                                                      - `002`: Mastercard

                                                      - `003`: American Express

                                                      - `004`: Discover

                                                      - `005`: Diners Club

                                                      - `007`: JCB

                                                      - `036`: Cartes Bancaire

                                                      - `042`: Maestro

                                                      - `054`: Elo

                                                      - `058`: Carnet

                                                      - `060`: MADA

                                                      - `061`: RuPay

                                                      - `062`: China UnionPay

                                                      - `064`: Prompt Card

                                                      - `067`: Meeza

                                                      - `068`: PayPak

                                                      - `070`: EFTPOS

                                                      - `081`: Jaywan

                                                      - `082`: TPN


                                                      Glossary of possible values in the payments ecosystem:

                                                      - `001`: Visa

                                                      - `002`: Mastercard

                                                      - `003`: American Express

                                                      - `004`: Discover

                                                      - `005`: Diners Club

                                                      - `006`: Carte Blanche

                                                      - `007`: JCB

                                                      - `008`: Optima

                                                      - `009`: GE Private Label

                                                      - `010`: Beneficial Private Label

                                                      - `011`: Twinpay Credit Card

                                                      - `012`: Twinpay Debit Card

                                                      - `013`: Walmart

                                                      - `014`: EnRoute

                                                      - `015`: Lowe''s Consumer

                                                      - `016`: Home Depot Consumer

                                                      - `017`: MBNA

                                                      - `018`: Dick''s Sportwear

                                                      - `019`: Casual Corner

                                                      - `020`: Sears

                                                      - `021`: JAL

                                                      - `023`: Disney Card

                                                      - `024`: Switch/Solo

                                                      - `025`: Sam''s Club Consumer

                                                      - `026`: Sam''s Club Business

                                                      - `027`: Nico''s

                                                      - `028`: Paymentech Bill Me Later

                                                      - `029`: Bebe

                                                      - `030`: Restoration Hardware

                                                      - `031`: Delta Online

                                                      - `032`: Solo

                                                      - `033`: Visa Electron

                                                      - `034`: Dankort

                                                      - `035`: Laser

                                                      - `036`: Cartes Bancaire

                                                      - `037`: Carta Si

                                                      - `040`: UATP

                                                      - `041`: HOUSEHOLD

                                                      - `042`: Maestro

                                                      - `043`: GE MONEY

                                                      - `044`: Korean Cards

                                                      - `045`: Style Cards

                                                      - `046`: J.Crew

                                                      - `047`: Payeasecn eWallet

                                                      - `048`: Payeasecn Bank Transfer

                                                      - `049`: Meijer

                                                      - `050`: Hipercard

                                                      - `051`: Aura

                                                      - `052`: Redecard

                                                      - `053`: Orico Card

                                                      - `054`: Elo

                                                      - `055`: Capital One Private Label

                                                      - `057`: Costco Private Label

                                                      - `058`: Carnet

                                                      - `059`: ValueLink

                                                      - `060`: MADA

                                                      - `061`: RuPay

                                                      - `062`: China UnionPay

                                                      - `063`: Falabella Private Label

                                                      - `064`: Prompt Card

                                                      - `065`: Korean Domestic

                                                      - `066`: Banricompras

                                                      - `067`: Meeza

                                                      - `068`: PayPak

                                                      - `070`: EFTPOS

                                                      - `071`: Codensa

                                                      - `072`: Olimpica

                                                      - `073`: Colsubsidio

                                                      - `074`: Tuya

                                                      - `075`: Sodexo

                                                      - `076`: Naranja

                                                      - `077`: Cabal

                                                      - `078`: DINELCO

                                                      - `079`: PANAL

                                                      - `080`: EPM

                                                      - `081`: Jaywan

                                                      - `082`: TPN

                                                      '
                                                  brandName:
                                                    type: string
                                                    maxLength: 20
                                                    description: "This field contains the card brand name. \n\nSome of the possible values (not an exhaustive list) are -\n\n  - VISA\n  - MASTERCARD\n  - AMERICAN EXPRESS\n  - DISCOVER\n  - DINERS CLUB\n  - CARTE BLANCHE\n  - JCB\n  - OPTIMA\n  - TWINPAY CREDIT CARD\n  - TWINPAY DEBIT CARD\n  - WALMART\n  - ENROUTE\n  - LOWES CONSUMER\n  - HOME DEPOT CONSUMER\n  - MBNA\n  - DICKS SPORTWEAR\n  - CASUAL CORNER\n  - SEARS\n  - JAL\n  - DISNEY CARD\n  - SWITCH/SOLO\n  - SAMS CLUB CONSUMER\n  - SAMS CLUB BUSINESS\n  - NICOS HOUSE CARD\n  - BEBE\n  - RESTORATION HARDWARE\n  - DELTA ONLINE\n  - SOLO\n  - VISA ELECTRON\n  - DANKORT\n  - LASER\n  - CARTE BANCAIRE\n  - CARTA SI\n  - ENCODED ACCOUNT\n  - UATP\n  - HOUSEHOLD\n  - MAESTRO\n  - GE CAPITAL\n  - KOREAN CARDS\n  - STYLE CARDS\n  - JCREW\n  - MEIJER\n  - HIPERCARD\n  - AURA\n  - REDECARD\n  - ORICO HOUSE CARD\n  - MADA\n  - ELO\n  - CAPITAL ONE PRIVATE LABEL\n  - CARNET\n  - RUPAY\n  - CHINA UNION PAY\n  - FALABELLA PRIVATE LABEL\n  - PROMPTCARD\n  - KOREAN DOMESTIC\n  - BANRICOMPRAS\n  - MEEZA\n  - PAYPAK\n  - JAYWAN\n  - TPN\n"
                                        features:
                                          type: object
                                          properties:
                                            accountFundingSource:
                                              type: string
                                              maxLength: 20
                                              description: "This field contains the account funding source.\nPossible values:\n  - `CREDIT`\n  - `DEBIT`\n  - `PREPAID`\n  - `DEFERRED DEBIT`\n  - `CHARGE`\n"
                                            accountFundingSourceSubType:
                                              type: string
                                              maxLength: 20
                                              description: "This field contains the type of prepaid card.\nPossible values:\n  - `Reloadable`\n  - `Non-reloadable`\n"
                                            cardProduct:
                                              type: string
                                              maxLength: 50
                                              description: "This field contains the type of issuer product.\nExample values:\n  - Visa Classic\n  - Visa Signature\n  - Visa Infinite\n"
                                            messageType:
                                              type: string
                                              maxLength: 1
                                              description: "This field contains the type of BIN based authentication.\nPossible values:\n  - `S`: Single Message\n  - `D`: Dual Message\n"
                                            acceptanceLevel:
                                              type: string
                                              maxLength: 2
                                              description: "This field contains the acceptance level of the PAN.\nPossible values:\n  - `0` : Normal\n  - `1` : Monitor\n  - `2` : Refuse\n  - `3` : Not Allowed\n  - `4` : Private\n  - `5` : Test\n"
                                            cardPlatform:
                                              type: string
                                              maxLength: 20
                                              description: "This field contains the type of card platform.\nPossible values:\n  - `BUSINESS`\n  - `CONSUMER`\n  - `CORPORATE`\n  - `COMMERCIAL`\n  - `GOVERNMENT`\n"
                                            comboCard:
                                              type: string
                                              maxLength: 1
                                              description: "This field indicates the type of combo card.\nPossible values:\n  - 0 (Not a combo card)\n  - 1 (Credit and Prepaid Combo card)\n  - 2 (Credit and Debit Combo card)\n  - 3 (Prepaid Credit and Prepaid Debit combo card)\n"
                                            corporatePurchase:
                                              type: boolean
                                              description: "This field indicates if the instrument can be used for corporate purchasing. This field is only applicable for American Express cards.\nPossible values:\n  - `true`\n  - `false`\n"
                                            healthCard:
                                              type: boolean
                                              description: "This field indicates if the BIN is for healthcare (HSA/FSA). Currently, this field is only supported for Visa BINs.\nPossible values:\n    - `true`\n    - `false`\n"
                                            sharedBIN:
                                              type: boolean
                                              description: "This field indicates if the BIN is shared by multiple issuers\nPossible values:\n    - `true`\n    - `false`\n"
                                            posDomesticOnly:
                                              type: boolean
                                              description: "This field indicates if the BIN is valid only for POS domestic usage.\nPossible values:\n    - `true`\n    - `false`\n"
                                            gamblingAllowed:
                                              type: boolean
                                              description: "This field indicates if gambling transactions are allowed on the BIN.\nPossible values:\n    - `true`\n    - `false`\n"
                                            commercialCardLevel2:
                                              type: boolean
                                              description: "This field indicates if a transaction on the instrument qualifies for level 2 interchange rates.\nPossible values:\n    - `true`\n    - `false`\n"
                                            commercialCardLevel3:
                                              type: boolean
                                              description: "This field indicates if a transaction on the instrument qualifies for level 3 interchange rates.\nPossible values:\n    - `true`\n    - `false`\n"
                                            exemptBIN:
[...]
