swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Unified Checkout V1 Capture Context API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Unified Checkout V1 Capture Context
  externalDocs:
    description: Find out more
    url: https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html
paths:
  /uc/v1/sessions:
    post:
      tags:
      - Unified Checkout V1 Capture Context
      summary: Generate Unified Checkout V1 Capture Context
      description: 'Unified Checkout is a powerful product within the Digital Acceptance Suite. Unified Checkout is designed to assist merchants with the adoption and inclusion of digital payments within their payment acceptance page. With Unified Checkout Integration you can add digital payment methods to create familiar, convenient and seamless payment experiences that are designed to reduce checkout friction and increase conversions.

        Click to Pay Drop-in UI is built on the Unified Checkout platform.

        For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html). For examples on how to integrate Unified Checkout within your webpage please see our [GitHub Unified Checkout Samples](https://github.com/CyberSource/cybersource-unified-checkout-sample-java).

        Generate Unified Checkout V1 Capture Context

        Generate a one-time use capture context used for the invocation of Unified Checkout. The Request wil contain all of the parameters for how Unified Checkout will operate within a client webpage. The resulting payload will be a JWT signed object that can be used to initiate Unified Checkout or Click to Pay Drop-in UI within a web page'
      operationId: generateUnifiedCheckoutV1CaptureContext
      x-devcenter-metaData:
        categoryTag: Unified_Checkout
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html
        disableProcessorDropDown: true
      produces:
      - application/jwt
      parameters:
      - in: body
        name: generateUnifiedCheckoutV1CaptureContextRequest
        required: true
        schema:
          type: object
          properties:
            clientVersion:
              type: string
              example: '1.0'
              maxLength: 60
              description: "This field is used to specify the Unified Checkout API version your integration should use. \nThe recommended approach is to omit this field from the uc/v1/sessions API request.  When omitted, Unified Checkout automatically uses the latest available version, ensuring access to the most recent enhancements and updates without requiring integration changes.\nIf included, the value must be provided in Major.Minor format (for example, 1.1 or 1.2).<br><br>\n\nOptional field:\nThis field cannot be configured through the Merchant Experience screens in the Business Center but can be provided in the uc/v1/sessions API request.\n"
            targetOrigins:
              type: array
              items:
                type: string
                example: https://yourCheckoutPage.com
              description: "The [target origin](https://developer.mozilla.org/en-US/docs/Glossary/Origin) of the website on which you will be launching Unified Checkout is defined by the scheme (protocol), hostname (domain) and port number (if used).  \n\nYou must use https://hostname.  The following is NOT supported: http://localhost\nWildcards are NOT supported.  Ensure that subdomains are included.\nAny valid top-level domain is supported (e.g. .com, .co.uk, .gov.br etc)\n\nExamples:\n  - https://example.com\n  - https://subdomain.example.com\n  - https://example.com:8080<br><br>\n\nIf you are embedding within multiple nested iframes you need to specify the origins of all the browser contexts used, for example:\n\n  targetOrigins: [\n    \"https://example.com\",\n    \"https://basket.example.com\",\n    \"https://ecom.example.com\"\n  ]<br><br>\n\nYou can supply up to seven origins within the targetOrigins field for nested iframes.\nIf the list of origins exceeds five ensure that you:\n  - Compare the list of origins in the v1/sessions targetOrigins field against the location.ancestorOrigins of the browser. \n  - Ensure that the count of origins and their content matches in both.  If any origins are absent or mismatched, the system will prevent Unified Checkout from loading and display a client-side error message.<br><br>\n\nRequired field:\nThis field cannot be configured through the Merchant Experience Screens in the Business Center and must be provided on a per transaction basis via the uc/v1/sessions API request.\n"
            allowedCardNetworks:
              type: array
              items:
                type: string
                maxLength: 30
                example:
                - VISA
                - MASTERCARD
              description: "The list of card networks you want to use for this Unified Checkout transaction.\n\nUnified Checkout currently supports the following card networks:\n    - VISA\n    - MASTERCARD\n    - AMEX\n    - CARNET\n    - CARTESBANCAIRES\n    - CUP\n    - DINERSCLUB\n    - DISCOVER\n    - EFTPOS\n    - ELO\n    - JAYWAN\n    - JCB\n    - JCREW\n    - KCP\n    - MADA\n    - MAESTRO\n    - MEEZA\n    - PAYPAK\n    - UATP<br><br>\n\nOptional field:  \nThis field can be configured through the Merchant Experience Screens in the Business Center.  The configured value may be overridden on a per transaction basis in the uc/v1/sessions API request.\n"
            allowedPaymentTypes:
              type: array
              items:
                type: string
              description: "The payment types that are allowed for the merchant.  \n\nPossible values when launching Unified Checkout:\n  - APPLEPAY\n  - CHECK\n  - CLICKTOPAY\n  - GOOGLEPAY\n  - PANENTRY              \n  - PAZE \n  - TMS_TOKEN<br><br>\n\nUnified Checkout supports the following wallet based payment methods:\n  - PayPal v2: PAYPAL\n  - Venmo: VENMO <br><br>\n\nUnified Checkout supports the following Buy Now, Pay Later (BNPL) payment methods:\n  - Cash App Afterpay (US): AFTERPAY\n  - Clearpay (GB): AFTERPAY\n  - Afterpay (CA, AU, NZ): AFTERPAY<br><br>\n\nUnified Checkout supports the following Online Bank Transfer payment methods:\n  - Bancontact (BE): BANCONTACT\n  - DragonPay (PH): DRAGONPAY\n  - iDEAL (NL): IDEAL\n  - Multibanco (PT): MULTIBANCO\n  - MyBank (IT, BE, PT, ES): MYBANK \n  - Przelewy24|P24 (PL): PRZELEWY24\n  - Tink Pay By Bank (DE, ES, FR, GB, IE, NL): TINKPAYBYBANK<br><br>\n\nUnified Checkout supports the following Post-Pay Reference payment methods:\n  - Konbini (JP): KONBINI<br><br>\n\nPossible values when launching Click To Pay Drop-In UI:\n- CLICKTOPAY \n- PANENTRY <br><br>\n\n**Important:** \n  - CLICKTOPAY only available for Visa, Mastercard and AMEX for saved cards.\n  - Visa and Mastercard will look to tokenize using network tokenization for all Click to Pay requests.  Click to Pay uses Click to Pay token requester IDs and not the merchant's existing token requester.\n  - Apple Pay, Google Pay, Check, and Paze can be used independently without requiring PAN entry in the allowedPaymentTypes field.<br><br>\n\nOptional field:  \nThis field can be configured through the Merchant Experience Screens in the Business Center.  The configured value may be overridden on a per transaction basis in the uc/v1/sessions API request.\n"
            paymentConfigurations:
              type: object
              description: 'Allows per-transaction payment type configuration overrides.

                '
              properties:
                GOOGLEPAY:
                  type: object
                  properties:
                    allowedAuthMethods:
                      type: array
                      description: "When you enable Google Pay on Unified Checkout you can specify optional parameters that define the types of card authentication you receive from Google Pay.<br><br>\nBy default, Google sends both authentication types.  When the complete mandate is used and Google Pay does not authenticate the transaction, then Unified Checkout completes the authentication request as part of the complete mandate.<br><br>\nPossible values:\n- PAN_ONLY: Google returns primary account number (PAN) values\n- CRYPTOGRAM_3DS: Google returns fully authenticated network token values.<br><br>\n\nOptional field:  \nThis field can be configured through the Merchant Experience Screens in the Business Center.  The configured value may be overridden on a per transaction basis in the uc/v1/sessions API request.\n"
                      minItems: 1
                      items:
                        type: string
                CLICKTOPAY:
                  type: object
                  properties:
                    autoCheckEnrollment:
                      type: boolean
                      description: "Where Click to Pay is the payment type selected by the customer and the customer manually enters their card, the option to enroll their card in Click to Pay will be auto-checked if this field is set to \"true\". <br><br>\n\nThis is only available where the merchant and cardholder are based in the following countries and the billing type is set to \"FULL\" or \"PARTIAL\".\n  - UAE\n  - Argentina\n  - Brazil\n  - Chile\n  - Colombia\n  - Kuwait\n  - Mexico\n  - Peru\n  - Qatar\n  - Saudi Arabia\n  - Ukraine\n  - South Africa<br><br>\n\nIf false, this is not present or not supported in the market.  Enrollment in Click to Pay is not checked for the customer when completing manual card entry.<br><br>\nOptional field:\nThis field can be configured through the Merchant Experience Screens in the Business Center.  The configured value may be overridden on a per transaction basis in the uc/v1/sessions API request.\n"
                PAYPAL:
                  type: object
                  properties:
                    vaultingEnabled:
                      type: boolean
                      description: 'Enables PayPal''s Vaulted Payments flow within Unified Checkout.  This provides a seamless checkout experience by storing payment methods for high-frequency and low average-order-value services such as rides, meal pickups, and other quick purchases.

                        This field is optional.

                        '
                    tokenizedPaymentMethod:
                      type: object
                      description: 'Description of the vaulted payment method shown to the buyer during checkout and in their PayPal account.

                        '
                      properties:
                        usageType:
                          type: string
                          description: 'Indicates the type of vaulting relationship. Valid values:

                            - "MERCHANT": Single merchant relationship.

                            - "PLATFORM": Platform hosting multiple merchants.

                            '
                        usagePattern:
                          type: string
                          description: 'Indicates how the merchant will primarily use the vaulted payment method. Valid values:

                            - "IMMEDIATE": For on-demand, instant payments. These payments are variable in both amount and frequency and will be used to pay for goods or services before they are rendered to the buyer

                            - "DEFERRED": For post-pay payments; that is, payments for goods or services that have already been rendered to the buyer

                            - "RECURRING_PREPAID": For recurring payments before services are rendered.

                            - "RECURRING_POSTPAID": For recurring payments after services are rendered.

                            - "THRESHOLD_PREPAID": For payments when a pre-defined threshold is reached before services are rendered.

                            - "THRESHOLD_POSTPAID": For payments when a pre-defined threshold is reached after services are rendered.

                            '
                        allowMultipleTokens:
                          type: boolean
                          description: 'Create multiple payment tokens for the same payer, merchant/platform combination. This helps to identify customers distinctly even though they may share the same PayPal account.

                            '
                    industryType:
                      type: string
                      description: 'Indicates the industry type. <br><br>

                        Possible Values:

                        - "Events"

                        - "Ticketing"

                        - "Fuel"

                        - "GAMING"

                        - "DIGITAL GOODS"

                        - "TELCO"

                        - "Token Service Providers"

                        - "Gambling"

                        - "CFDs"

                        - "car rental"

                        - "hotel"

                        - "transportation"

                        - "travel package"

                        - "Cruise Line"

                        - "P2P"

                        - "Retail"

                        - "Food"

                        - "Groceries"

                        - "Ride Sharing"

                        - "Taxi"

                        - "Remittance"

                        - "Crypto"

                        - "Marketplaces"

                        '
                TMS_TOKEN:
                  type: object
                  description: 'Allows a single Token Management Service (TMS) token to be presented within the Unified Checkout user interface. This enables customers to complete a payment using an existing stored credential.


                    Supported token types:

                    - customer

                    - instrumentIdentifiers

                    - paymentInstruments


                    **Important note:**

                    If a customer token ID is provided and token creation (tokenCreate) is enabled for a paymentInstrument or instrumentIdentifier within the Complete Mandate, Unified Checkout will create a new payment instrument or instrument identifier and associate it with the specified customer token.

                    '
                  properties:
                    customer:
                      type: object
                      description: 'Existing customer token stored in the merchant token vault.

                        '
                      properties:
                        id:
                          type: string
                          maxLength: 50
                          example: 07C9CA98022DA498E063A2598D0AA400
                    paymentInstruments:
                      type: array
                      maxItems: 50
                      description: 'List of existing payment instrument tokens associated with the customer.

                        '
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            maxLength: 50
                            example: 404352E77F6A66E7E0634136CF0ABCD7
                    instrumentIdentifiers:
                      type: array
                      maxItems: 50
                      description: 'List of existing instrument identifier tokens.

                        If not supplied, the default token type for the merchant''s token vault is used.

                        '
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            maxLength: 50
                            example: 07C9CA98022DA498E063A2598D0AA400
            appearance:
              type: object
              description: Controls the Unified Checkout UI appearance.
              properties:
                theme:
                  type: string
                  maxLength: 25
                  example: LIGHT
                  description: 'Configure Unified Checkout theme.


                    Possible values:

                    - LIGHT<br><br>


                    Optional field:<br>

                    This field cannot be configured through the Merchant Experience screens in the Business Center and must be provided on a per‑transaction basis in the uc/v1/sessions API request.

                    '
                variables:
                  type: object
                  description: 'CSS appearance variables. All variables optional.

                    '
                  properties:
                    backgroundColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FFFFFF'
                      description: 'Main background color<br><br>

                        Optional field::<br> This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.'
                    textColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#000000'
                      description: 'Main text color<br><br>

                        Optional field::<br> This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.'
                    headerBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#1A237E'
                      description: 'Header background color<br><br>

                        Optional field::<br> This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.'
                    headerForeground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FFFFFF'
                      description: 'Header text/icon color<br><br>

                        Optional field::<br> This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.'
                    headerAvatarBackgroundColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#3F51B5'
                      description: 'Avatar background in header<br><br>

                        Optional field::<br> This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.'
                    headerAvatarForegroundColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FFFFFF'
                      description: 'Avatar text/icon color<br><br>

                        Optional field::<br> This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.'
                    inputBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FAFAFA'
                      description: 'Input field background<br><br>

                        Optional field::<br> This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.'
                    inputColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#333333'
                      description: 'Input text color<br><br>

                        Optional field::<br> This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.'
                    inputPlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#AAAAAA'
                      description: 'Placeholder text color<br><br>

                        Optional field::<br> This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.'
                    inputBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#CCCCCC'
                      description: 'Input border color<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style (solid, dashed, dotted)<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputBorderRadius:
                      type: string
                      example: 6px
                      description: 'Border radius with CSS unit<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputHoverBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#EFEFEF'
                      description: 'Background on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputHoverColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#444444'
                      description: 'Text color on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputHoverPlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#999999'
                      description: 'Placeholder color on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputHoverBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#BBBBBB'
                      description: 'Border color on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputHoverBorderStyle:
                      type: string
                      example: dotted
                      description: 'Border style on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputFocusedBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FFFFFF'
                      description: 'Background when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputFocusedColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#222222'
                      description: 'Text color when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputFocusedPlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#888888'
                      description: 'Placeholder color when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputFocusedBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#AAAAAA'
                      description: 'Border color when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputFocusedBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputActiveBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#F0F0F0'
                      description: 'Background when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputActiveColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#111111'
                      description: 'Text color when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputActivePlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#777777'
                      description: 'Placeholder color when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputActiveBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#999999'
                      description: 'Border color when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputActiveBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputPressedBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#E0E0E0'
                      description: 'Background when pressed<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputPressedColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#000000'
                      description: 'Text color when pressed<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputPressedPlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#666666'
                      description: 'Placeholder color when pressed<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputPressedBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#888888'
                      description: 'Border color when pressed<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputPressedBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style when pressed<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputErrorBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FFEBEE'
                      description: 'Background on error<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputErrorColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#FF0000'
                      description: 'Text color on error<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputErrorPlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#EF9A9A'
                      description: 'Placeholder color on error<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputErrorBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#F44336'
                      description: 'Border color on error<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputErrorBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style on error<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputValidBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#E8F5E9'
                      description: 'Background when valid<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputValidColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#008000'
                      description: 'Text color when valid<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputValidPlaceholderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#A5D6A7'
                      description: 'Placeholder color when valid<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputValidBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#4CAF50'
                      description: 'Border color when valid<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    inputValidBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style when valid<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#E0E0E0'
                      description: 'Button background<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
                    buttonForeground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#333333'
                      description: 'Button text/icon color<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
                    buttonShape:
                      type: string
                      example: filled
                      description: 'Button shape<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
                    buttonBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#CCCCCC'
                      description: 'Button border color<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
                    buttonBorderStyle:
                      type: string
                      example: solid
                      description: 'Border Style<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonBorderRadius:
                      type: string
                      example: 4px
                      description: 'Border radius with unit<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
                    buttonHoverBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#F0F0F0'
                      description: 'Background on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonHoverForeground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#444444'
                      description: 'Text color on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonHoverBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#BBBBBB'
                      description: 'Border color on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonHoverBorderStyle:
                      type: string
                      example: dashed
                      description: 'Border style on hover<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonFocusBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#C0C0C0'
                      description: 'Background when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonFocusForeground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#111111'
                      description: 'Text color when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonFocusBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#999999'
                      description: 'Border color when focused<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonActiveBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#D0D0D0'
                      description: 'Background when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonActiveForeground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#222222'
                      description: 'Text color when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonActiveBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#AAAAAA'
                      description: 'Border color when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonActiveBorderStyle:
                      type: string
                      example: solid
                      description: 'Border style when active<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonDisabledBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#F5F5F5'
                      description: 'Background color when disabled<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonDisabledForeground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#888888'
                      description: 'Text color when disabled<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    buttonDisabledBorderColor:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#DDDDDD'
                      description: 'Border color when disabled<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    fontFamily:
                      type: string
                      example: Roboto Slab, serif
                      description: 'Font Family<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
                    borderRadius:
                      type: string
                      example: 5px
                      description: 'Global border radius<br><br>


                        Optional field:

                        This field cannot be configured through the Merchant Experience screens in the Business Center.  If required, should be provided on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                    paymentSelectionBackground:
                      type: string
                      pattern: ^#([A-Fa-f0-9]{6})$
                      example: '#F5F5F5'
                      description: 'Background for payment method list<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis by passing a value in the uc/v1/sessions API request.

                        '
            country:
              type: string
              example: US
              maxLength: 2
              description: "Country the purchase is originating from (e.g. country of the merchant). \nUse the two-character ISO Standard<br>\n\nCountry must be in the format: ISO 3166 country code<br><br>\n\nRequired field:\nThis field cannot be configured through the Merchant Experience screens in the Business Center and must be provided on a per‑transaction basis in the uc/v1/sessions API request.\n"
            locale:
              type: string
              example: en_US
              description: 'Localization of the User experience conforming to the ISO 639 language standards and two-character ISO Standard Country Code.<br><br>


                Locale must be in the format: <ISO 639 language code>_<ISO 3166 region code>


                Please refer to list of [supported locales through Unified Checkout](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-appendix-languages.html)<br><br>


                Required field:

                This field cannot be configured through the Merchant Experience screens in the Business Center and must be provided on a per‑transaction basis in the uc/v1/sessions API request.

                '
            buttonType:
              type: string
              example: null
              description: 'Changes the label on the payment button within Unified Checkout .<br><br>


                Possible values:

                - ADD_CARD

                - CARD_PAYMENT

                - CHECKOUT

                - CHECKOUT_AND_CONTINUE

                - DEBIT_CREDIT

                - DONATE

                - PAY

                - PAY_WITH_CARD

                - SAVE_CARD

                - SUBSCRIBE_WITH_CARD<br><br>


                The default value is CHECKOUT. <br><br>


                Optional field:

                This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                '
            captureMandate:
              type: object
              properties:
                billingType:
                  type: string
                  example: FULL
                  maxLength: 25
                  description: 'Configure Unified Checkout to capture billing address information.


                    Possible values:

                    - FULL: Capture complete billing address information.

                    - PARTIAL: Capture first name, last name, country and postal/zip code only.

                    - NONE: Capture only first name and last name.<br><br>


                    Optional field:

                    This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                    '
                requestEmail:
                  type: boolean
                  description: "Configure Unified Checkout to capture customer email address.\n\nPossible values:\n - True\n - False<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                requestPhone:
                  type: boolean
                  description: 'Configure Unified Checkout to capture customer phone number.


                    Possible values:

                    - True

                    - False<br><br>


                    Optional field:

                    This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                    '
                requestShipping:
                  type: boolean
                  description: 'Configure Unified Checkout to capture customer shipping details.


                    Possible values:

                    - True

                    - False<br><br>


                    Optional field:

                    This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                    '
                shipToCountries:
                  type: array
                  description: "List of countries available to ship to.  \nUse the two-character ISO Standard Country Codes.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                  items:
                    type: string
                    example: US
                    maxLength: 2
                showAcceptedNetworkIcons:
                  type: boolean
                  description: 'Configure Unified Checkout to display the list of accepted card networks beneath the payment button


                    Possible values:

                    - True

                    - False<br><br>


                    Optional field:

                    This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                    '
                showConfirmationStep:
                  type: boolean
                  description: 'Configure Unified Checkout to display the final confirmation screen when using Click to Pay.<br>

                    Where ''BillingType''= NONE and ''requestShipping''= FALSE and the customer is using an existing Click to Pay card as their chosen payment method, a final confirmation screen can be removed allowing the customer to check out as soon as they have selected their payment method from within their Click to Pay card tray.


                    Possible values:

                    - True

                    - False<br><br>


                    Optional field:

                    This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                    '
                requestSaveCredentials:
                  type: boolean
                  description: "Configure Unified Checkout to display the \"Save card for future use\" checkbox.<br>\n\nConfigurable check box that will show in a Manual card entry flow to allow a Cardholder to give consent to store their manually entered credential with the Merchant that they are paying.<br> \nApplicable when manually entering the details and not enrolling in Click to Pay.\n\nPossible values:\n - True \n - False<br><br>\n\n**Use Cases:**\n\n**Offer consumers option to save their card in Unified Checkout:** \n- Include the captureMandate.requestSaveCard field in the capture context request and set it to true.\n- When set to true, this will show a checkbox with the message 'Save card for future use' in Unified Checkout.\n- When selected this provides a response in both the Transient Token and Get Credentials API response.<br><br>\n\n**Do not offer consumers the option to save their card in Unified Checkout:** \n- Include the captureMandate.requestSaveCard field in the capture context request and set it to false OR omit the field from the capture context request.\n- When set to false, the save card option is not shown to consumers when manually entering card details.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                comboCard:
                  type: boolean
                  description: "Configure Unified Checkout to display combo card at checkout.<br>\n\nA combo debit/credit card is a single card that functions both as a Debit/Credit card. \nUnified Checkout / Click to Pay Drop-in UI allows the Cardholder to choose whether they would like the transaction to be paid for using either debit or credit card.\n**Important:** This is applicable to Visa cards only.\n\nPossible values:\n- True \n- False<br><br>\n\n**Use Cases:**\n\n**Offer Combo Card at Checkout:** \n- Include the captureMandate.comboCard field in the capture context request and set it to true.\n- When set to true, Combo Card selection is shown at checkout <br><br>\n\n**Do not offer Combo Card at Checkout:** \n- Include the captureMandate.comboCard field in the capture context request and set it to false OR omit the field from the capture context request.\n- The Combo Card selection is not shown at checkout.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                CPF:
                  type: object
                  properties:
                    required:
                      type: boolean
                      description: "Configure Unified Checkout to display and capture the CPF number (Cadastro de Pessoas Físicas).  The CPF number is a unique 11-digit identifier issued to Brazilian citizens and residents for tax purposes.\n\nPossible values:\n- True\n- False<br><br>\n\nThis field is optional.  \nIf set to true the field is required.\nIf set to false the field is optional.\nIf the field is not included in the capture context then it is not captured.<br><br>\n\n**Important:**\n - If PANENTRY is specified in the allowedPaymentTypes field, the CPF number will be displayed in Unified Checkout regardless of what card number is entered.\n - If CLICKTOPAY is specified in the allowedPaymentTypes field, the CPF number will be displayed in Unified Checkout only when a Visa Click To Pay card is entered.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
            completeMandate:
              type: object
              description: "The completeMandate object is designed to provide instructions for orchestrating payment services.  Unified Checkout is capable of orchestrating a number of services on your behalf.<br><br>  \nBy providing this field in the capture context Unified Checkout will initiate services on your behalf from the browser, simplifying your integration.\n"
              properties:
                type:
                  type: string
                  example: AUTH
                  maxLength: 25
                  description: "This field is used to indicate how a payment should be processed.\n\nPossible values:\n- AUTH: Use this value when you want to authorize a payment within Unified Checkout without capturing it immediately.  Payment types that initiate an immediate transfer of funds are NOT allowed.  If a capture context request includes a payment type incompatible with this mode, a 400 error will be returned.  A merchant would need to perform their own capture via API where applicable.<br><br>  \n- CAPTURE: Use this value when you want to perform a sale within Unified Checkout and capture the payment immediately during the transaction.  Note: Some payment types may return a PENDING status, requiring an additional status check call to determine the final outcome of the payment.<br><br>\n- PREFER_AUTH: Use this value to offer multiple alternative payment options during the Unified Checkout experience. This option authorizes the payment without immediate capture, where available.  It will perform a \"CAPTURE\" where an \"AUTH\" is not allowed by the payment type.  Transactions can be AUTHORIZED, CAPTURED, or PENDING.  If an \"AUTH\" is performed, a merchant would need to perform their own capture via API where applicable.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                tms:
                  type: object
                  description: 'Configure Unified Checkout to create a TMS token at the end of the payment journey

                    '
                  properties:
                    tokenCreate:
                      type: boolean
                      example: true
                      description: "Use this when you want to create a token from the card/bank data in your payment request. \n\nPossible values:\n  - True\n  - False<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                    tokenTypes:
                      type: array
                      items:
                        type: string
                        maxLength: 30
                        example:
                        - CUSTOMER
                      description: 'Cybersource tokens types you are performing a create on.

                        If not supplied the default token type for the merchants token vault will be used.


                        Possible values:

                        - Customer

                        - paymentInstrument

                        - instrumentIdentifier

                        - shippingAddress<br><br>


                        Optional field:

                        This field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.

                        '
                decisionManager:
                  type: boolean
                  description: "Configure Unified Checkout to determine whether Decision Manager is invoked during service orchestration.\n\nPossible values:\n - True\n - False<br><br>\n\nSetting this value to True indicates that device fingerprinting will be executed to add additional information for risk service\nSetting this value to False (or not provided) indicates that you do not wish to run device fingerprinting and skip decision manager services.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
                consumerAuthentication:
                  type: string
                  description: "Configure Unified Checkout to determine whether Consumer Authentication is invoked during service orchestration.\n\nPossible values:\n\n - PASSKEY\n - 3DS\n - NONE<br><br>\n\nSetting this value to PASSKEY performs Payer Authentication with an existing Visa Payment Passkey or create a new Passkey (Post a traditional 3DS Authentication) attempt to perform authentication using the Payer Authentication Service.<br>\nSetting this value to 3DS will attempt to perform authentication using the Payer Authentication Service.<br>\nSetting this value to NONE indicates that you do not wish to perform authentication using the Payer Authentication Service.<br><br>\n\nOptional field:\nThis field can be configured through the Merchant Experience screens in the Business Center. The configured value may be overridden on a per‑transaction basis in the uc/v1/sessions API request.\n"
            transientTokenResponseOptions:
              type: object
              properties:
                includeCardPrefix:
                  type: boolean
                  description: "Use the transientTokenResponseOptions.includeCardPrefix field to choose your preferred card number prefix length: 6-digit, 8-digit, or no card number prefix.\n\nPossible values:\n- True\n- False<br><br>\n\nTo select the type of card number prefix:\n- No field included: A 6-digit prefix is returned (default)\n- True: An 8-digit prefix is returned\n- False: No prefix is returned<br><br>\n\nThe following conditions apply:\n- 8-digit card number prefixes only apply to Discover, JCB, Mastercard, UnionPay, and Visa brands with 16-digit card numbers or more.\n- Any card with less than 16-digit numbers will return a 6-digit prefix even when the transientTokenResponseOptions.includeCardPrefix field is set to true.\n- Any card brand other than Discover, JCB, Mastercard, UnionPay, or Visa will return a 6-digit prefix even when the transientTokenResponseOptions.includeCardPrefix field is set to true.\n- If any card brand is co-branded with Discover, JCB, Mastercard, UnionPay, or Visa, an 8-digit prefix will be returned if the transientTokenResponseOptions.includeCardPrefix field is set to true.<br><br>\n\n**Important:** \nIf your application does NOT require a card number prefix for routing or identification purposes, set the transientTokenResponseOptions.includeCardPrefix field to False.  This will minimize your personal data exposure.<br><br>\n\nOptional field:\nThis field cannot be configured through the Merchant Experience screens in the Business Center and if required should be provided on a per‑transaction basis in the uc/v1/sessions API request.\n"
            data:
              type: object
              properties:
                aggregatorInformation:
                  type: object
                  properties:
                    aggregatorId:
                      type: string
                      maxLength: 20
                      description: "Value that identifies you as a payment aggregator. Get this value from the processor.\n  \n#### CyberSource through VisaNet\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR6\n- Position: 95-105\n- Field: Payment Facilitator ID\n  \nThis field is supported for Visa, Mastercard and Discover Transactions.\n  \n**FDC Compass**\\\nThis value must consist of uppercase characters.\n"
                    name:
                      type: string
                      maxLength: 37
                      description: "Your payment aggregator business name.\n  \n**American Express Direct**\\\nThe maximum length of the aggregator name depends on the length of the sub-merchant name. The combined length for both values must not exceed 36 characters.\\\n  \n#### CyberSource through VisaNet\nWith American Express, the maximum length of the aggregator name depends on the length of the sub-merchant name. The combined length for both values must not exceed 36 characters. The value for this field does not map to the TC 33 capture file5.\n  \n**FDC Compass**\\\nThis value must consist of uppercase characters.\n"
                    subMerchant:
                      type: object
                      properties:
                        cardAcceptorId:
                          type: string
                          maxLength: 15
                          description: Unique identifier assigned by the payment card company to the sub-merchant.
                        id:
                          type: string
                          maxLength: 20
                          description: 'The ID you assigned to your sub-merchant.

                            CyberSource through VisaNet: For American Express transaction, the value for this field corresponds to the following data in the TC 33 capture file:

                            - Record: CP01 TCRB

                            - Position: 65-84

                            - Field: American Express Seller ID

                            For  Mastercard transactions, the value for this field corresponds to the following data in the TC 33 capture file:

                            - Record: CP01 TCR6

                            - Position: 117-131

                            - Field: Sub-Merchant ID

                            FDC Compass: This value must consist of uppercase characters.


                            American Express Direct: String (20)

                            CyberSource through VisaNet with American Express: String (20)

                            CyberSource through VisaNet with Visa,Mastercard and Discover: String (15)

                            FDC Compass: String (20)

                            FDC Nashville Global: String (14)

                            '
                        name:
                          type: string
                          maxLength: 37
                          description: 'Sub-merchant''s business name.


                            #### American Express Direct

                            The maximum length of the sub-merchant name depends on the length of the aggregator name. The combined length for both values must not exceed 36 characters.


                            #### CyberSource through VisaNet

                            With American Express, the maximum length of the sub-merchant name depends on the length of the aggregator name. The combined length for both values must not exceed 36 characters. The value for this field does not map to the TC 33 capture file5.


                            #### FDC Compass

                            This value must consist of uppercase characters.


                            #### FDC Nashville Global

                            With Mastercard, the maximum length of the sub-merchant name depends on the length of the aggregator name:

                            - If aggregator name length is 1 through 3, maximum sub-merchant name length is 21.

                            - If aggregator name length is 4 through 7, maximum sub-merchant name length is 17.

                            - If aggregator name length is 8 through 12, maximum sub-merchant name length is 12.

                            '
                        address1:
                          type: string
                          maxLength: 38
                          description: 'First line of the sub-merchant''s street address.


                            #### CyberSource through VisaNet

                            The value for this field does not map to the TC 33 capture file5.


                            #### FDC Compass

                            This value must consist of uppercase characters.

                            '
                        locality:
                          type: string
                          maxLength: 21
                          description: 'Sub-merchant''s city.


                            #### CyberSource through VisaNet

                            The value for this field does not map to the TC 33 capture file5.


                            #### FDC Compass

                            This value must consist of uppercase characters.

                            '
                        administrativeArea:
                          type: string
                          maxLength: 50
                          description: 'Sub-merchant''s state or province.


                            #### CyberSource through VisaNet

                            The value for this field does not map to the TC 33 capture file5.


                            #### FDC Compass

                            This value must consist of uppercase characters.

                            '
                        region:
                          type: string
                          maxLength: 3
                          description: 'Sub-merchant''s region.


                            **Example**\

                            `NE` indicates that the sub-merchant is in the northeast region.

                            '
                        postalCode:
                          type: string
                          maxLength: 15
                          description: 'Partial postal code for the sub-merchant''s address.


                            #### CyberSource through VisaNet

                            The value for this field does not map to the TC 33 capture file5.


                            #### FDC Compass

                            This value must consist of uppercase characters.

                            '
                        country:
                          type: string
                          maxLength: 3
                          description: 'Sub-merchant''s country. Use the [ISO Standard Country Codes](https://developer.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).


                            #### CyberSource through VisaNet

                            The value for this field does not map to the TC 33 capture file.


                            #### FDC Compass

                            This value must consist of uppercase characters.

                            '
                        email:
                          type: string
                          maxLength: 40
                          description: "Sub-merchant's email address.\n\n**Maximum length for processors**\n\n - American Express Direct: 40\n - CyberSource through VisaNet: 40\n - FDC Compass: 40\n - FDC Nashville Global: 19\n\n#### CyberSource through VisaNet\nWith American Express, the value for this field corresponds to the following data in the TC 33 capture file:\n- Record: CP01 TCRB\n- Position: 25-64\n- Field: American Express Seller E-mail Address\n\n**Note** The TC 33 Capture file contains information about the purchases and refunds that a merchant submits to CyberSource. CyberSource through VisaNet creates the TC 33 Capture file at the end of the day and sends it to the merchant's acquirer, who uses this information to facilitate end-of-day clearing processing with payment card companies.\n"
                        phoneNumber:
                          type: string
                          maxLength: 20
                          description: "Sub-merchant's telephone number.\n\n**Maximum length for procesors**\n\n - American Express Direct: 20\n - CyberSource through VisaNet: 20\n - FDC Compass: 13\n - FDC Nashville Global: 10\n\n#### CyberSource through VisaNet\nWith American Express, the value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCRB\n- Position: 5-24\n- Field: American Express Seller Telephone Number\n\n**FDC Compass**\\\nThis value must consist of uppercase characters. Use one of these recommended formats:\\\n`NNN-NNN-NNNN`\\\n`NNN-AAAAAAA`\n"
                    streetAddress:
                      type: string
                      maxLength: 150
                      description: Acquirer street name.
                    city:
                      type: string
                      maxLength: 100
                      description: Acquirer city.
                    state:
                      type: string
                      maxLength: 10
                      description: Acquirer state.
                    postalCode:
                      type: string
                      maxLength: 20
                      description: Acquirer postal code.
                    country:
                      type: string
                      maxLength: 10
                      description: Acquirer country.
                    serviceProvidername:
                      type: string
                      maxLength: 50
                      description: Contains transfer service provider name.
                orderInformation:
                  type: object
                  properties:
                    amountDetails:
                      type: object
                      properties:
                        totalAmount:
                          type: string
                          maxLength: 19
                          example: '21.20'
                          description: 'This field defines the total order amount.

                            '
                        freightAmount:
                          type: string
                          maxLength: 13
                          description: "Total freight or shipping and handling charges for the order. \nWhen you include this field in your request, you must also include the **totalAmount** field.\n"
                        dutyAmount:
                          type: string
                          maxLength: 15
                          description: 'Total charges for any import or export duties included in the order.

                            '
                        discountAmount:
                          type: string
                          maxLength: 15
                          description: 'Total discount amount applied to the order.

                            '
                        taxAppliedAfterDiscount:
                          type: string
                          maxLength: 1
                          description: "Flag that indicates how the merchant manages discounts.\n\nPossible values:\n\n - **0**: no invoice level discount included\n - **1**: tax calculated on the postdiscount invoice total\n - **2**: tax calculated on the prediscount invoice total\n"
                        taxAppliedLevel:
                          type: string
                          maxLength: 1
                          description: "Flag that indicates how you calculate tax.\n\nPossible values:\n\n - **0**: net prices with tax calculated at line item level\n - **1**: net prices with tax calculated at invoice level\n - **2**: gross prices with tax provided at line item level\n - **3**: gross prices with tax provided at invoice level\n - **4**: no tax applies on the invoice for the transaction\n"
                        currency:
                          type: string
                          maxLength: 3
                          example: USD
                          description: 'This field defines the currency applicable to the order.

                            '
                        surcharge:
                          type: object
                          properties:
                            amount:
                              type: string
                              example: 2.5
                              description: 'This field defines the surcharge amount applicable to the order.

                                '
                        subTotalAmount:
                          type: string
                          example: 5
                          description: 'This field defines the sub total amount applicable to the order.

                            '
                        serviceFeeAmount:
                          type: string
                          example: 5
                          description: 'This field defines the service fee amount applicable to the order.

                            '
                        taxAmount:
                          type: string
                          example: 10
                          description: 'This field defines the tax amount applicable to the order.

                            '
                        taxDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              taxId:
                                type: string
                                maxLength: 15
                                example: '1234'
                                description: "Your tax ID number to use for the alternate tax amount.  \nRequired if you set alternate tax amount to any value (including zero). \nYou may send this field without sending alternate tax amount.\n"
                              type:
                                type: string
                                maxLength: 9
                                example: N
                                description: 'Indicates the type of tax data for the taxDetails object.<br><br>


                                  Possible values:

                                  - alternate

                                  - local

                                  - national

                                  - vat

                                  - other

                                  - green

                                  '
                    billTo:
                      type: object
                      properties:
                        address1:
                          type: string
                          example: 277 Park Avenue
                          maxLength: 60
                          description: 'Payment card billing street address as it appears on the credit card issuer''s records.

                            '
                        address2:
                          type: string
                          example: 50th Floor
                          maxLength: 60
                          description: 'Used for additional address information. For example: _Attention: Accounts Payable_

                            Optional field:.

                            '
                        address3:
                          type: string
                          example: Desk NY-50110
                          maxLength: 60
                          description: Additional address information (third line of the billing address)
                        address4:
                          type: string
                          example: address4
                          maxLength: 60
                          description: 'Additional address information (fourth line of the billing address)

                            '
                        administrativeArea:
                          type: string
                          example: NY
                          maxLength: 20
                          description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).

                            '
                        buildingNumber:
                          type: string
                          example: buildingNumber
                          maxLength: 256
                          description: 'Building number in the street address.

                            '
                        country:
                          type: string
                          example: US
                          maxLength: 2
                          description: 'Payment card billing country. Use the two-character [ISO Standard Country Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).

                            '
                        district:
                          type: string
                          example: district
                          maxLength: 50
                          description: 'Customer''s neighborhood, community, or region (a barrio in Brazil) within the city or municipality

                            '
                        locality:
                          type: string
                          example: New York
                          maxLength: 50
                          description: 'Payment card billing city.

                            '
                        postalCode:
                          type: string
                          example: 10172
                          maxLength: 10
                          description: 'Postal code for the billing address. The postal code must consist of 5 to 9 digits.

                            '
                        company:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Visa Inc
                              maxLength: 60
                              description: Name of the customer's company.
                            address1:
                              type: string
                              example: 277 Park Avenue
                              maxLength: 60
                              description: 'Payment card billing street address as it appears on the credit card issuer''s records.

                                '
                            address2:
                              type: string
                              example: 50th Floor
                              maxLength: 60
                              description: 'Used for additional address information. For example: _Attention: Accounts Payable_

                                Optional field:

                                '
                            administrativeArea:
                              type: string
                              example: NY
                              maxLength: 20
                              description: 'State or province of the billing address. Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf).

                                '
                            country:
                              type: string
                              example: US
                              maxLength: 2
                              description: 'Payment card billing country. Use the two-character [ISO Standard Country Codes](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf).

                                '
                            locality:
                              type: string
                              example: New York
                              maxLength: 50
                              description: 'Payment card billing city.

                                '
                            postalCode:
                              type: string
                              example: 10172
                              maxLength: 10
                              description: 'Postal code for the billing address. The postal code must consist of 5 to 9 digits.

                                '
                        email:
                          type: string
                          example: john.doe@visa.com
                          maxLength: 255
                          description: 'Customer''s email address, including the full domain name.

                            '
                        firstName:
                          type: string
                          example: John
                          maxLength: 60
                          description: Customer's first name. This name must be the same as the name on the card
                        lastName:
                          type: string
                          example: Doe
                          maxLength: 60
                          description: 'Customer''s last name. This name must be the same as the name on the card.

                            '
                        middleName:
                          type: string
                          example: F
                          maxLength: 60
                          description: 'Customer''s middle name.

                            '
                        nameSuffix:
                          type: string
                          example: Jr
                          maxLength: 60
                          description: 'Customer''s name suffix.

                            '
                        title:
                          type: string
                          example: Mr
                          maxLength: 60
                          description: 'Title.

                            '
                        phoneNumber:
                          type: string
                          example: 1234567890
                          description: 'Customer''s phone number.

                            '
                        phoneType:
                          type: string
                          example: day
                          description: 'Customer''s phone number type.


                            #### For Payouts:

                            This field may be sent only for FDC Compass.


                            Possible Values:

                            * day

                            * home

                            * night

                            * work

                            '
                    shipTo:
                      type: object
                      properties:
                        address1:
                          type: string
                          example: CyberSource
                          maxLength: 60
                          description: 'First line of the shipping address.

                            '
                        address2:
                          type: string
                          example: Victoria House
                          maxLength: 60
                          description: 'Second line of the shipping address.

                            '
                        address3:
                          type: string
                          example: 15-17 Gloucester Street
                          description: 'Third line of the shipping address.

                            '
                        address4:
                          type: string
                          example: string
                          maxLength: 60
                          description: Fourth line of the shipping address.
                        administrativeArea:
                          type: string
                          example: CA
                          maxLength: 2
                          description: 'State or province of the shipping address.


                            Use the [State, Province, and Territory Codes for the United States and Canada](https://developer.cybersource.com/library/documentation/sbc/quickref/states_and_provinces.pdf)

                            '
                        buildingNumber:
                          type: string
                          example: string
                          maxLength: 15
                          description: 'Building number in the street address.

                            '
                        country:
                          type: string
                          example: GB
                          description: 'Country of the shipping address.


                            Use the two-character [ISO Standard Country Codes.](http://apps.cybersource.com/library/documentation/sbc/quickref/countries_alpha_list.pdf)

                            '
                        district:
                          type: string
                          example: string
                          maxLength: 50
                          description: Neighborhood, community, or region within a city or municipality.
                        locality:
                          type: string
                          example: Belfast
                          maxLength: 50
                          description: 'City of the shipping address.

                            '
                        postalCode:
                          type: string
                          example: BT1 4LS
                          maxLength: 10
                          description: 'Postal code for the shipping address. The postal code must consist of 5 to 9 digits.

                            '
                        firstName:
                          type: string
                          example: John
                          maxLength: 60
                          description: First name of the recipient
                        lastName:
                          type: string
                          example: Doe
                          maxLength: 60
                          description: Last name of the recipient.
                    lineItems:
                      type: array
                      items:
                        type: object
                        properties:
                          productCode:
                            type: string
                            maxLength: 255
                            example: electronics
                            description: Code identifying the product.
                          productName:
                            type: string
                            maxLength: 255
                            example: smartphone
                            description: Name of the product.
                          productSku:
                            type: string
                            maxLength: 255
                            example: SKU12345
                            description: Stock Keeping Unit identifier
                          quantity:
                            type: integer
                            minimum: 1
                            maximum: 999999999
                            default: 1
                            example: 2
                            description: Quantity of the product
                          unitPrice:
                            type: string
                            maxLength: 15
                            example: '399.99'
                            description: Price per unit
                          unitOfMeasure:
                            type: string
                            maxLength: 12
                            example: EA
                            description: Unit of measure (e.g. EA, KG, LB)
                          totalAmount:
                            type: string
                            maxLength: 13
                            example: '799.98'
                            description: Total amount for the line item
                          taxRate:
                            type: string
                            description: 'The tax rate of an item. Maximum of 2 decimal places. Valid range is 0 or 0.01 to 99.99.

                              '
                            maxLength: 5
                          shippingCountryCode:
                            type: string
                            maxLength: 10
                            description: Country where item will be shipped
                          taxAmount:
                            type: string
                            maxLength: 15
                            example: '64.00'
                            description: Tax amount applied
                          taxAppliedAfterDiscount:
                            type: string
                            maxLength: 1
                            example: Y
                            description: Indicates if tax applied after discount
                          taxStatusIndicator:
                            type: string
                            maxLength: 1
                            example: N
                            description: Tax status indicator
                          taxTypeCode:
                            type: string
                            maxLength: 4
                            example: VAT
                            description: Tax type code
                          amountIncludesTax:
                            type: boolean
                            example: false
                            description: Indicates if amount includes tax
                          typeOfSupply:
                            type: string
                            maxLength: 2
                            example: GS
                            description: Type of supply
                          commodityCode:
                            type: string
                            maxLength: 15
                            example: '123456'
                            description: Commodity code
                          discountAmount:
                            type: string
                            maxLength: 13
                            example: '10.00'
                            description: Discount amount applied
                          discountApplied:
                            type: boolean
                            example: true
                            description: Indicates if discount applied
                          discountRate:
                            type: string
                            maxLength: 6
                            example: '0.05'
                            description: Discount rate applied
                          invoiceNumber:
                            type: string
                            maxLength: 23
                            example: INV-001
                            description: Invoice number for the line item
                          taxDetails:
                            type: object
                            properties:
                              type:
                                type: string
                                example: VAT
                                description: Type of tax
                              amount:
                                type: string
                                maxLength: 13
[...]
