swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: bankAccountValidation
  description: 'The Visa Bank Account Validation Service is a new standalone product designed to validate customer''s routing and bank account number combination for ACH transactions. Merchant''s can use this standalone product to validate their customer''s account prior to processing an ACH transaction against the customer''s account to comply with Nacha''s account validation mandate for Web-debit transactions.

    '
paths:
  /bavs/v1/account-validations:
    post:
      summary: Visa Bank Account Validation Service
      description: 'The Visa Bank Account Validation Service is a new standalone product designed to validate customer''s routing and bank account number combination for ACH transactions. Merchant''s can use this standalone product to validate their customer''s account prior to processing an ACH transaction against the customer''s account to comply with Nacha''s account validation mandate for Web-debit transactions.

        '
      tags:
      - bankAccountValidation
      operationId: bankAccountValidationRequest
      x-devcenter-metaData:
        categoryTag: Visa_Bank_Account_Validation
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/visa-bank-validation/merchant/all/rest/visa-bank-accoun-val/visa-bank-acc-val-about-guide.html
        firstLevelApiLifeCycle: beta
        secondLevelApiLifeCycle: beta
        apiLifeCycle: beta
        mleForRequest: mandatory
        mleForResponse: 'false'
        disableProcessorDropDown: true
        authorizationType:
        - Json Web Token
        overrideMerchantCredential: apiref_chase
        SDK_ONLY_AddDisclaimer: true
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: accountValidationsRequest
        in: body
        required: true
        schema:
          type: object
          required:
          - processingInformation
          - paymentInformation
          properties:
            clientReferenceInformation:
              type: object
              properties:
                code:
                  type: string
                  description: Client reference code
                  example: TC50171_3
            processingInformation:
              type: object
              required:
              - validationLevel
              properties:
                validationLevel:
                  type: integer
                  description: 'Enter 1 for routing and account number validation.

                    '
            paymentInformation:
              type: object
              description: 'Payment information for account validation. Either tokenized payment data or bank account details must be provided, but not both.

                When token information is provided, the bank object becomes optional. Only one token type may be included per request.

                '
              properties:
                customer:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 1
                      maxLength: 32
                      description: Unique identifier for the Customer token. When this value is included in your request, the bank object becomes optional.
                      example: AB12C34D56E78F90
                paymentInstrument:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 1
                      maxLength: 32
                      description: Unique identifier for the Payment Instrument token. When this value is included in your request, the bank object becomes optional.
                      example: '7010000000000001234'
                instrumentIdentifier:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 12
                      maxLength: 32
                      description: Unique identifier for the Instrument Identifier token. When this value is included in your request, the bank object becomes optional.
                      example: '7010000000000001111'
                bank:
                  type: object
                  required:
                  - routingNumber
                  - account
                  properties:
                    routingNumber:
                      type: string
                      minLength: 9
                      maxLength: 9
                      description: 'Bank routing number. This is also called the transit number.


                        Non-Negative String, containing only digits.

                        '
                      example: '123456789'
                    account:
                      type: object
                      required:
                      - number
                      properties:
                        number:
                          type: string
                          maxLength: 17
                          description: 'Account Number.


                            Non-Negative String, containing only digits.

                            '
                          example: '12345678901234577'
            tokenInformation:
              type: object
              description: Optional token information for BAVS detokenization. Only one token type may be provided.
              properties:
                jti:
                  type: string
                  maxLength: 64
                  description: TMS Transient Token for BAVS detokenization. A 64 hexadecimal character identifier representing captured payment credentials.
                  example: 1A2B3C4D5E6F7890ABCDEF1234567890ABCDEF1234567890ABCDEF1234567890
                transientTokenJwt:
                  type: string
                  description: Flex API Transient Token encoded as JWT for BAVS detokenization. Contains encrypted bank account information from Flex microform or Unified Payment checkout.
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      responses:
        '200':
          description: Successful response.
          schema:
            type: object
            properties:
              clientReferenceInformation:
                type: object
                properties:
                  code:
                    type: string
                    description: Client reference code
                    example: TC50171_3
              requestId:
                type: string
                description: Request Id sent as part of the request.
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC.


                  Format: `YYYY-MM-DDThhmmssZ`, where:

                  - `T`:  Separates the date and the time

                  - `Z`:  Indicates Coordinated Universal Time (UTC), also known as Greenwich Mean Time (GMT)


                  Example:  `2020-01-11T224757Z`

                  equals January 11, 2020, at 22:47:57 (10:47:57 p.m.)

                  '
              bankAccountValidation:
                type: object
                properties:
                  rawValidationCode:
                    type: integer
                    description: "Raw Validation Codes for routing number and account number\n\n    Possible values:\n    • -1: Unable to perform validation/Unknown error\n    • -2: Service Unavailable\n    • 12 to 16: Validation results\n"
                  resultCode:
                    type: integer
                    description: "Result codes for account number and routing number\n\n    Possible values: 00, 04, 98, 99\n"
                  resultMessage:
                    type: string
        '400':
          description: Bad Request
          headers:
            v-c-correlationid:
              type: string
              description: Unique identifier for this request
          schema:
            type: object
            properties:
              submitTimeUtc:
                type: string
                description: 'Time verification was requested


                  Format: `YYYY-MM-DDThhmmssZ`, where:

                  - `T`:  Separates the date and the time

                  - `Z`:  Indicates Coordinated Universal Time (UTC), also known as Greenwich Mean Time (GMT)


                  Example:  `2020-01-11T224757Z`

                  equals January 11, 2020, at 22:47:57 (10:47:57 p.m.)

                  '
              status:
                type: string
                description: "Possible values:\n  - `INVALID_REQUEST`\n"
              message:
                type: string
                description: The detail message related to the status and reason
              reason:
                type: string
                description: "The reason of the status.\n\nPossible values:\n  - `INVALID_REQUEST`\n"
              details:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                      description: 'This is the flattened JSON object field name/path that is either missing or invalid.

                        '
                    reason:
                      type: string
                      description: "Possible reasons for the error.\n\nPossible values:\n  - `MISSING_FIELD`\n  - `INVALID_DATA`\n"
        '403':
          description: Authorization failure.
          headers:
            v-c-correlationid:
              type: string
              description: Unique identifier for this request
          schema:
            type: object
            properties:
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC.


                  Format: `YYYY-MM-DDThhmmssZ`, where:

                  - `T`:  Separates the date and the time

                  - `Z`:  Indicates Coordinated Universal Time (UTC), also known as Greenwich Mean Time (GMT)


                  Example:  `2020-01-11T224757Z`

                  equals January 11, 2020, at 22:47:57 (10:47:57 p.m.)

                  '
              status:
                type: string
                description: "Possible values:\n  - `UNAUTHORIZED`\n"
              reason:
                type: string
                description: "The reason of the status.\n\nPossible values:\n  - `UNAUTHORIZED`\n"
              message:
                type: string
                description: 'The detail message related to the status and reason.

                  '
        '404':
          description: Resource Not Found
          headers:
            v-c-correlationid:
              type: string
              description: Unique identifier for this request
          schema:
            type: object
            properties:
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`


                  Example 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the

                  time. The Z indicates UTC.

                  '
              status:
                type: string
                description: "The status of the submitted request. \nPossible values:\n- NOT_FOUND"
              reason:
                type: string
                description: "The reason of the status. \nPossible values:\n- NOT_FOUND"
              message:
                type: string
                description: The detail message related to the status and reason listed above.
        '422':
          description: Unprocessable Entity.
          headers:
            v-c-correlationid:
              type: string
              description: Unique identifier for this request
          schema:
            type: object
            properties:
              submitTimeUtc:
                type: string
                description: 'Time of request in UTC.


                  Format: `YYYY-MM-DDThhmmssZ`, where:

                  - `T`:  Separates the date and the time

                  - `Z`:  Indicates Coordinated Universal Time (UTC), also known as Greenwich Mean Time (GMT)


                  Example:  `2020-01-11T224757Z`

                  equals January 11, 2020, at 22:47:57 (10:47:57 p.m.)

                  '
              status:
                type: string
                description: "Possible values:\n  - `VALIDATION_ERROR`\n"
              reason:
                type: string
                description: "The reason of the status.\n\nPossible values:\n  - `PRODUCT_INACTIVE`\n  - `INVALID_MERCHANT_CONFIGURATION`\n  - `PRODUCT_NOT_CONFIGURED`\n"
              message:
                type: string
                description: 'The detail message related to the status and reason.

                  '
        '502':
          description: Internal Server error
          headers:
            v-c-correlationid:
              type: string
              description: Unique identifier for this request
          schema:
            type: object
            properties:
              submitTimeUtc:
                type: string
                description: 'Time verification was requested


                  Format: `YYYY-MM-DDThhmmssZ`, where:

                  - `T`:  Separates the date and the time

                  - `Z`:  Indicates Coordinated Universal Time (UTC), also known as Greenwich Mean Time (GMT)


                  Example:  `2020-01-11T224757Z`

                  equals January 11, 2020, at 22:47:57 (10:47:57 p.m.)

                  '
              status:
                type: string
                description: "The status of the submitted transaction.\nPossible values:\n  - `SERVER_ERROR`\n"
              message:
                type: string
                description: The detail message related to the status and reason
              reason:
                type: string
                description: "The reason of the status.\n\nPossible values:\n  - `SYSTEM_ERROR`\n  - `SERVER_TIMEOUT`\n  - `SERVICE_TIMEOUT`\n"
      x-example:
        example0:
          summary: Bank Account Validation - Validated
          value:
            clientReferenceInformation:
              code: TC50171_100
            processingInformation:
              validationLevel: 1
            paymentInformation:
              bank:
                routingNumber: '041210163'
                account:
                  number: '99970'
          response0:
            clientReferenceInformation:
              code: TC50171_100
            requestId: '5805429916863232235535'
            submitTimeUtc: '2025-02-03T23:18:42Z'
            bankAccountValidation:
              rawValidationCode: 12
              resultCode: '00'
              resultMessage: Validated
        example1:
          summary: Bank Account Validation - Not Validated
          value:
            clientReferenceInformation:
              code: TC50171_100
            processingInformation:
              validationLevel: 1
            paymentInformation:
              bank:
                routingNumber: '041210163'
                account:
                  number: '99941'
          response1:
            clientReferenceInformation:
              code: TC50171_100
            requestId: '5805429916863232235535'
            submitTimeUtc: '2025-02-03T23:19:35Z'
            bankAccountValidation:
              rawValidationCode: 16
              resultCode: '04'
              resultMessage: Not Validated
        example2:
          summary: Bank Account Validation - Unable to perform validation
          value:
            clientReferenceInformation:
              code: TC50171_100
            processingInformation:
              validationLevel: 1
            paymentInformation:
              bank:
                routingNumber: '041210163'
                account:
                  number: '99950'
          response2:
            clientReferenceInformation:
              code: TC50171_100
            requestId: '5805429916863232235535'
            submitTimeUtc: '2025-02-03T23:21:17Z'
            bankAccountValidation:
              rawValidationCode: -1
              resultCode: '98'
              resultMessage: Unable to perform validation - No information found
        example3:
          summary: Bank Account Validation - Service Unavailable
          value:
            clientReferenceInformation:
              code: TC50171_100
            processingInformation:
              validationLevel: 1
            paymentInformation:
              bank:
                routingNumber: '041210163'
                account:
                  number: '99980'
          response3:
            clientReferenceInformation:
              code: TC50171_100
            requestId: '5805429916863232235535'
            submitTimeUtc: '2025-02-03T23:21:54Z'
            bankAccountValidation:
              rawValidationCode: -2
              resultCode: '99'
              resultMessage: Service Unavailable
        example4:
          summary: Bank Account Validation - Routing Number Starting with 0
          value:
            clientReferenceInformation:
              code: TC50171_100
            processingInformation:
              validationLevel: 1
            paymentInformation:
              bank:
                routingNumber: '011401533'
                account:
                  number: '99970'
          response4:
            clientReferenceInformation:
              code: TC50171_100
            requestId: '5805429916863232235536'
            submitTimeUtc: '2025-03-11T12:00:00Z'
            bankAccountValidation:
              rawValidationCode: 12
              resultCode: '00'
              resultMessage: Validated
x-devcenter-metaData:
  categoryTagArray:
  - name: Payments
    description: For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html).
  - name: Transaction_Batches
    description: For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html).
  - name: eCheck_AVS
    description: For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...).
  - name: Token_Management
    description: For more information about the Token Management Service (TMS) see the [Token Management Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/tms/developer/all/rest/tms/tms-overview.html)
  - name: Flex_Microform
    description: Microform Integration is a lightweight acceptance solution designed to safely and securely accept payment information within your web page.  Microform is designed to a be embedded seamlessly within your existing webpage experience, blending in with your existing acceptance form.  This solution allows for the replacement of sensitive payment date with a transient token (a short lived reference to the sensitive payment data).  For more information about Flex Microform transactions, see the [Flex Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-flex/SAFlexibleToken.html). For examples on how to integrate Flex Microform within your webpage please see our [GitHub Flex Samples](https://github.com/CyberSource?q=flex&type=&language=)
  - name: Flex_API
    description: For more information about Flex API, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/digital-accept-flex/developer/all/rest/digital-accept-flex/da-flex-api-intro.html).
  - name: Risk_Management
  - name: Payouts
    description: 'For more information about Payouts, see the [Payouts Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-payouts/Introduction.html).

      '
  - name: Installments
    description: For more information about Installment contact Cybersource Support. For Visa installments contact VISthroughCYBS@visa.com
  - name: Recurring_Billing_Subscriptions
    description: For more information about Recurring Billing, see the [Recurring Billing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/recurring-billing/developer/all/rest/recurring-billing-developer/recur-bill-services-intro.html).
  - name: BIN_Lookup
    description: 'The BIN Lookup Service is a versatile business tool that provides card network agnostic solution designed to ensure frictionless transaction experience by utilizing up-to-date Bank Identification Number (BIN) attributes sourced from multiple global and regional data sources.

      This service helps to improve authorization rates by helping to route transactions to the best-suited card network, minimizes fraud through card detail verification and aids in regulatory compliance by identifying card properties. The service is flexible and provides businesses with a flexible choice of inputs such as primary account number (PAN), network token from major networks (such as Visa, American Express, Discover and regional networks) which includes device PAN (DPAN), and all types of tokens generated via CyberSource Token Management Service (TMS).

      Currently, the range of available credentials is contingent on the networks enabled for the business entity. Therefore, the network information specified in this documentation is illustrative and subject to personalized offerings for each reseller or merchant.

      '
  - name: Transaction_Details
    description: For more information about Transaction Details, see the [Transaction Details Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_details_api.html).
  - name: Transaction_Search
    description: For more information about Transaction Search, see the [Transaction Search Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_search_api.html).
  - name: Reporting
    description: 'For more information about Reporting, see the [Reporting Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-reporting-rest-api-dev-guide-102718/reporting_api.html).

      '
  - name: Secure_File_Share
    description: For more information about Secure File Share, see the [Secure File Share Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-secure-file-share-api-102718/secure_file_share_api_intro.html).
  - name: Invoices
    description: For more information about Invoicing, see the [Invoicing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/invoicing/developer/all/rest/invoicing/Introduction.html).
  - name: Pay_By_Link
    description: For more information about PayByLink, see the [PBL Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/boarding/user/all/rest/boarding/templates-matrix-intro/templates-matrix-pay-by-link.html).
  - name: User_Management
    description: For more information about User Management, see the [User Managment Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-user-management-api-102718/user_management_api_intro.html).
  - name: Value_Added_Service
  - name: Fee Service
  - name: Merchant_Boarding
    description: For more information about Merchant Boarding, please see [Developer Guides Page](https://developer.cybersource.com/api/developer-guides/Merchant-Boarding-API_ditamap/Merchant-Boarding-API.html).
  - name: Webhooks
    description: For more information about Webhooks, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/webhooks/implementation/all/rest/webhooks/wh-fg-intro.html).
  - name: Unified_Checkout
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html).
  - name: Unified_Checkoutv1
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html).
  - name: Account_Updater
    description: For more information about Account Updater, see the [Account Updater Developer Guides Page:](https://developer.cybersource.com/library/documentation/dev_guides/Account_Updater_UG/html/index.html).
  - name: Visa_Bank_Account_Validation
    description: 'The Visa Bank Account Validation Service is a new standalone product designed to validate customer''s routing and bank account number combination for ACH transactions. Merchant''s can use this standalone product to validate their customer''s account prior to processing an ACH transaction against the customer''s account to comply with Nacha''s account validation mandate for Web-debit transactions.

      '
  - name: Currency Conversion
    description: 'Empower global transactions with transparency and choice. Our Dynamic Currency Conversion API lets merchants offer customers the option to pay in their home currency at checkout, delivering real-time exchange rates and clear cost disclosure.


      **Key Benefits:**

      - **Enhanced Customer Experience:** Provide clarity and convenience for international shoppers.

      - **Real-Time Rates:** Accurate currency conversion with all the data required for acquirers and their merchants to maintain compliance with card network rules.

      - **Seamless Integration:** Flexible API endpoints for rate lookup, authorization, and capture.

      - **Regulatory Compliance:** Provides the data required for acquirers and merchants to meet and maintain card scheme requirements for disclosure and consent.


      Ideal for merchants and payment partners seeking to boost trust and conversion in cross-border commerce.


      **Key Features:**

      - **Rate Lookup:** Retrieves the most up-to-date exchange rate for eligible cards before authorization.

      - **Currency Choice:** Enables the merchant to offer customers the option to select between the merchant''s local currency and their card''s billing currency.

      - **Compliance:** Ensures merchants have the data required to adhere to card network regulations; exchange rates, markups, etc.


      **Supported Scenarios:**

      - Dynamic Currency Conversion when cardholder''s billing currency differs from merchant''s pricing currency.

      - Merchant and acquirer must support the cardholder''s billing currency.


      **Core API Endpoints:**


      **Currency Conversion API**

      Returns eligibility and exchange rate details, including:

      - exchangeRate

      - marginRate

      - reconciliationId and Id (for subsequent payment requests)


      **Payment Authorization with DCC***

      POST /pts/v2/payments

      Required fields include:

      - orderInformation.amountDetails.currency

      - orderInformation.amountDetails.originalCurrency

      - orderInformation.amountDetails.originalAmount

      - orderInformation.amountDetails.exchangeRate

      - currencyConversion.indicator (e.g., 1 = Converted, 2 = Nonconvertible, 3 = Declined)


      **Capture with DCC***

      POST /pts/v2/payments/{id}/captures

      Maps from original authorization and includes original and converted amounts.


      **Refund with DCC***

      POST /pts/v2/captures/{id}/refunds

      Maps from original authorization and includes original and converted amounts.


      *Note: DCC is only supported on select processors. Contact your acquirer or account manager for more information.


      **Compliance & Disclosure:**


      Merchants must:

      - Adhere to card network rules for Dynamic Currency Conversion (DCC) transactions.

      - Display the converted amount, exchange rate, and markup percentage and other required disclosures.

      - Obtain explicit cardholder consent before applying DCC.

      - Work with your acquirer to obtain full set of compliance requirements.


      For more information, see the [Currency Conversion Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/currency-conversion/developer/all/rest/currency-conversion/cc-intro.html).

      '
  - name: Intelligent_Commerce_Connect
    description: For more information about Intelligent Commerce Cross Network Service API, please see [Developer Guides](https://developer.cybersource.com/docs/cybs/en-us/intelligent-commerce/developer/all/rest/intelligent-commerce/intelligent-commerce-about-guide.html).
