swagger: '2.0'
info:
  description: All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
  version: 0.0.1
  title: CyberSource Merged Spec bankAccountValidation Transient Token Data v2 API
host: apitest.cybersource.com
basePath: /
schemes:
- https
consumes:
- application/json;charset=utf-8
produces:
- application/hal+json;charset=utf-8
tags:
- name: Transient Token Data v2
  externalDocs:
    url: https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html
    description: Find out more
paths:
  /up/v1/payment-details/{transientToken}:
    get:
      summary: Get Transient Token Data
      description: Retrieve the data captured by Unified Checkout. This API is used to retrieve the detailed data represented by the Transient Token. This API will not return PCI payment data (PAN). Include the Request ID in the GET request to retrieve the transaction details.
      tags:
      - Transient Token Data v2
      produces:
      - application/json
      operationId: getTransactionForTransientToken
      x-devcenter-metaData:
        firstLevelApiLifeCycle: new
        secondLevelApiLifeCycle: hidden
        apiLifeCycle: hidden
        categoryTag: Unified_Checkout
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html
        disableProcessorDropDown: true
      parameters:
      - name: transientToken
        in: path
        description: 'Transient Token returned by the Unified Checkout application.

          '
        required: true
        type: string
      responses:
        '200':
          description: Successful response.
          examples:
            application/json:
              paymentInformation:
                card:
                  expirationYear: '2026'
                  number: XXXXXXXXXXXX1111
                  expirationMonth: '05'
                  type: '001'
              orderInformation:
                amountDetails:
                  totalAmount: '21.00'
                  currency: USD
                billTo:
                  lastName: Solo
                  country: US
                  firstName: Han
                  email: Han.solo@test.com
                shipTo:
                  locality: Mos Eisley
                  country: US
                  administrativeArea: CA
                  address1: 325 Falcon Way
                  postalCode: '94545'
        '404':
          description: The specified resource not found in the system.
        '500':
          description: Unexpected server error
  /flex/v2/payment-details/{jti}:
    get:
      summary: Get Transient Token Data v2
      description: 'Retrieve data captured through Unified Checkout. This API retrieves the detailed information associated with a Transient Token by looking it up in TMS and using its ID (the jti claim from the /flex/v2/tokens JWT response). The response returns a decrypted version of the Transient Token; however, PCI-sensitive payment data (PAN) is never returned and is always masked.<br><br> Example jti value: 1D42LRF04LYTMO3I1G8JX6GO6S1PUFM2R4CQLU51267E0EOQ7X2169A99674E16E'
      tags:
      - Transient Token Data v2
      produces:
      - application/json
      operationId: getTransactionForTransientTokenJTI
      x-devcenter-metaData:
        categoryTag: Unified_Checkout
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html
        disableProcessorDropDown: true
      parameters:
      - name: jti
        in: path
        description: 'The jti within the Transient Token jwt returned by the Unified Checkout application

          '
        required: true
        type: string
      responses:
        '200':
          description: Successful response.
          examples:
            application/json:
              paymentInformation:
                card:
                  expirationYear: '2026'
                  number: XXXXXXXXXXXX1111
                  expirationMonth: '05'
                  type: '001'
              orderInformation:
                amountDetails:
                  totalAmount: '21.00'
                  currency: USD
                billTo:
                  lastName: Solo
                  country: US
                  firstName: Han
                  email: Han.solo@test.com
                shipTo:
                  locality: Mos Eisley
                  country: US
                  administrativeArea: CA
                  address1: 325 Falcon Way
                  postalCode: '94545'
        '404':
          description: The specified resource not found in the system.
        '500':
          description: Unexpected server error
  /flex/v2/payment-credentials/{paymentCredentialsReference}:
    get:
      summary: Get Payment Credentials
      description: Retrieve the Payment data captured by Unified Checkout. This API is used to retrieve the detailed data represented by the Transient Token. This API will return PCI payment data captured by the Unified Checkout platform.
      tags:
      - Transient Token Data v2
      produces:
      - application/jwt
      operationId: getPaymentCredentialsForTransientToken
      x-devcenter-metaData:
        categoryTag: Unified_Checkout
        developerGuides: https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html
        disableProcessorDropDown: true
      parameters:
      - name: paymentCredentialsReference
        in: path
        description: 'The paymentCredentialsReference field contained within the Transient token returned from a successful Unified Checkout transaction.

          '
        required: true
        type: string
      responses:
        '200':
          description: Retrieved payment credentials reference
          schema:
            type: string
          examples:
            application/jwt: eyJhdWQiOiJwc3AiLCJzdWIiOiJwc19ocGEiLCJraWQiOiIyMDIzMDUxNC1kcmFmdC1wc3AtZW5jcnlwdCIsImN0eSI6IkpXVCIsImVuYyI6IkEyNTZHQ00iLCJleHAiOjE2ODU0MzI2ODMsImFsZyI6IlJTQS1PQUVQLTI1NiIsImp0aSI6ImMxZWRkMzVmLTRiYmUtNGRmNS04YTg0LTdjNmFlNzU0YWU1MCJ9.Zu5EW2WFuFwAaMI3N9x1-KYdARpcRQSvZSEmKXhHgwTMghOyhCaxmbsDPryIRxcqAFuWH3ojytGIpttHQ-tL35pc1G_lXcd9pA7Wyvv9hh3DdYv2pM3whDLaV6t7ZkP2P_goxiJ3HLwmTPRV0YO97YbvIRSLTEBk25b8DxNL2p9ufvLcEBcwOW7rZj-7boMBWDR3SupyoHUF1WIGfstbgHNo_7qcgOWuKeoITTJlvwFVdmZFeaFDvN2tfrtsanTBFP7v6WSWjWbaKql_z-tqLBfQkaw0nSDjBtxB70pdSw2U5ASmFoYr7Q3H60bNld-3UcAI_mpYXHRJpLleU2IiDg.llfdZVDcZgqBVKYz.BoFsW2K80UGjfczcqGtMqHq7VH-90fcMOtyl-weBc6PAhzg9Ze6MvlMpxmZi4QPKX1i3-HYnqkI514CpriOChPJ-2AR6VenR7MXfG5fGOIRseuDQ1d6WPtfpisabxW1qg9jOSoCWwAG6SrdnMdbpysBJmR_OV2Gfmo4noO5B01u02hv8AM3yY627bYOSTSAHeHovn9KKYWLdYpoJVeqkMIJwHnBtz-dqosgi3AuJNfi8LcT5_3vW6sJ-q044sM6TQ9z57Ui95EqIm4w_s0_BgF6QRIuPJNHD17i-5QgxVDD5OGYPWHwAwMC-poWp3wlG_MTkaIiLkvnAwB44tC_uvAQWJt0BvAbDMbsd9LPcqhqaIS3WDqiCFTawxM-BVotG-mAZDTEuq0f4Ctc9r6KDZyPxJj9IO0KwJDBpk86eX_RXm1ByO3bmDmMcIzsAcaJzbXdO11QRLLtmfYtQSUjZ-NZvEXEoSShJt1F-fTYx05tgoMWrQDwrQ-UMBzN77JqWKzuOpgQSTH6t3YpJ0v8g0-FXu7UHRtRVMWm9vt2HAOTHqXd5ITtqmeYpnKVKv3J_oUJerxy03rN8mPGzrWHRQn6rXOp_xKZEBf7UCK5ugr9oNcVUnbO9GnIr6RH5do3kSfGR0qBA4M8qvpm43amNfHtVcdb2bUwsoaWF15sshcVzss22JU8i94GHrTS_quR8PwktxFVNQyMYHCph_idffTrsPR2mjMoZSR2tPEGPW4V2RTKwhrpqKE_hCyOPLHSSEk3KYkQhteicRvqsqshhm7YADcEXiwRW5Ej2GADDxNop9UZojYRBtRfcQsVoA34ZM4gQvsEza5dF307NJkclwV6e2e5AdDBbm9IGsfY0ePwMOSK7dxWnVEn1gNaJMFyhWCL6o3XI4_4Pu0GWEHN3UphrH9TSHj4BxXLbFHnTDpYWw30pHrzLwLbK-eeovOsWUfID730QXbWa56OSPSqfvWG0tKNuTVmVCBJqZE_25FCoMkR0zevMgJZC9ujK5ksHB3lTFYuOXLNbXujw4y9K3QKImhEigGhWN5glXGEAWqExdWpb9aJ4vuAnT48hQREaiRc1DQueUnmzMQFjY9e-Q9iMOFHiCJ56NU7kMK9qZdBPmf7Emoe87Xx7YINsOXngQZZ2ve8nVC-sE0IDHoSh9YeqoNFAcdOHbCLDB6fi1WVWztCG6Gum0N9kauKHeM8XsSRjL-m_1yPI20da_VvszLW2D0jqbIgppFt-qiPSz4-YNTX6IgL60TEUaOcHynqkIg24_KNvbzXUl4DvlUR0I6XoUAs0XtxLiWy7Qai6Zgtih9Uvm8bZ14O4IAhigz6O09NsmucYzAgTtHi__npwHjV5kW3f-ya4dT9XYq__jGTNnV-vrokK7lj3CbNX9YJtKrM4q2PCl3dggeQXNlU46GYF36jTdLIIByFPhy6Pk5eiM1qXxn7-xZcA5k5YcOvXPyfLPHi1TiB1aNpZQuhdKRseKRqwzw.oTxqDKWidj_qi20IH0YeUA
        '404':
          description: The specified resource not found in the system.
        '500':
          description: Unexpected server error
x-devcenter-metaData:
  categoryTagArray:
  - name: Payments
    description: For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/payments/developer/ctv/rest/payments/payments-intro.html).
  - name: Transaction_Batches
    description: For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html).
  - name: eCheck_AVS
    description: For more information about eCheck Account Validation, see the [Account Validation Developer Guides Page](https://...).
  - name: Token_Management
    description: For more information about the Token Management Service (TMS) see the [Token Management Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/tms/developer/all/rest/tms/tms-overview.html)
  - name: Flex_Microform
    description: Microform Integration is a lightweight acceptance solution designed to safely and securely accept payment information within your web page.  Microform is designed to a be embedded seamlessly within your existing webpage experience, blending in with your existing acceptance form.  This solution allows for the replacement of sensitive payment date with a transient token (a short lived reference to the sensitive payment data).  For more information about Flex Microform transactions, see the [Flex Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-flex/SAFlexibleToken.html). For examples on how to integrate Flex Microform within your webpage please see our [GitHub Flex Samples](https://github.com/CyberSource?q=flex&type=&language=)
  - name: Flex_API
    description: For more information about Flex API, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/digital-accept-flex/developer/all/rest/digital-accept-flex/da-flex-api-intro.html).
  - name: Risk_Management
  - name: Payouts
    description: 'For more information about Payouts, see the [Payouts Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-payouts/Introduction.html).

      '
  - name: Installments
    description: For more information about Installment contact Cybersource Support. For Visa installments contact VISthroughCYBS@visa.com
  - name: Recurring_Billing_Subscriptions
    description: For more information about Recurring Billing, see the [Recurring Billing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/recurring-billing/developer/all/rest/recurring-billing-developer/recur-bill-services-intro.html).
  - name: BIN_Lookup
    description: 'The BIN Lookup Service is a versatile business tool that provides card network agnostic solution designed to ensure frictionless transaction experience by utilizing up-to-date Bank Identification Number (BIN) attributes sourced from multiple global and regional data sources.

      This service helps to improve authorization rates by helping to route transactions to the best-suited card network, minimizes fraud through card detail verification and aids in regulatory compliance by identifying card properties. The service is flexible and provides businesses with a flexible choice of inputs such as primary account number (PAN), network token from major networks (such as Visa, American Express, Discover and regional networks) which includes device PAN (DPAN), and all types of tokens generated via CyberSource Token Management Service (TMS).

      Currently, the range of available credentials is contingent on the networks enabled for the business entity. Therefore, the network information specified in this documentation is illustrative and subject to personalized offerings for each reseller or merchant.

      '
  - name: Transaction_Details
    description: For more information about Transaction Details, see the [Transaction Details Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_details_api.html).
  - name: Transaction_Search
    description: For more information about Transaction Search, see the [Transaction Search Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_search_api.html).
  - name: Reporting
    description: 'For more information about Reporting, see the [Reporting Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-reporting-rest-api-dev-guide-102718/reporting_api.html).

      '
  - name: Secure_File_Share
    description: For more information about Secure File Share, see the [Secure File Share Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-secure-file-share-api-102718/secure_file_share_api_intro.html).
  - name: Invoices
    description: For more information about Invoicing, see the [Invoicing Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/invoicing/developer/all/rest/invoicing/Introduction.html).
  - name: Pay_By_Link
    description: For more information about PayByLink, see the [PBL Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/boarding/user/all/rest/boarding/templates-matrix-intro/templates-matrix-pay-by-link.html).
  - name: User_Management
    description: For more information about User Management, see the [User Managment Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-user-management-api-102718/user_management_api_intro.html).
  - name: Value_Added_Service
  - name: Fee Service
  - name: Merchant_Boarding
    description: For more information about Merchant Boarding, please see [Developer Guides Page](https://developer.cybersource.com/api/developer-guides/Merchant-Boarding-API_ditamap/Merchant-Boarding-API.html).
  - name: Webhooks
    description: For more information about Webhooks, please see [Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/webhooks/implementation/all/rest/webhooks/wh-fg-intro.html).
  - name: Unified_Checkout
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-intro.html).
  - name: Unified_Checkoutv1
    description: For more information about Unified Checkout, see the [Unified Checkout Developer Guides Page](https://developer.cybersource.com/docs/cybs/en-us/unified-checkout/developer/all/rest/unified-checkout/uc-about-guide.html).
  - name: Account_Updater
    description: For more information about Account Updater, see the [Account Updater Developer Guides Page:](https://developer.cybersource.com/library/documentation/dev_guides/Account_Updater_UG/html/index.html).
  - name: Visa_Bank_Account_Validation
    description: 'The Visa Bank Account Validation Service is a new standalone product designed to validate customer''s routing and bank account number combination for ACH transactions. Merchant''s can use this standalone product to validate their customer''s account prior to processing an ACH transaction against the customer''s account to comply with Nacha''s account validation mandate for Web-debit transactions.

      '
  - name: Currency Conversion
    description: 'Empower global transactions with transparency and choice. Our Dynamic Currency Conversion API lets merchants offer customers the option to pay in their home currency at checkout, delivering real-time exchange rates and clear cost disclosure.


      **Key Benefits:**

      - **Enhanced Customer Experience:** Provide clarity and convenience for international shoppers.

      - **Real-Time Rates:** Accurate currency conversion with all the data required for acquirers and their merchants to maintain compliance with card network rules.

      - **Seamless Integration:** Flexible API endpoints for rate lookup, authorization, and capture.

      - **Regulatory Compliance:** Provides the data required for acquirers and merchants to meet and maintain card scheme requirements for disclosure and consent.


      Ideal for merchants and payment partners seeking to boost trust and conversion in cross-border commerce.


      **Key Features:**

      - **Rate Lookup:** Retrieves the most up-to-date exchange rate for eligible cards before authorization.

      - **Currency Choice:** Enables the merchant to offer customers the option to select between the merchant''s local currency and their card''s billing currency.

      - **Compliance:** Ensures merchants have the data required to adhere to card network regulations; exchange rates, markups, etc.


      **Supported Scenarios:**

      - Dynamic Currency Conversion when cardholder''s billing currency differs from merchant''s pricing currency.

      - Merchant and acquirer must support the cardholder''s billing currency.


      **Core API Endpoints:**


      **Currency Conversion API**

      Returns eligibility and exchange rate details, including:

      - exchangeRate

      - marginRate

      - reconciliationId and Id (for subsequent payment requests)


      **Payment Authorization with DCC***

      POST /pts/v2/payments

      Required fields include:

      - orderInformation.amountDetails.currency

      - orderInformation.amountDetails.originalCurrency

      - orderInformation.amountDetails.originalAmount

      - orderInformation.amountDetails.exchangeRate

      - currencyConversion.indicator (e.g., 1 = Converted, 2 = Nonconvertible, 3 = Declined)


      **Capture with DCC***

      POST /pts/v2/payments/{id}/captures

      Maps from original authorization and includes original and converted amounts.


      **Refund with DCC***

      POST /pts/v2/captures/{id}/refunds

      Maps from original authorization and includes original and converted amounts.


      *Note: DCC is only supported on select processors. Contact your acquirer or account manager for more information.


      **Compliance & Disclosure:**


      Merchants must:

      - Adhere to card network rules for Dynamic Currency Conversion (DCC) transactions.

      - Display the converted amount, exchange rate, and markup percentage and other required disclosures.

      - Obtain explicit cardholder consent before applying DCC.

      - Work with your acquirer to obtain full set of compliance requirements.


      For more information, see the [Currency Conversion Developer Guide](https://developer.cybersource.com/docs/cybs/en-us/currency-conversion/developer/all/rest/currency-conversion/cc-intro.html).

      '
  - name: Intelligent_Commerce_Connect
    description: For more information about Intelligent Commerce Cross Network Service API, please see [Developer Guides](https://developer.cybersource.com/docs/cybs/en-us/intelligent-commerce/developer/all/rest/intelligent-commerce/intelligent-commerce-about-guide.html).
